# Mark some source files as generated to improve diffs in Pull Requests
Docs/ConfigOptions.md                                           linguist-generated=true
Sources/CreateOptions/ConfigOptions+DecodableWithDefault.swift  linguist-generated=true
