# Mark some source files as generated to improve diffs in Pull Requests
Docs/Options.md                                                     linguist-generated=true
Sources/CreateOptions/GenerateOptions+DecodableWithDefault.swift    linguist-generated=true
