openapi: 3.0.1
info:
  title: AppVeyor REST API
  description: |
    AppVeyor is a hosted continuous integration service which runs on Microsoft
    Windows.  The AppVeyor REST API provides a RESTful way to interact with the
    AppVeyor service.  This includes managing projects, builds, deployments,
    and the teams that build them.

    Additional help and discussion of the AppVeyor REST API is available at
    http://help.appveyor.com/discussions

    This Swagger definition is an **unofficial** description of the AppVeyor
    REST API maintained at https://github.com/kevinoid/appveyor-swagger
    Please report any issues or suggestions for this Swagger definition at
    https://github.com/kevinoid/appveyor-swagger/issues/new

    #### API Conventions

    Fields which are missing from update operations (`PUT` requests) are
    typically reset to their default values.  So although most fields are not
    technically required, they should usually be specified in practice.
  termsOfService: https://www.appveyor.com/terms-of-service/
  contact:
    name: AppVeyor Team
    url: https://www.appveyor.com/about/
    email: team@appveyor.com
  license:
    name: AppVeyor End User License Agreement (EULA)
    url: https://www.appveyor.com/eula/
  version: 1.0.0
  x-logo:
    url: https://www.appveyor.com/assets/img/appveyor-logo-256.png
  x-unofficialSpec: true
externalDocs:
  description: AppVeyor REST API Documentation
  url: https://www.appveyor.com/docs/api/
servers:
- url: https://ci.appveyor.com/api
security:
- apiToken: []
tags:
- name: Collaborator
  externalDocs:
    url: https://www.appveyor.com/docs/api/team/
- name: Role
  externalDocs:
    url: https://www.appveyor.com/docs/api/team/
- name: User
  externalDocs:
    url: https://www.appveyor.com/docs/api/team/
- name: Build
  externalDocs:
    url: https://www.appveyor.com/docs/api/projects-builds/
- name: Project
  externalDocs:
    url: https://www.appveyor.com/docs/api/projects-builds/
- name: Deployment
  externalDocs:
    url: https://www.appveyor.com/docs/api/environments-deployments/
- name: Environment
  externalDocs:
    url: https://www.appveyor.com/docs/api/environments-deployments/
paths:
  /users:
    get:
      tags:
      - User
      summary: Get users
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-users
      operationId: getUsers
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAccount'
              example:
              - accountId: 2
                accountName: FeodorFitsner
                isOwner: false
                isCollaborator: false
                userId: 2019
                fullName: NuGet
                email: nuget@appveyor.com
                roleId: 5
                roleName: User
                successfulBuildNotification: all
                failedBuildNotification: all
                notifyWhenBuildStatusChangedOnly: true
                created: 2014-02-12T19:21:15.0618564+00:00
                updated: 2014-03-06T22:47:44.9706252+00:00
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAccount'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - User
      summary: Update user
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#update-user
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAccount'
        required: true
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    post:
      tags:
      - User
      summary: Add user
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#add-user
      operationId: addUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAddition'
        required: true
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /users/{userId}:
    get:
      tags:
      - User
      summary: Get user
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-user
      operationId: getUser
      parameters:
      - name: userId
        in: path
        description: User ID
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountRolesResults'
              example:
                user:
                  accountId: 2
                  accountName: FeodorFitsner
                  isOwner: false
                  isCollaborator: false
                  userId: 2019
                  fullName: NuGet
                  email: nuget@appveyor.com
                  roleId: 5
                  roleName: User
                  successfulBuildNotification: all
                  failedBuildNotification: all
                  notifyWhenBuildStatusChangedOnly: true
                  created: 2014-02-12T19:21:15.0618564+00:00
                  updated: 2014-03-06T22:47:44.9706252+00:00
                roles:
                - roleId: 4
                  name: Administrator
                  isSystem: true
                  created: 2013-09-26T19:23:39.3615105+00:00
                - roleId: 5
                  name: User
                  isSystem: true
                  created: 2013-09-26T19:23:39.3645117+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/UserAccountRolesResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - User
      summary: Delete user
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#delete-user
      operationId: deleteUser
      parameters:
      - name: userId
        in: path
        description: User ID
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /collaborators:
    get:
      tags:
      - Collaborator
      summary: Get collaborators
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-collaborators
      operationId: getCollaborators
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAccount'
              example:
              - accountId: 2
                accountName: FeodorFitsner
                isOwner: false
                isCollaborator: true
                userId: 2018
                fullName: John Smith
                email: john@smith.com
                roleId: 3040
                roleName: My Role
                successfulBuildNotification: all
                failedBuildNotification: all
                notifyWhenBuildStatusChangedOnly: true
                created: 2014-02-03T20:29:26.6807307+00:00
                updated: 2014-03-07T04:26:09.1051534+00:00
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAccount'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Collaborator
      summary: Update collaborator
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#update-collaborator
      operationId: updateCollaborator
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
        required: true
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    post:
      tags:
      - Collaborator
      summary: Add collaborator
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#add-collaborator
      operationId: addCollaborator
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorAddition'
        required: true
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /collaborators/{userId}:
    get:
      tags:
      - Collaborator
      summary: Get collaborator
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-collaborator
      operationId: getCollaborator
      parameters:
      - name: userId
        in: path
        description: User ID
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountRolesResults'
              example:
                user:
                  accountId: 2
                  accountName: FeodorFitsner
                  isOwner: false
                  isCollaborator: true
                  userId: 2018
                  fullName: John Smith
                  email: john@smith.com
                  roleId: 3040
                  roleName: My Role
                  successfulBuildNotification: all
                  failedBuildNotification: all
                  notifyWhenBuildStatusChangedOnly: true
                  created: 2014-02-03T20:29:26.6807307+00:00
                  updated: 2014-03-07T04:26:09.1051534+00:00
                roles:
                - roleId: 4
                  name: Administrator
                  isSystem: true
                  created: 2013-09-26T19:23:39.3615105+00:00
                - roleId: 5
                  name: User
                  isSystem: true
                  created: 2013-09-26T19:23:39.3645117+00:00
                - roleId: 3040
                  name: My Role
                  isSystem: false
                  created: 2014-03-18T20:12:08.4749886+00:00
                  updated: 2014-03-18T20:16:06.8803375+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/UserAccountRolesResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Collaborator
      summary: Delete collaborator
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#delete-collaborator
      operationId: deleteCollaborator
      parameters:
      - name: userId
        in: path
        description: User ID
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /roles:
    get:
      tags:
      - Role
      summary: Get roles
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-roles
      operationId: getRoles
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'
              example:
              - roleId: 4
                name: Administrator
                isSystem: true
                created: 2013-09-26T19:23:39.3615105+00:00
              - roleId: 5
                name: User
                isSystem: true
                created: 2013-09-26T19:23:39.3645117+00:00
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Role
      summary: Update role
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#update-role
      operationId: updateRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleWithGroups'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    post:
      tags:
      - Role
      summary: Add role
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#add-role
      operationId: addRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAddition'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /roles/{roleId}:
    get:
      tags:
      - Role
      summary: Get role
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-role
      operationId: getRole
      parameters:
      - name: roleId
        in: path
        description: Role ID
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
              example:
                roleId: 3040
                name: My Role
                isSystem: false
                created: 2014-03-18T20:12:08.4749886+00:00
                groups:
                - name: Projects
                  permissions:
                  - name: ManageProjects
                    description: Create, delete projects, update project settings
                    allowed: false
                  - name: UpdateProjectSettings
                    description: Update project settings
                    allowed: false
                  - name: RunProjectBuild
                    description: Run project builds
                    allowed: false
                  - name: DeleteProjectBuilds
                    description: Delete project builds
                    allowed: false
                - name: Environments
                  permissions:
                  - name: ManageEnvironments
                    description: Create, delete projects, update environment settings
                    allowed: false
                  - name: UpdateEnvironmentSettings
                    description: Update environment settings
                    allowed: false
                  - name: DeployToEnvironment
                    description: Deploy to environment
                    allowed: false
                - name: Account
                  permissions:
                  - name: UpdateAccountDetails
                    description: Update account details
                    allowed: false
                - name: Users
                  permissions:
                  - name: AddUser
                    description: Add new user
                    allowed: false
                  - name: UpdateUserDetails
                    description: Update user details
                    allowed: false
                  - name: DeleteUser
                    description: Delete user
                    allowed: false
                - name: Roles
                  permissions:
                  - name: AddRole
                    description: Add new role
                    allowed: false
                  - name: UpdateRoleDetails
                    description: Update role details
                    allowed: false
                  - name: DeleteRole
                    description: Delete role
                    allowed: false
                - name: User
                  permissions:
                  - name: ConfigureApiKeys
                    description: Generate API keys
                    allowed: false
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Role
      summary: Delete role
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#delete-role
      operationId: deleteRole
      parameters:
      - name: roleId
        in: path
        description: Role ID
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /account/encrypt:
    post:
      tags:
      - Project
      summary: Encrypt a value for use in StoredValue.
      operationId: encryptValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncryptRequest'
        required: true
      responses:
        200:
          description: Success
          content:
            text/plain:
              schema:
                type: string
              example: wsnoY4v1v1Uofj0xf8E6FA==
        default:
          description: Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /projects:
    get:
      tags:
      - Project
      summary: Get projects
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-projects
      operationId: getProjects
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
              example:
              - projectId: 19096
                accountId: 2
                accountName: FeodorFitsner
                builds:
                - buildId: 23864
                  jobs: []
                  buildNumber: 3
                  version: 1.0.3
                  message: replaced with command [skip ci]
                  branch: master
                  commitId: c2892a70d60c96c1b65a7c665ab806b7731fea8a
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  committed: 2014-08-15T22:05:54+00:00
                  messages: []
                  status: success
                  started: 2014-08-15T22:36:38.1757886+00:00
                  finished: 2014-08-15T22:37:00.6171479+00:00
                  created: 2014-08-15T22:33:15.9833328+00:00
                  updated: 2014-08-15T22:37:00.6171479+00:00
                name: appveyor-artifact-test
                slug: appveyor-artifact-test
                repositoryType: gitHub
                repositoryScm: git
                repositoryName: FeodorFitsner/appveyor-artifact-test
                repositoryBranch: master
                isPrivate: false
                skipBranchesWithoutAppveyorYml: false
                nuGetFeed:
                  id: appveyor-artifact-test-j8kk0o
                  name: Project appveyor-artifact-test
                  publishingEnabled: false
                  created: 2014-08-15T22:04:21.3111546+00:00
                created: 2014-08-15T22:04:19.2868375+00:00
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Project
      summary: Update project
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#update-project
      operationId: updateProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectWithConfiguration'
        required: true
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    post:
      tags:
      - Project
      summary: Add project
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#add-project
      operationId: addProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectAddition'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                projectId: 43682
                accountId: 2
                accountName: appvyr
                builds: []
                name: demo-app
                slug: demo-app-335
                repositoryType: gitHub
                repositoryScm: git
                repositoryName: FeodorFitsner/demo-app
                isPrivate: false
                skipBranchesWithoutAppveyorYml: false
                created: 2014-08-16T00:52:15.6604826+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /projects/{accountName}/{projectSlug}:
    get:
      tags:
      - Project
      summary: Get project last build
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-last-build
      operationId: getProjectLastBuild
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
              example:
                project:
                  projectId: 38907
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  name: nuget-test
                  slug: nuget-test
                  repositoryType: gitHub
                  repositoryScm: git
                  repositoryName: FeodorFitsner/nuget-test
                  repositoryBranch: master
                  isPrivate: false
                  skipBranchesWithoutAppveyorYml: false
                  nuGetFeed:
                    id: nuget-test-23spw2w
                    name: Project nuget-test
                    publishingEnabled: false
                    created: 2014-07-19T10:23:05.5160273+00:00
                  securityDescriptor: {}
                  created: 2014-07-19T10:23:03.8005134+00:00
                  updated: 2014-08-01T05:25:15.4119745+00:00
                build:
                  buildId: 134173
                  jobs:
                  - jobId: 9r2qufuu8
                    name: ""
                    allowFailure: false
                    messagesCount: 0
                    compilationMessagesCount: 0
                    compilationErrorsCount: 0
                    compilationWarningsCount: 0
                    testsCount: 0
                    passedTestsCount: 0
                    failedTestsCount: 0
                    artifactsCount: 0
                    status: success
                    started: 2014-08-14T05:41:49.1061831+00:00
                    finished: 2014-08-14T05:42:45.1102797+00:00
                    created: 2014-08-14T05:39:27.3902557+00:00
                    updated: 2014-08-14T05:42:45.477213+00:00
                  buildNumber: 45
                  version: 1.0.45
                  message: AssemblyInfo patching
                  branch: master
                  commitId: 85da1fb810ae89744abad83e75c13483dd740258
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  committed: 2014-07-03T07:56:15+00:00
                  messages: []
                  status: success
                  started: 2014-08-14T05:41:49.1686804+00:00
                  finished: 2014-08-14T05:42:45.5709599+00:00
                  created: 2014-08-14T05:39:26.2946368+00:00
                  updated: 2014-08-14T05:42:45.5709599+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Project
      summary: Delete project
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#delete-project
      operationId: deleteProject
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{accountName}/{projectSlug}/branch/{buildBranch}:
    get:
      tags:
      - Project
      summary: Get project last branch build
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-last-branch-build
      operationId: getProjectLastBuildBranch
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      - name: buildBranch
        in: path
        description: Build Branch
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
              example:
                project:
                  projectId: 38907
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  name: nuget-test
                  slug: nuget-test
                  repositoryType: gitHub
                  repositoryScm: git
                  repositoryName: FeodorFitsner/nuget-test
                  repositoryBranch: master
                  isPrivate: false
                  skipBranchesWithoutAppveyorYml: false
                  nuGetFeed:
                    id: nuget-test-23spw2w
                    name: Project nuget-test
                    publishingEnabled: false
                    created: 2014-07-19T10:23:05.5160273+00:00
                  securityDescriptor: {}
                  created: 2014-07-19T10:23:03.8005134+00:00
                  updated: 2014-08-01T05:25:15.4119745+00:00
                build:
                  buildId: 134173
                  jobs:
                  - jobId: 9r2qufuu8
                    name: ""
                    allowFailure: false
                    messagesCount: 0
                    compilationMessagesCount: 0
                    compilationErrorsCount: 0
                    compilationWarningsCount: 0
                    testsCount: 0
                    passedTestsCount: 0
                    failedTestsCount: 0
                    artifactsCount: 0
                    status: success
                    started: 2014-08-14T05:41:49.1061831+00:00
                    finished: 2014-08-14T05:42:45.1102797+00:00
                    created: 2014-08-14T05:39:27.3902557+00:00
                    updated: 2014-08-14T05:42:45.477213+00:00
                  buildNumber: 45
                  version: 1.0.45
                  message: AssemblyInfo patching
                  branch: master
                  commitId: 85da1fb810ae89744abad83e75c13483dd740258
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  committed: 2014-07-03T07:56:15+00:00
                  messages: []
                  status: success
                  started: 2014-08-14T05:41:49.1686804+00:00
                  finished: 2014-08-14T05:42:45.5709599+00:00
                  created: 2014-08-14T05:39:26.2946368+00:00
                  updated: 2014-08-14T05:42:45.5709599+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{accountName}/{projectSlug}/build/{buildVersion}:
    get:
      tags:
      - Project
      summary: Get project build by version
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-build-by-version
      operationId: getProjectBuildByVersion
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      - name: buildVersion
        in: path
        description: Build Version (`version` property of `Build`)
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
              example:
                project:
                  projectId: 38907
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  name: nuget-test
                  slug: nuget-test
                  repositoryType: gitHub
                  repositoryScm: git
                  repositoryName: FeodorFitsner/nuget-test
                  repositoryBranch: master
                  isPrivate: false
                  skipBranchesWithoutAppveyorYml: false
                  nuGetFeed:
                    id: nuget-test-23spw2w
                    name: Project nuget-test
                    publishingEnabled: false
                    created: 2014-07-19T10:23:05.5160273+00:00
                  securityDescriptor: {}
                  created: 2014-07-19T10:23:03.8005134+00:00
                  updated: 2014-08-01T05:25:15.4119745+00:00
                build:
                  buildId: 134173
                  jobs:
                  - jobId: 9r2qufuu8
                    name: ""
                    allowFailure: false
                    messagesCount: 0
                    compilationMessagesCount: 0
                    compilationErrorsCount: 0
                    compilationWarningsCount: 0
                    testsCount: 0
                    passedTestsCount: 0
                    failedTestsCount: 0
                    artifactsCount: 0
                    status: success
                    started: 2014-08-14T05:41:49.1061831+00:00
                    finished: 2014-08-14T05:42:45.1102797+00:00
                    created: 2014-08-14T05:39:27.3902557+00:00
                    updated: 2014-08-14T05:42:45.477213+00:00
                  buildNumber: 45
                  version: 1.0.45
                  message: AssemblyInfo patching
                  branch: master
                  commitId: 85da1fb810ae89744abad83e75c13483dd740258
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  committed: 2014-07-03T07:56:15+00:00
                  messages: []
                  status: success
                  started: 2014-08-14T05:41:49.1686804+00:00
                  finished: 2014-08-14T05:42:45.5709599+00:00
                  created: 2014-08-14T05:39:26.2946368+00:00
                  updated: 2014-08-14T05:42:45.5709599+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{accountName}/{projectSlug}/history:
    get:
      tags:
      - Project
      summary: Get project history
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-history
      operationId: getProjectHistory
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      - name: recordsNumber
        in: query
        description: Number of results to include in the response. getProjectDeployments
          is documented to have a maximum of 20. It currently returns 500 Internal
          Server Error for recordsNumber <= 5. In the past it has returned 500 Internal
          Server Error for many different values which did not match the value used
          by the ci.appveyor.com web interface at the time.  As of 2018-09-08, the
          value used by the web interface is 10.
        required: true
        schema:
          minimum: 0
          type: integer
      - name: startBuildId
        in: query
        description: Maximum `buildId` to include in the results (exclusive).
        schema:
          minimum: 0
          type: integer
      - name: branch
        in: query
        description: Repository Branch
        schema:
          minLength: 1
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectHistory'
              example:
                project:
                  projectId: 42438
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  name: wix-test
                  slug: wix-test
                  repositoryType: gitHub
                  repositoryScm: git
                  repositoryName: FeodorFitsner/wix-test
                  isPrivate: false
                  skipBranchesWithoutAppveyorYml: false
                  created: 2014-08-09T00:30:43.3327131+00:00
                builds:
                - buildId: 134174
                  jobs: []
                  buildNumber: 5
                  version: 1.0.5
                  message: Enabled diag mode
                  branch: master
                  commitId: d19740243e3ec5497345de0f7d828e66a7cd1a6b
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  committed: 2014-08-10T14:08:16+00:00
                  messages: []
                  status: success
                  started: 2014-08-14T05:42:17.2696755+00:00
                  finished: 2014-08-14T05:43:47.4732355+00:00
                  created: 2014-08-14T05:39:30.8845902+00:00
                  updated: 2014-08-14T05:43:47.4732355+00:00
                - buildId: 129289
                  jobs: []
                  buildNumber: 3
                  version: 1.0.3
                  message: Added appveyor.yml
                  branch: master
                  commitId: 28c6eec932c0e21eca5bb5571a722f850aa8bf6f
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  committed: 2014-08-09T00:33:34+00:00
                  messages: []
                  status: success
                  started: 2014-08-09T15:42:45.7878479+00:00
                  finished: 2014-08-09T15:44:15.5828009+00:00
                  created: 2014-08-09T15:42:38.8315273+00:00
                  updated: 2014-08-09T15:44:15.5828009+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectHistory'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{accountName}/{projectSlug}/artifacts/{artifactFileName}:
    get:
      tags:
      - Project
      summary: Get last successful build artifact
      description: The `job` parameter is mandatory if the build contains multiple
        jobs.
      externalDocs:
        url: https://www.appveyor.com/docs/packaging-artifacts/#permalink-to-the-last-successful-build-artifact
      operationId: getProjectArtifact
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      - name: artifactFileName
        in: path
        description: |-
          File name (or path) of a build artifact file.
          Corresponds to the `fileName` property of `ArtifactModel`.
          URL-encoding of slashes in parameter values is optional.
        required: true
        schema:
          minLength: 1
          type: string
      - name: branch
        in: query
        description: Repository Branch
        schema:
          minLength: 1
          type: string
      - name: tag
        in: query
        description: A git (or other VCS) tag
        schema:
          minLength: 1
          type: string
      - name: job
        in: query
        description: Name of the build job.
        schema:
          type: string
      - name: all
        in: query
        description: |-
          Include not only `successful`, but also jobs with `failed`, and
          `cancelled` status.
        schema:
          type: boolean
          default: false
      - name: pr
        in: query
        description: |
          Include PR builds in the search results?
          `true` - take artifact from PR builds only;
          `false` - do not look for artifact in PR builds;
          default/unspecified - look for artifact in both PR an non-PR builds.
        schema:
          type: boolean
      responses:
        200:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          description: Error
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{accountName}/{projectSlug}/deployments:
    get:
      tags:
      - Project
      summary: Get project deployments
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-deployments
      operationId: getProjectDeployments
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      - name: recordsNumber
        in: query
        description: Number of results to include in the response. getProjectDeployments
          is documented to have a maximum of 20. It currently returns 500 Internal
          Server Error for recordsNumber <= 5. In the past it has returned 500 Internal
          Server Error for many different values which did not match the value used
          by the ci.appveyor.com web interface at the time.  As of 2018-09-08, the
          value used by the web interface is 10.
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentsResults'
              example:
                project:
                  projectId: 22321
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  name: simple-web
                  slug: simple-web
                  repositoryType: gitHub
                  repositoryScm: git
                  repositoryName: AppVeyor/simple-web
                  isPrivate: false
                  skipBranchesWithoutAppveyorYml: false
                  securityDescriptor: {}
                  created: 2014-05-08T18:38:57.9163293+00:00
                  updated: 2014-07-14T10:16:26.9351867+00:00
                deployments:
                - environment:
                    deploymentEnvironmentId: 27
                    name: agent test
                    provider: Agent
                    created: 2014-04-01T17:56:41.30982+00:00
                    updated: 2014-08-12T22:35:51.9723883+00:00
                  deployment:
                    deploymentId: 19475
                    build:
                      buildId: 132746
                      jobs: []
                      buildNumber: 38
                      version: 1.0.38
                      message: Removed Start-Website
                      branch: master
                      commitId: c397ba5d17dd17b994375405f560e4922207da1e
                      authorName: Feodor Fitsner
                      authorUsername: FeodorFitsner
                      committerName: Feodor Fitsner
                      committerUsername: FeodorFitsner
                      committed: 2014-08-12T22:56:00+00:00
                      messages: []
                      status: success
                      started: 2014-08-12T22:56:25.8575967+00:00
                      finished: 2014-08-12T22:58:05.7595508+00:00
                      created: 2014-08-12T22:56:09.9208493+00:00
                      updated: 2014-08-12T22:58:05.7595508+00:00
                    environment:
                      deploymentEnvironmentId: 27
                      name: agent test
                      provider: Agent
                      created: 2014-04-01T17:56:41.30982+00:00
                      updated: 2014-08-12T22:35:51.9723883+00:00
                    jobs:
                    - jobId: jnpbcc77s4w278e4
                      name: Deployment
                      messagesCount: 0
                      status: success
                      started: 2014-08-12T23:06:10.8776088+00:00
                      finished: 2014-08-12T23:06:24.3361102+00:00
                      created: 2014-08-12T23:06:07.9009315+00:00
                      updated: 2014-08-12T23:06:24.9390847+00:00
                    - jobId: nbgyf7pn65d4agyr
                      name: TEST-AGENT-DEPL
                      messagesCount: 0
                      status: success
                      started: 2014-08-12T23:06:14.8148958+00:00
                      finished: 2014-08-12T23:06:21.9647266+00:00
                      created: 2014-08-12T23:06:14.8148958+00:00
                      updated: 2014-08-12T23:06:22.3768791+00:00
                    status: success
                    started: 2014-08-12T23:06:10.8776088+00:00
                    finished: 2014-08-12T23:06:25.0502019+00:00
                    created: 2014-08-12T23:06:07.9009315+00:00
                    updated: 2014-08-12T23:06:25.0502019+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentsResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{accountName}/{projectSlug}/settings:
    get:
      tags:
      - Project
      summary: Get project settings
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-settings
      operationId: getProjectSettings
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettingsResults'
              example:
                project:
                  projectId: 22321
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  name: simple-web
                  slug: simple-web
                  repositoryType: gitHub
                  repositoryScm: git
                  repositoryName: AppVeyor/simple-web
                  isPrivate: false
                  skipBranchesWithoutAppveyorYml: false
                  securityDescriptor:
                    accessRightDefinitions:
                    - name: View
                      description: View
                    - name: RunBuild
                      description: Run build
                    - name: Update
                      description: Update settings
                    - name: Delete
                      description: Delete project
                    roleAces:
                    - roleId: 4
                      name: Administrator
                      isAdmin: true
                      accessRights:
                      - name: View
                        allowed: true
                      - name: RunBuild
                        allowed: true
                      - name: Update
                        allowed: true
                      - name: Delete
                        allowed: true
                    - roleId: 5
                      name: User
                      isAdmin: false
                      accessRights:
                      - name: View
                      - name: RunBuild
                      - name: Update
                      - name: Delete
                  created: 2014-05-08T18:38:57.9163293+00:00
                  updated: 2014-07-14T10:16:26.9351867+00:00
                settings:
                  projectId: 22321
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  name: simple-web
                  slug: simple-web
                  versionFormat: 1.0.{build}
                  nextBuildNumber: 41
                  repositoryType: gitHub
                  repositoryScm: git
                  repositoryName: AppVeyor/simple-web
                  repositoryBranch: master
                  webhookId: k783di7br
                  webhookUrl: https://ci.appveyor.com/api/github/webhook?id=k783di7br
                  isPrivate: false
                  ignoreAppveyorYml: false
                  skipBranchesWithoutAppveyorYml: false
                  configuration:
                    initScripts: []
                    includeBranches: []
                    excludeBranches: []
                    onBuildSuccessScripts: []
                    onBuildErrorScripts: []
                    patchAssemblyInfo: false
                    assemblyInfoFile: '**\AssemblyInfo.*'
                    assemblyVersionFormat: '{version}'
                    assemblyFileVersionFormat: '{version}'
                    assemblyInformationalVersionFormat: '{version}'
                    operatingSystem: []
                    services: []
                    shallowClone: false
                    environmentVariables: []
                    environmentVariablesMatrix: []
                    installScripts: []
                    hostsEntries: []
                    buildMode: msbuild
                    platform: []
                    configuration: []
                    packageWebApplicationProjects: false
                    packageWebApplicationProjectsXCopy: false
                    packageAzureCloudServiceProjects: false
                    packageNuGetProjects: false
                    msBuildVerbosity: minimal
                    buildScripts: []
                    beforeBuildScripts: []
                    afterBuildScripts: []
                    testMode: auto
                    testAssemblies: []
                    testCategories: []
                    testCategoriesMatrix: []
                    testScripts: []
                    beforeTestScripts: []
                    afterTestScripts: []
                    deployMode: providers
                    deployments: []
                    deployScripts: []
                    beforeDeployScripts: []
                    afterDeployScripts: []
                    matrixFastFinish: false
                    matrixAllowFailures: []
                    artifacts: []
                    notifications: []
                  nuGetFeed:
                    id: simple-web-0r50wgb1st6q
                    name: Project simple-web
                    publishingEnabled: false
                    created: 2014-05-08T18:38:59.2455842+00:00
                  securityDescriptor:
                    accessRightDefinitions:
                    - name: View
                      description: View
                    - name: RunBuild
                      description: Run build
                    - name: Update
                      description: Update settings
                    - name: Delete
                      description: Delete project
                    roleAces:
                    - roleId: 4
                      name: Administrator
                      isAdmin: true
                      accessRights:
                      - name: View
                        allowed: true
                      - name: RunBuild
                        allowed: true
                      - name: Update
                        allowed: true
                      - name: Delete
                        allowed: true
                    - roleId: 5
                      name: User
                      isAdmin: false
                      accessRights:
                      - name: View
                      - name: RunBuild
                      - name: Update
                      - name: Delete
                  created: 2014-05-08T18:38:57.9163293+00:00
                  updated: 2014-07-14T10:16:26.9351867+00:00
                images:
                - name: test-win2012-r2
                - name: Windows Server 2012
                - name: Windows Server 2012 R2
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectSettingsResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{accountName}/{projectSlug}/settings/yaml:
    get:
      tags:
      - Project
      summary: Get project settings in YAML
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-settings-in-yaml
      operationId: getProjectSettingsYaml
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      responses:
        200:
          description: |
            Success

            The schema type of this response could be specified as `file` to
            denote opaque binary data.  The generated Java code for `file`
            saves the response as a temporary file, making it a little more
            difficult to use and less efficient for common cases.  If `string`
            causes problems for other generators, can switch to `file` type.
          content:
            text/plain:
              schema:
                type: string
              example: |
                version: 1.0.{build}
                build:
                  project: MySolution.sln
                  verbosity: minimal
                  publish_wap: true
                  ...
        default:
          description: Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Project
      summary: Update project settings in YAML
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#update-project-settings-in-yaml
      operationId: updateProjectSettingsYaml
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      requestBody:
        description: |
          The body of requests should contain YAML data.  It is unclear how
          to specify this since the OpenAPI spec requires `schema` without
          `type` for `in: body` parameters and does not allow `type: file` in
          `schema`.  See https://github.com/OAI/OpenAPI-Specification/issues/326
          swagger-codegen (for Java, probably others) allows a binary
          string body parameter with non-application/json `consumes` to be
          passed through in the request body without conversion to JSON.
        content:
          text/plain:
            schema:
              type: string
              format: binary
        required: true
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /projects/{accountName}/{projectSlug}/settings/build-number:
    put:
      tags:
      - Project
      summary: Update project build number
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#update-project-build-number
      operationId: updateProjectBuildNumber
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectBuildNumberUpdate'
        required: true
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /projects/{accountName}/{projectSlug}/settings/environment-variables:
    get:
      tags:
      - Project
      summary: Get project environment variables
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-environment-variables
      operationId: getProjectEnvironmentVariables
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoredNameValue'
              example:
              - name: api_key
                value:
                  isEncrypted: true
                  value: very-secret-key-encrypted
              - name: var1
                value:
                  isEncrypted: false
                  value: current-value
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoredNameValue'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Project
      summary: Update project environment variables
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#update-project-environment-variables
      operationId: updateProjectEnvironmentVariables
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/StoredNameValue'
        required: true
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /projects/{accountName}/{projectSlug}/buildcache:
    delete:
      tags:
      - Project
      summary: Delete project build cache
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#delete-project-build-cache
      operationId: deleteProjectBuildCache
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/status/{statusBadgeId}:
    get:
      tags:
      - Project
      summary: Get project status badge image
      externalDocs:
        url: https://www.appveyor.com/docs/status-badges/
      operationId: getProjectStatusBadge
      parameters:
      - name: statusBadgeId
        in: path
        description: ID of the status badge (`statusBadgeId` from `ProjectWithConfiguration`).
        required: true
        schema:
          minLength: 1
          type: string
      - name: svg
        in: query
        description: Return an SVG image instead of PNG?  Exclusive with `retina`.
        schema:
          type: boolean
          default: false
      - name: retina
        in: query
        description: Return a larger image suitable for retina displays?  Exclusive
          with `svg`.
        schema:
          type: boolean
          default: false
      - name: passingText
        in: query
        description: Text to show in badge when build is passing.
        schema:
          minLength: 1
          type: string
      - name: failingText
        in: query
        description: Text to show in badge when build is failing.
        schema:
          minLength: 1
          type: string
      - name: pendingText
        in: query
        description: Text to show in badge when build is pending.
        schema:
          minLength: 1
          type: string
      responses:
        200:
          description: Success
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        default:
          description: Error
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/status/{statusBadgeId}/branch/{buildBranch}:
    get:
      tags:
      - Project
      summary: Get project branch status badge image
      externalDocs:
        url: https://www.appveyor.com/docs/status-badges/
      operationId: getProjectBranchStatusBadge
      parameters:
      - name: statusBadgeId
        in: path
        description: ID of the status badge (`statusBadgeId` from `ProjectWithConfiguration`).
        required: true
        schema:
          minLength: 1
          type: string
      - name: buildBranch
        in: path
        description: Build Branch
        required: true
        schema:
          type: string
      - name: svg
        in: query
        description: Return an SVG image instead of PNG?  Exclusive with `retina`.
        schema:
          type: boolean
          default: false
      - name: retina
        in: query
        description: Return a larger image suitable for retina displays?  Exclusive
          with `svg`.
        schema:
          type: boolean
          default: false
      - name: passingText
        in: query
        description: Text to show in badge when build is passing.
        schema:
          minLength: 1
          type: string
      - name: failingText
        in: query
        description: Text to show in badge when build is failing.
        schema:
          minLength: 1
          type: string
      - name: pendingText
        in: query
        description: Text to show in badge when build is pending.
        schema:
          minLength: 1
          type: string
      responses:
        200:
          description: Success
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        default:
          description: Error
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/status/{badgeRepoProvider}/{repoAccountName}/{repoSlug}:
    get:
      tags:
      - Project
      summary: Get status badge image for a project with a public repository
      externalDocs:
        url: https://www.appveyor.com/docs/status-badges/
      operationId: getPublicProjectStatusBadge
      parameters:
      - name: badgeRepoProvider
        in: path
        description: Repository provider supported for badges
        required: true
        schema:
          type: string
          enum:
          - bitBucket
          - gitHub
      - name: repoAccountName
        in: path
        description: Account name with repository provider
        required: true
        schema:
          minLength: 1
          type: string
      - name: repoSlug
        in: path
        description: Slug (URL component) of repository.
        required: true
        schema:
          minLength: 1
          type: string
      - name: branch
        in: query
        description: Repository Branch
        schema:
          minLength: 1
          type: string
      - name: svg
        in: query
        description: Return an SVG image instead of PNG?  Exclusive with `retina`.
        schema:
          type: boolean
          default: false
      - name: retina
        in: query
        description: Return a larger image suitable for retina displays?  Exclusive
          with `svg`.
        schema:
          type: boolean
          default: false
      - name: passingText
        in: query
        description: Text to show in badge when build is passing.
        schema:
          minLength: 1
          type: string
      - name: failingText
        in: query
        description: Text to show in badge when build is failing.
        schema:
          minLength: 1
          type: string
      - name: pendingText
        in: query
        description: Text to show in badge when build is pending.
        schema:
          minLength: 1
          type: string
      responses:
        200:
          description: Success
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        default:
          description: Error
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
  /builds:
    put:
      tags:
      - Build
      summary: Re-run build
      description: If `reRunIncomplete` is `true` and all jobs in the referenced build
        completed successfully, a 500 Internal Server Error is returned with the message
        "No failed or cancelled jobs in build with ID {buildId}".
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#re-run-build
      operationId: reRunBuild
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReRunBuildRequest'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
              example:
                buildId: 136709
                jobs: []
                buildNumber: 7
                version: 1.0.7
                message: replaced with command [skip ci]
                branch: master
                commitId: c2892a70d60c96c1b65a7c665ab806b7731fea8a
                authorName: Feodor Fitsner
                authorUsername: FeodorFitsner
                committerName: Feodor Fitsner
                committerUsername: FeodorFitsner
                committed: 2014-08-15T22:05:54+00:00
                messages: []
                status: queued
                created: 2014-08-16T00:40:38.1703914+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/Build'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    post:
      tags:
      - Build
      summary: Start build of branch most recent commit
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#start-build-of-branch-most-recent-commit
      operationId: startBuild
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildStartRequest'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
              example:
                buildId: 136709
                jobs: []
                buildNumber: 7
                version: 1.0.7
                message: replaced with command [skip ci]
                branch: master
                commitId: c2892a70d60c96c1b65a7c665ab806b7731fea8a
                authorName: Feodor Fitsner
                authorUsername: FeodorFitsner
                committerName: Feodor Fitsner
                committerUsername: FeodorFitsner
                committed: 2014-08-15T22:05:54+00:00
                messages: []
                status: queued
                created: 2014-08-16T00:40:38.1703914+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/Build'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /builds/{accountName}/{projectSlug}/{buildVersion}:
    delete:
      tags:
      - Build
      summary: Cancel build
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#cancel-build
      operationId: cancelBuild
      parameters:
      - name: accountName
        in: path
        description: AppVeyor account name (`accountName` property of `UserAccount`)
        required: true
        schema:
          minLength: 1
          type: string
      - name: projectSlug
        in: path
        description: Project Slug
        required: true
        schema:
          type: string
      - name: buildVersion
        in: path
        description: Build Version (`version` property of `Build`)
        required: true
        schema:
          type: string
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /buildjobs/{jobId}/artifacts:
    get:
      tags:
      - Build
      summary: Get build artifacts
      externalDocs:
        url: https://www.appveyor.com/docs/api/samples/download-artifacts-advanced-ps/
      operationId: getBuildArtifacts
      parameters:
      - name: jobId
        in: path
        description: Build ID (`jobId` property of `BuildJob`)
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArtifactModel'
              example:
              - fileName: README.md
                name: README.md
                type: File
                size: 3600
              - fileName: out/example.Release.x64.zip
                name: out\example.zip
                type: Zip
                size: 15600
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArtifactModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /buildjobs/{jobId}/artifacts/{artifactFileName}:
    get:
      tags:
      - Build
      summary: Download build artifact
      externalDocs:
        url: https://www.appveyor.com/docs/api/samples/download-artifacts-advanced-ps/
      operationId: getBuildArtifact
      parameters:
      - name: jobId
        in: path
        description: Build ID (`jobId` property of `BuildJob`)
        required: true
        schema:
          type: string
      - name: artifactFileName
        in: path
        description: |-
          File name (or path) of a build artifact file.
          Corresponds to the `fileName` property of `ArtifactModel`.
          URL-encoding of slashes in parameter values is optional.
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        200:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          description: Error
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Error'
  /buildjobs/{jobId}/log:
    get:
      tags:
      - Build
      summary: Download build log
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#download-build-log
      operationId: getBuildLog
      parameters:
      - name: jobId
        in: path
        description: Build ID (`jobId` property of `BuildJob`)
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          description: Error
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Error'
  /environments:
    get:
      tags:
      - Environment
      summary: Get environments
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#get-environments
      operationId: getEnvironments
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentEnvironmentLookupModel'
              example:
              - deploymentEnvironmentId: 14
                name: azure-blob-1
                provider: AzureBlob
              - deploymentEnvironmentId: 12
                name: azure-deploy-test
                provider: AzureCS
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentEnvironmentLookupModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Environment
      summary: Update environment
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#update-environment
      operationId: updateEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
              example:
                deploymentEnvironmentId: 3018
                name: production
                provider: FTP
                environmentAccessKey: gi3ttevuk7123
                settings:
                  providerSettings:
                  - name: server
                    value:
                      isEncrypted: false
                      value: ftp.myserver.com
                  - name: username
                    value:
                      isEncrypted: false
                      value: ftp-user
                  - name: password
                    value:
                      isEncrypted: true
                      value: password
                  environmentVariables:
                  - name: my-var
                    value:
                      isEncrypted: false
                      value: "123"
                created: 2014-08-15T23:57:16.1585268+00:00
                updated: 2014-08-16T00:00:37.6079863+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    post:
      tags:
      - Environment
      summary: Add environment
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#add-environment
      operationId: addEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentEnvironmentAddition'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
              example:
                deploymentEnvironmentId: 3018
                name: production
                provider: FTP
                environmentAccessKey: gi3ttevuk7a123
                settings:
                  providerSettings:
                  - name: server
                    value:
                      isEncrypted: false
                      value: ftp.myserver.com
                  - name: username
                    value:
                      isEncrypted: false
                      value: ftp-user
                  - name: password
                    value:
                      isEncrypted: true
                      value: password
                  environmentVariables:
                  - name: my-var
                    value:
                      isEncrypted: false
                      value: "123"
                created: 2014-08-15T23:57:16.1585268+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /environments/{deploymentEnvironmentId}/settings:
    get:
      tags:
      - Environment
      summary: Get environment settings
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#get-environment-settings
      operationId: getEnvironmentSettings
      parameters:
      - name: deploymentEnvironmentId
        in: path
        description: |
          Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentSettingsResults'
              example:
                environment:
                  deploymentEnvironmentId: 14
                  name: azure-blob-1
                  provider: AzureBlob
                  environmentAccessKey: aaabbb12345
                  settings:
                    providerSettings:
                    - name: storage_account_name
                      value:
                        isEncrypted: false
                        value: myaccount
                    - name: storage_access_key
                      value:
                        isEncrypted: true
                        value: 4sc1c7/Qp5buQcZ8N486Ks46mLFbXJVqcJjyv98w==
                    - name: container
                      value:
                        isEncrypted: false
                        value: test
                    - name: folder
                      value:
                        isEncrypted: false
                        value: $(appveyor_build_version)
                    - name: artifact
                      value:
                        isEncrypted: false
                    environmentVariables: []
                  created: 2014-01-23T18:13:52.2268502+00:00
                  updated: 2014-06-02T18:13:32.5106126+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentSettingsResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /environments/{deploymentEnvironmentId}/deployments:
    get:
      tags:
      - Environment
      summary: Get environment deployments
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#get-environment-deployments
      operationId: getEnvironmentDeployments
      parameters:
      - name: deploymentEnvironmentId
        in: path
        description: |
          Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentDeploymentsResults'
              example:
                environment:
                  deploymentEnvironmentId: 14
                  name: azure-blob-1
                  provider: AzureBlob
                  created: 2014-01-23T18:13:52.2268502+00:00
                  updated: 2014-06-02T18:13:32.5106126+00:00
                deployments:
                - project:
                    projectId: 15072
                    accountId: 2
                    accountName: FeodorFitsner
                    builds: []
                    name: simple-web
                    slug: simple-web
                    repositoryType: gitHub
                    repositoryScm: git
                    repositoryName: AppVeyor/simple-web
                    isPrivate: false
                    skipBranchesWithoutAppveyorYml: false
                    securityDescriptor: {}
                    created: 2014-05-06T16:38:14.7788393+00:00
                    updated: 2014-06-02T21:37:30.9378043+00:00
                  deployment:
                    deploymentId: 4120
                    build:
                      buildId: 18665
                      jobs: []
                      buildNumber: 25
                      version: 1.0.25
                      message: 'Merge pull request #3 from FeodorFitsner/master'
                      messageExtended: Changes to AccountController
                      branch: master
                      commitId: ed40bd27f732d162b2185d75921b1cd57191f83b
                      authorName: Feodor Fitsner
                      authorUsername: FeodorFitsner
                      committerName: Feodor Fitsner
                      committerUsername: FeodorFitsner
                      committed: 2014-05-08T19:11:38+00:00
                      messages: []
                      status: success
                      started: 2014-05-22T20:12:11.4475134+00:00
                      finished: 2014-05-22T20:12:33.7806881+00:00
                      created: 2014-05-22T20:09:53.759355+00:00
                      updated: 2014-05-22T20:12:33.7806881+00:00
                    environment:
                      deploymentEnvironmentId: 14
                      name: azure-blob-1
                      provider: AzureBlob
                      created: 2014-01-23T18:13:52.2268502+00:00
                      updated: 2014-06-02T18:13:32.5106126+00:00
                    jobs:
                    - jobId: 1696fh3a2w5ng99y
                      name: Deployment
                      messagesCount: 0
                      status: success
                      started: 2014-07-27T09:59:58.3955159+00:00
                      finished: 2014-07-27T10:00:11.5995296+00:00
                      created: 2014-07-27T09:59:57.0171035+00:00
                      updated: 2014-07-27T10:00:16.163082+00:00
                    status: success
                    started: 2014-06-02T18:20:07.9871288+00:00
                    finished: 2014-06-02T18:20:25.11916+00:00
                    created: 2014-06-02T18:20:07.2833871+00:00
                    updated: 2014-06-02T18:20:25.11916+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentDeploymentsResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /environments/{deploymentEnvironmentId}:
    delete:
      tags:
      - Environment
      summary: Delete environment
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#delete-environment
      operationId: deleteEnvironment
      parameters:
      - name: deploymentEnvironmentId
        in: path
        description: |
          Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /deployments/{deploymentId}:
    get:
      tags:
      - Deployment
      summary: Get deployment
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#get-deployment
      operationId: getDeployment
      parameters:
      - name: deploymentId
        in: path
        description: Deployment ID (`deploymentId` property of `Deployment`)
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeployment'
              example:
                project:
                  projectId: 22321
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  name: simple-web
                  slug: simple-web
                  repositoryType: gitHub
                  repositoryScm: git
                  repositoryName: AppVeyor/simple-web
                  isPrivate: false
                  skipBranchesWithoutAppveyorYml: false
                  securityDescriptor: {}
                  created: 2014-05-08T18:38:57.9163293+00:00
                  updated: 2014-07-14T10:16:26.9351867+00:00
                deployment:
                  deploymentId: 19475
                  build:
                    buildId: 132746
                    jobs: []
                    buildNumber: 38
                    version: 1.0.38
                    message: Removed Start-Website
                    branch: master
                    commitId: c397ba5d17dd17b994375405f560e4922207da1e
                    authorName: Feodor Fitsner
                    authorUsername: FeodorFitsner
                    committerName: Feodor Fitsner
                    committerUsername: FeodorFitsner
                    committed: 2014-08-12T22:56:00+00:00
                    messages: []
                    status: success
                    started: 2014-08-12T22:56:25.8575967+00:00
                    finished: 2014-08-12T22:58:05.7595508+00:00
                    created: 2014-08-12T22:56:09.9208493+00:00
                    updated: 2014-08-12T22:58:05.7595508+00:00
                  environment:
                    deploymentEnvironmentId: 27
                    name: agent test
                    provider: Agent
                    created: 2014-04-01T17:56:41.30982+00:00
                    updated: 2014-08-12T22:35:51.9723883+00:00
                  jobs:
                  - jobId: jnpbcc77s4w278e4
                    name: Deployment
                    messagesCount: 0
                    status: success
                    started: 2014-08-12T23:06:10.8776088+00:00
                    finished: 2014-08-12T23:06:24.3361102+00:00
                    created: 2014-08-12T23:06:07.9009315+00:00
                    updated: 2014-08-12T23:06:24.9390847+00:00
                  status: success
                  started: 2014-08-12T23:06:10.8776088+00:00
                  finished: 2014-08-12T23:06:25.0502019+00:00
                  created: 2014-08-12T23:06:07.9009315+00:00
                  updated: 2014-08-12T23:06:25.0502019+00:00
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDeployment'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /deployments:
    post:
      tags:
      - Deployment
      summary: Start deployment
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#start-deployment
      operationId: startDeployment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentStartRequest'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
              example:
                deploymentId: 19475
                build:
                  buildId: 132746
                  jobs: []
                  buildNumber: 38
                  version: 1.0.38
                  message: Removed Start-Website
                  branch: master
                  commitId: c397ba5d17dd17b994375405f560e4922207da1e
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  committed: 2014-08-12T22:56:00+00:00
                  messages: []
                  status: success
                  started: 2014-08-12T22:56:25.8575967+00:00
                  finished: 2014-08-12T22:58:05.7595508+00:00
                  created: 2014-08-12T22:56:09.9208493+00:00
                  updated: 2014-08-12T22:58:05.7595508+00:00
                environment:
                  deploymentEnvironmentId: 27
                  name: agent test
                  provider: Agent
                  created: 2014-04-01T17:56:41.30982+00:00
                  updated: 2014-08-12T22:35:51.9723883+00:00
                jobs:
                - jobId: jnpbcc77s4w278e4
                  name: Deployment
                  messagesCount: 0
                  status: success
                  started: 2014-08-12T23:06:10.8776088+00:00
                  finished: 2014-08-12T23:06:24.3361102+00:00
                  created: 2014-08-12T23:06:07.9009315+00:00
[...]
