openapi: 3.0.0
info:
  description: >-
    This is the interface for interacting with the [Asana
    Platform](https://developers.asana.com). Our API reference
    is generated from our [OpenAPI spec]
    (https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml).
  x-public-description: >-
    This is the interface for interacting with the [Asana
    Platform](https://developers.asana.com). Our API reference
    is generated from our [OpenAPI spec]
    (https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml).
  title: Asana
  termsOfService: https://asana.com/terms
  contact:
    name: Asana Support
    url: https://asana.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
  x-docs-schema-whitelist:
    - AsanaResource
    - AsanaNamedResource
    - AuditLogEvent
    - AttachmentResponse
    - AttachmentCompact
    - BatchResponse
    - CustomFieldSettingResponse
    - CustomFieldSettingCompact
    - CustomFieldResponse
    - CustomFieldCompact
    - EnumOption
    - EventResponse
    - ErrorResponse
    - GoalResponse
    - GoalCompact
    - JobResponse
    - JobCompact
    - OrganiztaionExportResponse
    - OrganiztaionExportCompact
    - PortfolioMembershipResponse
    - PortfolioMembershipCompact
    - PortfolioResponse
    - PortfolioCompact
    - ProjectMembershipResponse
    - ProjectMembershipCompact
    - ProjectResponse
    - ProjectCompact
    - ProjectStatusResponse
    - ProjectStatusCompact
    - SectionResponse
    - SectionCompact
    - StoryResponse
    - StoryCompact
    - TagResponse
    - TagCompact
    - TaskResponse
    - TaskCompact
    - TeamMembershipResponse
    - TeamMembershipCompact
    - TeamResponse
    - TeamCompact
    - UserTaskListResponse
    - UserTaskListCompact
    - UserResponse
    - UserCompact
    - WebhookFilter
    - WebhookResponse
    - WebhookCompact
    - WorkspaceMembershipResponse
    - WorkspaceMembershipCompact
    - WorkspaceResponse
    - WorkspaceCompact
servers:
  - url: https://app.asana.com/api/1.0
    description: Main endpoint.
security:
  - personalAccessToken: []
  - oauth2: []
tags:
  - name: Attachments
    description: >-
      An *attachment* object represents any file attached to a task in Asana,
      whether it’s an uploaded file or one associated via a third-party service
      such as Dropbox or Google Drive.
  - name: Audit Log API
    description: >-
      Asana's Audit Log is an immutable log of [important events](/docs/supported-auditlogevents)
      in your organization's Asana instance.


      The Audit Log API allows you to monitor and act upon important security
      and compliance-related changes. Organizations might use this API endpoint to:
      


      * Set up proactive alerting with a Security Information and Event Management
      (SIEM) tool like [Splunk](https://asana.com/guide/help/api/splunk)

      * Conduct reactive investigations when a security incident takes place

      * Visualize key domain data in aggregate to identify security trends


      Note that since the API provides insight into what is happening in an Asana
      instance, the data is [read-only](/docs/get-audit-log-events). That is, there
      are no "write" or "update" endpoints for audit log events.


      Only [Service Accounts](https://asana.com/guide/help/premium/service-accounts)
      in [Enterprise Domains](https://asana.com/enterprise) can access Audit Log API
      endpoints. Authentication with a Service Account's
      [Personal Access Token](/docs/personal-access-token) is required.


      For a full list of
      supported events, see [Supported AuditLogEvents](/docs/supported-auditlogevents).
  - name: Batch API
    description: >-
      There are many cases where you want to accomplish a variety of work in
      the Asana API but want to minimize the number of HTTP requests you make.
      For example:


      * Modern browsers limit the number of requests that a single web page can
        make at once.
      * Mobile apps will use more battery life to keep the cellular radio on
        when making a series of requests.
      * There is an overhead cost to developing software that can make multiple
        requests in parallel.
      * Some cloud platforms handle parallelism poorly, or disallow it
        entirely.


      To make development easier in these use cases, Asana provides a **batch
      API** that enables developers to perform multiple “actions” by making
      only a single HTTP request.


      #### Making a Batch Request


      To make a batch request, send a `POST` request to `/batch`. Like other
      `POST` endpoints, the body should contain a `data` envelope. Inside this
      envelope should be a single `actions` field, containing a list of
      “action” objects.  Each action represents a standard request to an
      existing endpoint in the Asana API.


      **The maximum number of actions allowed in a single batch request is 10**.
      Making a batch request with no actions in it will result in a `400 Bad
      Request`.


      When the batch API receives the list of actions to execute, it will
      dispatch those actions to the already-implemented endpoints specified by
      the `relative_path` and `method` for each action. This happens in
      parallel, so all actions in the request will be processed simultaneously.
      There is no guarantee of the execution order for these actions, nor is
      there a way to use the output of one action as the input of another
      action (such as creating a task and then commenting on it).


      The response to the batch request will contain (within the `data`
      envelope) a list of result objects, one for each action. The results are
      guaranteed to be in the same order as the actions in the request, e.g.,
      the first result in the response corresponds to the first action in the
      request.


      The batch API will always attempt to return a `200 Success` response with
      individual result objects for each individual action in the request. Only
      in certain cases (such as missing authorization or malformed JSON in the
      body) will the entire request fail with another status code. Even if
      every individual action in the request fails, the batch API will still
      return a `200 Success` response, and each result object in the response
      will contain the errors encountered with each action.


      #### Rate Limiting


      The batch API fully respects all of our rate limiting. This means that a
      batch request counts against *both* the standard rate limiter and the
      concurrent request limiter as though you had made a separate HTTP request
      for every individual action. For example, a batch request with five
      actions counts as five separate requests in the standard rate limiter,
      and counts as five concurrent requests in the concurrent request limiter.
      The batch request itself incurs no cost.


      If any of the actions in a batch request would exceed any of the enforced
      limits, the *entire* request will fail with a `429 Too Many Requests`
      error. This is to prevent the unpredictability of which actions might
      succeed if not all of them could succeed.


      #### Restrictions


      Not every endpoint can be accessed through the batch API.
      Specifically, the following actions cannot be taken and will result in a
      `400 Bad Request` for that action:


      * Uploading attachments

      * Creating, getting, or deleting organization exports

      * Any SCIM operations

      * Nested calls to the batch API
  - name: Custom Fields
    description: >-
      In the Asana application, Tasks, Projects, and Portfolios can hold
      user-specified Custom Fields which provide extra information; for example,
      a priority value or a number representing the time required to complete a
      Task. This lets a user define the type of information that each Item
      within a Project or Portfolio can contain in addition to the built-in
      fields that Asana provides.


      **Note:** Custom Fields are a premium feature. Integrations which work
      with Custom Fields need to handle an assortment of use cases for free and
      premium users in context of free and premium organizations. For a detailed
      examination of to what data users will have access in different
      circumstances, read the section below on access control.


      `display_value` is a read-only field that will always be a string. For apps
      that use custom fields, this is a great way to safely display/export the
      value of a custom field, regardless of its type. We suggest apps use
      this field in order to future-proof for changes to Custom Fields.


      The characteristics of Custom Fields are:


      * There is metadata that defines the Custom Field. This metadata can be
      shared across an entire workspace, or be specific to a Project or Portfolio.

      * Creating a Custom Field Setting on a Project or Portfolio means each direct
      child will have the custom field. This is conceptually akin to adding
      columns in a database or a spreadsheet:
      every Task (row) in the Project (table) can contain information for that
      field, including "blank" values, i.e. `null` data. For Portfolio custom
      fields, every Project (row) in the Portfolio (table) will contain
      information for the custom field.

      * Custom Field Settings only go one child deep. Meaning a custom field
      setting on a portfolio will give each project the custom field, but not
      each task within those projects.

      * Tasks have Custom Field _values_ assigned to them.


      A brief example: let's imagine that an organization has defined a Custom
      Field for "Priority". This field is of `enum` type and can have
      user-defined values of `Low`, `Medium`, or `High`. This is the field
      metadata, and it is visible within, and shared across, the entire
      organization.


      A Project is then created in the organization, called "Bugs", and the
      "Priority" Custom Field is associated with that Project. This will allow
      all Tasks within the "Bugs" Project to have an associated "Priority".


      A new Task is created within "Bugs". This Task, then, has a field named
      "Priority" which can take on the Custom Field value of one of `[null]`,
      `Low`, `Medium`, and `High`.


      These Custom Fields are accessible via the API through a number of
      endpoints at the top level (e.g. `/custom_fields` and
      `/custom_field_settings`) and through calls on Workspaces, Portfolios,
      Projects, and
      Tasks resources. The API also provides a way to fetch both the metadata
      and data which define each particular Custom Field, so that a client
      application may render proper UI to display or edit the values.


      Custom Field aware integrations need to be aware of the basic types that
      Custom Fields can adopt. These types are:


      * `text` - an arbitrary, relatively short string of text

      * `number` - a number with a defined level of precision

      * `enum` - a selection from a defined list of options


      Text fields are currently limited to 1024 characters. On Tasks, their
      Custom Field value will have a `text_value` property to represent this
      field.


      Number fields can have an arbitrary `precision` associated with them; for
      example, a precision of `2` would round its value to the second
      (hundredths) place, i.e. 1.2345 would round to 1.23. On Tasks, the Custom
      Field value will have a `number_value` property to represent this field.


      Enum fields represent a selection from a list of options. On the metadata,
      they will contain all of the options in an array. Each option has 4
      properties:


      * `gid` - the gid of this enum option. Note that this is the gid of the
      _option_ - the Custom Field itself has a separate `gid`.

      * `name` - the name of the option, e.g. "Choice #1"

      * `enabled` - whether this field is enabled. Disabled fields are not
      available to choose from when disabled, and are visually hidden in the
      Asana application, but they remain in the metadata for Custom Field values
      which were set to the option before the option was disabled.

      * `color` - a color associated with this choice.


      On the Task's Custom Field value, the enum will have an `enum_value`
      property which will be the same as one of the choices from the list
      defined in the Custom Field metadata.


      #### Querying an organization for its Custom Fields


      For Custom Fields shared across the workspace or organization, the
      Workspace [can be queried](/docs/get-a-workspace-39-s-custom-fields)
      for its list of defined Custom Fields. Like other collection queries, the
      fields will be returned as a compact record; slightly different from most
      other compact records is the fact that the compact record for Custom Fields
      includes `type` as well as `gid` and `name`.


      #### Accessing Custom Field definitions


      The [Custom Fields](/docs/get-a-custom-field) reference
      describes how the metadata which defines a Custom Field is accessed. A
      GET request with a `gid` can be issued on the `/custom_fields` endpoint
      to fetch the full definition of a single Custom Field given its `gid`
      from (for instance) listing all Custom Fields on a Workspace, or getting
      the `gid` from a Custom Field Settings object or a Task.


      #### Associating Custom Fields with a Project or Portfolio


      A mapping between a Custom Field and a Project or Portfolio is handled with
      a
      [Custom Field Settings](/docs/asana-custom-field-settings) object. This object
      contains a reference for each
      of the Custom Field and the Project or Porfolio, as well as additional information
      about the status of that particular Custom Field. For
      instance, `is_important`, which defines whether or not the custom field
      will appear in the list/grid on the Asana application.


      #### Accessing Custom Field values on Tasks or Projects


      The [Tasks](/docs/get-a-task) reference has information on how Custom Fields
      look on Tasks. Custom Fields will return as an array on the
      property `custom_fields`, and each entry will contain, side-by-side, the
      compact representation of the Custom Field metadata and a
      `{typename}_value` property that stores the value set for the
      Custom Field.


      Of particular note is that the top-level `gid` of each entry in the
      `custom_fields` array is the `gid` of the Custom Field metadata, as it is
      the compact representation of this metadata. This can be used to refer to
      the full metadata by making a request to the
      `/custom_fields/{custom_fields_id}` endpoint as described above.


      Custom Fields can be set just as in the Asana-defined fields on a task via
      POST or PUT requests. You can see an example on the
      [update a task](/docs/update-a-task) endpoint.


      Custom Fields on projects follow this same pattern.


      #### Warning: Program defensively with regards to Custom Field definitions


      Asana application users have the ability to change the definitions of
      Custom Field metadata. This means that as you write scripts or
      applications to work with them, it's possible for the definitions to
      change at any time, which may cause an application using them to break or
      malfunction if it makes assumptions about the metadata for a particular
      Custom Field. When using Custom Fields, it is a good idea to program
      *defensively*, meaning you your application should double-check that
      the Custom Field metadata is what it expects.


      Storing the state of the Custom Field metadata for too long if you
      dynamically create a model for it can cause your model to become
      unsynchronized with the model stored in Asana. If you encounter
      (for example) an `enum` value on a Task that does not match any option
      in your metadata model, your metadata model has become out of date with
      the Custom Field metadata.


      **Note:** We are currently studying proposals for future implementations
      to more elegantly handle the modification of Custom Field metadata for
      application integrations.


      #### Enabled and Disabled Values


      When information that is contained in a Custom Field value loses a
      logical association with its metadata definition, the value becomes
      disabled. This can happen in a couple of simple ways, for example, if
      you remove the Custom Field metadata from a Project, or move a Task with
      a Custom Field to a different Project which does not have the Custom
      Field metadata associated with it. The value remains on the Task, and
      the Custom Field metadata can still be found and examined, but as the
      context in which the Custom Field makes sense is gone, the Custom Field
      cannot change its value; it can only be cleared.


      Note: Tasks that are associated with multiple Projects do not become
      disabled, so long as at least one of the Projects is still associated
      with the Custom Field metadata. In other words, Tasks with multiple
      Projects will retain logically associated to the set of Custom Field
      metadata represented by all of their Projects.


      Moving the Task back under a Project with that Custom Field applied to it
      or applying the Custom Field metadata to the current Project will return
      the Custom Field value to an enabled state. In this scenario, the Custom
      Field will be re-enabled and editable again.


      In the Asana application, disabled fields are grayed out and not allowed
      to change, other than to be discarded. In the API, we return a property
      `enabled: false` to inform the external application that the value has
      been disabled.


      Note that the API enforces the same operations on disabled Custom Field
      values as hold in the Asana application: they may not have their values
      changed, since the lack of context for the values of a custom field in
      general doesn't provide enough information to know what new values should
      be. Setting the Custom Field value to `null` will clear and remove the
      Custom Field value from the Task.


      #### Custom Field access control


      Custom Fields are a complex feature of the Asana platform, and their
      access in the Asana application and in the API vary based on the status
      of the user and project. When building your application, it's best to be
      defensive and not assume the given user will have read or write access
      to a custom field, and fail gracefully when this occurs.
  - name: Custom Field Settings
    description: >-
      Custom fields are attached to a particular project with the Custom
      Field Settings resource. This resource both represents the
      many-to-many join of the Custom Field and Project as well as stores
      information that is relevant to that particular pairing; for instance,
      the `is_important` property determines some possible
      application-specific handling of that custom field.
  - name: Events
    description: >-
      *Note: The Events architecture uses the same infrastructure as Webhooks. That
      is, the two
      resources differ only in the delivery mechanism for events (i.e., pull vs. push).
      Recently,
      some users have seen intermittent delays with event distributions. For more
      information,
      see [Webhooks](/docs/webhooks).*


      An *event* is an object representing a change to a resource that was
      observed by an event subscription.


      In general, requesting events on a resource is faster and subject to
      higher rate limits than requesting the resource itself. Additionally,
      change events bubble up - listening to events on a project would include
      when stories are added to tasks in the project, even on subtasks.


      Establish an initial sync token by making a request with no sync token.
      The response will be a `412` error - the same as if the sync token had
      expired.


      Subsequent requests should always provide the sync token from the
      immediately preceding call.


      Sync tokens may not be valid if you attempt to go ‘backward’ in the
      history by requesting previous tokens, though re-requesting the current
      sync token is generally safe, and will always return the same results.


      When you receive a `412 Precondition Failed` error, it means that the
      sync token is either invalid or expired. If you are attempting to keep a
      set of data in sync, this signals you may need to re-crawl the data.


      Sync tokens always expire after 24 hours, but may expire sooner,
      depending on load on the service.
  - name: Goals
    description: >-
      A `goal` is an object in the goal-tracking system that helps your organization
      drive measurable results.
  - name: Jobs
    description: >-
      Jobs represent processes that handle asynchronous work.

      Jobs are created when an endpoint requests an action that will be handled
      asynchronously. Such as project or task duplication.

      Only the creator of the duplication process can access the duplication
      status
      of the new object.
  - name: Organization Exports
    description: >-
      An *organization_export* object represents a request to export the
      complete data of an Organization in JSON format.


      To export an Organization using this API:


      * Create an `organization_export`
        [request](/docs/create-an-organization-export-request)
        and store the id that is returned.
      * Request the `organization_export` every few minutes, until the
        `state` field contains ‘finished’.
      * Download the file located at the URL in the `download_url` field.
      * Exports can take a long time, from several minutes to a few hours
        for large Organizations.


      *Note: These endpoints are only available to [Service
      Accounts](https://asana.com/guide/help/premium/service-accounts) of an
      [Enterprise](https://asana.com/enterprise) Organization.*
  - name: Portfolios
    description: >-
      A `portfolio` gives a high-level overview of the status of multiple
      initiatives in Asana. Portfolios provide a dashboard overview of the
      state of multiple projects, including a progress report and the most
      recent [project status](/docs/asana-project-statuses)
      update.

      Portfolios have some restrictions on size. Each portfolio has a max of 250
      items and, like projects, a max of 20 custom fields.
  - name: Portfolio Memberships
    description: >-
      This object determines if a user is a member of a portfolio.
  - name: Projects
    description: >-
      A `project` represents a prioritized list of tasks in Asana or a board
      with columns of tasks represented as cards. It exists in a single
      workspace or organization and is accessible to a subset of users in that
      workspace or organization, depending on its permissions.


      Projects in organizations are shared with a single team. You cannot
      currently change the team of a project via the API. Non-organization
      workspaces do not have teams and so you should not specify the team of
      project in a regular workspace.


      Followers of a project are a subset of the members of that project.
      Followers of a project will receive all updates including tasks
      created, added and removed from that project. Members of the project
      have access to and will receive status updates of the project. Adding
      followers to a project will add them as members if they are not
      already, removing followers from a project will not affect membership.
  - name: Project Memberships
    description: >-
      With the introduction of “comment-only” projects in Asana, a user’s
      membership in a project comes with associated permissions. These
      permissions (whether a user has full access to the project or
      comment-only access) are accessible through the project memberships
      endpoints described here.
  - name: Project Statuses
    description: >-
      A *project status* is an update on the progress of a particular project,
      and is sent out to all project followers when created. These updates
      include both text describing the update and a color code intended to
      represent the overall state of the project: "green" for projects that
      are on track, "yellow" for projects at risk, "red" for projects that
      are behind, and "blue" for projects on hold.


      Project statuses can be created and deleted, but not modified.
  - name: Sections
    description: >-
      A *section* is a subdivision of a project that groups tasks together.
      It can either be a header above a list of tasks in a list view or a
      column in a board view of a project.


      Sections are largely a shared idiom in Asana’s API for both list and
      board views of a project regardless of the project’s layout.


      The ‘memberships’ property when
      [getting a task](/docs/get-a-task)
      will return the information for the section or the column under
      ‘section’ in the response.
  - name: Stories
    description: >-
      *See [our forum post](https://forum.asana.com/t/no-more-parsing-story-text-new-fields-on-stories/42924)
      for more info on when conditional fields are returned.*


      A *story* represents an activity associated with an object in the
      Asana system. Stories are generated by the system whenever users take
      actions such as creating or assigning tasks, or moving tasks between
      projects. *Comments* are also a form of user-generated story.
  - name: Tags
    description: >-
      A tag is a label that can be attached to any task in Asana. It exists in
      a single workspace or organization.


      Tags have some metadata associated with them, but it is possible that
      we will simplify them in the future so it is not encouraged to rely
      too heavily on it. Unlike projects, tags do not provide any ordering
      on the tasks they are associated with.
  - name: Tasks
    description: >-
      The task is the basic object around which many operations in Asana are
      centered. In the Asana application, multiple tasks populate the
      middle pane according to some view parameters, and the set of selected
      tasks determines the more detailed information presented in the
      details pane.


      Sections are unique in that they will be included in the *memberships*
      field of task objects returned in the API when the task is within a
      section. They can also be used to manipulate the ordering of a task
      within a project.


      [Queries](/docs/get-a-set-of-tasks)
      return a compact representation of each object which is typically the
      id and name fields. Interested in a specific set of fields or all of
      the fields? Use [field selectors](/docs/input-output-options)
      to manipulate what data is included in a response.
  - name: Teams
    description: >-
      A *team* is used to group related projects and people together within an
      organization. Each project in an organization is associated with a team.
  - name: Team Memberships
    description: >-
      This object determines if a user is a member of a team.
  - name: Time Periods
    description: >-
      A `time_period` is an object that represents a domain-scoped date range that
      can be set on `Goals`.
  - name: Typeahead
    description: >-
      The typeahead search API provides search for objects from a single
      workspace.
  - name: Users
    description: >-
      A user object represents an account in Asana that can be given access to
      various workspaces, projects, and tasks.


      Like other objects in the system, users are referred to by numerical
      IDs. However, the special string identifier `me` can be used anywhere
      a user ID is accepted, to refer to the current authenticated user.
  - name: User Task Lists
    description: >-
      A user task list represents the tasks assigned to a particular user.
  - name: Webhooks
    description: >-
      *Note: Recently, some users have seen intermittent delays with webhook event
      distributions. We are
      in the process of transferring the webhooks system to a more reliable infrastructure
      while also
      iteratively improving the current system. As such, for the time being we advise
      against using
      webhooks for functionality beyond logging (e.g., syncing state with real-time
      notification data).
      If you experience issues, we recommend using webhooks in conjunction with fetching
      the resource
      periodically (e.g. [GET a task](/docs/get-a-task)). More details and ongoing
      updates can be found in
      [this post](https://forum.asana.com/t/update-on-upcoming-improvements-to-our-webhooks-system/143305)
      in the developer forum.*


      Webhooks allow an application to be notified of changes in Asana.


      This is similar to our [Events](/docs/asana-events) resource, but webhooks
      "push" events via HTTP `POST` rather than expecting integrations to
      repeatedly "poll" for them. For services that are already accessible on
      the Internet this is often more convenient and efficient.


      However, webhooks _require_ a server to be accessible over the internet at
      all times to receive the event. For most simple integrations, Events
      provide much of the same benefits while using a significantly simpler
      implementation which does not require maintaining an internet-accessible
      server.


      #### The webhook "handshake"

      In order to ensure that the receiving server is available to receive
      incoming events from a webhook Asana will `POST` to the requested target
      endpoint during the webhook creation request. In other words, the
      outgoing webhook creation request will wait to return until another full
      `POST` request from Asana's servers to the target has been completed, *then*
      the
      webhook creation request can return with a successful response.


      *Note: this means that your server must be able to handle being blocked on
      the outgoing create request while still being able to receive and handle an
      incoming request. A common reason that webhook handshakes fail is that
      servers are not able to asynchronously handle the handshake request.*


      Included in the webhook handshake is a HTTP header called
      `X-Hook-Secret`.  To successfully complete the handshake the receiving
      server should echo back the same header with the same value and a `200
      OK` or `204 No Content` response code.


      The purpose of this header is to provide a shared secret that both Asana
      and the receiving server both store--this is the only time it will be
      transmitted. In future webhook events Asana will use this key to compute
      a signature over the webhook callback request's body which can be used to
      verify that the incoming request was genuine (details below). We strongly
      recommend that you take advantage of this security feature and reject
      webhooks that have an invalid signature.


      #### Receiving Events


      Because multiple events often happen in short succession, a webhook
      payload is designed to be able to transmit multiple events at once. The
      schema of these events is described in [Event](/docs/tocS_Event).


      The HTTP POST that the target receives contains:


       * An `X-Hook-Signature` header, which allows verifying that the payload
       is genuine.  The signature is a SHA256 HMAC signature computed on the
       request body using the shared secret transmitted during the handshake.
       Verification is **strongly recommended**, as it would otherwise be
       possible for an attacker to POST a malicious payload to the same
       endpoint.
       * A JSON body with a single key, `events`, containing an array of the
       events that have occurred since the last webhook delivery. (Note that this
       list may be empty, as periodically we send a "heartbeat" webhook to
       verify that the endpoint is still available.)


      Note that events are "skinny" and contain only some basic details of the
      change, not the whole resource. We expect integrations to make additional
      calls to the API to retrieve the latest state from Asana.


      #### Filtering

      Webhook events will "propagate up" from contained objects through to
      parent objects--for instance, changes to comments will be sent to
      webhooks on the parent task and to ones on the task's projects. In this
      way a webhook on a project will be notified of all changes that occur in
      all of its tasks, subtasks of those tasks, and comments on those tasks
      and subtasks.


      This can be a lot of data, some of which might not be relevant to a
      particular integration, so Asana's webhooks have a filtering feature
      which allows integrations to specify only the types of changes that they
      care about. By specifying the list of
      [WebhookFilter](/docs/tocS_WebhookFilter)s on webhook creation an integration
      can select just the subset of events it wants to receive.  When filters
      are specified on the webhook events will only be delivered if they pass
      any of the filters specified when creating the webhook.


      To reduce the volume of data to transfer, webhooks created on teams,
      portfolios, and workspaces *must* specify filters. In addition, the set of
      event filters that can be placed on a team-level or workspace-level
      webhook is more limited than filters for webhooks that are created on
      lower-level resources:


       * Webhook events from tasks, subtasks, and stories won't be propagated
       to these higher-level webhooks, so all changes on these resources are
       automatically filtered out.
       * Webhook events from `project` resources can be filtered for these
       `action`s: `added`, `removed`, `deleted`, `undeleted`, and `changed`.
       * Webhook events from `team_membership` resources can be filtered to
       `action`s `added` and `removed`.
       * Webhook events from `workspace_membership` resources can be filtered
       to `added` and `removed`.


      #### Error Handling and Retry


      If we attempt to send a webhook payload and we receive an error status
      code, or the request times out, we will retry delivery with exponential
      backoff. In general, if your servers are not available for an hour, you
      can expect it to take no longer than approximately an hour after they come
      back before the paused delivery resumes. However, if we are unable to
      deliver a message for 24 hours the webhook will be deactivated.

      #### Webhook Heartbeat Events

      Webhooks keep track of the last time that delivery succeeded, and this time
      is updated with each success. To help facilitate this, webhooks have a “heartbeat”
      that will deliver an empty payload at the initial handshake, and then every
      eight hours. This way, even if there is no activity on the resource, the last
      success time (i.e `last_success_at`) will still be updated continuously.

      #### Resources and Actions

      This is not an exhaustive list, but should cover the most common use
      cases.


       * Attachment - deleted, undeleted
       * Portfolio - added, deleted, removed
       * Project - added, changed, deleted, removed, undeleted
       * Project Membership - added, removed
       * Section - added, changed, deleted, undeleted
       * Story - added, removed, undeleted
       * Tag - added, changed, deleted, undeleted
       * Task - added, changed, deleted, removed, undeleted
       * Team - added, changed, deleted
       * Team Membership - added, removed
       * Workspace - added, removed, changed
       * Workspace Memberships - added, removed


      #### Webhook Limits


      Webhooks have two different limits

       * 1k limit per resource in Asana. (If 10 apps each have 100 webhooks
         watching the same resource, no more webhooks can be placed on the
         webhook. `/events` streams count towards this limit)
       * 10k per user-app (An app can have 10k webhooks for EACH user)

      #### Example Integration: Webhook Inspector

      The [Webhook Inspector](https://github.com/Asana/devrel-examples/tree/master/python/webhooks)
      is a Python script that demonstrates the features of Asana webhooks, including
      how to both properly set them up and receive them. By using this script, you
      can create a webhook and log the contents of incoming notifications to your
      console.

      To use this demo, be sure to generate a new [personal access token](https://developers.asana.com/docs/personal-access-token),
      then follow the instructions in README.
  - name: Workspaces
    description: >-
      A *workspace* is the highest-level organizational unit in Asana. All
      projects and tasks have an associated workspace.


      An *organization* is a special kind of workspace that represents a
      company. In an organization, you can group your projects into teams.
      You can read more about how organizations work on the Asana Guide. To
      tell if your workspace is an organization or not, check its
      `is_organization` property.


      Over time, we intend to migrate most workspaces into organizations and
      to release more organization-specific functionality. We may eventually
      deprecate using workspace-based APIs for organizations. Currently, and
      until after some reasonable grace period following any further
      announcements, you can still reference organizations in any
      `workspace` parameter.
  - name: Workspace Memberships
    description: >-
      This object determines if a user is a member of a workspace.
components:
  parameters:
    fields:
      name: opt_fields
      in: query
      description: >-
        Defines fields to return.

        Some requests return *compact* representations of objects in order to
        conserve resources and complete the request more efficiently. Other times
        requests return more information than you may need. This option allows
        you to list the exact set of fields that the API should be sure to
        return for the objects. The field names should be provided as paths,
        described below.

        The id of included objects will always be returned, regardless of the
        field options.
      example:
        - followers
        - assignee
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    pretty:
      name: opt_pretty
      in: query
      description: >-
        Provides “pretty” output.

        Provides the response in a “pretty” format. In the case of JSON this
        means doing proper line breaking and indentation to make it readable.
        This will take extra time and increase the response size so it is
        advisable only to use this during debugging.
      required: false
      allowEmptyValue: true
      schema:
        type: boolean
      style: form
      example: true
    limit:
      name: limit
      in: query
      description: >-
        Results per page.

        The number of objects to return per page. The value must be between 1
        and 100.
      example: 50
      schema:
        type: integer
    offset:
      name: offset
      in: query
      description: >-
        Offset token.

        An offset to the next page returned by the API. A pagination request
        will return an offset token, which can be used as an input parameter to
        the next request. If an offset is not passed in, the API will return
        the first page of results.

        'Note: You can only pass in an offset that was returned to you via a
        previously paginated request.'
      example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
      schema:
        type: string
    archived_query_param:
      name: archived
      in: query
      description: >-
        Only return projects whose `archived` field takes on the value of
        this parameter.
      schema:
        type: boolean
      example: false
    attachment_path_gid:
      name: attachment_gid
      in: path
      description: >-
        Globally unique identifier for the attachment.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: attachment
    custom_field_path_gid:
      name: custom_field_gid
      in: path
      description: >-
        Globally unique identifier for the custom field.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: custom_field
    goal_path_gid:
      name: goal_gid
      in: path
      description: >-
        Globally unique identifier for the goal.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: goal
    job_path_gid:
      name: job_gid
      in: path
      description: >-
        Globally unique identifier for the job.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: job
    organization_export_path_gid:
      name: organization_export_gid
      in: path
      description: >-
        Globally unique identifier for the organization export.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: organization_export
    project_path_gid:
      name: project_gid
      in: path
      description: >-
        Globally unique identifier for the project.
      required: true
      schema:
        type: string
      example: '1331'
      x-env-variable: project
    project_membership_path_gid:
      name: project_membership_gid
      in: path
      required: true
      schema:
        type: string
      example: '1331'
      x-env-variable: project_membership
    project_status_path_gid:
      name: project_status_gid
      in: path
      required: true
      description: The project status update to get.
      schema:
        type: string
      example: '321654'
      x-env-variable: project_status
    portfolio_path_gid:
      name: portfolio_gid
      in: path
      description: >-
        Globally unique identifier for the portfolio.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: portfolio
    portfolio_membership_path_gid:
      name: portfolio_membership_gid
      in: path
      required: true
      schema:
        type: string
      example: '1331'
      x-env-variable: portfolio_membership
    portfolio_query_param:
      name: portfolio
      in: query
      description: The portfolio to filter results on.
      schema:
        type: string
      example: '12345'
      x-env-variable: portfolio
    section_path_gid:
      name: section_gid
      in: path
      required: true
      description: The globally unique identifier for the section.
      schema:
        type: string
      example: '321654'
      x-env-variable: section
    story_path_gid:
      name: story_gid
      in: path
      description: Globally unique identifier for the story.
      required: true
      schema:
        type: string
      example: '35678'
      x-env-variable: story
    tag_path_gid:
      name: tag_gid
      in: path
      description: Globally unique identifier for the tag.
      required: true
      schema:
        type: string
      example: '11235'
      x-env-variable: tag
    task_path_gid:
      name: task_gid
      in: path
      required: true
      description: The task to operate on.
      schema:
        type: string
      example: '321654'
      x-env-variable: task
    team_path_gid:
      name: team_gid
      in: path
      description: Globally unique identifier for the team.
      required: true
      schema:
        type: string
      example: '159874'
      x-env-variable: team
    team_membership_path_gid:
      name: team_membership_gid
      in: path
      required: true
      schema:
        type: string
      example: '724362'
      x-env-variable: team_membership
    time_period_path_gid:
      name: time_period_gid
      in: path
      description: >-
        Globally unique identifier for the time period.
      required: true
      schema:
        type: string
      example: '917392'
      x-env-variable: time_period
    user_query_param:
      name: user
      in: query
      description: >-
        A string identifying a user. This can either be the string "me", an email,
        or the gid of a user.
      schema:
        type: string
      x-env-variable: user
      example: me
    user_path_gid:
      name: user_gid
      in: path
      description: >-
        A string identifying a user. This can either be the string "me", an email,
        or the gid of a user.
      required: true
      schema:
        type: string
      x-env-variable: user
      example: me
    user_task_list_path_gid:
      name: user_task_list_gid
      in: path
      description: >-
        Globally unique identifier for the user task list.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: user_task_list
    webhook_path_gid:
      name: webhook_gid
      in: path
      description: >-
        Globally unique identifier for the webhook.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: webhook
    workspace_path_gid:
      name: workspace_gid
      in: path
      description: >-
        Globally unique identifier for the workspace or organization.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: workspace
    workspace_query_param:
      name: workspace
      in: query
      description: The workspace to filter results on.
      schema:
        type: string
      example: '12345'
      x-env-variable: workspace
    workspace_membership_path_gid:
      name: workspace_membership_gid
      in: path
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: workspace_membership
    audit_log_start_at:
      name: start_at
      in: query
      description: Filter to events created after this time (inclusive).
      required: false
      schema:
        type: string
        format: date-time
    audit_log_end_at:
      name: end_at
      in: query
      description: Filter to events created before this time (exclusive).
      required: false
      schema:
        type: string
        format: date-time
    audit_log_event_type:
      name: event_type
      in: query
      description: >-
        Filter to events of this type.

        Refer to the [Supported AuditLogEvents](/docs/supported-auditlogevents) for
        a full list of values.
      required: false
      schema:
        type: string
    audit_log_actor_type:
      name: actor_type
      in: query
      description: >-
        Filter to events with an actor of this type.

        This only needs to be included if querying for actor types without an ID.
        If `actor_gid` is included, this should be excluded.
      required: false
      schema:
        type: string
        enum:
          - user
          - asana
          - asana_support
          - anonymous
          - external_administrator
    audit_log_actor_gid:
      name: actor_gid
      in: query
      description: >-
        Filter to events triggered by the actor with this ID.
      required: false
      schema:
        type: string
    audit_log_resource_gid:
      name: resource_gid
      in: query
      description: Filter to events with this resource ID.
      required: false
      schema:
        type: string
  responses:
    GenericErrorResponse:
      description: >-
        Sadly, sometimes requests to the API are not successful. Failures can
        occur for a wide range of reasons. In all cases, the API should return
        an HTTP Status Code that indicates the nature of the failure,
        with a response body in JSON format containing additional information.
        In the event of a server error the response body will contain an error
        phrase. These phrases are automatically generated using the
        [node-asana-phrase
        library](https://github.com/Asana/node-asana-phrase) and can be used by
        Asana support to quickly look up the incident that caused the server
        error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: >-
        This usually occurs because of a missing or malformed parameter. Check
        the documentation and the syntax of your request and try again.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: >-
        A valid authentication token was not provided with the request, so the
        API could not associate a user with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PaymentRequired:
      description: >-
        The request was valid, but the queried object or object mutation
        specified in the request is above your current premium level.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: >-
        The authentication and request syntax was valid but the server is
        refusing to complete the request. This can happen if you try to read or
        write to objects or properties that the user does not have access to.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: >-
        Either the request method and path supplied do not specify a known
        action in the API, or the object specified by the request does not
        exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: >-
        You have exceeded one of the enforced rate limits in the API. See the
        [documentation on rate
        limiting](https://developers.asana.com/docs/#rate-limits)
        for more information.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: >-
        There was a problem on Asana’s end.
        In the event of a server error the response body should contain an error
        phrase. These phrases can be used by Asana support to quickly look up the
        incident that caused the server error.
        Some errors are due to server load, and will not supply an error phrase.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: >-
        There is an issue between the load balancers and Asana's API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: >-
        Either the upstream service is unavailable to the API, or he API has been
        intentionally shut off.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    GatewayTimeout:
      description: >-
        This request took too long to complete.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    AsanaResource:
      description: >-
        A generic Asana Resource, containing a globally unique identifier.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: task
          x-insert-after: gid
    AsanaNamedResource:
      allOf:
        - $ref: '#/components/schemas/AsanaResource'
        - type: object
          properties:
            name:
              description: The name of the object.
              type: string
              example: Bug Task
    AttachmentRequest:
      type: object
      properties:
        resource_subtype:
          description: >
            The type of the attachment. Must be one of the [given values](/docs/attachment).
            If not specified, a file attachment of type `asana_file_attachments`
            will be assumed. Note that if the value of `resource_subtype` is `external`,
            a
            `parent`, `name`, and `url` must also be provided.
          type: string
          example: external
          enum:
            - asana_file_attachments
            - external
        file:
          description: >
            Required for file attachments.
          type: string
          format: binary
        parent:
          description: >
            Globally unique identifier of the parent task, as a string. Required for
            attachments of type `external`.
          type: string
        url:
          description: >
            The URL of the external resource being attached. Required for
            attachments of type `external`.
          type: string
        name:
          description: >
            The name of the external resource being attached. Required for
            attachments of type `external`.
          type: string
    AttachmentResponse:
      allOf:
        - $ref: '#/components/schemas/AttachmentBase'
        - type: object
          properties:
            created_at:
              description: The time at which this resource was created.
              type: string
              format: date-time
              readOnly: true
              example: '2012-02-22T02:06:58.147Z'
            download_url:
              description: >-
                The URL containing the content of the attachment.

                *Note:* May be null if the attachment is hosted by
                [Box](https://www.box.com/) and will be null if the attachment
                is a Video Message hosted by [Vimeo](https://vimeo.com/). If
                present, this URL may only be valid for two minutes from the
                time of retrieval. You should avoid persisting this URL somewhere
                and just refresh it on demand to ensure you do not keep stale URLs.
              type: string
              format: uri
              readOnly: true
              nullable: true
              example: https://s3.amazonaws.com/assets/123/Screenshot.png
            host:
              description: >-
                The service hosting the attachment. Valid values are `asana`,
                `dropbox`, `gdrive`, `box`, and `vimeo`.
              type: string
              readOnly: true
              example: dropbox
            parent:
              allOf:
                - $ref: '#/components/schemas/TaskCompact'
                - type: object
                  description: The task this attachment is attached to.
                  readOnly: true
            view_url:
              description: >-
                The URL where the attachment can be viewed, which may be
                friendlier to users in a browser than just directing them to a raw
                file. May be null if no view URL exists for the service.
              type: string
              format: uri
              readOnly: true
              nullable: true
              example: https://www.dropbox.com/s/123/Screenshot.png
    AttachmentBase:
      $ref: '#/components/schemas/AttachmentCompact'
    AttachmentCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaResource'
        - type: object
          description: >-
            An *attachment* object represents any file attached to a task in
            Asana, whether it’s an uploaded file or one associated via a
            third-party service such as Dropbox or Google Drive.
          x-docs-overrides:
            properties.resource_type.example: attachment
          properties:
            name:
              description: The name of the file.
              type: string
              readOnly: true
              example: Screenshot.png
            resource_subtype:
              description: >-
                The service hosting the attachment. Valid values are `asana`,
                `dropbox`, `gdrive`, `onedrive`, `box`, `vimeo`, and `external`.
              type: string
              example: dropbox
    AuditLogEventActor:
      description: >-
        The entity that triggered the event. Will typically be a user.
      type: object
      properties:
        actor_type:
          description: >-
            The type of actor.

            Can be one of `user`, `asana`, `asana_support`, `anonymous`, or `external_administrator`.
          type: string
          enum:
            - user
            - asana
            - asana_support
            - anonymous
            - external_administrator
          example: user
        gid:
          description: >-
            Globally unique identifier of the actor, if it is a user.
          type: string
          example: '1111'
        name:
          description: The name of the actor, if it is a user.
          type: string
          example: Greg Sanchez
        email:
          description: The email of the actor, if it is a user.
          type: string
          example: gregsanchez@example.com
    AuditLogEventContext:
      description: The context from which this event originated.
      type: object
      properties:
        context_type:
          description: >-
            The type of context.

            Can be one of `web`, `desktop`, `mobile`, `asana_support`, `asana`, `email`,
            or `api`.
          type: string
          enum:
            - web
            - desktop
            - mobile
            - asana_support
            - asana
            - email
            - api
          example: web
        api_authentication_method:
          description: >-
            The authentication method used in the context of an API request.

            Only present if the `context_type` is `api`. Can be one of `cookie`, `oauth`,
            `personal_access_token`, or `service_account`.
          type: string
          enum:
            - cookie
            - oauth
            - personal_access_token
            - service_account
        client_ip_address:
          description: The IP address of the client that initiated the event, if applicable.
          type: string
          example: 1.1.1.1
        user_agent:
          description: The user agent of the client that initiated the event, if applicable.
          type: string
          example: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like
            Gecko) Chrome/51.0.2704.103 Safari/537.36
        oauth_app_name:
          description: >-
            The name of the OAuth App that initiated the event.

            Only present if the `api_authentication_method` is `oauth`.
          type: string
    AuditLogEventDetails:
      description: Event specific details. The schema will vary depending on the `event_type`.
      type: object
    AuditLogEventResource:
      description: The primary object that was affected by this event.
      type: object
      properties:
        resource_type:
          description: The type of resource.
          type: string
          example: task
        resource_subtype:
          description: The subtype of resource. Most resources will not have a subtype.
          type: string
          example: milestone
        gid:
          description: Globally unique identifier of the resource.
          type: string
          example: '1111'
        name:
          description: The name of the resource.
          type: string
          example: Example Task
        email:
          description: The email of the resource, if applicable.
          type: string
    AuditLogEvent:
      description: >-
        An object representing a single event within an Asana domain.


        Every audit log event is comprised of an `event_type`, `actor`, `resource`,
        and `context`.
        Some events will include additional metadata about the event under `details`.
        See our [currently supported list of events](/docs/supported-auditlogevents)
        for more details.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the `AuditLogEvent`, as a string.
          type: string
          example: '12345'
          x-insert-after: false
        created_at:
          description: The time the event was created.
          type: string
          format: date-time
          example: '2021-01-01T00:00:00.000Z'
        event_type:
          description: The type of the event.
          type: string
          example: task_deleted
        event_category:
          description: The category that this `event_type` belongs to.
          type: string
          example: deletion
        actor:
          allOf:
            - $ref: '#/components/schemas/AuditLogEventActor'
        resource:
          allOf:
            - $ref: '#/components/schemas/AuditLogEventResource'
        details:
          allOf:
            - $ref: '#/components/schemas/AuditLogEventDetails'
        context:
          allOf:
            - $ref: '#/components/schemas/AuditLogEventContext'
    BatchRequest:
      description: A request object for use in a batch request.
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/BatchRequestAction'
    BatchRequestAction:
      description: An action object for use in a batch request.
      type: object
      properties:
        relative_path:
          description: >-
            The path of the desired endpoint relative to the API’s base URL. Query
            parameters are not accepted here; put them in `data` instead.
          type: string
          example: /tasks/123
        method:
          description: The HTTP method you wish to emulate for the action.
          type: string
          enum:
            - get
            - post
            - put
            - delete
            - patch
            - head
          example: get
        data:
          description: >-
            For `GET` requests, this should be a map of query parameters you would
            have normally passed in the URL. Options and pagination are not
            accepted here; put them in `options` instead. For `POST`, `PATCH`, and
            `PUT` methods, this should be the content you would have normally put
            in the data field of the body.
          type: object
          example:
            assignee: me
            workspace: '1337'
        options:
          description: >-
            Pagination (`limit` and `offset`) and output options (`fields` or
            `expand`) for the action. “Pretty” JSON output is not an available
            option on individual actions; if you want pretty output, specify that
            option on the parent request.
          type: object
          properties:
            limit:
              description: Pagination limit for the request.
              type: integer
              example: 50
            offset:
              description: Pagination offset for the request.
              type: integer
              example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
            fields:
              description: The fields to retrieve in the request.
              type: array
              items:
                type: string
              example:
                - name
                - gid
                - notes
                - completed
          example:
            limit: 3
            fields:
              - name
              - notes
              - completed
      required:
        - relative_path
        - method
    BatchResponse:
      description: A response object returned from a batch request.
      type: object
      properties:
        status_code:
          description: The HTTP status code that the invoked endpoint returned.
          type: integer
          example: 200
        headers:
          description: >-
            A map of HTTP headers specific to this result. This is primarily used
            for returning a `Location` header to accompany a `201 Created`
            result.  The parent HTTP response will contain all common headers.
          type: object
          example:
            location: /tasks/1234
        body:
          description: The JSON body that the invoked endpoint returned.
          type: object
          example:
            data:
              gid: '1967'
              completed: false
              name: Hello, world!
              notes: How are you today?
    CustomFieldResponse:
      allOf:
        - $ref: '#/components/schemas/CustomFieldBase'
        - type: object
          properties:
            enum_value:
              allOf:
                - $ref: '#/components/schemas/EnumOption'
                - type: object
                  description: >-
                    *Conditional*. Only relevant for custom fields of type
                    `enum`. This object is the chosen value of an enum custom
                    field.
            multi_enum_values:
              description: >-
                *Conditional*. Only relevant for custom fields of type
                `multi_enum`. This object is the chosen values of a multi_enum custom
                field.
              type: array
              items:
                $ref: '#/components/schemas/EnumOption'
            created_by:
              $ref: '#/components/schemas/UserCompact'
    CustomFieldRequest:
      allOf:
        - $ref: '#/components/schemas/CustomFieldBase'
        - type: object
          required:
            - workspace
          properties:
            workspace:
              type: string
              description: >-
                *Create-Only* The workspace to create a custom field in.
              example: '1331'
    CustomFieldBase:
      allOf:
        - $ref: '#/components/schemas/CustomFieldCompact'
        - type: object
          properties:
            description:
              description: >-
                [Opt
                In](/docs/input-output-options).
                The description of the custom field.
              type: string
              example: Development team priority
            enum_options:
              description: >-
                *Conditional*. Only relevant for custom fields of type `enum`.
                This array specifies the possible values which an `enum` custom
                field can adopt. To modify the enum options, refer to [working
                with enum
                options](/docs/create-an-enum-option).
              type: array
              items:
                $ref: '#/components/schemas/EnumOption'
            precision:
              description: >-
                Only relevant for custom fields of type ‘Number’. This field
                dictates the number of places after the decimal to round to, i.e.
                0 is integer values, 1 rounds to the nearest tenth, and so on.
                Must be between 0 and 6, inclusive.

                For percentage format, this may be unintuitive, as a value of 0.25
                has a precision of 0, while a value of 0.251 has a precision of 1.
                This is due to 0.25 being displayed as 25%.

                The identifier format will always have a precision of 0.
              type: integer
              example: 2
            format:
              description: >-
                The format of this custom field.
              type: string
              enum:
                - currency
                - identifier
                - percentage
                - custom
                - none
              example: custom
            currency_code:
              description: >-
                ISO 4217 currency code to format this custom field. This will be
                null if the `format` is not `currency`.
              type: string
              nullable: true
              example: EUR
            custom_label:
              description: >-
                This is the string that appears next to the custom field value.
                This will be null if the `format` is not `custom`.
              type: string
              nullable: true
              example: gold pieces
            custom_label_position:
              description: >-
                Only relevant for custom fields with `custom` format. This depicts
                where to place the custom label. This will be null if the `format`
                is not `custom`.
              type: string
              enum:
                - prefix
                - suffix
              example: suffix
            is_global_to_workspace:
              description: >-
                This flag describes whether this custom field is available to
                every container in the workspace. Before project-specific custom
                fields, this field was always true.
              type: boolean
              example: true
              readOnly: true
            has_notifications_enabled:
              description: >-
                *Conditional*. This flag describes whether a follower of a task
                with this field should receive inbox notifications from changes
                to this field.
              type: boolean
              example: true
    CustomFieldCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaResource'
        - type: object
          description: >-
            Custom Fields store the metadata that is used in order to
            add user-specified information to tasks in Asana. Be sure
            to reference the [Custom Fields](/docs/asana-custom-fields)
            developer documentation for more information about how custom fields
            relate to various resources in Asana.


            Users in Asana can [lock custom fields](https://asana.com/guide/help/premium/custom-fields#gl-lock-fields),
            which will make them read-only when accessed by other users.
            Attempting to edit a locked custom field will return HTTP error code
            `403 Forbidden`.
          x-docs-overrides:
            properties.resource_type.example: custom_field
          properties:
            name:
              description: The name of the custom field.
              type: string
              example: Status
            resource_subtype:
              description: >
                The type of the custom field. Must be one of the given values.
              type: string
              example: text
              enum:
                - text
                - enum
                - multi_enum
                - number
            type:
              description: >
                *Deprecated: new integrations should prefer the resource_subtype
                field.* The type of the custom field. Must be one of the given
                values.
              type: string
              readOnly: true
              enum:
                - text
                - enum
                - multi_enum
                - number
            enum_options:
              description: >-
                *Conditional*. Only relevant for custom fields of type `enum`.
                This array specifies the possible values which an `enum` custom
                field can adopt. To modify the enum options, refer to [working
                with enum
                options](/docs/create-an-enum-option).
              type: array
              items:
                $ref: '#/components/schemas/EnumOption'
            enabled:
              description: >-
                *Conditional*. Determines if the custom field is enabled or not.
              type: boolean
              example: true
            number_value:
              description: >-
                *Conditional*. This number is the value of a number custom field.
              type: number
              example: 5.2
            text_value:
              description: >-
                *Conditional*. This string is the value of a text custom field.
              type: string
              example: Some Value
            display_value:
              description: >-
                A string representation for the value of the custom field.
                Integrations that don't require the underlying type should
                use this field to read values. Using this field will future-proof
                an app against new custom field types.
              type: string
              readOnly: true
              example: blue
    CustomFieldSettingResponse:
      allOf:
        - $ref: '#/components/schemas/CustomFieldSettingBase'
        - type: object
          properties:
            project:
              allOf:
                - $ref: '#/components/schemas/ProjectCompact'
                - type: object
                  description: >-
                    *Deprecated: new integrations should prefer the `parent`
                    field.* The id of the project that this custom field settings
                    refers to.
                  readOnly: true
            is_important:
              description: >-
                `is_important` is used in the Asana web application to determine
                if this custom field is displayed in the list/grid view of a project
                or portfolio.
              type: boolean
              readOnly: true
              example: false
            parent:
              allOf:
                - $ref: '#/components/schemas/ProjectCompact'
                - type: object
                  description: >-
                    The parent to which the custom field is applied. This can be a
                    project or portfolio and indicates that the tasks or projects
                    that the parent contains may be given custom field values for
                    this custom field.
                  readOnly: true
            custom_field:
              allOf:
                - $ref: '#/components/schemas/CustomFieldResponse'
                - type: object
                  description: >-
                    The custom field that is applied to the `parent`.
                  readOnly: true
    CustomFieldSettingBase:
      $ref: '#/components/schemas/CustomFieldSettingCompact'
    CustomFieldSettingCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaResource'
        - type: object
          description: >-
            Custom Fields Settings objects represent the many-to-many join of the
            Custom Field and Project as well as stores information that is
            relevant to that particular pairing.
          x-docs-overrides:
            properties.resource_type.example: custom_field_setting
    ModifyDependenciesRequest:
      type: object
      properties:
        dependencies:
          description: An array of task gids that a task depends on.
          type: array
          items:
            type: string
      example:
        dependencies:
          - '133713'
          - '184253'
    ModifyDependentsRequest:
      description: A set of dependent tasks.
      type: object
      properties:
        dependents:
          description: An array of task gids that are dependents of the given task.
          type: array
          items:
            type: string
      example:
        dependents:
          - '133713'
          - '184253'
    EmptyResponse:
      type: object
      description: >-
        An empty object. Some endpoints do not return an object on success. The
        success is conveyed through a 2-- status code and returning an empty
        object.
    EnumOptionRequest:
      allOf:
        - $ref: '#/components/schemas/EnumOptionBase'
        - type: object
          properties:
            insert_before:
              type: string
              description: >-
                An existing enum option within this custom field
                before which the new enum option should be
                inserted. Cannot be provided together with
                after_enum_option.
              example: '12345'
            insert_after:
              type: string
              description: >-
                An existing enum option within this custom field
                after which the new enum option should be inserted.
                Cannot be provided together with
                before_enum_option.
              example: '12345'
    EnumOptionBase:
      $ref: '#/components/schemas/EnumOption'
    EnumOption:
      allOf:
        - $ref: '#/components/schemas/AsanaResource'
        - type: object
          description: >-
            Enum options are the possible values which an enum custom field can
            adopt. An enum custom field must contain at least 1 enum option but no
            more than 50.


            You can add enum options to a custom field by using the `POST
            /custom_fields/custom_field_gid/enum_options` endpoint.


            **It is not possible to remove or delete an enum option**. Instead,
            enum options can be disabled by updating the `enabled` field to false
            with the `PUT /enum_options/enum_option_gid` endpoint. Other
            attributes can be updated similarly.


            On creation of an enum option, `enabled` is always set to `true`,
            meaning the enum option is a selectable value for the custom field.
            Setting `enabled=false` is equivalent to “trashing” the enum option in
            the Asana web app within the “Edit Fields” dialog. The enum option
            will no longer be selectable but, if the enum option value was
            previously set within a task, the task will retain the value.


            Enum options are an ordered list and by default new enum options are
            inserted at the end. Ordering in relation to existing enum options can
            be specified on creation by using `insert_before` or `insert_after` to
            reference an existing enum option. Only one of `insert_before` and
            `insert_after` can be provided when creating a new enum option.


            An enum options list can be reordered with the `POST
            /custom_fields/custom_field_gid/enum_options/insert` endpoint.
          x-docs-overrides:
            properties.resource_type.example: enum_option
          properties:
            name:
              description: The name of the enum option.
              type: string
              example: Low
            enabled:
              description: >-
                Whether or not the enum option is a selectable value for the
                custom field.
              type: boolean
              example: true
            color:
              description: >-
                The color of the enum option. Defaults to ‘none’.
              type: string
              example: blue
    EnumOptionInsertRequest:
      type: object
      required:
        - enum_option
      properties:
        enum_option:
          type: string
          description: The gid of the enum option to relocate.
          example: '97285'
        before_enum_option:
          type: string
          description: >-
            An existing enum option within this custom field
            before which the new enum option should be
            inserted. Cannot be provided together with
            after_enum_option.
          example: '12345'
        after_enum_option:
          type: string
          description: >-
            An existing enum option within this custom field
            after which the new enum option should be inserted.
            Cannot be provided together with
            before_enum_option.
          example: '12345'
    ErrorResponse:
      description: |-
        Sadly, sometimes requests to the API are not successful. Failures can
        occur for a wide range of reasons. In all cases, the API should return
        an HTTP Status Code that indicates the nature of the failure,
        with a response body in JSON format containing additional information.


        In the event of a server error the response body will contain an error
        phrase. These phrases are automatically generated using the
        [node-asana-phrase
        library](https://github.com/Asana/node-asana-phrase) and can be used by
        Asana support to quickly look up the incident that caused the server
        error.
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        message:
          type: string
          readOnly: true
          description: >-
            Message providing more detail about the error that occurred, if
            available.
          example: 'project: Missing input'
        help:
          type: string
          readOnly: true
          description: >-
            Additional information directing developers to resources on how
            to address and fix the problem, if available.
          example: >-
            For more information on API status codes and how to handle them,
            read the docs on errors:
            https://asana.github.io/developer-docs/#errors'
        phrase:
          type: string
          readOnly: true
          description: >-
            *500 errors only*. A unique error phrase which can be used
            when contacting developer support to help identify the exact
            occurrence of the problem in Asana’s logs.
          example: 6 sad squid snuggle softly
    EventResponse:
      description: |-
        An *event* is an object representing a change to a resource that was
        observed by an event subscription or delivered asynchronously to
        the target location of an active webhook.

        The event may be triggered by a different `user` than the
        subscriber. For example, if user A subscribes to a task and user B
        modified it, the event’s user will be user B. Note: Some events
        are generated by the system, and will have `null` as the user. API
        consumers should make sure to handle this case.

        The `resource` that triggered the event may be different from the one
        that the events were requested for or the webhook is subscribed to. For
        example, a subscription to a project will contain events for tasks
        contained within the project.

        **Note:** pay close attention to the relationship between the fields
        `Event.action` and `Event.change.action`.
        `Event.action` represents the action taken on the resource
        itself, and `Event.change.action` represents how the information
        within the resource's fields have been modified.

        For instance, consider these scenarios:


        * When at task is added to a project, `Event.action` will be
        `added`, `Event.parent` will be on object with the `id` and
        `type` of the project, and there will be no `change` field.


        * When an assignee is set on the task, `Event.parent` will be
        `null`, `Event.action` will be `changed`,
        `Event.change.action` will be `changed`, and `changed_value` will
        be an object with the user's `id` and `type`.


        * When a collaborator is added to the task, `Event.parent` will
        be `null`, `Event.action` will be `changed`,
        `Event.change.action` will be `added`, and `added_value` will be
        an object with the user's `id` and `type`.
      type: object
      properties:
        user:
          allOf:
            - $ref: '#/components/schemas/UserCompact'
            - description: >-
                The user who triggered the event.
        resource:
          allOf:
            - $ref: '#/components/schemas/AsanaNamedResource'
            - description: >-
                The resource which has triggered the event by being modified in
                some way.
        type:
          description: >-
            *Deprecated: Refer to the resource_type of the resource.*
            The type of the resource that generated the event.
          type: string
          readOnly: true
          example: task
        action:
          description: >-
            The type of action taken on the **resource** that triggered the
            event.  This can be one of `changed`, `added`, `removed`, `deleted`,
            or `undeleted` depending on the nature of the event.
          type: string
          readOnly: true
          example: changed
        parent:
          allOf:
            - $ref: '#/components/schemas/AsanaNamedResource'
            - description: >-
                For added/removed events, the parent object that resource was
                added to or removed from. The parent will be `null` for other
                event types.
        created_at:
          description: The timestamp when the event occurred.
          type: string
          format: date-time
          readOnly: true
          example: '2012-02-22T02:06:58.147Z'
        change:
          type: object
          description: >-
            Information about the type of change that has occurred. This field
            is only present when the value of the property `action`, describing
            the action taken on the **resource**, is `changed`.
          readOnly: true
          properties:
            field:
              description: The name of the field that has changed in the resource.
              type: string
              readOnly: true
              example: assignee
            action:
              description: >-
                The type of action taken on the **field** which has been
                changed.  This can be one of `changed`, `added`, or `removed`
                depending on the nature of the change.
              type: string
              readOnly: true
              example: changed
            new_value:
              description: >-
                *Conditional.* This property is only present when the
                **field's** `action` is `changed` and the `new_value` is an
                Asana resource. This will be only the `gid` and `resource_type`
                of the resource when the events come from webhooks; this will
                be the compact representation (and can have fields expanded
                with [opt_fields](/docs/input-output-options)) when using the
                [Events](/docs/asana-events) resource.
              example:
                gid: '12345'
                resource_type: user
            added_value:
              description: >-
                *Conditional.* This property is only present when the
                **field's** `action` is `added` and the `added_value` is an
                Asana resource. This will be only the `gid` and `resource_type`
                of the resource when the events come from webhooks; this will
                be the compact representation (and can have fields expanded
                with [opt_fields](/docs/input-output-options)) when using the
                [Events](/docs/asana-events) resource.
              example:
                gid: '12345'
                resource_type: user
            removed_value:
              description: >-
                *Conditional.* This property is only present when the
                **field's** `action` is `removed` and the `removed_value` is an
                Asana resource. This will be only the `gid` and `resource_type`
                of the resource when the events come from webhooks; this will
                be the compact representation (and can have fields expanded
                with [opt_fields](/docs/input-output-options)) when using the
                [Events](/docs/asana-events) resource.
              example:
                gid: '12345'
                resource_type: user
    GoalResponse:
      allOf:
        - $ref: '#/components/schemas/GoalBase'
        - type: object
          properties:
            likes:
              description: >-
                Array of likes for users who have liked this goal.
              type: array
              items:
                $ref: '#/components/schemas/Like'
              readOnly: true
            num_likes:
              description: >-
                The number of users who have liked this goal.
              type: integer
              readOnly: true
              example: 5
            team:
              allOf:
                - $ref: '#/components/schemas/TeamCompact'
                - type: object
                  nullable: true
              description: >-
                *Conditional*. This property is only present when the `workspace`
                provided is an organization.
            workspace:
              allOf:
                - $ref: '#/components/schemas/WorkspaceCompact'
                - type: object
            followers:
              type: array
              items:
                $ref: '#/components/schemas/UserCompact'
              description: >-
                Array of users following this goal.
            time_period:
              allOf:
                - $ref: '#/components/schemas/TimePeriodCompact'
                - type: object
                  nullable: true
            metric:
              allOf:
                - $ref: '#/components/schemas/GoalMetricBase'
                - type: object
                  nullable: true
            owner:
              allOf:
                - $ref: '#/components/schemas/UserCompact'
                - type: object
                  nullable: true
    GoalRequest:
      allOf:
        - $ref: '#/components/schemas/GoalBase'
        - type: object
          properties:
            team:
              type: string
              description: >-
                *Conditional*. This property is only present when the `workspace`
                provided is an organization.
              example: '12345'
              nullable: true
            workspace:
              type: string
              description: >-
                The `gid` of a workspace.
              example: '12345'
            followers:
              type: array
              items:
                type: string
                description: >-
                  The `gid` of a user.
              example:
                - '12345'
            time_period:
              type: string
              description: >-
                The `gid` of a time period.
              example: '12345'
              nullable: true
            owner:
              type: string
              description: >-
                The `gid` of a user.
              example: '12345'
              nullable: true
    GoalBase:
      allOf:
        - $ref: '#/components/schemas/AsanaResource'
        - type: object
          x-docs-overrides:
            properties.resource_type.example: goal
          properties:
            name:
              type: string
              description: The name of the goal.
              example: Grow web traffic by 30%
            html_notes:
              type: string
              description: >-
                The notes of the goal with formatting as HTML.
              example: <body>Start building brand awareness.</body>
            notes:
              type: string
              description: >-
                Free-form textual information associated with the
                goal (i.e. its description).
              example: Start building brand awareness.
            due_on:
              type: string
              description: >-
                The localized day on which this goal is due. This takes a
                date with format `YYYY-MM-DD`.
              example: '2019-09-15'
              nullable: true
            start_on:
              type: string
              description: >-
                The day on which work for this goal begins, or null if the
                goal has no start date. This takes a date with `YYYY-MM-DD`
                format, and cannot be set unless there is an accompanying due date.
              example: '2019-09-14'
              nullable: true
            status:
              type: string
              description: >-
                The current status of this goal. When the goal is open, its status
                can be `green`, `yellow`, and `red` to reflect "On Track", "At Risk",
                and "Off Track", respectively. When the goal is closed, the value
                can be `missed`, `achieved`, `partial`, or `dropped`.

                *Note* you can only write to this property if `metric` is set.
              example: green
              nullable: true
            is_workspace_level:
              type: boolean
              description: >-
                *Conditional*. This property is only present when the `workspace`
                provided is an organization. Whether the goal belongs to the `workspace`
                (and is listed as part of the workspace’s goals) or not. If it isn’t
                a workspace-level goal, it is a team-level goal, and is associated
                with the goal’s team.
              example: true
            liked:
              type: boolean
              description: >-
                True if the goal is liked by the authorized user, false if not.
              example: false
    GoalCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaResource'
        - type: object
          x-docs-overrides:
            properties.resource_type.example: goal
          properties:
            name:
              type: string
              description: The name of the goal.
              example: Grow web traffic by 30%
            owner:
              allOf:
                - $ref: '#/components/schemas/UserCompact'
                - type: object
                  nullable: true
    GoalMetricCurrentValueRequest:
      allOf:
        - $ref: '#/components/schemas/AsanaResource'
        - type: object
          properties:
            current_number_value:
              description: >-
                *Conditional*. This number is the current value of a goal metric of
                type number.
              type: number
              example: 8.12
    GoalMetricRequest:
      $ref: '#/components/schemas/GoalMetricBase'
    GoalMetricBase:
      allOf:
        - $ref: '#/components/schemas/AsanaResource'
        - type: object
          properties:
            resource_subtype:
              description: >-
                The subtype of this resource. Different subtypes retain many of the
                same fields and behavior, but may render differently in Asana or
                represent resources with different semantic meaning.
              type: string
              readOnly: true
              example: number
              enum:
                - number
            precision:
              description: >-
                *Conditional*. Only relevant for goal metrics of type ‘Number’. This
                field
                dictates the number of places after the decimal to round to, i.e.
                0 is integer values, 1 rounds to the nearest tenth, and so on.
                Must be between 0 and 6, inclusive.

                For percentage format, this may be unintuitive, as a value of 0.25
                has a precision of 0, while a value of 0.251 has a precision of 1.
                This is due to 0.25 being displayed as 25%.
              type: integer
              example: 2
            unit:
              description: >-
                A supported unit of measure for the goal metric, or none.
              type: string
              enum:
                - none
                - currency
                - percentage
            currency_code:
              description: >-
                ISO 4217 currency code to format this custom field. This will be
                null if the `unit` is not `currency`.
              type: string
              nullable: true
              example: EUR
            initial_number_value:
              description: >-
                This number is the start value of a goal metric of
                type number.
              type: number
              example: 5.2
            target_number_value:
              description: >-
                This number is the end value of a goal metric of
                type number. This number cannot equal `initial_number_value`.
              type: number
              example: 10.2
            current_number_value:
              description: >-
                This number is the current value of a goal metric of
                type number.
              type: number
              example: 8.12
            current_display_value:
              description: >-
                This string is the current value of a goal metric of
                type string.
              type: string
              readOnly: true
              example: '8.12'
    GoalAddSubgoalRequest:
      type: object
      required:
        - subgoal
      properties:
        subgoal:
          description: >-
            The goal gid to add as subgoal to a parent goal
          type: string
          example: '1331'
        insert_before:
          description: >-
            An id of a subgoal of this parent goal. The new
            subgoal will be added before the one specified here.
            `insert_before` and `insert_after` parameters cannot both
            be specified.
          type: string
          example: '1331'
        insert_after:
          description: >-
            An id of a subgoal of this parent goal. The new
            subgoal will be added after the one specified here.
            `insert_before` and `insert_after` parameters cannot both
            be specified.
          type: string
          example: '1331'
    GoalRemoveSubgoalRequest:
      type: object
      required:
        - subgoal
      properties:
        subgoal:
          description: >-
            The goal gid to remove as subgoal from the parent goal
          type: string
          example: '1331'
    GoalAddSupportingWorkRequest:
      type: object
      required:
        - supporting_work
      properties:
        supporting_work:
          description: >-
            The project/portfolio gid to add as supporting work for a goal
          type: string
          example: '1331'
    JobResponse:
[...]
