openapi: 3.0.1
info:
  title: 'BeezUP Merchant API '
  description: "# The REST API of BeezUP system\n## Overview\nThe REST APIs provide\
    \ programmatic access to read and write BeezUP data. \nBasically, with this API\
    \ you will be able to do everything like you were with your browser on https://go.beezup.com\
    \ !\n\nThe main features are:\n- Register and manage your account\n- Create and\
    \ manage and share your stores with your friends/co-workers.\n- Import your product\
    \ catalog and schedule the auto importation\n- Search the channels your want to\
    \ use\n- Configure your channels for your catalogs to export your product information:\n\
    \    - cost and general settings\n    - category and columns mappings\n    - your\
    \ will be able to create and manage your custom column\n    - put in place exlusion\
    \ filters based on simple conditions on your product data\n    - override product\
    \ values\n    - get product vision for a channel catalog scope\n- Analyze and\
    \ optimize your performance of your catalogs on all yours channels with different\
    \ type of reportings by day, channel, category and by product.\n- Automatize your\
    \ optimisation by using rules!\n- And of course... Manage your orders harvested\
    \ from all your marketplaces:\n    - Synchronize your orders in an uniformized\
    \ way\n    - Get the available actions and update the order status\n- ...and more!\n\
    \n## Authentication credentials\nThe public API with the base path **/v2/public**\
    \ have been put in place to give you an entry point to our system for the user\
    \ registration, login and lost password. The public API does not require any credentials.\n\
    We give you the some public list of values and public channels for our public\
    \ commercial web site [www.beezup.com](http://www.beezup.com).\n\nThe user API\
    \ with the base path **/v2/user** requires a token which is available on this\
    \ page:\nhttps://go.beezup.com/Account/MyAccount\n\n## Things to keep in mind\n\
    ### API Rate Limits\n- The BeezUP REST API is limited to 100 calls/minute.\n\n\
    ### Media type\nThe default media type for requests and responses is application/json.\
    \ Where noted, some operations support other content types. If no additional content\
    \ type is mentioned for a specific operation, then the media type is application/json.\n\
    \n### Required content type\nThe required and default encoding for the request\
    \ and responses is UTF8.\n\n### Required date time format\nAll our date time are\
    \ formatted in ISO 8601 format: 2014-06-24T16:25:00Z.\n\n### Base URL\nThe Base\
    \ URL of the BeezUP API Order Management REST API conforms to the following template.\n\
    \nhttps://api.beezup.com\n\nAll URLs returned by the BeezUP API are relative to\
    \ this base URL, and all requests to the REST API must use this base URL template.\n\
    \nYou can test our API on https://api-docs.beezup.com/swagger-ui\\\\\nYou can\
    \ contact us on [gitter, #BeezUP/API](https://gitter.im/BeezUP/API)"
  contact:
    email: help@beezup.com
  license:
    name: BeezUP
    url: https://www.beezup.com/
  version: "2.0"
  x-logo:
    url: https://avatars0.githubusercontent.com/u/25665430
    backgroundColor: '#FFFFFF'
externalDocs:
  description: Find the documentation for BeezUP's API here
  url: https://api-docs.beezup.com/
servers:
- url: https://api.beezup.com/
tags:
- name: Public - Security - Security
  x-displayName: Security
- name: Public - Channels - Public Channels
  x-displayName: Public Channels
- name: Public - List of Values - LOV
  x-displayName: LOV
- name: User - List of Values - LOV
  x-displayName: LOV
- name: Customer - Global
  x-displayName: Global
- name: Customer - Account
  x-displayName: Account
- name: Customer - Security
  x-displayName: Security
- name: Customer - Stores
  x-displayName: Stores
- name: Customer - Shares
  x-displayName: Shares
- name: Customer - Alerts
  x-displayName: Alerts
- name: Customer - Rights
  x-displayName: Rights
- name: Customer - Friends
  x-displayName: Friends
- name: Customer - Contracts
  x-displayName: Contracts
- name: Customer - Invoices
  x-displayName: Invoices
- name: Catalogs - Auto
  x-displayName: Auto
- name: Catalogs - Global
  x-displayName: Global
- name: Catalogs - Importation Process
  x-displayName: Importation Process
- name: Catalogs - Importation Catalog Info
  x-displayName: Importation Catalog Info
- name: Catalogs - Catalog
  x-displayName: Catalog
- name: Channels - Channels Global
  x-displayName: Channels Global
- name: Channel Catalogs - Global
  x-displayName: Global
- name: Channel Catalogs - Settings
  x-displayName: Settings
- name: Channel Catalogs - Column Mappings
  x-displayName: Column Mappings
- name: Channel Catalogs - Categories
  x-displayName: Categories
- name: Channel Catalogs - Exclusion Filters
  x-displayName: Exclusion Filters
- name: Channel Catalogs - Products
  x-displayName: Products
- name: Channel Catalogs - Products Overrides
  x-displayName: Products Overrides
- name: Channel Catalogs - Products Optimisation
  x-displayName: Products Optimisation
- name: Channel Catalogs - Exportations
  x-displayName: Exportations
- name: Marketplaces - Channel catalogs - Global
  x-displayName: Global
- name: Marketplaces - Channel catalogs - Publications
  x-displayName: Publications
- name: Marketplaces - Channel catalogs - Settings
  x-displayName: Settings
- name: Marketplaces - Orders - Global
  x-displayName: Global
- name: Marketplaces - Orders - AutoTransitions
  x-displayName: AutoTransitions
- name: Marketplaces - Orders - List
  x-displayName: List
- name: Marketplaces - Orders - Order
  x-displayName: Order
- name: Marketplaces - Orders - Batches
  x-displayName: Batches
- name: Marketplaces - Orders - Exports
  x-displayName: Exports
- name: Marketplaces - Orders V3 - Global
  x-displayName: Global
- name: Marketplaces - Orders V3 - List
  x-displayName: List
- name: Marketplaces - Orders V3 - Order
  x-displayName: Order
- name: Marketplaces - Orders V3 - Batches
  x-displayName: Batches
- name: Marketplaces - Orders - Subscriptions - Subscriptions
  x-displayName: Subscriptions
- name: OM Invoice - API - Settings
  x-displayName: Settings
- name: OM Invoice - API - Generation
  x-displayName: Generation
- name: Analytics - Global
  x-displayName: Global
- name: Analytics - Tracking
  x-displayName: Tracking
- name: Analytics - Statistics
  x-displayName: Statistics
- name: Analytics - Optimisations
  x-displayName: Optimisations
- name: Analytics - Reports
  x-displayName: Reports
- name: Analytics - Rules
  x-displayName: Rules
- name: Channel Catalogs - Legacy Tracking - Global
  x-displayName: Global
paths:
  /v2/public/security/login:
    post:
      tags:
      - Public - Security - Security
      summary: Login
      description: User Login - The login will give your tokens
      operationId: Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/loginRequest'
        required: true
      responses:
        200:
          description: Your tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiCredentials'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        403:
          description: Invalid credentials
          content: {}
        500:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/public/security/register:
    post:
      tags:
      - Public - Security - Security
      summary: User Registration
      description: User Registration - Create a new user on BeezUP
      operationId: Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerRequest'
        required: true
      responses:
        204:
          description: Customer registered
          content: {}
        400:
          description: Email or password is invalid. Disposable email are refused.
          content: {}
        409:
          description: Email already used
          content: {}
        500:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/public/security/lostpassword:
    post:
      tags:
      - Public - Security - Security
      summary: Lost password
      description: Lost password - Your password will be regenerated and sent to your
        email
      operationId: LostPassword
      requestBody:
        description: Your email
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeezUP.Common.Email'
        required: true
      responses:
        204:
          description: New password sent
          content: {}
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        404:
          description: Email not found
          content: {}
        500:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        502:
          description: Problem with SMTP service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: email
  /v2/public/channels/:
    get:
      tags:
      - Public - Channels - Public Channels
      summary: Get public channel index
      description: Use this operation to get the correct link to the channels and
        to the list of values
      operationId: GetChannelsIndex
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: Channel list regrouped by country and links to list of values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publicChannelIndex'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/public/channels/{countryIsoCode}:
    get:
      tags:
      - Public - Channels - Public Channels
      summary: The channel list for one country
      operationId: GetChannels
      parameters:
      - name: countryIsoCode
        in: path
        description: |
          The country iso code alpha 3 based on this: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3#Decoding_table \
          To know which country are available you have to use the operation: GetChannelsByCountry
        required: true
        schema:
          type: string
      - name: Accept-Encoding
        in: header
        description: Allows the client to indicate whether it accepts a compressed
          encoding to reduce traffic size.
        required: true
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: The channel list for one country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publicChannelInfoList'
              example:
                channels:
                - name: Amazon Direct FRA
                  homeUrl: http://www.amazon.fr
                  logoUrl: http://beezupcdn.blob.core.windows.net/comparators/Amazon%2520Direct%2520FRA.png
                  types:
                  - Marketplace
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        404:
          description: Channel country not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/public/lov/:
    get:
      tags:
      - Public - List of Values - LOV
      summary: Get all list names
      operationId: GetPublicLovIndex
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: Get the list names
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                type: array
                items:
                  type: string
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publicLovIndex'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you can keep your version.
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                type: array
                items:
                  type: string
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/public/lov/{listName}:
    get:
      tags:
      - Public - List of Values - LOV
      summary: Get the list of values related to this list name
      operationId: GetPublicListOfValues
      parameters:
      - name: listName
        in: path
        description: The list of value name your want to get
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: Indicates that the client accepts the following languages.
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: The list of values
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                type: array
                items:
                  type: string
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
            Content-Language:
              description: Indicates the language use in the response
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publicListOfValuesResponse'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you can keep your version.
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                type: array
                items:
                  type: string
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
          content: {}
        404:
          description: List not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/lov/:
    get:
      tags:
      - User - List of Values - LOV
      summary: Get all list names
      operationId: GetUserLovIndex
      responses:
        200:
          description: Get the list names
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                type: array
                items:
                  type: string
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userLovIndex'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you can keep your version.
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                type: array
                items:
                  type: string
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/lov/{listName}:
    get:
      tags:
      - User - List of Values - LOV
      summary: Get the list of values related to this list name
      operationId: GetUserListOfValues
      parameters:
      - name: listName
        in: path
        description: The list of value name your want to get
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: Indicates that the client accepts the following languages.
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: The list of values
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                type: array
                items:
                  type: string
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
            Content-Language:
              description: Indicates the language use in the response
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userListOfValuesResponse'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you can keep your version.
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                type: array
                items:
                  type: string
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
          content: {}
        404:
          description: List not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/:
    get:
      tags:
      - Customer - Global
      summary: The index of all operations and LOV
      operationId: GetCustomerIndex
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerIndex'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/account:
    get:
      tags:
      - Customer - Account
      summary: Get user account information
      operationId: GetUserAccountInfo
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: User account information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountInfo'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/account/resendEmailActivation:
    post:
      tags:
      - Customer - Account
      summary: Resend email activation
      operationId: ResendEmailActivation
      responses:
        204:
          description: Email activation resent
          content: {}
        400:
          description: Email activation not sent because of email problem. Ensure
            that your email is the correct one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        409:
          description: Email activation not available because user account already
            activated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        429:
          description: Email activation sent recently, must retry later. (One per
            hour)
          headers:
            Retry-After:
              description: The duration in second to wait before making another request
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        502:
          description: Email activate send failed because of our email service. Ensure
            that your email is the correct one otherwise please contact our support
            if the problem persists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/account/activate:
    post:
      tags:
      - Customer - Account
      summary: Activate the user account
      operationId: ActivateUserAccount
      requestBody:
        description: The email activation id received by email.
        content:
          application/json:
            schema:
              type: string
              format: guid
        required: true
      responses:
        204:
          description: User account activated.
          content: {}
        403:
          description: Invalid email activation id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        409:
          description: User account already activated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: emailActivationId
  /v2/user/customer/account/personalInfo:
    put:
      tags:
      - Customer - Account
      summary: Save user personal information
      operationId: SavePersonalInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/personalInfo'
        required: true
      responses:
        204:
          description: User account information updated
          content: {}
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/account/companyInfo:
    put:
      tags:
      - Customer - Account
      summary: Change company information
      operationId: SaveCompanyInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/companyInfo'
        required: true
      responses:
        204:
          description: Company information saved
          content: {}
        400:
          description: Bad request or invalid VATNumber.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        403:
          description: User not found or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/account/profilePictureInfo:
    get:
      tags:
      - Customer - Account
      summary: Get profile picture information
      operationId: GetProfilePictureInfo
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: Profile picture information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profilePictureInfoResponse'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    put:
      tags:
      - Customer - Account
      summary: Change user picture information
      operationId: SaveProfilePictureInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profilePictureInfo'
        required: true
      responses:
        204:
          description: User profile picture information saved.
          content: {}
        400:
          description: BadRequest (Url invalid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        413:
          description: The picture size is too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        415:
          description: The content type of the image must be an image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/account/creditCardInfo:
    get:
      tags:
      - Customer - Account
      summary: Get credit card information
      operationId: GetCreditCardInfo
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: User credit card information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/creditCardInfoResponse'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        404:
          description: Credit Card not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        503:
          description: We are unable to get your credit card info. This is a temporary
            state. Please retry later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    put:
      tags:
      - Customer - Account
      summary: Save user credit card info
      operationId: SaveCreditCardInfo
      requestBody:
        description: Credit card info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/creditCardInfo'
        required: true
      responses:
        202:
          description: The credit card information has been accepted for processing,
            the authorization will be processed shortly.
          content: {}
        400:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        502:
          description: Communication problem with our payment service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/account/changeEmail:
    post:
      tags:
      - Customer - Account
      summary: Change user email
      operationId: ChangeEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changeEmailRequest'
        required: true
      responses:
        204:
          description: Email updated
          content: {}
        400:
          description: New email does not respect the emails's constraints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/account/changePassword:
    post:
      tags:
      - Customer - Account
      summary: Change user password
      operationId: ChangePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changePasswordRequest'
        required: true
      responses:
        204:
          description: Password updated
          content: {}
        400:
          description: Old password is invalid or the new password does not respect
            the password's constraints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/security/logout:
    post:
      tags:
      - Customer - Security
      summary: Log out the current user from go2
      description: Log out the current user from go2
      operationId: Logout
      responses:
        204:
          description: User logout
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/zendeskToken:
    get:
      tags:
      - Customer - Security
      summary: Zendesk token
      description: 'Zendesk token - Generates a JWT token to access BeezUP restricted
        Help Center in SSO as described here: https://support.zendesk.com/hc/en-us/articles/222874768-Using-restricted-Help-Center-content-with-the-Web-Widget'
      operationId: ZendeskToken
      responses:
        200:
          description: A JWT token to connect the Zendesk Web Widget
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zendeskToken'
        500:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/stores:
    get:
      tags:
      - Customer - Stores
      summary: Get store list
      operationId: GetStores
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: Store list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/storeList'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    post:
      tags:
      - Customer - Stores
      summary: Create a new store
      operationId: CreateStore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createStoreRequest'
        required: true
      responses:
        201:
          description: The store has been created successfully. The http header Location
            contains the new resource url. The body contains the link to the new resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/links.getStoreLink'
        402:
          description: The maximum amount of store has been reached. Please upgrade
            your contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseMessagePaymentRequired'
        409:
          description: The customer has a store with the same name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/stores/{storeId}:
    get:
      tags:
      - Customer - Stores
      summary: Get store's information
      operationId: GetStore
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: The store information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/store'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        404:
          description: Store not found or not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    delete:
      tags:
      - Customer - Stores
      summary: Delete a store
      operationId: DeleteStore
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      responses:
        204:
          description: Store deleted
          content: {}
        404:
          description: Store not found or customer not the owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    patch:
      tags:
      - Customer - Stores
      summary: Update some store's information.
      description: |
        Update some store's information. FYI, you cannot change the country.
      operationId: UpdateStore
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateStoreRequest'
        required: true
      responses:
        204:
          description: Store updated
          content: {}
        404:
          description: Store not found or customer not the owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        409:
          description: The store name already used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/stores/{storeId}/rights:
    get:
      tags:
      - Customer - Rights
      summary: Get store's rights
      operationId: GetRights
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      responses:
        200:
          description: The store's rights
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/functionalityRightInfo'
        404:
          description: Store not found or not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/stores/{storeId}/alerts:
    get:
      tags:
      - Customer - Alerts
      summary: Get store's alerts
      operationId: GetStoreAlerts
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: User account alerts information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/storeAlerts'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        404:
          description: Store not found or not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    post:
      tags:
      - Customer - Alerts
      summary: Save store alerts
      description: You just have to send the alert you want to update, does not need
        all alerts. (PARTIAL UPDATE ACCEPTED)
      operationId: SaveStoreAlerts
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/saveStoreAlertsRequest'
        required: true
      responses:
        204:
          description: Store alerts saved
          content: {}
        400:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        404:
          description: Store not found or not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/stores/{storeId}/shares:
    get:
      tags:
      - Customer - Shares
      summary: Get shares related to this store
      operationId: GetStoreShares
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: The sharing list of the store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/storeShares'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        404:
          description: Store not found or customer not the owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    post:
      tags:
      - Customer - Shares
      summary: Share a store to another user
      operationId: ShareStore
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      requestBody:
        description: Your friend's email
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/friendEmail'
        required: true
      responses:
        204:
          description: Store shared
          content: {}
        402:
          description: Free offer is not allowed to share store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseMessagePaymentRequired'
        404:
          description: Only the owner of the store can make this operation or user
            not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: email
  /v2/user/customer/stores/{storeId}/shares/{userId}:
    delete:
      tags:
      - Customer - Shares
      summary: Delete a share of a store to another user
      operationId: DeleteStoreShare
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: userId
        in: path
        description: The friend user id
        required: true
        schema:
          type: string
          format: guid
      responses:
        204:
          description: Share deleted
          content: {}
        404:
          description: Store not found or customer not the owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/friends/{userId}:
    get:
      tags:
      - Customer - Friends
      summary: Get friend information
      operationId: GetFriendInfo
      parameters:
      - name: userId
        in: path
        description: Your friend user id
        required: true
        schema:
          type: string
          format: guid
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: Get friend info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userFriendInfo'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/billingPeriods:
    get:
      tags:
      - Customer - Contracts
      summary: Get billing periods conditions
      operationId: GetBillingPeriods
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: Get the billing periods conditions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingPeriodList'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/offers:
    get:
      tags:
      - Customer - Contracts
      summary: Get all standard offers
      operationId: GetStandardOffers
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: Get all standard offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardOffers'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    post:
      tags:
      - Customer - Contracts
      summary: Get offer pricing
      description: |
        Get the offer pricing then you can create your contract with the same request parameters. /v2/user/customer/contracts
      operationId: GetOffer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/offerRequest'
        required: true
      responses:
        200:
          description: Get the offer proposal considering your current contract
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/offer'
        400:
          description: Bad request. (Invalid billing period, invalid offer, etc.).
            You cannot get a pricing for a free offer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        403:
          description: You current contract is not modifiable. Please choose another
            offer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/contracts:
    get:
      tags:
      - Customer - Contracts
      summary: Get contract list
      operationId: GetContracts
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: Contract list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contracts'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    post:
      tags:
      - Customer - Contracts
      summary: Create a new contract
      description: |
        Now you are ready to create your contract. Before that, please ensure that you check the offer with the same request parameterts. /offers
      operationId: CreateContract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createContract'
        required: true
      responses:
        200:
          description: New contract has been created. Some warnings can be present
            in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createContractResponse'
        400:
          description: Bad request. (Invalid billing period, invalid offer, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        403:
          description: The contract is not modifiable or the coupon offer has been
            already used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/contracts/current/disableAutoRenewal:
    post:
      tags:
      - Customer - Contracts
      summary: Schedule termination of your current contract at the end of the commitment.
      description: By default your contract are automatically renew. By calling this
        operation you can disable the auto renewal.
      operationId: TerminateCurrentContract
      requestBody:
        description: Indicate the termination reason
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/terminateContract'
        required: true
      responses:
        204:
          description: Your current contract termination has been scheduled
          content: {}
        400:
          description: Invalid reason type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        404:
          description: No current contract
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/customer/contracts/current/reenableAutoRenewal:
    post:
      tags:
      - Customer - Contracts
      summary: Reactivate your terminated contract.
      description: By calling this operation you can re-enable the auto renewal.
      operationId: ReactivateCurrentContract
      responses:
        204:
          description: Your current contract has been resumed
          content: {}
        404:
          description: No current contract
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/contracts/next:
    delete:
      tags:
      - Customer - Contracts
      summary: Delete your next contract
      operationId: DeleteNextContract
      responses:
        204:
          description: Next contract has been deleted
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/customer/invoices:
    get:
      tags:
      - Customer - Invoices
      summary: Get all your invoices
      operationId: GetInvoices
      parameters:
      - name: If-None-Match
        in: header
        description: |
          ETag value to identify the last known version of requested resource.\
          To avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\
          If the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\
          For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
        schema:
          type: string
      responses:
        200:
          description: Get all invoices of a customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceList'
        304:
          description: The ETag sent in the http header If-None-Match did not change.
            So you are up to date !
          headers:
            ETag:
              description: |
                ETag value to identify the current version of the resource\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the resource\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                type: string
                format: date-time
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/:
    get:
      tags:
      - Catalogs - Global
      summary: Get the index of the catalog API
      description: The operation will give you all the operations you will be able
        to do and all the LOV used in this API.
      operationId: CatalogIndex
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalogIndex'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/beezupColumns:
    get:
      tags:
      - Catalogs - Global
      summary: Get the BeezUP columns
      description: Get the BeezUP columns, this columns are used for mapping during
        the manual catalog importation process.
      operationId: Catalog_GetBeezUPColumns
      responses:
        200:
          description: The catalog API index
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/beezUPColumnConfiguration'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/{storeId}:
    get:
      tags:
      - Catalogs - Catalog
      summary: Get the index of the catalog API for this store
      description: The operation will give you all the operations you will be able
        to do on this store for this API.
      operationId: CatalogStoreIndex
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      responses:
        200:
          description: The catalog index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalogStoreIndex'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/{storeId}/inputConfiguration:
    get:
      tags:
      - Catalogs - Catalog
      summary: Get the last input configuration
      operationId: Importation_GetManualUpdateLastInputConfig
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lastManualImportInputConfiguration'
        404:
          description: StoreId or Manual Update last configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/{storeId}/catalogColumns:
    get:
      tags:
      - Catalogs - Catalog
      summary: Get catalog column list
      operationId: Catalog_GetCatalogColumns
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      responses:
        200:
          description: Catalog column list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalogColumnList'
        404:
          description: StoreId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/{storeId}/catalogColumns/{columnId}/rename:
    post:
      tags:
      - Catalogs - Catalog
      summary: Change Catalog Column User Name
      operationId: Catalog_ChangeCatalogColumnUserName
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: columnId
        in: path
        description: The catalog column identifier
        required: true
        schema:
          type: string
          format: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changeUserColumnNameRequest'
        required: true
      responses:
        204:
          description: Catalog column user name changed
          content: {}
        400:
          description: When a user column name is duplicate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        404:
          description: |-
            Occurs when a user tries to work on the wrong store.
            Occurs when a catalog column is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        409:
          description: A catalog importation is already in progress!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/importAlreadyInProgressResponse'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/catalogs/{storeId}/customColumns:
    get:
      tags:
      - Catalogs - Catalog
      summary: Get custom column list
      operationId: Catalog_GetCustomColumns
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      responses:
        200:
          description: Custom column list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customColumnList'
        404:
          description: StoreId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/{storeId}/customColumns/{columnId}:
    put:
      tags:
      - Catalogs - Catalog
      summary: Create or replace a custom column
      operationId: Catalog_SaveCustomColumn
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: columnId
        in: path
        description: The custom column identifier
        required: true
        schema:
          type: string
          format: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCustomColumnRequest'
        required: true
      responses:
        204:
          description: Custom column saved
          content: {}
        400:
          description: |-
            Occurs when a catalog custom column id is already used by a catalog column.
            When the catalog custom column count limit has been reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        404:
          description: Occurs when a user tries to work on the wrong store.
          content: {}
        409:
          description: A catalog importation is already in progress!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/importAlreadyInProgressResponse'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
    delete:
      tags:
      - Catalogs - Catalog
      summary: Delete custom column
      operationId: Catalog_DeleteCustomColumn
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: columnId
        in: path
        description: The custom column identifier
        required: true
        schema:
          type: string
          format: guid
      responses:
        204:
          description: Custom column deleted
          content: {}
        403:
          description: Occurs when the parent category is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        404:
          description: Occurs when a user tries to work on the wrong store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        409:
          description: When a catalog importation is already in progress!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/{storeId}/customColumns/{columnId}/rename:
    post:
      tags:
      - Catalogs - Catalog
      summary: Change Custom Column User Name
      operationId: Catalog_ChangeCustomColumnUserName
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: columnId
        in: path
        description: The custom column identifier
        required: true
        schema:
          type: string
          format: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changeUserColumnNameRequest'
        required: true
      responses:
        204:
          description: Custom column renamed
          content: {}
        400:
          description: When a user column name is duplicate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        404:
          description: |-
            Occurs when a user tries to work on the wrong store.
            Occurs when a catalog column is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        409:
          description: A catalog importation is already in progress!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/importAlreadyInProgressResponse'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/catalogs/{storeId}/customColumns/{columnId}/expression:
    get:
      tags:
      - Catalogs - Catalog
      summary: Get the encrypted custom column expression
      operationId: Catalog_GetCustomColumnExpression
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: columnId
        in: path
        description: The custom column identifier
        required: true
        schema:
          type: string
          format: guid
      responses:
        200:
          description: Encrypted expression
          content:
            application/json:
              schema:
                type: string
                example: zlkzjkzjlzlknzklnzlknaklnaklanlknaklan
        404:
          description: |-
            Occurs when a user tries to work on the wrong store.
            Occurs when a catalog custom column is not found.
          content: {}
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
    put:
      tags:
      - Catalogs - Catalog
      summary: Change custom column expression
      operationId: Catalog_ChangeCustomColumnExpression
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: columnId
        in: path
        description: The custom column identifier
        required: true
        schema:
          type: string
          format: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changeCustomColumnExpressionRequest'
        required: true
      responses:
        204:
          description: Custom column expression saved
          content: {}
        403:
          description: Occurs when the user try to change a custom column related
            to a Category. If you want to change this custom column expression you
            have to make a new manual importation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        404:
          description: |-
            Occurs when a user tries to work on the wrong store.
            Occurs when a catalog custom column is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        409:
          description: A catalog importation is already in progress!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/importAlreadyInProgressResponse'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/catalogs/{storeId}/customColumns/computeExpression:
    post:
      tags:
      - Catalogs - Catalog
      summary: Compute the expression for this catalog.
      operationId: Catalog_ComputeExpression
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/computeExpressionRequest'
        required: true
      responses:
        200:
          description: Compute an expression
          content:
            application/json:
              schema:
                type: string
        400:
          description: Occurs when the expression cannot be computed
          content:
            application/json:
              schema:
                type: string
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/catalogs/{storeId}/categories:
    get:
      tags:
      - Catalogs - Catalog
      summary: Get category list
      operationId: Catalog_GetCategories
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: Accept-Encoding
        in: header
        description: Indicates that the client accepts that the response will be compressed
          to reduce traffic size.
        required: true
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: Categories
          headers:
            Content-Encoding:
              description: Indicates the compression use in the response
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categoryList'
        404:
          description: StoreId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/{storeId}/products/list:
    post:
      tags:
      - Catalogs - Catalog
      summary: Get product list
      operationId: Catalog_GetProducts
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getProductsRequest'
        required: true
      responses:
        200:
          description: Product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productList'
        404:
          description: StoreId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
      x-codegen-request-body-name: request
  /v2/user/catalogs/{storeId}/products/random:
    get:
      tags:
      - Catalogs - Catalog
      summary: Get random product list
      description: We will return 10 products randomly selected with all product values
      operationId: Catalog_GetRandomProducts
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      responses:
        200:
          description: Random product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/randomProductList'
        404:
          description: StoreId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
  /v2/user/catalogs/{storeId}/products/{productId}:
    get:
      tags:
      - Catalogs - Catalog
      summary: Get product by ProductId
      operationId: Catalog_GetProductByProductId
      parameters:
      - name: storeId
        in: path
        description: Your store identifier
        required: true
        schema:
          type: string
          format: guid
      - name: productId
        in: path
        description: The product identifier you want to get
        required: true
        schema:
          type: string
          format: guid
      responses:
        200:
          description: Product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
        404:
          description: StoreId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
        default:
          description: Occurs when something goes wrong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeezUP.Common.ErrorResponseMessage'
[...]
