openapi: 3.0.1
info:
  title: Botify API
  description: Botify Saas API
  version: 1.0.0
  x-codegen-settings:
    useMethodPrefix: false
    useModelPostfix: false
    useControllerPostfix: false
    useEnumPostfix: false
    useConstructorsForConfig: false
    collectParameters: true
    brandLabel: Botify
    nodeHttpClient: NODE_SUPERAGENT
    arraySerialization: CSV
servers:
- url: https://api.botify.com/v1
security:
- DjangoRestToken: []
paths:
  /analyses/{username}/{project_slug}:
    get:
      tags:
      - Project
      summary: List all analyses for a project
      description: List all analyses for a project
      operationId: getProjectAnalyses
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      $ref: '#/components/schemas/Analysis'
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}:
    get:
      tags:
      - Analysis
      summary: Get an Analysis detail
      description: Get an Analysis detail
      operationId: getAnalysisSummary
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisDetail'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics:
    get:
      tags:
      - Analysis
      summary: Return global statistics for an analysis
      description: Return global statistics for an analysis
      operationId: getCrawlStatistics
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlStatistics'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics/time:
    get:
      tags:
      - Analysis
      summary: Return crawl statistics grouped by time frequency (1 min, 5 mins or
        60 min)
      description: Return crawl statistics grouped by time frequency (1 min, 5 mins
        or 60 min) for an analysis
      operationId: getCrawlStatisticsByFrequency
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: max number of elements to retrieve
        schema:
          type: integer
          format: int32
      - name: frequency
        in: query
        description: Aggregation frequency
        required: true
        schema:
          type: string
          enum:
          - 1mn
          - 5mn
          - 60mn
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlStatisticsTime'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics/urls/{list_type}:
    get:
      tags:
      - Analysis
      summary: Return a list of 1000 latest URLs crawled (all crawled URLs or only
        URLS with HTTP errors)
      description: Return a list of 1000 latest URLs crawled (all crawled URLs or
        only URLS with HTTP errors)
      operationId: getCrawlStatisticsUrls
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: list_type
        in: path
        description: URLs list type (crawled URLs or error URLs)
        required: true
        schema:
          type: string
          enum:
          - crawled
          - errors
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Successful operation
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/features/ganalytics/orphan_urls/{medium}/{source}:
    get:
      tags:
      - Analysis
      summary: List of Orphan URLs
      description: 'List of Orphan URLs. URLs which generated visits from the selected
        source according to Google Analytics data, but were not crawled with by the
        Botify crawler (either because no links to them were found on the website,
        or because the crawler was not allowed to follow these links according to
        the project settings).   For a search engine (medium: origanic; sources: all,
        aol, ask, baidu, bing, google, naver, yahoo, yandex) or a social network (medium:
        social; sources: all, facebook, google+, linkedin, pinterest, reddit, tumblr,
        twitter)'
      operationId: getGanalyticsOrphanURLs
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: medium
        in: path
        description: 'Type of traffic, value: ''organic'' (from search engine)or ''social''
          (from a social network)'
        required: true
        schema:
          type: string
          enum:
          - organic
          - social
      - name: source
        in: path
        description: 'Traffic source, value: name of the search engine or social network'
        required: true
        schema:
          type: string
          enum:
          - all
          - aol
          - ask
          - baidu
          - bing
          - facebook
          - google
          - google+
          - linkedin
          - naver
          - pinterest
          - reddit
          - tumblr
          - twitter
          - yahoo
          - yandex
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      $ref: '#/components/schemas/CrawlOrphanURLs'
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/features/links/percentiles:
    get:
      tags:
      - Analysis
      summary: Get inlinks percentiles
      description: Get inlinks percentiles
      operationId: getLinksPercentiles
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksPercentiles'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/features/pagerank/lost:
    get:
      tags:
      - Analysis
      summary: Lost pagerank
      description: Lost pagerank
      operationId: getPageRankLost
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRankLost'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/report:
    get:
      tags:
      - Analysis
      summary: Get global information of the sitemaps found (sitemaps indexes, invalid
        sitemaps urls, etc
      description: Get global information of the sitemaps found (sitemaps indexes,
        invalid sitemaps urls, etc.)
      operationId: getSitemapsReport
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitemapsReport'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/samples/out_of_config:
    get:
      tags:
      - Analysis
      summary: Sample list of URLs which were found in your sitemaps but outside of
        the
      description: Sample list of URLs which were found in your sitemaps but outside
        of the crawl perimeter defined for the project, for instance domain/subdomain
        or protocol (HTTP/HTTPS) not allowed in the crawl settings.
      operationId: getSitemapsSamplesOutOfConfig
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      type: string
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/samples/sitemap_only:
    get:
      tags:
      - Analysis
      summary: Sample list of URLs which were found in your sitemaps, within the project
      description: Sample list of URLs which were found in your sitemaps, within the
        project allowed scope (allowed domains/subdomains/protocols), but not found
        by the Botify crawler.
      operationId: getSitemapsSamplesSitemapsOnly
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      type: string
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/features/top_domains/domains:
    get:
      tags:
      - Analysis
      summary: Top domains
      description: Top domains
      operationId: getLinksTopDomains
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      $ref: '#/components/schemas/LinksTopDomains'
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/features/top_domains/subdomains:
    get:
      tags:
      - Analysis
      summary: Top subddomains
      description: Top subddomains
      operationId: getLinksTopSubdomains
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      $ref: '#/components/schemas/LinksTopDomains'
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/urls:
    post:
      tags:
      - Analysis
      summary: Executes a query and returns a paginated response
      description: Executes a query and returns a paginated response
      operationId: getUrls
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: area
        in: query
        description: Analysis context to execute the query
        schema:
          type: string
          default: current
          enum:
          - current
          - disappeared
          - new
          - search_engines_orphans
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UrlsQuery'
        required: false
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      $ref: '#/components/schemas/UrlDetail'
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
      x-codegen-request-body-name: UrlsQuery
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/aggs:
    post:
      tags:
      - Analysis
      summary: Query aggregator
      description: Query aggregator. It accepts multiple queries
      operationId: getUrlsAggs
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: area
        in: query
        schema:
          type: string
          default: current
          enum:
          - current
          - disappeared
          - new
          - search_engines_orphans
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UrlsAggsQueries'
        required: false
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Successful operation
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
      x-codegen-request-body-name: UrlsAggsQueries
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/datamodel:
    get:
      tags:
      - Analysis
      summary: Gets an Analysis datamodel
      description: Gets an Analysis datamodel
      operationId: getUrlsDatamodel
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: area
        in: query
        schema:
          type: string
          default: current
          enum:
          - current
          - disappeared
          - new
          - search_engines_orphans
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlDatamodel'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/export:
    get:
      tags:
      - Analysis
      summary: A list of the CSV Exports requests and their current status
      description: A list of the CSV Exports requests and their current status
      operationId: getUrlsExports
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      $ref: '#/components/schemas/CsvExportStatus'
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
    post:
      tags:
      - Analysis
      summary: Creates a new UrlExport object and starts a task that will export the
        results into a csv
      description: Creates a new UrlExport object and starts a task that will export
        the results into a csv. Returns the model id that manages the task
      operationId: createUrlsExport
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: area
        in: query
        schema:
          type: string
          default: current
          enum:
          - current
          - disappeared
          - new
          - search_engines_orphans
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UrlsQuery'
        required: false
      responses:
        201:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvExportStatus'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
      x-codegen-request-body-name: UrlsQuery
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/export/{url_export_id}:
    get:
      tags:
      - Analysis
      summary: Checks the status of an CSVUrlExportJob object
      description: Checks the status of an CSVUrlExportJob object. Returns json object
        with the status.
      operationId: getUrlsExportStatus
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: url_export_id
        in: path
        description: Url Export ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvExportStatus'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/suggested_filters:
    post:
      tags:
      - Analysis
      summary: Return most frequent segments (= suggested patterns in the previous
        version)
      description: Return most frequent segments (= suggested patterns in the previous
        version) for a Botify Query.
      operationId: getUrlsSuggestedFilters
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: area
        in: query
        schema:
          type: string
          default: current
          enum:
          - current
          - new
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UrlsAggsQuery'
        required: false
      responses:
        201:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlsAggsQuery'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
      x-codegen-request-body-name: UrlsAggsQuery
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/{url}:
    get:
      tags:
      - Analysis
      summary: Gets the detail of an URL for an analysis
      description: Gets the detail of an URL for an analysis
      operationId: getUrlDetail
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: analysis_slug
        in: path
        description: Analysis' identifier
        required: true
        schema:
          type: string
      - name: url
        in: path
        description: (Urlencoded) Searched URL
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: comma separated list of fields to return (c.f. URLs Datamodel)
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlDetail'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /projects/{username}:
    get:
      tags:
      - User
      summary: List all active projects for the user
      description: List all active projects for the user
      operationId: getUserProjects
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      $ref: '#/components/schemas/Project'
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /projects/{username}/{project_slug}/features/url_rewriting/rules_validator:
    post:
      tags:
      - Project
      summary: Match and replace parts of a URL based on rules passed in POST data
      description: Match and replace parts of a URL based on rules passed in POST
        data.
      operationId: testUrlRewritingRules
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      responses:
        201:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLRewritingRulesSerializer'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /projects/{username}/{project_slug}/filters:
    get:
      tags:
      - Project
      summary: List all the project's saved filters (each filter's name, ID and filter
        value)
      description: List all the project's saved filters (each filter's name, ID and
        filter value)
      operationId: getSavedFilters
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page Number
        schema:
          type: integer
      - name: size
        in: query
        description: Page Size
        schema:
          type: integer
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: ""
                    readOnly: true
                  results:
                    type: array
                    description: ""
                    readOnly: true
                    items:
                      $ref: '#/components/schemas/ProjectSavedFilter'
                  next:
                    type: string
                    description: ""
                    readOnly: true
                  previous:
                    type: string
                    description: ""
                    readOnly: true
                  page:
                    type: integer
                    description: ""
                    readOnly: true
                  size:
                    type: integer
                    description: ""
                    readOnly: true
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /projects/{username}/{project_slug}/filters/{identifier}:
    get:
      tags:
      - Project
      summary: Retrieves a specific saved filter's name, ID and filter value
      description: Retrieves a specific saved filter's name, ID and filter value
      operationId: getSavedFilter
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        description: Saved Filter's identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSavedFilter'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
  /projects/{username}/{project_slug}/urls/aggs:
    post:
      tags:
      - Project
      summary: Project Query aggregator
      description: Project Query aggregator. It accepts multiple queries that will
        be executed on all completed analyses in the project
      operationId: getProjectUrlsAggs
      parameters:
      - name: username
        in: path
        description: User's identifier
        required: true
        schema:
          type: string
      - name: project_slug
        in: path
        description: Project's identifier
        required: true
        schema:
          type: string
      - name: area
        in: query
        description: Analysis context to execute the queries
        schema:
          type: string
          default: current
          enum:
          - current
          - disappeared
          - new
      - name: last_analysis_slug
        in: query
        description: Last analysis on the trend
        schema:
          type: string
      - name: nb_analyses
        in: query
        description: Max number of analysis to return
        schema:
          type: integer
          format: int32
          default: 20
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UrlsAggsQueries'
        required: false
      responses:
        201:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
        default:
          description: error payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPayload'
      x-codegen-request-body-name: UrlsAggsQueries
components:
  schemas:
    SitemapsReport:
      required:
      - count
      - errors
      - sitemap_indexes
      - sitemap_only
      - sitemaps
      type: object
      properties:
        count:
          type: integer
          description: ""
          format: int64
        sitemap_only:
          $ref: '#/components/schemas/SitemapsReportOnly'
        sitemap_indexes:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/SitemapsReportSitemap'
        sitemaps:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/SitemapsReportSitemap'
        errors:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/SitemapsReportSitemap'
    SitemapsReportSitemapError:
      required:
      - message
      - type
      type: object
      properties:
        type:
          type: string
          description: ""
        message:
          type: string
          description: ""
    UrlsAggsQueries:
      type: array
      items:
        $ref: '#/components/schemas/UrlsAggsQuery'
    UrlsAggs:
      required:
      - status
      type: object
      properties:
        status:
          type: integer
          description: ""
          format: int64
        data:
          $ref: '#/components/schemas/UrlsAgg'
        error:
          $ref: '#/components/schemas/UrlsErrorAgg'
    CrawlOrphanURLs:
      required:
      - url
      - visits
      type: object
      properties:
        url:
          type: string
          description: ""
        visits:
          type: integer
          description: ""
          format: int64
    LinksPercentilesItem:
      required:
      - avg
      - id
      - max
      - metric_total
      - min
      - url_total
      type: object
      properties:
        min:
          type: integer
          description: ""
          format: int64
        max:
          type: integer
          description: ""
          format: int64
        url_total:
          type: integer
          description: ""
          format: int64
        metric_total:
          type: integer
          description: ""
          format: int64
        avg:
          type: integer
          description: ""
          format: int64
        id:
          type: integer
          description: ""
          format: int64
    CrawlStatistics:
      required:
      - depth_current
      - last_upd_dt
      - pages_dones
      - pages_dones_2xx
      - pages_dones_3xx
      - pages_dones_4xx
      - pages_dones_5xx
      - pages_dones_networkerror
      - pages_dones_xxx
      - pages_known
      type: object
      properties:
        depth_current:
          type: integer
          description: ""
          format: int64
        pages_dones_networkerror:
          type: integer
          description: ""
          format: int64
        pages_dones_3xx:
          type: integer
          description: ""
          format: int64
        pages_dones:
          type: integer
          description: ""
          format: int64
        pages_dones_2xx:
          type: integer
          description: ""
          format: int64
        last_upd_dt:
          type: string
          description: ""
          format: date-time
        pages_dones_5xx:
          type: integer
          description: ""
          format: int64
        pages_dones_xxx:
          type: integer
          description: ""
          format: int64
        pages_dones_4xx:
          type: integer
          description: ""
          format: int64
        pages_known:
          type: integer
          description: ""
          format: int64
    CrawlDatamodelGroup:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          description: ""
        name:
          type: string
          description: ""
    UrlsQuery:
      type: object
      properties:
        fields:
          type: array
          description: ""
          items:
            type: string
        filters:
          type: object
          properties: {}
          description: ""
        sort:
          type: array
          description: ""
          items:
            type: object
            properties: {}
    PageRankLost:
      required:
      - external
      - non_crawled
      - robots_txt
      type: object
      properties:
        non_crawled:
          type: number
          description: ""
          format: float
        external:
          type: number
          description: ""
          format: float
        robots_txt:
          type: number
          description: ""
          format: float
    LinksTopDomains:
      required:
      - domain
      - follow_links
      - follow_samples
      - nofollow_links
      - nofollow_samples
      - unique_follow_links
      - unique_nofollow_links
      type: object
      properties:
        follow_links:
          type: integer
          description: ""
          format: int64
        nofollow_links:
          type: integer
          description: ""
          format: int64
        domain:
          type: string
          description: ""
        follow_samples:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/LinksTopDomainsSamples'
        nofollow_samples:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/LinksTopDomainsSamples'
        unique_follow_links:
          type: integer
          description: ""
          format: int64
        unique_nofollow_links:
          type: integer
          description: ""
          format: int64
    LinksTopDomainsSamples:
      required:
      - sources
      - unique_links
      - url
      type: object
      properties:
        url:
          type: string
          description: ""
        sources:
          type: array
          description: ""
          items:
            type: string
        unique_links:
          type: integer
          description: ""
          format: int64
    User:
      type: object
      properties:
        login:
          type: string
          description: ""
          readOnly: true
        email:
          type: string
          description: ""
        is_organization:
          type: string
          description: ""
          readOnly: true
        url:
          type: string
          description: ""
          readOnly: true
        date_joined:
          type: string
          description: ""
          format: date-time
        status:
          type: string
          description: ""
        first_name:
          type: string
          description: ""
        last_name:
          type: string
          description: ""
        company_name:
          type: string
          description: ""
    SitemapsReportSitemap:
      required:
      - url
      type: object
      properties:
        url:
          type: string
          description: ""
        valid_urls:
          type: integer
          description: ""
          format: int64
        invalid_urls:
          type: integer
          description: ""
          format: int64
        file_type:
          type: string
          description: ""
        error:
          $ref: '#/components/schemas/SitemapsReportSitemapError'
        sitemap_indexes:
          type: array
          description: ""
          items:
            type: string
    CsvExportStatus:
      required:
      - query
      type: object
      properties:
        job_id:
          type: string
          description: ""
          readOnly: true
        job_url:
          type: string
          description: ""
          readOnly: true
        job_status:
          type: string
          description: ""
          readOnly: true
        nb_results:
          maximum: 2147483647
          minimum: 0
          type: integer
          description: ""
          format: int64
        area:
          type: integer
          description: ""
          format: int64
        query:
          $ref: '#/components/schemas/UrlsQuery'
        results:
          type: string
          description: ""
          readOnly: true
        date_created:
          type: string
          description: ""
          format: date-time
          readOnly: true
    SitemapsReportOnly:
      required:
      - in_configuration
      - out_of_configuration
      type: object
      properties:
        out_of_configuration:
          type: integer
          description: ""
          format: int64
        in_configuration:
          type: integer
          description: ""
          format: int64
    RewritingRuleSerializer:
      required:
      - ignore_case
      - regex
      - replace
      type: object
      properties:
        regex:
          type: string
          description: ""
        replace:
          type: string
          description: ""
        ignore_case:
          type: boolean
          description: ""
    string:
      type: object
    LinksPercentiles:
      required:
      - domain
      - percentiles
      type: object
      properties:
        domain:
          type: string
          description: ""
        percentiles:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/LinksPercentilesItem'
    Default:
      type: object
    UrlsErrorAgg:
      required:
      - error_code
      - message
      type: object
      properties:
        message:
          type: string
          description: ""
        error_code:
          type: string
          description: ""
    Analysis:
      required:
      - user
      type: object
      properties:
        id:
          type: integer
          description: ""
          format: int64
          readOnly: true
        user:
          $ref: '#/components/schemas/User'
        slug:
          type: string
          description: ""
          readOnly: true
        name:
          type: string
          description: ""
          readOnly: true
        url:
          type: string
          description: ""
          readOnly: true
        features:
          type: string
          description: ""
          readOnly: true
        status:
          type: string
          description: ""
          readOnly: true
        urls_done:
          type: string
          description: ""
          readOnly: true
        urls_in_queue:
          type: string
          description: ""
          readOnly: true
        config:
          type: string
          description: ""
          readOnly: true
        date_created:
          type: string
          description: ""
          format: date-time
        date_launched:
          type: string
          description: ""
          format: date-time
        date_finished:
          type: string
          description: ""
          format: date-time
        date_last_modified:
          type: string
          description: Date of last modified analysis
          format: date-time
    CrawlStatisticsTimePoint:
      required:
      - count
      - datetime
      type: object
      properties:
        count:
          type: integer
          description: ""
          format: int64
        datetime:
          type: string
          description: ""
          format: date-time
    CrawlStatisticsTime:
      required:
      - avg_delay
      - avg_size
      - frequency
      - http_code_2xx
      - http_code_3xx
      - http_code_4xx
      - http_code_5xx
      - http_code_xxx
      - last_update_date
      - new_urls
      type: object
      properties:
        avg_delay:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
        http_code_2xx:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
        http_code_3xx:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
        http_code_4xx:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
        http_code_5xx:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
        http_code_xxx:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
        frequency:
          type: string
          description: ""
        last_update_date:
          type: string
          description: ""
          format: date-time
        avg_size:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
        new_urls:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlStatisticsTimePoint'
    CrawlStatisticsUrls:
      required:
      - content_type
      - date
      - delay_first_byte
      - delay_last_byte
      - gzip
      - http
      - length
      - url
      type: object
      properties:
        http:
          type: integer
          description: ""
          format: int64
        url:
          type: string
          description: ""
        redirects_to:
          type: string
          description: ""
        delay_last_byte:
          type: integer
          description: ""
          format: int64
        gzip:
          type: boolean
          description: ""
        length:
          type: integer
          description: ""
          format: int64
        content_type:
          type: string
          description: ""
        date:
          type: string
          description: ""
        delay_first_byte:
          type: integer
          description: ""
          format: int64
    FieldValuesResult:
      required:
      - nb_urls
      - value
      type: object
      properties:
        value:
          type: string
          description: ""
        nb_urls:
          type: integer
          description: ""
          format: int64
    Project:
      required:
      - current_settings
      - name
      - slug
      - user
      type: object
      properties:
        name:
          type: string
          description: ""
        slug:
          type: string
          description: ""
        user:
          $ref: '#/components/schemas/User'
        current_settings:
          $ref: '#/components/schemas/ProjectSettingsSerializer'
        active:
          type: boolean
          description: ""
        date_created:
          type: string
          description: ""
          readOnly: true
    AnalysisDetail:
      required:
      - user
      type: object
      properties:
        id:
          type: integer
          description: ""
          format: int64
          readOnly: true
        user:
          $ref: '#/components/schemas/User'
        slug:
          type: string
          description: ""
          readOnly: true
        name:
          type: string
          description: ""
          readOnly: true
        url:
          type: string
          description: ""
          readOnly: true
        features:
          type: string
          description: ""
          readOnly: true
        urls_done:
          type: string
          description: ""
          readOnly: true
        urls_in_queue:
          type: string
          description: ""
          readOnly: true
        config:
          type: string
          description: ""
          readOnly: true
        date_launched:
          type: string
          description: ""
          format: date-time
        date_finished:
          type: string
          description: ""
          format: date-time
        date_last_modified:
          type: string
          description: Date of last modified analysis
          format: date-time
        failures:
          type: string
          description: ""
          readOnly: true
        red_button_domain:
          type: string
          description: ""
    ProjectSavedFilter:
      required:
      - filters
      - name
      type: object
      properties:
        name:
          type: string
          description: ""
        filters:
          type: object
          properties: {}
          description: ""
        identifier:
          type: string
          description: ""
          readOnly: true
    UrlsAggsQuery:
      type: object
      properties:
        filters:
          type: object
          properties: {}
          description: ""
        aggs:
          type: array
          description: ""
          items:
            type: object
            properties: {}
    UrlsAgg:
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          description: ""
          format: int64
        aggs:
          type: array
          description: ""
          items:
            type: object
            properties: {}
    URLRewritingRulesSerializer:
      required:
      - rules
      - urls
      type: object
      properties:
        urls:
          type: array
          description: ""
          items:
            type: string
        rules:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/RewritingRuleSerializer'
    DefaultPayload:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Error Message
            error_code:
              type: string
              description: Error Code
            error_detail:
              type: object
              properties: {}
              description: If available, detailed error
      description: default payload for object for all HTTP codes that are not covered
        individually
    ProjectSettingsSerializer:
      required:
      - allowed_domains
      - blacklisted_domains
      - header_settings
      - max_nb_pages
      - sitemaps
      - start_urls
      type: object
      properties:
        start_urls:
          type: array
          description: ""
          items:
            type: string
        max_nb_pages:
          maximum: 2147483647
          minimum: 1
          type: integer
          description: ""
          format: int64
        max_depth:
          maximum: 2147483647
          minimum: 0
          type: integer
          description: ""
          format: int64
        compare_crawl:
          type: boolean
          description: ""
        blacklisted_domains:
          type: array
          description: ""
          items:
            type: string
        allowed_domains:
          type: array
          description: ""
          items:
            type: string
        respect_nofollow:
          type: boolean
          description: ""
        crawl_gzip:
          type: boolean
          description: ""
        has_robots_txt:
          type: string
          description: ""
          readOnly: true
        user_agent:
          type: string
          description: ""
        max_pages_per_sec:
          maximum: 2147483647
          minimum: 1
          type: integer
          description: ""
          format: int64
        extra_headers:
          type: string
          description: ""
        google_social_auth_id:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: ""
          format: int64
        google_analytics_site_id:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: ""
          format: int64
        google_analytics_account_email:
          type: string
          description: Keep email in case user delete his social auth connection
        google_analytics_nb_days:
          maximum: 9E+1
          minimum: 1
          type: integer
          description: ""
          format: int64
        sitemaps:
          type: array
          description: ""
          items:
            type: string
        header_settings:
          type: array
          description: ""
          items:
            type: string
    CrawlDatamodelField:
      required:
      - group
      - id
      - multiple
      - name
      - permissions
      - subtype
      - type
      type: object
      properties:
        multiple:
          type: boolean
          description: ""
        name:
          type: string
          description: ""
        subtype:
          type: string
          description: ""
        group:
          type: string
          description: ""
        type:
          type: string
          description: ""
        id:
          type: string
          description: ""
        permissions:
          type: array
          description: ""
          items:
            type: string
    UrlDetail:
      type: object
    FieldValues:
      required:
      - count
      - results
      type: object
      properties:
        count:
          type: integer
          description: ""
          format: int64
        results:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/FieldValuesResult'
    CrawlDatamodel:
      required:
      - fields
      - groups
      type: object
      properties:
        fields:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlDatamodelField'
        groups:
          type: array
          description: ""
          items:
            $ref: '#/components/schemas/CrawlDatamodelGroup'
  securitySchemes:
    DjangoRestToken:
      type: apiKey
      name: Authorization
      in: header
