openapi: 3.0.1
info:
  title: Bufferapp
  description: Social media management for marketers and agencies
  version: "1"
externalDocs:
  url: https://buffer.com/developers/api
servers:
- url: https://api.bufferapp.com/1/
paths:
  /info/configuration{mediaTypeExtension}:
    get:
      description: Returns an object with the current configuration that Buffer is
        using, including supported services, their icons and the varying limits of
        character and schedules.
      parameters:
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configuration'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
  /links/shares{mediaTypeExtension}:
    get:
      description: Returns an object with a the numbers of shares a link has had using
        Buffer.
      parameters:
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      - name: url
        in: query
        description: URL-encoded URL of the page for which the number of shares is
          requested.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shares'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
  /profiles/{id}/schedules/update{mediaTypeExtension}:
    post:
      description: |
        "Set the posting schedules for the specified social media profile.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: An unknown error occurred.
          content: {}
  /profiles/{id}/schedules{mediaTypeExtension}:
    get:
      description: Returns details of the posting schedules associated with a social
        media profile.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedules'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
  /profiles/{id}/updates/pending{mediaTypeExtension}:
    get:
      description: |
        "Returns an array of updates that are currently in the buffer for an individual social media profile.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      - name: page
        in: query
        description: Specifies the page of status updates to receive. If not specified
          the first page of results will be returned.
        schema:
          type: integer
      - name: count
        in: query
        description: Specifies the number of status updates to receive. If provided,
          must be between 1 and 100.
        schema:
          type: integer
      - name: since
        in: query
        description: Specifies a unix timestamp which only status updates created
          after this time will be retrieved.
        schema:
          type: string
          format: date
      - name: utc
        in: query
        description: If utc is set times will be returned relative to UTC rather than
          the users associated timezone.
        schema:
          type: boolean
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updates-array'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
  /profiles/{id}/updates/reorder{mediaTypeExtension}:
    post:
      description: |
        Edit the order at which statuses for the specified social media profile will be sent out of the buffer.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shuffle'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: An unknown error occurred.
          content: {}
  /profiles/{id}/updates/sent{mediaTypeExtension}:
    get:
      description: |
        Returns an array of updates that have been sent from the buffer for an individual social media profile.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      - name: page
        in: query
        description: Specifies the page of status updates to receive. If not specified
          the first page of results will be returned.
        schema:
          type: integer
      - name: count
        in: query
        description: Specifies the number of status updates to receive. If provided,
          must be between 1 and 100.
        schema:
          type: integer
      - name: since
        in: query
        description: Specifies a unix timestamp which only status updates created
          after this time will be retrieved.
        schema:
          type: string
          format: date
      - name: utc
        in: query
        description: If utc is set times will be returned relative to UTC rather than
          the users associated timezone.
        schema:
          type: boolean
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updates-array'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
  /profiles/{id}/updates/shuffle{mediaTypeExtension}:
    post:
      description: |
        Randomize the order at which statuses for the specified social media profile will be sent out of the buffer.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shuffle'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: An unknown error occurred.
          content: {}
  /profiles/{id}{mediaTypeExtension}:
    get:
      description: Returns details of the single specified social media profile.
      parameters:
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profile'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
  /profiles{mediaTypeExtension}:
    get:
      description: Returns an array of social media profiles connected to a users
        account.
      parameters:
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profiles'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
  /updates/create{mediaTypeExtension}:
    post:
      description: |
        Create one or more new status updates.
      parameters:
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/newUpdate'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: An unknown error occurred.
          content: {}
  /updates/{id}/destroy{mediaTypeExtension}:
    post:
      description: Permanently delete an existing status update.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: An unknown error occurred.
          content: {}
  /updates/{id}/interactions{mediaTypeExtension}:
    get:
      description: |
        Returns the detailed information on individual interactions with the social media update such as favorites, retweets and likes.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      - name: event
        in: query
        description: |
          Specifies a type of event to be retrieved, for example "retweet", "like", "comment", "mention" or "reshare". They can also be plural (e.g., "reshares"). Plurality has no effect other than visual semantics. See /info/configuration for more information on supported interaction events.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Specifies the page of status updates to receive. If not specified
          the first page of results will be returned.
        schema:
          type: integer
      - name: count
        in: query
        description: Specifies the number of status updates to receive. If provided,
          must be between 1 and 100.
        schema:
          type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/interactions'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
  /updates/{id}/move_to_top{mediaTypeExtension}:
    post:
      description: Move an existing status update to the top of the queue and recalculate
        times for all updates in the queue. Returns the update with its new posting
        time.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: An unknown error occurred.
          content: {}
  /updates/{id}/share{mediaTypeExtension}:
    post:
      description: Immediately shares a single pending update and recalculates times
        for updates remaining in the queue.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: An unknown error occurred.
          content: {}
  /updates/{id}/update{mediaTypeExtension}:
    post:
      description: |
        Edit an existing, individual status update.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/individual-update'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: An unknown error occurred.
          content: {}
  /updates/{id}{mediaTypeExtension}:
    get:
      description: Returns a single social media update.
      parameters:
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
  /user{mediaTypeExtension}:
    get:
      description: Returns a single user.
      parameters:
      - name: mediaTypeExtension
        in: path
        required: true
        schema:
          type: string
          enum:
          - .json
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
        400:
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
          content: {}
        403:
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
          content: {}
        404:
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
          content: {}
        405:
          description: |
            405  Method not allowed.
          content: {}
        406:
          description: |
            1005  Unsupported response format.
          content: {}
        500:
          description: |
            An unknown error occurred.
          content: {}
components:
  schemas:
    configuration:
      type: object
      properties:
        media:
          type: object
          properties:
            picture_filetypes:
              type: array
              items:
                type: string
            picture_size_max:
              type: number
            picture_size_min:
              type: number
        services:
          type: object
          properties:
            appdotnet:
              type: object
              properties:
                types:
                  type: object
                  properties:
                    profile:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: object
                urls:
                  type: object
                  properties:
                    hashtag:
                      type: string
                    user:
                      type: string
            facebook:
              type: object
              properties:
                types:
                  type: object
                  properties:
                    group:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: string
                    page:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: string
                    profile:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: string
                urls:
                  type: object
                  properties:
                    user:
                      type: string
            google:
              type: object
              properties:
                types:
                  type: object
                  properties:
                    page:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: string
                    profile:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: string
                urls:
                  type: object
                  properties:
                    user:
                      type: string
            linkedin:
              type: object
              properties:
                types:
                  type: object
                  properties:
                    group:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: string
                    page:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: string
                    profile:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: string
                urls:
                  type: object
                  properties:
                    user:
                      type: string
            twitter:
              type: object
              properties:
                types:
                  type: object
                  properties:
                    profile:
                      type: object
                      properties:
                        character_limit:
                          type: number
                        icons:
                          type: object
                          properties:
                            16:
                              type: string
                            32:
                              type: string
                            64:
                              type: string
                        link_attachments:
                          type: boolean
                        name:
                          type: string
                        schedule_limit:
                          type: number
                        supported_interactions:
                          type: array
                          items:
                            type: string
                urls:
                  type: object
                  properties:
                    cashtag:
                      type: string
                    hashtag:
                      type: string
                    user:
                      type: string
    individual-update:
      type: object
      properties:
        buffer_count:
          type: number
        buffer_percentage:
          type: number
        success:
          type: boolean
        update:
          type: object
          properties:
            client_id:
              type: string
            created_at:
              type: number
            day:
              type: string
            due_at:
              type: number
            due_time:
              type: string
            id:
              type: string
            media:
              type: object
              properties:
                description:
                  type: string
                link:
                  type: string
                title:
                  type: string
            profile_id:
              type: string
            profile_service:
              type: string
            status:
              type: string
            text:
              type: string
            text_formatted:
              type: string
            user_id:
              type: string
            via:
              type: string
    interactions:
      type: object
      properties:
        interactions:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              created_at:
                type: number
              event:
                type: string
              id:
                type: string
              interaction_id:
                type: string
              user:
                type: object
                properties:
                  avatar:
                    type: string
                  avatar_https:
                    type: string
                  followers:
                    type: number
                  twitter_id:
                    type: string
                  username:
                    type: string
        total:
          type: number
    newUpdate:
      type: object
      properties:
        buffer_count:
          type: number
        buffer_percentage:
          type: number
        success:
          type: boolean
        updates:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: number
              day:
                type: string
              due_at:
                type: number
              due_time:
                type: string
              id:
                type: string
              media:
                type: object
                properties:
                  description:
                    type: string
                  link:
                    type: string
                  title:
                    type: string
              profile_id:
                type: string
              profile_service:
                type: string
              status:
                type: string
              text:
                type: string
              text_formatted:
                type: string
              user_id:
                type: string
              via:
                type: string
    profile:
      type: object
      properties:
        avatar:
          type: string
        created_at:
          type: number
        default:
          type: boolean
        formatted_username:
          type: string
        id:
          type: string
        schedules:
          type: array
          items:
            type: object
            properties:
              days:
                type: array
                items:
                  type: string
              times:
                type: array
                items:
                  type: string
        service:
          type: string
        service_id:
          type: string
        service_username:
          type: string
        statistics:
          type: object
          properties:
            followers:
              type: number
        team_members:
          type: array
          items:
            type: string
        timezone:
          type: string
        user_id:
          type: string
    profiles:
      type: array
      items:
        type: object
        properties:
          _id:
            type: string
          avatar:
            type: string
          avatar_https:
            type: string
          counts:
            type: object
            properties:
              daily_suggestions:
                type: number
              drafts:
                type: number
              pending:
                type: number
              sent:
                type: number
          cover_photo:
            type: string
          default:
            type: boolean
          disabled_features:
            type: array
            items:
              type: object
          disconnected:
            type: string
          formatted_service:
            type: string
          formatted_username:
            type: string
          has_used_suggestions:
            type: boolean
          id:
            type: string
          schedules:
            type: array
            items:
              type: object
              properties:
                days:
                  type: array
                  items:
                    type: string
                times:
                  type: array
                  items:
                    type: object
          service:
            type: string
          service_id:
            type: string
          service_type:
            type: string
          service_username:
            type: string
          shortener:
            type: object
            properties:
              domain:
                type: string
          statistics:
            type: object
            properties:
              connections:
                type: number
          timezone:
            type: string
          user_id:
            type: string
          utm_tracking:
            type: string
          verb:
            type: string
    reorder:
      type: object
      properties:
        success:
          type: boolean
        updates:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: number
              day:
                type: string
              due_at:
                type: number
              due_time:
                type: string
              id:
                type: string
              profile_id:
                type: string
              profile_service:
                type: string
              status:
                type: string
              text:
                type: string
              text_formatted:
                type: string
              user_id:
                type: string
              via:
                type: string
    schedules:
      type: object
      properties:
        days:
          type: array
          items:
            type: string
        times:
          type: array
          items:
            type: string
    schedules-update:
      type: object
      properties:
        success:
          type: boolean
    share:
      type: object
      properties:
        success:
          type: boolean
    shares:
      type: object
      properties:
        shares:
          type: number
    shuffle:
      type: object
      properties:
        success:
          type: boolean
        updates:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: number
              day:
                type: string
              due_at:
                type: number
              due_time:
                type: string
              id:
                type: string
              profile_id:
                type: string
              profile_service:
                type: string
              status:
                type: string
              text:
                type: string
              text_formatted:
                type: string
              user_id:
                type: string
              via:
                type: string
    success:
      type: object
      properties:
        success:
          type: boolean
    update:
      type: object
      properties:
        created_at:
          type: number
        day:
          type: string
        due_at:
          type: number
        due_time:
          type: string
        id:
          type: string
        profile_id:
          type: string
        profile_service:
          type: string
        sent_at:
          type: number
        service_update_id:
          type: string
        statistics:
          type: object
          properties:
            clicks:
              type: number
            favorites:
              type: number
            mentions:
              type: number
            reach:
              type: number
            retweets:
              type: number
        status:
          type: string
        text:
          type: string
        text_formatted:
          type: string
        user_id:
          type: string
        via:
          type: string
    updates-array:
      type: object
      properties:
        total:
          type: number
        updates:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: number
              day:
                type: string
              due_at:
                type: number
              due_time:
                type: string
              id:
                type: string
              profile_id:
                type: string
              profile_service:
                type: string
              status:
                type: string
              text:
                type: string
              text_formatted:
                type: string
              user_id:
                type: string
              via:
                type: string
    user:
      type: object
      properties:
        _id:
          type: string
        activity_at:
          type: number
        created_at:
          type: number
        id:
          type: string
        plan:
          type: string
        referral_link:
          type: string
        referral_token:
          type: string
        secret_email:
          type: string
        timezone:
          type: string
  securitySchemes:
    oauth_2_0:
      type: oauth2
      description: |
        Body example for authorisation request:

        client_id=...&
        redirect_uri=...&
        response_type=code

        Bidy example for token request:

        POST Data
        client_id=...&
        client_secret=...&
        redirect_uri=...&
        code=...&
        grant_type=authorization_code

        All requests to the Buffer API must be made using HTTPS, with the access token provided in the HTTP Authorization header, request body or query string.
      flows:
        authorizationCode:
          authorizationUrl: https://bufferapp.com/oauth2/authorize
          tokenUrl: https://api.bufferapp.com/1/oauth2/token.json
          scopes: {}
