openapi: 3.0.1
info:
  title: CallFire API Documentation
  description: CallFire
  termsOfService: https://www.callfire.com/terms
  contact:
    name: CallFire
    url: https://www.callfire.com
    email: support@callfire.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: V2
servers:
- url: https://api.callfire.com/v2
tags:
- name: calls
- name: campaigns
- name: contacts
- name: keywords
- name: me
- name: media
- name: numbers
- name: orders
- name: reports
- name: texts
- name: ticket
- name: webhooks
paths:
  /calls:
    get:
      tags:
      - calls
      summary: Find calls
      description: To search for all calls sent or received by the user. Use "id=0"
        for the campaignId parameter to query for all calls sent through the POST
        /calls API. See [call states and results](https://developers.callfire.com/results-responses-errors.html)
      operationId: findCalls
      parameters:
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      - name: limit
        in: query
        description: To set the maximum number of records to return in a paged list
          response. The default is 100
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Offset to the start of a given page. The default is 0. Check
          [pagination](https://developers.callfire.com/docs.html#pagination) page
          for more information about pagination in CallFire API.
        schema:
          type: integer
          format: int32
          default: 0
      - name: id
        in: query
        description: Lists the Call ids to search for. If calls ids are specified
          then other query parameters can be ignored
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: campaignId
        in: query
        description: An id of a campaign, queries for calls included to a particular
          campaign. Specify null for all campaigns and 0 for default campaign
        schema:
          type: integer
          format: int64
      - name: batchId
        in: query
        description: An id of a contact batch, queries for calls of a particular contact
          batch
        schema:
          type: integer
          format: int64
      - name: fromNumber
        in: query
        description: 'Phone number in E.164 format (11-digit) that call was from.
          Example: 12132000384'
        schema:
          type: string
      - name: toNumber
        in: query
        description: 'Phone number in E.164 format (11-digit) that call was sent to.
          Example: 12132000384'
        schema:
          type: string
      - name: label
        in: query
        description: A label for a specific call
        schema:
          type: string
      - name: states
        in: query
        description: 'Searches for all calls which correspond to statuses listed in
          a comma separated string. Available values: READY, SELECTED, CALLBACK, FINISHED,
          DISABLED, DNC, DUP, INVALID, TIMEOUT, PERIOD_LIMIT. See [call states and
          results](https://developers.callfire.com/results-responses-errors.html)'
        schema:
          type: string
      - name: results
        in: query
        description: 'Searches for all calls with statuses listed in a comma separated
          string. Available values: SENT, RECEIVED, DNT, TOO_BIG, INTERNAL_ERROR,
          CARRIER_ERROR, CARRIER_TEMP_ERROR, UNDIALED. See [call states and results](https://developers.callfire.com/results-responses-errors.html)'
        schema:
          type: string
      - name: inbound
        in: query
        description: Filters inbound calls for "true" value and outbound calls for
          "false" value
        schema:
          type: boolean
      - name: intervalBegin
        in: query
        description: 'Start of the find time interval, formatted in unix time milliseconds.
          Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT'
        schema:
          type: integer
          format: int64
      - name: intervalEnd
        in: query
        description: 'End of the find time interval, formatted in unix time milliseconds.
          Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT'
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallPage'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/findCalls.sh
      x-sample-curl-response-url: /curl/calls/findCalls.json
      x-sample-java-url: /java/calls/findCalls.java
      x-sample-csharp-url: /csharp/calls/findCalls.cs
      x-sample-php-url: /php/calls/findCalls.php
      x-sample-js-url: /js/calls/findCalls.js
      x-sample-python-url: /python/calls/findCalls.py
      x-sample-go-url: /go/calls/findCalls.go
      x-sample-description-url: /description/calls/findCalls.md
    post:
      tags:
      - calls
      summary: Send calls
      description: Use the /calls API to send individual calls quickly. A verified
        Caller ID and sufficient credits are required to make a call. CallRecipient
        represents a single recipient identified by phone number or contact id in
        CallFire system. You can attach user-defined attributes to a Call action via
        CallRecipient.attributes property, attributes are available in Call action
        response
      operationId: sendCalls
      parameters:
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      - name: campaignId
        in: query
        description: Specifies a campaignId to send calls quickly on a previously
          created campaign
        schema:
          type: integer
          format: int64
      - name: defaultLiveMessage
        in: query
        description: Text to be turned into a sound, this text will be played when
          the phone is answered. Parameter can be overridden for any particular CallRecipient
        schema:
          type: string
      - name: defaultMachineMessage
        in: query
        description: Text to be turned into a sound, this text will be played when
          answering machine is detected. Parameter can be overridden for any particular
          CallRecipient
        schema:
          type: string
      - name: defaultLiveMessageSoundId
        in: query
        description: Id of sound file to play if phone is answered. Parameter can
          be overridden for any particular CallRecipient
        schema:
          type: integer
          format: int64
      - name: defaultMachineMessageSoundId
        in: query
        description: An id of a sound file to play if answering machine is detected.
          Parameter can be overridden for any particular CallRecipient
        schema:
          type: integer
          format: int64
      - name: defaultVoice
        in: query
        description: The voice set by default for all text-to-speech messages defined
          in CallRecipient objects or as default *Message properties
        schema:
          type: string
          enum:
          - MALE1
          - FEMALE1
          - FEMALE2
          - SPANISH1
          - FRENCHCANADIAN1
      - name: strictValidation
        in: query
        description: Turns on strict validation for recipients. System will reply
          with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't
          pass validation
        schema:
          type: boolean
      requestBody:
        description: "An array of CallRecipient objects. \nLimitations:\n1. Max number\
          \ of CallRecipient objects is 10\n"
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CallRecipient'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallList'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/sendCalls.sh
      x-sample-curl-response-url: /curl/calls/sendCalls.json
      x-sample-java-url: /java/calls/sendCalls.java
      x-sample-csharp-url: /csharp/calls/sendCalls.cs
      x-sample-php-url: /php/calls/sendCalls.php
      x-sample-js-url: /js/calls/sendCalls.js
      x-sample-python-url: /python/calls/sendCalls.py
      x-sample-go-url: /go/calls/sendCalls.go
      x-sample-description-url: /description/calls/sendCalls.md
      x-codegen-request-body-name: body
  /calls/broadcasts:
    get:
      tags:
      - calls
      summary: Find call broadcasts
      description: Searches for all voice broadcasts created by user. Can query on
        label, name, and the current running status of the campaign. Returns a paged
        list of voice broadcasts
      operationId: findCallBroadcasts
      parameters:
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      - name: limit
        in: query
        description: To set the maximum number of records to return in a paged list
          response. The default is 100
        schema:
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: Offset to the start of a given page. The default is 0. Check
          [pagination](https://developers.callfire.com/docs.html#pagination) page
          for more information about pagination in CallFire API.
        schema:
          type: integer
          format: int32
          default: 0
      - name: label
        in: query
        description: A label of a voice broadcast
        schema:
          type: string
      - name: name
        in: query
        description: A name of voice broadcast
        schema:
          type: string
      - name: running
        in: query
        description: Specify whether the campaigns should be running or not
        schema:
          type: boolean
      - name: scheduled
        in: query
        description: Specify whether the campaigns should be scheduled or not
        schema:
          type: boolean
      - name: intervalBegin
        in: query
        description: 'Start of the find time interval, formatted in unix time milliseconds.
          Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT'
        schema:
          type: integer
          format: int64
      - name: intervalEnd
        in: query
        description: 'End of the find time interval, formatted in unix time milliseconds.
          Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT'
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallBroadcastPage'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/findCallBroadcasts.sh
      x-sample-curl-response-url: /curl/calls/findCallBroadcasts.json
      x-sample-java-url: /java/calls/findCallBroadcasts.java
      x-sample-csharp-url: /csharp/calls/findCallBroadcasts.cs
      x-sample-php-url: /php/calls/findCallBroadcasts.php
      x-sample-js-url: /js/calls/findCallBroadcasts.js
      x-sample-python-url: /python/calls/findCallBroadcasts.py
      x-sample-go-url: /go/calls/findCallBroadcasts.go
      x-sample-description-url: /description/calls/findCallBroadcasts.md
    post:
      tags:
      - calls
      summary: Create a call broadcast
      description: Creates a call broadcast campaign using the Call Broadcast API.
        Send a CallBroadcast in the message body to add details in a voice broadcast
        campaign. The campaign can be created without contacts and bare minimum configuration,
        but contacts will have to be added further on to use the campaign
      operationId: createCallBroadcast
      parameters:
      - name: start
        in: query
        description: Specify whether to immediately start this campaign (not required)
        schema:
          type: boolean
      - name: strictValidation
        in: query
        description: Turns on strict validation for recipients. System will reply
          with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't
          pass validation
        schema:
          type: boolean
      requestBody:
        description: A CallBroadcast object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallBroadcast'
        required: false
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceId'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/createCallBroadcast.sh
      x-sample-curl-response-url: /curl/calls/createCallBroadcast.json
      x-sample-java-url: /java/calls/createCallBroadcast.java
      x-sample-csharp-url: /csharp/calls/createCallBroadcast.cs
      x-sample-php-url: /php/calls/createCallBroadcast.php
      x-sample-js-url: /js/calls/createCallBroadcast.js
      x-sample-python-url: /python/calls/createCallBroadcast.py
      x-sample-go-url: /go/calls/createCallBroadcast.go
      x-sample-description-url: /description/calls/createCallBroadcast.md
      x-codegen-request-body-name: body
  /calls/broadcasts/{id}:
    get:
      tags:
      - calls
      summary: Find a specific call broadcast
      description: Returns a single CallBroadcast instance for a given call broadcast
        campaign id
      operationId: getCallBroadcast
      parameters:
      - name: id
        in: path
        description: An id of a CallBroadcast
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallBroadcast'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCallBroadcast.sh
      x-sample-curl-response-url: /curl/calls/getCallBroadcast.json
      x-sample-java-url: /java/calls/getCallBroadcast.java
      x-sample-csharp-url: /csharp/calls/getCallBroadcast.cs
      x-sample-php-url: /php/calls/getCallBroadcast.php
      x-sample-js-url: /js/calls/getCallBroadcast.js
      x-sample-python-url: /python/calls/getCallBroadcast.py
      x-sample-go-url: /go/calls/getCallBroadcast.go
      x-sample-description-url: /description/calls/getCallBroadcast.md
    put:
      tags:
      - calls
      summary: Update a call broadcast
      description: This operation lets the user modify the configuration of a voice
        broadcast campaign after call broadcast campaign is created. See CallBroadcast
        for more information on what can/can't be updated on this API
      operationId: updateCallBroadcast
      parameters:
      - name: id
        in: path
        description: An id of a voice broadcast
        required: true
        schema:
          type: integer
          format: int64
      - name: strictValidation
        in: query
        description: Turns on strict validation for recipients. System will reply
          with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't
          pass validation
        schema:
          type: boolean
      requestBody:
        description: A CallBroadcast object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallBroadcast'
        required: false
      responses:
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/updateCallBroadcast.sh
      x-sample-curl-response-url: /curl/calls/updateCallBroadcast.json
      x-sample-java-url: /java/calls/updateCallBroadcast.java
      x-sample-csharp-url: /csharp/calls/updateCallBroadcast.cs
      x-sample-php-url: /php/calls/updateCallBroadcast.php
      x-sample-js-url: /js/calls/updateCallBroadcast.js
      x-sample-python-url: /python/calls/updateCallBroadcast.py
      x-sample-go-url: /go/calls/updateCallBroadcast.go
      x-sample-description-url: /description/calls/updateCallBroadcast.md
      x-codegen-request-body-name: body
  /calls/broadcasts/{id}/archive:
    post:
      tags:
      - calls
      summary: Archive voice broadcast
      description: Archives a voice broadcast (voice broadcast will be hidden in search
        results)
      operationId: archiveVoiceBroadcast
      parameters:
      - name: id
        in: path
        description: An id of a voice broadcast to archive
        required: true
        schema:
          type: integer
          format: int64
      responses:
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/archiveVoiceBroadcast.sh
      x-sample-curl-response-url: /curl/calls/archiveVoiceBroadcast.json
      x-sample-java-url: /java/calls/archiveVoiceBroadcast.java
      x-sample-csharp-url: /csharp/calls/archiveVoiceBroadcast.cs
      x-sample-php-url: /php/calls/archiveVoiceBroadcast.php
      x-sample-js-url: /js/calls/archiveVoiceBroadcast.js
      x-sample-python-url: /python/calls/archiveVoiceBroadcast.py
      x-sample-go-url: /go/calls/archiveVoiceBroadcast.go
      x-sample-description-url: /description/calls/archiveVoiceBroadcast.md
  /calls/broadcasts/{id}/batches:
    get:
      tags:
      - calls
      summary: Find batches in a call broadcast
      description: This endpoint will enable the user to page through all of the batches
        for a particular voice broadcast campaign
      operationId: getCallBroadcastBatches
      parameters:
      - name: id
        in: path
        description: An id of a call broadcast
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      - name: limit
        in: query
        description: To set the maximum number of records to return in a paged list
          response. The default is 100
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Offset to the start of a given page. The default is 0. Check
          [pagination](https://developers.callfire.com/docs.html#pagination) page
          for more information about pagination in CallFire API.
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPage'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCallBroadcastBatches.sh
      x-sample-curl-response-url: /curl/calls/getCallBroadcastBatches.json
      x-sample-java-url: /java/calls/getCallBroadcastBatches.java
      x-sample-csharp-url: /csharp/calls/getCallBroadcastBatches.cs
      x-sample-php-url: /php/calls/getCallBroadcastBatches.php
      x-sample-js-url: /js/calls/getCallBroadcastBatches.js
      x-sample-python-url: /python/calls/getCallBroadcastBatches.py
      x-sample-go-url: /go/calls/getCallBroadcastBatches.go
      x-sample-description-url: /description/calls/getCallBroadcastBatches.md
    post:
      tags:
      - calls
      summary: Add batches to a call broadcast
      description: The 'add batch' API allows user to add additional batches to an
        already created voice broadcast campaign. The added batch will go through
        the CallFire validation process, unlike in the recipients version of this
        API. That is why you can use the scrubDuplicates flag to remove duplicates
        from your batch. Batches may be added as a contact list id, a list of contact
        ids, or a list of numbers
      operationId: addCallBroadcastBatch
      parameters:
      - name: id
        in: path
        description: An id of a call broadcast
        required: true
        schema:
          type: integer
          format: int64
      - name: strictValidation
        in: query
        description: Turns on strict validation for recipients. System will reply
          with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't
          pass validation
        schema:
          type: boolean
      requestBody:
        description: A request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
        required: false
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceId'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/addCallBroadcastBatch.sh
      x-sample-curl-response-url: /curl/calls/addCallBroadcastBatch.json
      x-sample-java-url: /java/calls/addCallBroadcastBatch.java
      x-sample-csharp-url: /csharp/calls/addCallBroadcastBatch.cs
      x-sample-php-url: /php/calls/addCallBroadcastBatch.php
      x-sample-js-url: /js/calls/addCallBroadcastBatch.js
      x-sample-python-url: /python/calls/addCallBroadcastBatch.py
      x-sample-go-url: /go/calls/addCallBroadcastBatch.go
      x-sample-description-url: /description/calls/addCallBroadcastBatch.md
      x-codegen-request-body-name: body
  /calls/broadcasts/{id}/calls:
    get:
      tags:
      - calls
      summary: Find calls in a call broadcast
      description: This endpoint will enable the user to page through all calls for
        a particular call broadcast campaign
      operationId: getCallBroadcastCalls
      parameters:
      - name: id
        in: path
        description: An Id of a call broadcast
        required: true
        schema:
          type: integer
          format: int64
      - name: batchId
        in: query
        description: An id of a particular batch associated with broadcast
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      - name: limit
        in: query
        description: To set the maximum number of records to return in a paged list
          response. The default is 100
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Offset to the start of a given page. The default is 0. Check
          [pagination](https://developers.callfire.com/docs.html#pagination) page
          for more information about pagination in CallFire API.
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallPage'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCallBroadcastCalls.sh
      x-sample-curl-response-url: /curl/calls/getCallBroadcastCalls.json
      x-sample-java-url: /java/calls/getCallBroadcastCalls.java
      x-sample-csharp-url: /csharp/calls/getCallBroadcastCalls.cs
      x-sample-php-url: /php/calls/getCallBroadcastCalls.php
      x-sample-js-url: /js/calls/getCallBroadcastCalls.js
      x-sample-python-url: /python/calls/getCallBroadcastCalls.py
      x-sample-go-url: /go/calls/getCallBroadcastCalls.go
      x-sample-description-url: /description/calls/getCallBroadcastCalls.md
  /calls/broadcasts/{id}/recipients:
    post:
      tags:
      - calls
      summary: Add recipients to a call broadcast
      description: Use this API to add the recipients to an existing voice broadcast.
        Post a list of Recipient objects to be added to the voice broadcast campaign.
        These contacts will not go through validation process, and will be acted upon
        as they are added. Recipients may be added as a list of contact ids, or list
        of numbers
      operationId: addCallBroadcastRecipients
      parameters:
      - name: id
        in: path
        description: An id of a call broadcast
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      - name: strictValidation
        in: query
        description: Turns on strict validation for recipients. System will reply
          with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't
          pass validation
        schema:
          type: boolean
      requestBody:
        description: A list of CallRecipient objects
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Recipient'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallList'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/addCallBroadcastRecipients.sh
      x-sample-curl-response-url: /curl/calls/addCallBroadcastRecipients.json
      x-sample-java-url: /java/calls/addCallBroadcastRecipients.java
      x-sample-csharp-url: /csharp/calls/addCallBroadcastRecipients.cs
      x-sample-php-url: /php/calls/addCallBroadcastRecipients.php
      x-sample-js-url: /js/calls/addCallBroadcastRecipients.js
      x-sample-python-url: /python/calls/addCallBroadcastRecipients.py
      x-sample-go-url: /go/calls/addCallBroadcastRecipients.go
      x-sample-description-url: /description/calls/addCallBroadcastRecipients.md
      x-codegen-request-body-name: body
  /calls/broadcasts/{id}/start:
    post:
      tags:
      - calls
      summary: Start voice broadcast
      description: Start a voice broadcast
      operationId: startVoiceBroadcast
      parameters:
      - name: id
        in: path
        description: An id of voice broadcast to start
        required: true
        schema:
          type: integer
          format: int64
      responses:
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/startVoiceBroadcast.sh
      x-sample-curl-response-url: /curl/calls/startVoiceBroadcast.json
      x-sample-java-url: /java/calls/startVoiceBroadcast.java
      x-sample-csharp-url: /csharp/calls/startVoiceBroadcast.cs
      x-sample-php-url: /php/calls/startVoiceBroadcast.php
      x-sample-js-url: /js/calls/startVoiceBroadcast.js
      x-sample-python-url: /python/calls/startVoiceBroadcast.py
      x-sample-go-url: /go/calls/startVoiceBroadcast.go
      x-sample-description-url: /description/calls/startVoiceBroadcast.md
  /calls/broadcasts/{id}/stats:
    get:
      tags:
      - calls
      summary: Get statistics on call broadcast
      description: Returns broadcast statistics like total number of sent/received
        actions, total cost, number of remaining outbound actions, error count, etc
      operationId: getCallBroadcastStats
      parameters:
      - name: id
        in: path
        description: An id of a call broadcast
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      - name: begin
        in: query
        description: 'Start of the search time interval, formatted in unix time milliseconds.
          Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT'
        schema:
          type: integer
          format: int64
      - name: end
        in: query
        description: 'End of the search time interval, formatted in unix time milliseconds.
          Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT'
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallBroadcastStats'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCallBroadcastStats.sh
      x-sample-curl-response-url: /curl/calls/getCallBroadcastStats.json
      x-sample-java-url: /java/calls/getCallBroadcastStats.java
      x-sample-csharp-url: /csharp/calls/getCallBroadcastStats.cs
      x-sample-php-url: /php/calls/getCallBroadcastStats.php
      x-sample-js-url: /js/calls/getCallBroadcastStats.js
      x-sample-python-url: /python/calls/getCallBroadcastStats.py
      x-sample-go-url: /go/calls/getCallBroadcastStats.go
      x-sample-description-url: /description/calls/getCallBroadcastStats.md
  /calls/broadcasts/{id}/stop:
    post:
      tags:
      - calls
      summary: Stop voice broadcast
      description: Stop a voice broadcast
      operationId: stopVoiceBroadcast
      parameters:
      - name: id
        in: path
        description: An id of voice broadcast to stop
        required: true
        schema:
          type: integer
          format: int64
      responses:
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/stopVoiceBroadcast.sh
      x-sample-curl-response-url: /curl/calls/stopVoiceBroadcast.json
      x-sample-java-url: /java/calls/stopVoiceBroadcast.java
      x-sample-csharp-url: /csharp/calls/stopVoiceBroadcast.cs
      x-sample-php-url: /php/calls/stopVoiceBroadcast.php
      x-sample-js-url: /js/calls/stopVoiceBroadcast.js
      x-sample-python-url: /python/calls/stopVoiceBroadcast.py
      x-sample-go-url: /go/calls/stopVoiceBroadcast.go
      x-sample-description-url: /description/calls/stopVoiceBroadcast.md
  /calls/broadcasts/{id}/toggleRecipientsStatus:
    post:
      tags:
      - calls
      summary: Disable/enable undialed recipients in broadcast
      description: This operation lets the user to disable/enable undialed recipients
        in created broadcast
      operationId: toggleCallBroadcastRecipientsStatus
      parameters:
      - name: id
        in: path
        description: An id of a voice broadcast
        required: true
        schema:
          type: integer
          format: int64
      - name: enable
        in: query
        description: Flag which indicate what to do with calls (true will enable call
          in DISABLED status and vice versa)
        schema:
          type: boolean
          default: false
      requestBody:
        description: List of Recipient objects. By recipient we mean either phone
          number or contact id.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Recipient'
        required: false
      responses:
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/toggleCallBroadcastRecipientsStatus.sh
      x-sample-curl-response-url: /curl/calls/toggleCallBroadcastRecipientsStatus.json
      x-sample-java-url: /java/calls/toggleCallBroadcastRecipientsStatus.java
      x-sample-csharp-url: /csharp/calls/toggleCallBroadcastRecipientsStatus.cs
      x-sample-php-url: /php/calls/toggleCallBroadcastRecipientsStatus.php
      x-sample-js-url: /js/calls/toggleCallBroadcastRecipientsStatus.js
      x-sample-python-url: /python/calls/toggleCallBroadcastRecipientsStatus.py
      x-sample-go-url: /go/calls/toggleCallBroadcastRecipientsStatus.go
      x-sample-description-url: /description/calls/toggleCallBroadcastRecipientsStatus.md
      x-codegen-request-body-name: body
  /calls/recordings/{id}:
    get:
      tags:
      - calls
      summary: Get call recording by id
      description: Returns metadata of recording of a particular call. Metadata contains
        a link to a MP3 recording
      operationId: getCallRecording
      parameters:
      - name: id
        in: path
        description: ~
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecording'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCallRecording.sh
      x-sample-curl-response-url: /curl/calls/getCallRecording.json
      x-sample-java-url: /java/calls/getCallRecording.java
      x-sample-csharp-url: /csharp/calls/getCallRecording.cs
      x-sample-php-url: /php/calls/getCallRecording.php
      x-sample-js-url: /js/calls/getCallRecording.js
      x-sample-python-url: /python/calls/getCallRecording.py
      x-sample-go-url: /go/calls/getCallRecording.go
      x-sample-description-url: /description/calls/getCallRecording.md
  /calls/recordings/{id}.mp3:
    get:
      tags:
      - calls
      summary: Get call recording in mp3 format
      description: Returns an MP3 recording of particular call, response contains
        binary data, content type is 'audio/mpeg'
      operationId: getCallRecordingMp3
      parameters:
      - name: id
        in: path
        description: An id of a call
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputStream'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCallRecordingMp3.sh
      x-sample-curl-response-url: /curl/calls/getCallRecordingMp3.json
      x-sample-java-url: /java/calls/getCallRecordingMp3.java
      x-sample-csharp-url: /csharp/calls/getCallRecordingMp3.cs
      x-sample-php-url: /php/calls/getCallRecordingMp3.php
      x-sample-js-url: /js/calls/getCallRecordingMp3.js
      x-sample-python-url: /python/calls/getCallRecordingMp3.py
      x-sample-go-url: /go/calls/getCallRecordingMp3.go
      x-sample-description-url: /description/calls/getCallRecordingMp3.md
  /calls/{id}:
    get:
      tags:
      - calls
      summary: Find a specific call
      description: Returns a single Call instance for a given call id.
      operationId: getCall
      parameters:
      - name: id
        in: path
        description: An id of a call
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCall.sh
      x-sample-curl-response-url: /curl/calls/getCall.json
      x-sample-java-url: /java/calls/getCall.java
      x-sample-csharp-url: /csharp/calls/getCall.cs
      x-sample-php-url: /php/calls/getCall.php
      x-sample-js-url: /js/calls/getCall.js
      x-sample-python-url: /python/calls/getCall.py
      x-sample-go-url: /go/calls/getCall.go
      x-sample-description-url: /description/calls/getCall.md
  /calls/{id}/recordings:
    get:
      tags:
      - calls
      summary: Get call recordings for a call
      description: Returns a list of recordings metadata of particular call. Metadata
        contains link to a MP3 recording
      operationId: getCallRecordings
      parameters:
      - name: id
        in: path
        description: An id of a call
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordingList'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCallRecordings.sh
      x-sample-curl-response-url: /curl/calls/getCallRecordings.json
      x-sample-java-url: /java/calls/getCallRecordings.java
      x-sample-csharp-url: /csharp/calls/getCallRecordings.cs
      x-sample-php-url: /php/calls/getCallRecordings.php
      x-sample-js-url: /js/calls/getCallRecordings.js
      x-sample-python-url: /python/calls/getCallRecordings.py
      x-sample-go-url: /go/calls/getCallRecordings.go
      x-sample-description-url: /description/calls/getCallRecordings.md
  /calls/{id}/recordings/{name}:
    get:
      tags:
      - calls
      summary: Get call recording by name
      description: Returns recording metadata of particular call. Metadata contains
        link to a MP3 recording
      operationId: getCallRecordingByName
      parameters:
      - name: id
        in: path
        description: An id of a call
        required: true
        schema:
          type: integer
          format: int64
      - name: name
        in: path
        description: A name of a recording
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecording'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCallRecordingByName.sh
      x-sample-curl-response-url: /curl/calls/getCallRecordingByName.json
      x-sample-java-url: /java/calls/getCallRecordingByName.java
      x-sample-csharp-url: /csharp/calls/getCallRecordingByName.cs
      x-sample-php-url: /php/calls/getCallRecordingByName.php
      x-sample-js-url: /js/calls/getCallRecordingByName.js
      x-sample-python-url: /python/calls/getCallRecordingByName.py
      x-sample-go-url: /go/calls/getCallRecordingByName.go
      x-sample-description-url: /description/calls/getCallRecordingByName.md
  /calls/{id}/recordings/{name}.mp3:
    get:
      tags:
      - calls
      summary: Get call mp3 recording by name
      description: Returns a MP3 recording of a particular call, response contains
        binary data, content type is 'audio/mpeg'
      operationId: getCallRecordingMp3ByName
      parameters:
      - name: id
        in: path
        description: An id of a call
        required: true
        schema:
          type: integer
          format: int64
      - name: name
        in: path
        description: A name of a recording
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/InputStream'
        400:
          description: Bad request
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/calls/getCallRecordingMp3ByName.sh
      x-sample-curl-response-url: /curl/calls/getCallRecordingMp3ByName.json
      x-sample-java-url: /java/calls/getCallRecordingMp3ByName.java
      x-sample-csharp-url: /csharp/calls/getCallRecordingMp3ByName.cs
      x-sample-php-url: /php/calls/getCallRecordingMp3ByName.php
      x-sample-js-url: /js/calls/getCallRecordingMp3ByName.js
      x-sample-python-url: /python/calls/getCallRecordingMp3ByName.py
      x-sample-go-url: /go/calls/getCallRecordingMp3ByName.go
      x-sample-description-url: /description/calls/getCallRecordingMp3ByName.md
  /campaigns/batches/{id}:
    get:
      tags:
      - campaigns
      summary: Find a specific batch
      description: Returns a single Batch instance for a given batch id. This API
        is useful for determining the state of a validating batch
      operationId: getCampaignBatch
      parameters:
      - name: id
        in: path
        description: An id of a batch
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/getCampaignBatch.sh
      x-sample-curl-response-url: /curl/campaigns/getCampaignBatch.json
      x-sample-java-url: /java/campaigns/getCampaignBatch.java
      x-sample-csharp-url: /csharp/campaigns/getCampaignBatch.cs
      x-sample-php-url: /php/campaigns/getCampaignBatch.php
      x-sample-js-url: /js/campaigns/getCampaignBatch.js
      x-sample-python-url: /python/campaigns/getCampaignBatch.py
      x-sample-go-url: /go/campaigns/getCampaignBatch.go
      x-sample-description-url: /description/campaigns/getCampaignBatch.md
    put:
      tags:
      - campaigns
      summary: Update a batch
      description: Updates a single Batch instance, currently batch can only be turned
        "on/off"
      operationId: updateCampaignBatch
      parameters:
      - name: id
        in: path
        description: An id of a batch to update
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: A batch instance
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Batch'
        required: false
      responses:
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/updateCampaignBatch.sh
      x-sample-curl-response-url: /curl/campaigns/updateCampaignBatch.json
      x-sample-java-url: /java/campaigns/updateCampaignBatch.java
      x-sample-csharp-url: /csharp/campaigns/updateCampaignBatch.cs
      x-sample-php-url: /php/campaigns/updateCampaignBatch.php
      x-sample-js-url: /js/campaigns/updateCampaignBatch.js
      x-sample-python-url: /python/campaigns/updateCampaignBatch.py
      x-sample-go-url: /go/campaigns/updateCampaignBatch.go
      x-sample-description-url: /description/campaigns/updateCampaignBatch.md
      x-codegen-request-body-name: body
  /campaigns/sounds:
    get:
      tags:
      - campaigns
      summary: Find sounds
      description: To find all campaign sounds which were created by user. Returns
        all sounds available to be used in campaigns
      operationId: findCampaignSounds
      parameters:
      - name: limit
        in: query
        description: To set the maximum number of records to return in a paged list
          response. The default is 100
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Offset to the start of a given page. The default is 0. Check
          [pagination](https://developers.callfire.com/docs.html#pagination) page
          for more information about pagination in CallFire API.
        schema:
          type: integer
          format: int32
          default: 0
      - name: filter
        in: query
        description: value to filter file names again; this value is used to check
          if the filename contains the filter value.
        schema:
          type: string
      - name: includeArchived
        in: query
        description: Includes ARCHIVED sounds for "true" value
        schema:
          type: boolean
      - name: includePending
        in: query
        description: Includes UPLOAD/RECORDING sounds for "true" value
        schema:
          type: boolean
      - name: includeScrubbed
        in: query
        description: Includes SCRUBBED sounds for "true" value
        schema:
          type: boolean
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSoundPage'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/findCampaignSounds.sh
      x-sample-curl-response-url: /curl/campaigns/findCampaignSounds.json
      x-sample-java-url: /java/campaigns/findCampaignSounds.java
      x-sample-csharp-url: /csharp/campaigns/findCampaignSounds.cs
      x-sample-php-url: /php/campaigns/findCampaignSounds.php
      x-sample-js-url: /js/campaigns/findCampaignSounds.js
      x-sample-python-url: /python/campaigns/findCampaignSounds.py
      x-sample-go-url: /go/campaigns/findCampaignSounds.go
      x-sample-description-url: /description/campaigns/findCampaignSounds.md
  /campaigns/sounds/calls:
    post:
      tags:
      - campaigns
      summary: Add sound via call
      description: Use this API to create a sound via a phone call. Provide the required
        phone number in the CallCreateSound object inside the request, and user will
        receive a call shortly after with instructions on how to record a sound over
        the phone.
      operationId: postCallCampaignSound
      parameters:
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      requestBody:
        description: Request object containing the name of a new campaign sound and
          phone number to call up
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallCreateSound'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSound'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/postCallCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/postCallCampaignSound.json
      x-sample-java-url: /java/campaigns/postCallCampaignSound.java
      x-sample-csharp-url: /csharp/campaigns/postCallCampaignSound.cs
      x-sample-php-url: /php/campaigns/postCallCampaignSound.php
      x-sample-js-url: /js/campaigns/postCallCampaignSound.js
      x-sample-python-url: /python/campaigns/postCallCampaignSound.py
      x-sample-go-url: /go/campaigns/postCallCampaignSound.go
      x-sample-description-url: /description/campaigns/postCallCampaignSound.md
      x-codegen-request-body-name: body
  /campaigns/sounds/files:
    post:
      tags:
      - campaigns
      summary: Add sound via file
      description: Create a campaign sound file via a supplied .mp3 or .wav file
      operationId: postFileCampaignSound
      parameters:
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  description: A sound file encoded in binary form
                  format: binary
                name:
                  type: string
                  description: Optional name of a sound file, if the name is empty
                    than it will be taken from a file
        required: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSound'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/postFileCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/postFileCampaignSound.json
      x-sample-java-url: /java/campaigns/postFileCampaignSound.java
      x-sample-csharp-url: /csharp/campaigns/postFileCampaignSound.cs
      x-sample-php-url: /php/campaigns/postFileCampaignSound.php
      x-sample-js-url: /js/campaigns/postFileCampaignSound.js
      x-sample-python-url: /python/campaigns/postFileCampaignSound.py
      x-sample-go-url: /go/campaigns/postFileCampaignSound.go
      x-sample-description-url: /description/campaigns/postFileCampaignSound.md
  /campaigns/sounds/tts:
    post:
      tags:
      - campaigns
      summary: Add sound via text-to-speech
      description: 'Use this API to create a sound file via a supplied string of text.
        Add a text in the TextToSpeech.message field, and pick a voice in the TextToSpeech.voice
        field. Available voices are: MALE1, FEMALE1, FEMALE2, SPANISH1, FRENCHCANADIAN1'
      operationId: postTTSCampaignSound
      parameters:
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      requestBody:
        description: textToSpeech
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeech'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSound'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/postTTSCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/postTTSCampaignSound.json
      x-sample-java-url: /java/campaigns/postTTSCampaignSound.java
      x-sample-csharp-url: /csharp/campaigns/postTTSCampaignSound.cs
      x-sample-php-url: /php/campaigns/postTTSCampaignSound.php
      x-sample-js-url: /js/campaigns/postTTSCampaignSound.js
      x-sample-python-url: /python/campaigns/postTTSCampaignSound.py
      x-sample-go-url: /go/campaigns/postTTSCampaignSound.go
      x-sample-description-url: /description/campaigns/postTTSCampaignSound.md
      x-codegen-request-body-name: body
  /campaigns/sounds/{id}:
    get:
      tags:
      - campaigns
      summary: Find a specific sound
      description: Returns a single CampaignSound instance for a given sound id in
        campaign. This is a meta data to the sounds. No audio data is returned from
        this API
      operationId: getCampaignSound
      parameters:
      - name: id
        in: path
        description: An id of a sound campaign
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSound'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/getCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/getCampaignSound.json
      x-sample-java-url: /java/campaigns/getCampaignSound.java
      x-sample-csharp-url: /csharp/campaigns/getCampaignSound.cs
      x-sample-php-url: /php/campaigns/getCampaignSound.php
      x-sample-js-url: /js/campaigns/getCampaignSound.js
      x-sample-python-url: /python/campaigns/getCampaignSound.py
      x-sample-go-url: /go/campaigns/getCampaignSound.go
      x-sample-description-url: /description/campaigns/getCampaignSound.md
    delete:
      tags:
      - campaigns
      summary: Delete a specific sound
      description: Deletes a single campaign sound instance for a specific campaign
        sound id, this operation does not delete sound completely, it sets sound status
        to ARCHIVED which means that sound will no longer appear in 'find' operation
        results, but still accessible via 'get' operation
      operationId: deleteCampaignSound
      parameters:
      - name: id
        in: path
        description: An id of a campaign sound
        required: true
        schema:
          type: integer
          format: int64
      responses:
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/deleteCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/deleteCampaignSound.json
      x-sample-java-url: /java/campaigns/deleteCampaignSound.java
      x-sample-csharp-url: /csharp/campaigns/deleteCampaignSound.cs
      x-sample-php-url: /php/campaigns/deleteCampaignSound.php
      x-sample-js-url: /js/campaigns/deleteCampaignSound.js
      x-sample-python-url: /python/campaigns/deleteCampaignSound.py
      x-sample-go-url: /go/campaigns/deleteCampaignSound.go
      x-sample-description-url: /description/campaigns/deleteCampaignSound.md
  /campaigns/sounds/{id}.mp3:
    get:
      tags:
      - campaigns
      summary: Download a MP3 sound
      description: Download the MP3 version of a hosted file. This is an audio data
        endpoint. Returns binary response of the 'audio/mpeg' content type
      operationId: getCampaignSoundDataMp3
      parameters:
      - name: id
        in: path
        description: An id of a campaign sound
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/StreamingOutput'
        400:
          description: Bad request
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/getCampaignSoundDataMp3.sh
      x-sample-curl-response-url: /curl/campaigns/getCampaignSoundDataMp3.json
      x-sample-java-url: /java/campaigns/getCampaignSoundDataMp3.java
      x-sample-csharp-url: /csharp/campaigns/getCampaignSoundDataMp3.cs
      x-sample-php-url: /php/campaigns/getCampaignSoundDataMp3.php
      x-sample-js-url: /js/campaigns/getCampaignSoundDataMp3.js
      x-sample-python-url: /python/campaigns/getCampaignSoundDataMp3.py
      x-sample-go-url: /go/campaigns/getCampaignSoundDataMp3.go
      x-sample-description-url: /description/campaigns/getCampaignSoundDataMp3.md
  /campaigns/sounds/{id}.wav:
    get:
      tags:
      - campaigns
      summary: Download a WAV sound
      description: Download the WAV version of the hosted file. This is an audio data
        endpoint. Returns binary response of the 'audio/mpeg' content type
      operationId: getCampaignSoundDataWav
      parameters:
      - name: id
        in: path
        description: An id of a campaign sound
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            audio/wav:
              schema:
                $ref: '#/components/schemas/StreamingOutput'
        400:
          description: Bad request
          content:
            audio/wav:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            audio/wav:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            audio/wav:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            audio/wav:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            audio/wav:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/campaigns/getCampaignSoundDataWav.sh
      x-sample-curl-response-url: /curl/campaigns/getCampaignSoundDataWav.json
      x-sample-java-url: /java/campaigns/getCampaignSoundDataWav.java
      x-sample-csharp-url: /csharp/campaigns/getCampaignSoundDataWav.cs
      x-sample-php-url: /php/campaigns/getCampaignSoundDataWav.php
      x-sample-js-url: /js/campaigns/getCampaignSoundDataWav.js
      x-sample-python-url: /python/campaigns/getCampaignSoundDataWav.py
      x-sample-go-url: /go/campaigns/getCampaignSoundDataWav.go
      x-sample-description-url: /description/campaigns/getCampaignSoundDataWav.md
  /contacts:
    get:
      tags:
      - contacts
      summary: Find contacts
      description: Find user's contacts by id, contact list, or on any property name.
        Returns a paged list of contacts
      operationId: findContacts
      parameters:
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      - name: limit
        in: query
        description: To set the maximum number of records to return in a paged list
          response. The default is 100
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Offset to the start of a given page. The default is 0. Check
          [pagination](https://developers.callfire.com/docs.html#pagination) page
          for more information about pagination in CallFire API.
        schema:
          type: integer
          format: int32
          default: 0
      - name: id
        in: query
        description: A list of contact IDs. If the id parameter is included, the other
          query parameters are ignored.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: number
        in: query
        description: Multiple contact numbers can be specified. If the number parameter
          is included, the other query parameters are ignored.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: contactListId
        in: query
        description: Filters contacts by a particular contact list
        schema:
          type: integer
          format: int64
      - name: propertyName
        in: query
        description: Name of a contact property to search by
        schema:
          type: string
      - name: propertyValue
        in: query
        description: Value of a contact property to search by
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPage'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/contacts/findContacts.sh
      x-sample-curl-response-url: /curl/contacts/findContacts.json
      x-sample-java-url: /java/contacts/findContacts.java
      x-sample-csharp-url: /csharp/contacts/findContacts.cs
      x-sample-php-url: /php/contacts/findContacts.php
      x-sample-js-url: /js/contacts/findContacts.js
      x-sample-python-url: /python/contacts/findContacts.py
      x-sample-go-url: /go/contacts/findContacts.go
      x-sample-description-url: /description/contacts/findContacts.md
    post:
      tags:
      - contacts
      summary: Create contacts
      description: 'Creates contacts in CallFire system. Only values from the next
        list can be used as external system parameter in contact creation: **NATION_BUILDER,
        SALES_FORCE_CONTACTS, SALES_FORCE_LEADS, SALES_FORCE_REPORTS, ZOHO, NETSUITE,
        MAIL_CHIMP**. See [contacts validation rules](https://www.callfire.com/help/docs/getting-started/managing-contacts/validating-contacts#section1)'
      operationId: createContacts
      requestBody:
        description: A list of a contact objects
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Contact'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceIdList'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/contacts/createContacts.sh
      x-sample-curl-response-url: /curl/contacts/createContacts.json
      x-sample-java-url: /java/contacts/createContacts.java
      x-sample-csharp-url: /csharp/contacts/createContacts.cs
      x-sample-php-url: /php/contacts/createContacts.php
      x-sample-js-url: /js/contacts/createContacts.js
      x-sample-python-url: /python/contacts/createContacts.py
      x-sample-go-url: /go/contacts/createContacts.go
      x-sample-description-url: /description/contacts/createContacts.md
      x-codegen-request-body-name: body
  /contacts/dncs:
    get:
      tags:
      - contacts
      summary: Find do not contact (dnc) items
      description: Searches for all Do Not Contact (DNC) objects created by user.
        These DoNotContact entries only affect calls/texts/campaigns on this account.
        Returns a paged list of DoNotContact objects
      operationId: findDoNotContacts
      parameters:
      - name: fields
        in: query
        description: 'Limit fields received in response. E.g. fields: id, name or
          fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response)
          page.'
        schema:
          type: string
      - name: limit
        in: query
        description: To set the maximum number of records to return in a paged list
          response. The default is 100
        schema:
          type: integer
          format: int32
          default: 100
      - name: offset
        in: query
        description: Offset to the start of a given page. The default is 0. Check
          [pagination](https://developers.callfire.com/docs.html#pagination) page
          for more information about pagination in CallFire API.
        schema:
          type: integer
          format: int32
          default: 0
      - name: prefix
        in: query
        description: Prefix (1-10 digits) of phone numbers
        schema:
          type: string
      - name: campaignId
        in: query
        description: A campaign id which was used to send a message to a DNC number
        schema:
          type: integer
          format: int64
      - name: source
        in: query
        description: A DNC source name to search for DNCs
        schema:
          type: string
      - name: call
        in: query
        description: Show only Do-Not-Call numbers
        schema:
          type: boolean
      - name: text
        in: query
        description: Show only Do-Not-Text numbers
        schema:
          type: boolean
      - name: inboundCall
        in: query
        description: ~
        schema:
          type: boolean
      - name: inboundText
        in: query
        description: ~
        schema:
          type: boolean
      - name: number
        in: query
        description: ~
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoNotContactPage'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/contacts/findDoNotContacts.sh
      x-sample-curl-response-url: /curl/contacts/findDoNotContacts.json
      x-sample-java-url: /java/contacts/findDoNotContacts.java
      x-sample-csharp-url: /csharp/contacts/findDoNotContacts.cs
      x-sample-php-url: /php/contacts/findDoNotContacts.php
      x-sample-js-url: /js/contacts/findDoNotContacts.js
      x-sample-python-url: /python/contacts/findDoNotContacts.py
      x-sample-go-url: /go/contacts/findDoNotContacts.go
      x-sample-description-url: /description/contacts/findDoNotContacts.md
    post:
      tags:
      - contacts
      summary: Add do not contact (dnc) numbers
      description: Add or update a list of Do Not Contact (DNC) contact entries. Can
        toggle whether the DNCs are enabled for calls/texts.
      operationId: addDoNotContacts
      requestBody:
        description: AddDoNotContactsRequest object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDoNotContactRequest'
        required: false
      responses:
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - basicAuth: []
      x-sample-curl-request-url: /curl/contacts/addDoNotContacts.sh
      x-sample-curl-response-url: /curl/contacts/addDoNotContacts.json
      x-sample-java-url: /java/contacts/addDoNotContacts.java
      x-sample-csharp-url: /csharp/contacts/addDoNotContacts.cs
[...]
