{
  "openapi": "3.0.1",
  "info": {
    "title": "ConfigCat Public Management API",
    "description": "**Base API URL**: https://api.configcat.com\n\nIf you prefer the swagger documentation, you can find it here: [Swagger UI](https://api.configcat.com/swagger).\n\nThe purpose of this API is to access the ConfigCat platform programmatically. \nYou can **Create**, **Read**, **Update** and **Delete** any entities like **Feature Flags, Configs, Environments** or **Products** within ConfigCat. \n\nThe API is based on HTTP REST, uses resource-oriented URLs, status codes and supports JSON \nand JSON+HAL format. Do not use this API for accessing and evaluating feature flag values. Use the [SDKs instead](https://configcat.com/docs/sdk-reference/overview).\n\n\n# OpenAPI Specification\n\nThe complete specification is publicly available here: [swagger.json](v1/swagger.json). \nYou can use it to generate client libraries in various languages with [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator) or\n[Swagger Codegen](https://swagger.io/tools/swagger-codegen/) to interact with this API.\n\n# Authentication\nThis API uses the [Basic HTTP Authentication Scheme](https://en.wikipedia.org/wiki/Basic_access_authentication). \n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n# Throttling and rate limits\nAll the rate limited API calls are returning information about the current rate limit period in the following HTTP headers:\n\n| Header | Description |\n| :- | :- |\n| X-Rate-Limit-Remaining | The maximum number of requests remaining in the current rate limit period. |\n| X-Rate-Limit-Reset     | The time\twhen the current rate limit period resets.\t\t\t\t\t\t  |\n\nWhen the rate limit is exceeded by a request, the API returns with a `HTTP 429 - Too many requests` status along with a `Retry-After` HTTP header.\n",
    "termsOfService": "https://configcat.com/termsofserviceagreement",
    "contact": {
      "name": "ConfigCat",
      "url": "https://configcat.com",
      "email": "support@configcat.com"
    },
    "version": "v1",
    "x-logo": {
      "url": "https://api.configcat.com/resources/configcat-logo-horiz.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.configcat.com"
    }
  ],
  "paths": {
    "/v1/products/{productId}/auditlogs": {
      "get": {
        "tags": [
          "Audit logs"
        ],
        "summary": "List Audit log items for Product",
        "description": "This endpoint returns the list of Audit log items for a given Product \nand the result can be optionally filtered by Config and/or Environment.",
        "operationId": "get-auditlogs",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "configId",
            "in": "query",
            "description": "The identifier of the Config.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "environmentId",
            "in": "query",
            "description": "The identifier of the Environment.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "auditLogType",
            "in": "query",
            "description": "Filter Audit logs by Audit log type.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/AuditLogType"
                }
              ],
              "nullable": true
            }
          },
          {
            "name": "fromUtcDateTime",
            "in": "query",
            "description": "Filter Audit logs by starting UTC date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toUtcDateTime",
            "in": "query",
            "description": "Filter Audit logs by ending UTC date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLogItemModel"
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLogItemModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/auditlogs": {
      "get": {
        "tags": [
          "Audit logs"
        ],
        "summary": "List Audit log items for Organization",
        "description": "This endpoint returns the list of Audit log items for a given Organization \nand the result can be optionally filtered by Product and/or Config and/or Environment.",
        "operationId": "get-organization-auditlogs",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The identifier of the Organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "The identifier of the Product.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "configId",
            "in": "query",
            "description": "The identifier of the Config.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "environmentId",
            "in": "query",
            "description": "The identifier of the Environment.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "auditLogType",
            "in": "query",
            "description": "Filter Audit logs by Audit log type.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/AuditLogType"
                }
              ],
              "nullable": true
            }
          },
          {
            "name": "fromUtcDateTime",
            "in": "query",
            "description": "Filter Audit logs by starting UTC date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toUtcDateTime",
            "in": "query",
            "description": "Filter Audit logs by ending UTC date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLogItemModel"
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLogItemModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/configs/{configId}/deleted-settings": {
      "get": {
        "tags": [
          "Audit logs"
        ],
        "summary": "List Deleted Settings",
        "description": "This endpoint returns the list of Feature Flags and Settings that were deleted from the given Config.",
        "operationId": "get-deleted-settings",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SettingModel"
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SettingModel-haljson"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/configs": {
      "get": {
        "tags": [
          "Configs"
        ],
        "summary": "List Configs",
        "description": "This endpoint returns the list of the Configs that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-configs",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConfigModel"
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConfigModel-haljson"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Configs"
        ],
        "summary": "Create Config",
        "description": "This endpoint creates a new Config in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-config",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConfigRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConfigRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/configs/{configId}": {
      "get": {
        "tags": [
          "Configs"
        ],
        "summary": "Get Config",
        "description": "This endpoint returns the metadata of a Config\nidentified by the `configId`.",
        "operationId": "get-config",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the config data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Configs"
        ],
        "summary": "Update Config",
        "description": "This endpoint updates a Config identified by the `configId` parameter.",
        "operationId": "update-config",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Configs"
        ],
        "summary": "Delete Config",
        "description": "This endpoint removes a Config identified by the `configId` parameter.",
        "operationId": "delete-config",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/products/{productId}/environments": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "List Environments",
        "description": "This endpoint returns the list of the Environments that belongs to the given Product identified by the\n`productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "get-environments",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnvironmentModel"
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnvironmentModel-haljson"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Environments"
        ],
        "summary": "Create Environment",
        "description": "This endpoint creates a new Environment in a specified Product \nidentified by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.",
        "operationId": "create-environment",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The identifier of the Product.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/environments/{environmentId}": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "Get Environment",
        "description": "This endpoint returns the metadata of an Environment \nidentified by the `environmentId`.",
        "operationId": "get-environment",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the environment data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Environments"
        ],
        "summary": "Update Environment",
        "description": "This endpoint updates an Environment identified by the `environmentId` parameter.",
        "operationId": "update-environment",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Environments"
        ],
        "summary": "Delete Environment",
        "description": "This endpoint removes an Environment identified by the `environmentId` parameter.",
        "operationId": "delete-environment",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/environments/{environmentId}/settings/{settingId}/value": {
      "get": {
        "tags": [
          "Feature Flag & Setting values"
        ],
        "summary": "Get value",
        "description": "This endpoint returns the value of a Feature Flag or Setting \nin a specified Environment identified by the `environmentId` parameter.\n\nThe most important attributes in the response are the `value`, `rolloutRules` and `percentageRules`.\nThe `value` represents what the clients will get when the evaluation requests of our SDKs \nare not matching to any of the defined Targeting or Percentage Rules, or when there are no additional rules to evaluate.\n\nThe `rolloutRules` and `percentageRules` attributes are representing the current \nTargeting and Percentage Rules configuration of the actual Feature Flag or Setting \nin an **ordered** collection, which means the order of the returned rules is matching to the\nevaluation order. You can read more about these rules [here](https://configcat.com/docs/advanced/targeting/).",
        "operationId": "get-setting-value",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "settingId",
            "in": "path",
            "description": "The id of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the setting value data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Feature Flag & Setting values"
        ],
        "summary": "Replace value",
        "description": "This endpoint replaces the whole value of a Feature Flag or Setting in a specified Environment.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\n**Important:** As this endpoint is doing a complete replace, it's important to set every other attribute that you don't \nwant to change in its original state. Not listing one means that it will reset.\n\nFor example: We have the following resource.\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": false\n}\n```\nIf we send a replace request body as below:\n```\n{\n\t\"value\": true\n}\n```\nThen besides that the default value is set to `true`, all the Percentage Rules are deleted. \nSo we get a response like this:\n```\n{\n\t\"rolloutPercentageItems\": [],\n\t\"rolloutRules\": [],\n\t\"value\": true\n}\n```",
        "operationId": "replace-setting-value",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "settingId",
            "in": "path",
            "description": "The id of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingValueModel"
              },
              "examples": {
                "simple": {
                  "description": "This example turns on a feature flag.",
                  "value": {
                    "value": true
                  }
                },
                "advanced": {
                  "description": "This example turns on a feature flag and adds two items to its percentage evaluation rules.",
                  "value": {
                    "value": true,
                    "rolloutPercentageItems": [
                      {
                        "percentage": 30,
                        "value": true
                      },
                      {
                        "percentage": 70,
                        "value": false
                      }
                    ]
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingValueModel"
              },
              "examples": {
                "simple": {
                  "description": "This example turns on a feature flag.",
                  "value": {
                    "value": true
                  }
                },
                "advanced": {
                  "description": "This example turns on a feature flag and adds two items to its percentage evaluation rules.",
                  "value": {
                    "value": true,
                    "rolloutPercentageItems": [
                      {
                        "percentage": 30,
                        "value": true
                      },
                      {
                        "percentage": 70,
                        "value": false
                      }
                    ]
                  }
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingValueModel"
              },
              "examples": {
                "simple": {
                  "description": "This example turns on a feature flag.",
                  "value": {
                    "value": true
                  }
                },
                "advanced": {
                  "description": "This example turns on a feature flag and adds two items to its percentage evaluation rules.",
                  "value": {
                    "value": true,
                    "rolloutPercentageItems": [
                      {
                        "percentage": 30,
                        "value": true
                      },
                      {
                        "percentage": 70,
                        "value": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "patch": {
        "tags": [
          "Feature Flag & Setting values"
        ],
        "summary": "Update value",
        "description": "This endpoint updates the value of a Feature Flag or Setting \nwith a collection of [JSON Patch](http://jsonpatch.com) operations in a specified Environment.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\nThe advantage of using JSON Patch is that you can describe individual update operations on a resource\nwithout touching attributes that you don't want to change. It supports collection reordering, so it also \ncan be used for reordering the targeting rules of a Feature Flag or Setting.\n\nFor example: We have the following resource.\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": false\n}\n```\nIf we send an update request body as below:\n```\n[\n\t{\n\t\t\"op\": \"replace\",\n\t\t\"path\": \"/value\",\n\t\t\"value\": true\n\t}\n]\n```\nOnly the default value is going to be set to `true` and all the Percentage Rules are remaining unchanged.\nSo we get a response like this:\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": true\n}\n```",
        "operationId": "update-setting-value",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "settingId",
            "in": "path",
            "description": "The id of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "examples": {
                "turn on a feature flag": {
                  "description": "This example turns on a feature flag.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/value",
                      "value": true
                    }
                  ]
                },
                "add percentage rules": {
                  "description": "This example adds two items to the percentage evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 30,
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 70,
                        "value": false
                      }
                    }
                  ]
                },
                "add targeting rules": {
                  "description": "This example adds two items to the targeting evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "contains",
                        "comparisonValue": "@example.com",
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "isOneOf",
                        "comparisonValue": "@blacklist.com",
                        "value": false
                      }
                    }
                  ]
                },
                "reorder targeting rules": {
                  "description": "This example swaps the first and the second targeting evaluation rule.",
                  "value": [
                    {
                      "op": "move",
                      "path": "/rolloutRules/1",
                      "from": "/rolloutRules/0"
                    }
                  ]
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "examples": {
                "turn on a feature flag": {
                  "description": "This example turns on a feature flag.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/value",
                      "value": true
                    }
                  ]
                },
                "add percentage rules": {
                  "description": "This example adds two items to the percentage evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 30,
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 70,
                        "value": false
                      }
                    }
                  ]
                },
                "add targeting rules": {
                  "description": "This example adds two items to the targeting evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "contains",
                        "comparisonValue": "@example.com",
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "isOneOf",
                        "comparisonValue": "@blacklist.com",
                        "value": false
                      }
                    }
                  ]
                },
                "reorder targeting rules": {
                  "description": "This example swaps the first and the second targeting evaluation rule.",
                  "value": [
                    {
                      "op": "move",
                      "path": "/rolloutRules/1",
                      "from": "/rolloutRules/0"
                    }
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "examples": {
                "turn on a feature flag": {
                  "description": "This example turns on a feature flag.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/value",
                      "value": true
                    }
                  ]
                },
                "add percentage rules": {
                  "description": "This example adds two items to the percentage evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 30,
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 70,
                        "value": false
                      }
                    }
                  ]
                },
                "add targeting rules": {
                  "description": "This example adds two items to the targeting evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "contains",
                        "comparisonValue": "@example.com",
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "isOneOf",
                        "comparisonValue": "@blacklist.com",
                        "value": false
                      }
                    }
                  ]
                },
                "reorder targeting rules": {
                  "description": "This example swaps the first and the second targeting evaluation rule.",
                  "value": [
                    {
                      "op": "move",
                      "path": "/rolloutRules/1",
                      "from": "/rolloutRules/0"
                    }
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "examples": {
                "turn on a feature flag": {
                  "description": "This example turns on a feature flag.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/value",
                      "value": true
                    }
                  ]
                },
                "add percentage rules": {
                  "description": "This example adds two items to the percentage evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 30,
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 70,
                        "value": false
                      }
                    }
                  ]
                },
                "add targeting rules": {
                  "description": "This example adds two items to the targeting evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "contains",
                        "comparisonValue": "@example.com",
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "isOneOf",
                        "comparisonValue": "@blacklist.com",
                        "value": false
                      }
                    }
                  ]
                },
                "reorder targeting rules": {
                  "description": "This example swaps the first and the second targeting evaluation rule.",
                  "value": [
                    {
                      "op": "move",
                      "path": "/rolloutRules/1",
                      "from": "/rolloutRules/0"
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "When the patch was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel-haljson"
                }
              }
            }
          },
          "204": {
            "description": "When no change applied on the resource."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/configs/{configId}/environments/{environmentId}/values": {
      "get": {
        "tags": [
          "Feature Flag & Setting values"
        ],
        "summary": "Get values",
        "description": "This endpoint returns the value of a specified Config's Feature Flags or Settings identified by the `configId` parameter\nin a specified Environment identified by the `environmentId` parameter.\n\nThe most important attributes in the response are the `value`, `rolloutRules` and `percentageRules`.\nThe `value` represents what the clients will get when the evaluation requests of our SDKs \nare not matching to any of the defined Targeting or Percentage Rules, or when there are no additional rules to evaluate.\n\nThe `rolloutRules` and `percentageRules` attributes are representing the current \nTargeting and Percentage Rules configuration of the actual Feature Flag or Setting \nin an **ordered** collection, which means the order of the returned rules is matching to the\nevaluation order. You can read more about these rules [here](https://configcat.com/docs/advanced/targeting/).",
        "operationId": "get-setting-values",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the setting values returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigSettingValuesModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigSettingValuesModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/settings/{settingKeyOrId}/value": {
      "get": {
        "tags": [
          "Feature Flag & Setting values using SDK Key"
        ],
        "summary": "Get value",
        "description": "This endpoint returns the value of a Feature Flag or Setting \nin a specified Environment identified by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY` header.\n\nThe most important attributes in the response are the `value`, `rolloutRules` and `percentageRules`.\nThe `value` represents what the clients will get when the evaluation requests of our SDKs \nare not matching to any of the defined Targeting or Percentage Rules, or when there are no additional rules to evaluate.\n\nThe `rolloutRules` and `percentageRules` attributes are representing the current \nTargeting and Percentage Rules configuration of the actual Feature Flag or Setting \nin an **ordered** collection, which means the order of the returned rules is matching to the\nevaluation order. You can read more about these rules [here](https://configcat.com/docs/advanced/targeting/).",
        "operationId": "get-setting-value-by-sdkkey",
        "parameters": [
          {
            "name": "settingKeyOrId",
            "in": "path",
            "description": "The key or id of the Setting.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CONFIGCAT-SDKKEY",
            "in": "header",
            "description": "The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "put": {
        "tags": [
          "Feature Flag & Setting values using SDK Key"
        ],
        "summary": "Replace value",
        "description": "This endpoint replaces the value of a Feature Flag or Setting \nin a specified Environment identified by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY` header.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\n**Important:** As this endpoint is doing a complete replace, it's important to set every other attribute that you don't \nwant to change to its original state. Not listing one means that it will reset.\n\nFor example: We have the following resource.\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": false\n}\n```\nIf we send a replace request body as below:\n```\n{\n\t\"value\": true\n}\n```\nThen besides that the default served value is set to `true`, all the Percentage Rules are deleted. \nSo we get a response like this:\n```\n{\n\t\"rolloutPercentageItems\": [],\n\t\"rolloutRules\": [],\n\t\"value\": true\n}\n```",
        "operationId": "replace-setting-value-by-sdkkey",
        "parameters": [
          {
            "name": "settingKeyOrId",
            "in": "path",
            "description": "The key or id of the Setting.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CONFIGCAT-SDKKEY",
            "in": "header",
            "description": "The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingValueModel"
              },
              "examples": {
                "simple": {
                  "description": "This example turns on a feature flag.",
                  "value": {
                    "value": true
                  }
                },
                "advanced": {
                  "description": "This example turns on a feature flag and adds two items to its percentage evaluation rules.",
                  "value": {
                    "value": true,
                    "rolloutPercentageItems": [
                      {
                        "percentage": 30,
                        "value": true
                      },
                      {
                        "percentage": 70,
                        "value": false
                      }
                    ]
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingValueModel"
              },
              "examples": {
                "simple": {
                  "description": "This example turns on a feature flag.",
                  "value": {
                    "value": true
                  }
                },
                "advanced": {
                  "description": "This example turns on a feature flag and adds two items to its percentage evaluation rules.",
                  "value": {
                    "value": true,
                    "rolloutPercentageItems": [
                      {
                        "percentage": 30,
                        "value": true
                      },
                      {
                        "percentage": 70,
                        "value": false
                      }
                    ]
                  }
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingValueModel"
              },
              "examples": {
                "simple": {
                  "description": "This example turns on a feature flag.",
                  "value": {
                    "value": true
                  }
                },
                "advanced": {
                  "description": "This example turns on a feature flag and adds two items to its percentage evaluation rules.",
                  "value": {
                    "value": true,
                    "rolloutPercentageItems": [
                      {
                        "percentage": 30,
                        "value": true
                      },
                      {
                        "percentage": 70,
                        "value": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "patch": {
        "tags": [
          "Feature Flag & Setting values using SDK Key"
        ],
        "summary": "Update value",
        "description": "This endpoint updates the value of a Feature Flag or Setting \nwith a collection of [JSON Patch](http://jsonpatch.com) operations in a specified Environment\nidentified by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY` header.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes are modifiable by this endpoint.\n\nThe advantage of using JSON Patch is that you can describe individual update operations on a resource\nwithout touching attributes that you don't want to change. It supports collection reordering, so it also \ncan be used for reordering the targeting rules of a Feature Flag or Setting.\n\nFor example: We have the following resource.\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": false\n}\n```\nIf we send an update request body as below:\n```\n[\n\t{\n\t\t\"op\": \"replace\",\n\t\t\"path\": \"/value\",\n\t\t\"value\": true\n\t}\n]\n```\nOnly the default served value is going to be set to `true` and all the Percentage Rules are remaining unchanged.\nSo we get a response like this:\n```\n{\n\t\"rolloutPercentageItems\": [\n\t\t{\n\t\t\t\"percentage\": 30,\n\t\t\t\"value\": true\n\t\t},\n\t\t{\n\t\t\t\"percentage\": 70,\n\t\t\t\"value\": false\n\t\t}\n\t],\n\t\"rolloutRules\": [],\n\t\"value\": true\n}\n```",
        "operationId": "update-setting-value-by-sdkkey",
        "parameters": [
          {
            "name": "settingKeyOrId",
            "in": "path",
            "description": "The key or id of the Setting.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason note for the Audit Log if the Product's \"Config changes require a reason\" preference is turned on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CONFIGCAT-SDKKEY",
            "in": "header",
            "description": "The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "examples": {
                "turn on a feature flag": {
                  "description": "This example turns on a feature flag.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/value",
                      "value": true
                    }
                  ]
                },
                "add percentage rules": {
                  "description": "This example adds two items to the percentage evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 30,
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 70,
                        "value": false
                      }
                    }
                  ]
                },
                "add targeting rules": {
                  "description": "This example adds two items to the targeting evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "contains",
                        "comparisonValue": "@example.com",
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "isOneOf",
                        "comparisonValue": "@blacklist.com",
                        "value": false
                      }
                    }
                  ]
                },
                "reorder targeting rules": {
                  "description": "This example swaps the first and the second targeting evaluation rule.",
                  "value": [
                    {
                      "op": "move",
                      "path": "/rolloutRules/1",
                      "from": "/rolloutRules/0"
                    }
                  ]
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "examples": {
                "turn on a feature flag": {
                  "description": "This example turns on a feature flag.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/value",
                      "value": true
                    }
                  ]
                },
                "add percentage rules": {
                  "description": "This example adds two items to the percentage evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 30,
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 70,
                        "value": false
                      }
                    }
                  ]
                },
                "add targeting rules": {
                  "description": "This example adds two items to the targeting evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "contains",
                        "comparisonValue": "@example.com",
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "isOneOf",
                        "comparisonValue": "@blacklist.com",
                        "value": false
                      }
                    }
                  ]
                },
                "reorder targeting rules": {
                  "description": "This example swaps the first and the second targeting evaluation rule.",
                  "value": [
                    {
                      "op": "move",
                      "path": "/rolloutRules/1",
                      "from": "/rolloutRules/0"
                    }
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "examples": {
                "turn on a feature flag": {
                  "description": "This example turns on a feature flag.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/value",
                      "value": true
                    }
                  ]
                },
                "add percentage rules": {
                  "description": "This example adds two items to the percentage evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 30,
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 70,
                        "value": false
                      }
                    }
                  ]
                },
                "add targeting rules": {
                  "description": "This example adds two items to the targeting evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "contains",
                        "comparisonValue": "@example.com",
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "isOneOf",
                        "comparisonValue": "@blacklist.com",
                        "value": false
                      }
                    }
                  ]
                },
                "reorder targeting rules": {
                  "description": "This example swaps the first and the second targeting evaluation rule.",
                  "value": [
                    {
                      "op": "move",
                      "path": "/rolloutRules/1",
                      "from": "/rolloutRules/0"
                    }
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "examples": {
                "turn on a feature flag": {
                  "description": "This example turns on a feature flag.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/value",
                      "value": true
                    }
                  ]
                },
                "add percentage rules": {
                  "description": "This example adds two items to the percentage evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 30,
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutPercentageItems/-",
                      "value": {
                        "percentage": 70,
                        "value": false
                      }
                    }
                  ]
                },
                "add targeting rules": {
                  "description": "This example adds two items to the targeting evaluation rules.",
                  "value": [
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "contains",
                        "comparisonValue": "@example.com",
                        "value": true
                      }
                    },
                    {
                      "op": "add",
                      "path": "/rolloutRules/-",
                      "value": {
                        "comparisonAttribute": "Identifier",
                        "comparator": "isOneOf",
                        "comparisonValue": "@blacklist.com",
                        "value": false
                      }
                    }
                  ]
                },
                "reorder targeting rules": {
                  "description": "This example swaps the first and the second targeting evaluation rule.",
                  "value": [
                    {
                      "op": "move",
                      "path": "/rolloutRules/1",
                      "from": "/rolloutRules/0"
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingValueModel-haljson"
                }
              }
            }
          },
          "204": {
            "description": "When no change applied on the resource."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/configs/{configId}/settings": {
      "get": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "List Flags",
        "description": "This endpoint returns the list of the Feature Flags and Settings defined in a \nspecified Config, identified by the `configId` parameter.",
        "operationId": "get-settings",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SettingModel"
                  }
                }
              },
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SettingModel-haljson"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "post": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "Create Flag",
        "description": "This endpoint creates a new Feature Flag or Setting in a specified Config\nidentified by the `configId` parameter.\n\n**Important:** The `key` attribute must be unique within the given Config.",
        "operationId": "create-setting",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "description": "The identifier of the Config.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettingModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "When the creation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/settings/{settingId}": {
      "get": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "Get Flag",
        "description": "This endpoint returns the metadata attributes of a Feature Flag or Setting \nidentified by the `settingId` parameter.",
        "operationId": "get-setting",
        "parameters": [
          {
            "name": "settingId",
            "in": "path",
            "description": "The identifier of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the setting data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "patch": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "Update Flag",
        "description": "This endpoint updates the metadata of a Feature Flag or Setting \nwith a collection of [JSON Patch](http://jsonpatch.com) operations in a specified Config.\n\nOnly the `name`, `hint` and `tags` attributes are modifiable by this endpoint.\nThe `tags` attribute is a simple collection of the [tag IDs](#operation/get-tags) attached to the given setting.\n\nThe advantage of using JSON Patch is that you can describe individual update operations on a resource\nwithout touching attributes that you don't want to change.\n\nFor example: We have the following resource.\n```\n{\n\t\"settingId\": 5345,\n\t\"key\": \"myGrandFeature\",\n\t\"name\": \"Tihs is a naem with soem typos.\",\n\t\"hint\": \"This flag controls my grandioso feature.\",\n\t\"settingType\": \"boolean\",\n\t\"tags\": [\n\t\t{\n\t\t\t\"tagId\": 0,\n\t\t\t\"name\": \"sample tag\",\n\t\t\t\"color\": \"whale\"\n\t\t}\n\t]\n}\n```\nIf we send an update request body as below (it changes the name and adds the already existing tag with the id 2):\n```\n[\n\t{\n\t\t\"op\": \"replace\",\n\t\t\"path\": \"/name\",\n\t\t\"value\": \"This is the name without typos.\"\n\t},\n\t{\n\t\t\"op\": \"add\",\n\t\t\"path\": \"/tags/-\",\n\t\t\"value\": 2\n\t}\n]\n```\nOnly the `name` and `tags` are going to be updated and all the other attributes are remaining unchanged.\nSo we get a response like this:\n```\n{\n\t\"settingId\": 5345,\n\t\"key\": \"myGrandFeature\",\n\t\"name\": \"This is the name without typos.\",\n\t\"hint\": \"This flag controls my grandioso feature.\",\n\t\"settingType\": \"boolean\",\n\t\"tags\": [\n\t\t{\n\t\t\t\"tagId\": 0,\n\t\t\t\"name\": \"sample tag\",\n\t\t\t\"color\": \"whale\"\n\t\t},\n\t\t{\n\t\t\t\"tagId\": 2,\n\t\t\t\"name\": \"another tag\",\n\t\t\t\"color\": \"koala\"\n\t\t}\n\t]\n}\n```",
        "operationId": "update-setting",
        "parameters": [
          {
            "name": "settingId",
            "in": "path",
            "description": "The identifier of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "When the update was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingModel-haljson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Feature Flags & Settings"
        ],
        "summary": "Delete Flag",
        "description": "This endpoint removes a Feature Flag or Setting from a specified Config, \nidentified by the `configId` parameter.",
        "operationId": "delete-setting",
        "parameters": [
          {
            "name": "settingId",
            "in": "path",
            "description": "The identifier of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/integrationLink/{integrationLinkType}/{key}/details": {
      "get": {
        "tags": [
          "Integration links"
        ],
        "summary": "Get Integration link",
        "description": "",
        "operationId": "get-integration-link-details",
        "parameters": [
          {
            "name": "integrationLinkType",
            "in": "path",
            "description": "The integration link's type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntegrationLinkType"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "The key of the integration link.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok, the details for the integration link returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationLinkDetailsModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationLinkDetailsModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/environments/{environmentId}/settings/{settingId}/integrationLinks/{integrationLinkType}/{key}": {
      "post": {
        "tags": [
          "Integration links"
        ],
        "summary": "Add or update Integration link",
        "description": "",
        "operationId": "add-or-update-integration-link",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "settingId",
            "in": "path",
            "description": "The id of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "integrationLinkType",
            "in": "path",
            "description": "The integration link's type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntegrationLinkType"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "The key of the integration link.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateIntegrationLinkModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateIntegrationLinkModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateIntegrationLinkModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "When everything is ok, the integration link data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationLinkModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationLinkModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      },
      "delete": {
        "tags": [
          "Integration links"
        ],
        "summary": "Delete Integration link",
        "description": "",
        "operationId": "delete-integration-link",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "settingId",
            "in": "path",
            "description": "The id of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "integrationLinkType",
            "in": "path",
            "description": "The integration's type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntegrationLinkType"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "The key of the integration link.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When everything is ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteIntegrationLinkModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteIntegrationLinkModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/jira/Connect": {
      "post": {
        "tags": [
          "Integration links"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/jira/environments/{environmentId}/settings/{settingId}/integrationLinks/{key}": {
      "post": {
        "tags": [
          "Integration links"
        ],
        "operationId": "jira-add-or-update-integration-link",
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "description": "The identifier of the Environment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "settingId",
            "in": "path",
            "description": "The id of the Setting.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "The key of the integration link.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateJiraIntegrationLinkModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateJiraIntegrationLinkModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateJiraIntegrationLinkModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "When everything is ok, the integration link data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationLinkModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationLinkModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Get authenticated user details",
        "description": "",
        "operationId": "get-me",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeModel"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/MeModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        }
      }
[...]
