openapi: 3.0.1
info:
  title: ecwid
  contact:
    email: support@cloud-elements.com
  version: api-v2
  x-apisguru-categories:
  - ecommerce
  x-element-hub: ecommerce
  x-element-id: 52
  x-element-key: ecwid
  x-element-name: Ecwid
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_cloud-elements.com_wp-content_uploads_2019_05_ces_favicon_32x32.png
  x-origin:
  - format: swagger
    url: https://api.cloud-elements.com/elements/api-v2/elements/52/docs?version=-1
    version: "2.0"
  x-providerName: cloud-elements.com
  x-serviceName: ecwid
servers:
- url: https://api.cloud-elements.com/elements/api-v2
tags:
- name: ping
- name: objects
- name: objectName
- name: orders
- name: customers
- name: bulk
- name: products
paths:
  /bulk/download:
    post:
      tags:
      - bulk
      summary: Create a new bulk download job (asynchronous)
      operationId: createBulkDownload
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      requestBody:
        description: The object body
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/bulkDownloadRequest'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkQuery'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: body
  /bulk/jobs:
    get:
      tags:
      - bulk
      summary: Fetch all the bulk jobs for an instance
      operationId: getBulkJobs
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: where
        in: query
        description: The CEQL search expression, or the where clause, without the
          WHERE keyword, in a typical SQL query. For example to get all upload jobs
          the expression would be where=job_direction='UPLOAD'. The following fields
          are valid search fields 'object_name', 'job_status', 'job_direction', 'record_count'
        schema:
          type: string
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: pageSize
        in: query
        description: The page size for pagination, which defaults to 200 if not supplied
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkJobList'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /bulk/query:
    post:
      tags:
      - bulk
      summary: Create an asynchronous bulk query job.
      operationId: createBulkQuery
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: Elements-Async-Callback-Url
        in: header
        description: The Url to send the notification to when the Job is completed
        schema:
          type: string
      - name: q
        in: query
        description: The CEQL query. When this parameter is omitted, all objects of
          the given type are returned via the bulk job. Endpoint limiters may still
          apply.
        schema:
          type: string
      - name: lastRunDate
        in: query
        description: The last time this query was run. This is optional. You can also
          have this parameter in the query and leave this blank - optional eg. '2014-10-06T13:22:17-08:00'
        schema:
          type: string
      - name: from
        in: query
        description: The created/updated date of the object to filter on - optional
          eg. '2014-10-06T13:22:17-08:00'
        schema:
          type: string
      - name: to
        in: query
        description: The created/updated date of the object to filter on - optional
          eg. '2014-10-06T13:22:17-08:00'
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metaData:
                  type: string
                  description: 'Optional JSON MetaData that contains callback-payload
                    and fileName, ex: {"callback-payload" : <Json> , "fileName" :
                    "{Date format}_Name of the file"}. If the fileName is MyFile then
                    pass metadata as {"fileName" : "{yyyy-MM-dd HH:mm:ss}_MyFile"}.
                    The valid date formats are "yyyy-MM-dd''T''HH:mm:ssXXX", "yyyy-MM-dd''T''HH:mm:ss''Z''",
                    "yyyy-MM-dd''T''HH:mm:ss.SXXX", "yyyy-MM-dd''T''HH:mm:ss.SSSXXX",
                    "yyyy-MM-dd''T''HH:mm:ss.SSSZ", "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''",
                    "yyyy-MM-dd HH:mm:ss", "yyyy.MM.dd G ''at'' HH:mm:ss z", "h:mm
                    a", "yyyyy.MMMMM.dd GGG hh:mm aaa" and "yyMMddHHmmssZ". callback-payload
                    - is passed back in bulk job notification '
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkQuery'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /bulk/{id}/cancel:
    put:
      tags:
      - bulk
      summary: Cancel an asynchronous bulk query job.
      operationId: replaceBulkCancel
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the bulk job to cancel.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkStatus'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /bulk/{id}/errors:
    get:
      tags:
      - bulk
      summary: Retrieve the errors of a bulk job.
      operationId: getBulkErrors
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the bulk job to retrieve its errors.
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The page size for pagination, which defaults to 200 if not supplied
        schema:
          type: integer
          format: int64
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /bulk/{id}/status:
    get:
      tags:
      - bulk
      summary: Retrieve the status of a bulk job.
      operationId: getBulkStatus
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the bulk job to retrieve its status.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkStatus'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /bulk/{id}/{objectName}:
    get:
      tags:
      - bulk
      summary: Retrieve the results of an asynchronous bulk query.
      operationId: getBulkByObjectName
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the bulk job
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
            application/jsonl:
              schema:
                type: string
                format: binary
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /bulk/{objectName}:
    post:
      tags:
      - bulk
      summary: Upload a file of objects to be bulk uploaded to the provider.
      operationId: createBulkByObjectName
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: Elements-Async-Callback-Url
        in: header
        description: The Url to send the notification to when the Job is completed
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object for which data needs to be uploaded.
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                metaData:
                  type: string
                  description: 'Optional JSON MetaData that contains callback-payload,
                    path or format, ex: {"path" :&lt;path for the sub resource&gt;,
                    "format": &lt;json/csv&gt;, "callback-payload":&lt;json&gt;}.
                    path - is passed to the endpoint for bulk loading the data into
                    a nested object. Optional JSON Metadata that contains identifierFieldName,
                    action, listId or campaignId. The identifierField name is used
                    for upserts and the optional fields like listId or campaignId.
                    Example: {"listId":"1014","action":"upsert"}. If the Upload format
                    is JSON pass metadata as {"format":"json"}. callback-payload -
                    is passed back in bulk job notification '
                file:
                  type: string
                  description: The file of objects to bulk load. If the JSON file
                    upload, each JSON record should be in a single line
                  format: binary
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkUploadResponse'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /customers:
    get:
      tags:
      - customers
      summary: Find customers in the eCommerce system, using the provided CEQL search
        expression. If no search expression is provided, all records will be retrieved
      operationId: getCustomers
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: where
        in: query
        description: 'The CEQL search expression, or the where clause, without the
          WHERE keyword, in a typical SQL query (i.e. field=''value''). <p>Supported
          search terms: customer_id and customer_email. All other search criteria
          are ignored. NOTE: When searching by customer_id, do not quote the value
          (ex: customer_id=15693430), as the ID is a number rather than a string.  When
          searching by email, quote the value (ex: customer_email=''a@b.c''), as the
          email parameter is a string'
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of results to fetch in a given page. When this parameter
          is omitted, a maximum of 200 results are returned
        schema:
          type: integer
          format: int64
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    post:
      tags:
      - customers
      summary: Create a new customer in eCommerce system.With the exception of the
        'id' field, the required fields indicated in the 'Customer' model are those
        required to create a new customer
      operationId: createCustomer
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      requestBody:
        description: The customer object to be created
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CustomerPost'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Customer'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: customer
  /customers/{id}:
    get:
      tags:
      - customers
      summary: Retrieve a customer associated with a given ID from the eCommerce system.
        Specifying a customer with an ID that does not exist will result in an error
        response
      operationId: getCustomerById
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the customer to retrieve from the eCommerce system
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Customer'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    delete:
      tags:
      - customers
      summary: Delete a customer associated with a given ID from your eCommerce system.
        Specifying a customer associated with a given ID that does not exist will
        result in an error message
      operationId: deleteCustomerById
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the customer to delete from the eCommerce system
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content: {}
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    patch:
      tags:
      - customers
      summary: Update an customer associated with a given ID in the eCommerce system.The
        update API uses the PATCH HTTP verb, so only those fields provided in the
        customer object will be updated, and those fields not provided will be left
        alone. Updating a customer with a specified ID that does not exist will result
        in an error response
      operationId: updateCustomerById
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the customer to update in the eCommerce system
        required: true
        schema:
          type: string
      requestBody:
        description: The customer object to be created
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CustomerPatch'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Customer'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: customer
  /customers/{id}/orders:
    get:
      tags:
      - customers
      summary: Find orders in the customer associated with a given ID. If the customer
        does not exist, an error response will be returned. If no orders are found
        in the given customer then an empty array will be returned
      operationId: getCustomersOrders
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the customer to get orders form in the eCommerce system
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of results to fetch in a given page. When this parameter
          is omitted, a maximum of 200 results are returned
        schema:
          type: integer
          format: int64
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /objects:
    get:
      tags:
      - objects
      summary: Get a list of all the available objects.
      operationId: getObjects
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: Elements-Version
        in: header
        description: Elements Version to be used for getting metadata, possible options
          are Hydrogen, Helium. Default value is Hydrogen
        schema:
          type: string
          enum:
          - Hydrogen
          - Helium
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /objects/{objectName}/docs:
    get:
      tags:
      - objects
      summary: Get swagger docs for an object.
      operationId: getObjectsObjectNameDocs
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      - name: discovery
        in: query
        description: Include discovery metadata in definitions
        schema:
          type: boolean
      - name: resolveReferences
        in: query
        description: Optionally resolve swagger references for an inline object definition
        schema:
          type: boolean
      - name: basic
        in: query
        description: Include only OpenAPI / Swagger properties in definitions
        schema:
          type: boolean
      - name: version
        in: query
        description: The element swagger version to get the corresponding element
          swagger, Passing in "-1" gives latest element swagger
        schema:
          type: string
          default: -1
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/swaggerDocs'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /objects/{objectName}/metadata:
    get:
      tags:
      - objects
      summary: Get a list of all the field for an object.
      operationId: getObjectsObjectNameMetadata
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      - name: Elements-Version
        in: header
        description: Elements Version to be used for getting metadata, possible options
          are Hydrogen, Helium. Default value is Hydrogen
        schema:
          type: string
          enum:
          - Hydrogen
          - Helium
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/objectsMetadata'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /orders:
    get:
      tags:
      - orders
      summary: Find orders in the eCommerce system, using the provided CEQL search
        expression. If no search expression is provided, all records will be retrieved
      operationId: getOrders
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: where
        in: query
        description: 'The CEQL search expression, or the where clause, without the
          WHERE keyword, in a typical SQL query (i.e. field=''value''). <p>Supported
          search terms: date, from_date, to_date, from_update_date, to_update_date,
          order, from_order, to_order, customer_id, customer_email and statuses. All
          other search criteria are ignored'
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of results to fetch in a given page. When this parameter
          is omitted, a maximum of 200 results are returned
        schema:
          type: integer
          format: int64
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    post:
      tags:
      - orders
      summary: Create an order in the eCommerce system.With the exception of the 'id'
        field, the required fields indicated in the 'Order' model are those required
        to create a new order.The paymentStatus can only be AWAITING_PAYMENT or INCOMPLETE.The
        fulfillmentStatus can only be AWAITING_PROCESSING
      operationId: createOrder
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      requestBody:
        description: The order object to be created
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OrderPost'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Order'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: order
  /orders/{id}:
    get:
      tags:
      - orders
      summary: Retrieve an order associated with a given ID from the eCommerce system.
        Specifying an order with an ID that does not exist will result in an error
        response
      operationId: getOrderById
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the order to retrieve from the eCommerce system
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Order'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    delete:
      tags:
      - orders
      summary: Delete an order associated with a given ID from your eCommerce system.
        Specifying an order associated with a given ID that does not exist will result
        in an error message
      operationId: deleteOrderById
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the order to delete from the eCommerce system
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content: {}
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    patch:
      tags:
      - orders
      summary: Update an order associated with a given ID in the eCommerce system.
        The update API uses the PATCH HTTP verb, so only those fields provided in
        the order object will be updated, and those fields not provided will be left
        alone. Updating an order with a specified ID that does not exist will result
        in an error response</strong>
      operationId: updateOrderById
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the order to update in the eCommerce system
        required: true
        schema:
          type: string
      - name: action
        in: query
        description: 'An action to perform on the order: cancel, reopen or close.
          If left blank then the order is updated but no action is taken'
        schema:
          type: string
      requestBody:
        description: The order object, with those fields that are to be updated
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OrderPatch'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Order'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: order
  /orders/{orderId}/payments:
    get:
      tags:
      - orders
      summary: Retrieve the payments in the eCommerce system for the specified order
      operationId: getOrdersPayments
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: orderId
        in: path
        description: The ID of the order to retrieve payments from in the eCommerce
          system
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of results to fetch in a given page. When this parameter
          is omitted, a maximum of 200 results are returned
        schema:
          type: integer
          format: int64
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payment'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /orders/{orderId}/refunds:
    get:
      tags:
      - orders
      summary: Retrieve the refunds in the eCommerce system for the specified order
      operationId: getOrdersRefunds
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: orderId
        in: path
        description: The ID of the order to retrieve refunds from in the eCommerce
          system
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of results to fetch in a given page. When this parameter
          is omitted, a maximum of 200 results are returned
        schema:
          type: integer
          format: int64
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payment'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /ping:
    get:
      tags:
      - ping
      summary: Ping the Element to confirm that the Hub Element has a heartbeat.  If
        the Element does not have a heartbeat, an error message will be returned.
      operationId: getPing
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Pong'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
  /products:
    get:
      tags:
      - products
      summary: Find products in the eCommerce system, using the provided CEQL search
        expression. The search expression in CEQL is the WHERE clause in a typical
        SQL query, but without the WHERE keyword.  If no search expression is provided,
        all records will be retrieved
      operationId: getProducts
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: where
        in: query
        description: 'The CEQL search expression, or the where clause, without the
          WHERE keyword, in a typical SQL query (i.e. field=''value''). <p>Supported
          search terms: category, hidden_products. All other search criteria are ignored'
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of results to fetch in a given page. When this parameter
          is omitted, a maximum of 200 results are returned
        schema:
          type: integer
          format: int64
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    post:
      tags:
      - products
      summary: Create a new product in eCommerce system.With the exception of the
        'id' field, the required fields indicated in the 'Product' model are those
        required to create a new product
      operationId: createProduct
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      requestBody:
        description: The product object to be created
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ProductPost'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Product'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: product
  /products/{id}:
    get:
      tags:
      - products
      summary: Retrieve a product associated with a given ID from the eCommerce system.
        Specifying a product with an ID that does not exist will result in an error
        response
      operationId: getProductById
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product to retrieve from the eCommerce system
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Product'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    delete:
      tags:
      - products
      summary: Delete a product associated with a given ID from your eCommerce system.
        Specifying a product associated with a given ID that does not exist will result
        in an error message
      operationId: deleteProductById
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product to delete from the eCommerce system
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content: {}
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    patch:
      tags:
      - products
      summary: 'Update a product associated with a given ID in the eCommerce system.
        The update API uses the PATCH HTTP verb, so only those fields provided in
        the product object will be updated, and those fields not provided will be
        left alone. Updating a product with a specified ID that does not exist will
        result in an error response. <p><strong>Update supports the following fields:
        sku, quantity, trackQuantity, quantityDelta, warningLimit, name, price, weight,
        tangible, enabled, fixedShippingRateOnly, fixedShippingRate, description,
        wholesalePrices, compareAtPrice, productClassId</strong>'
      operationId: updateProductById
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product to update in the eCommerce system
        required: true
        schema:
          type: string
      requestBody:
        description: The product object, with those fields that are to be updated
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ProductPatch'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Product'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: product
  /{objectName}:
    get:
      tags:
      - objectName
      summary: Search for {objectName}
      operationId: getByObjectName
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      - name: where
        in: query
        description: The CEQL search expression.
        schema:
          type: string
      - name: pageSize
        in: query
        description: The page size. Defaults to 200 if not provided. Maximum of 5000.
        schema:
          type: integer
          format: int64
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Object'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    post:
      tags:
      - objectName
      summary: Create an {objectName}
      operationId: createByObjectName
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      requestBody:
        description: The {objectName}
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Object'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content: {}
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: Body
  /{objectName}/{objectId}:
    get:
      tags:
      - objectName
      summary: Retrieve an {objectName}
      operationId: getObjectNameByObjectId
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: The {objectName} ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Object'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    put:
      tags:
      - objectName
      summary: Update an {objectName}
      operationId: replaceObjectNameByObjectId
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: The {objectName} ID
        required: true
        schema:
          type: string
      requestBody:
        description: The {objectName}
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Object'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Object'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: Body
    delete:
      tags:
      - objectName
      summary: Delete an {objectName}
      operationId: deleteObjectNameByObjectId
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: The {objectName} ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content: {}
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    patch:
      tags:
      - objectName
      summary: Update an {objectName}
      operationId: updateObjectNameByObjectId
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: The {objectName} ID
        required: true
        schema:
          type: string
      requestBody:
        description: The {objectName}
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Object'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Object'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            'Accept' header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
      x-codegen-request-body-name: Body
  /{objectName}/{objectId}/{childObjectName}:
    get:
      tags:
      - objectName
      summary: Search for {childObjectName}
      operationId: getObjectNameByChildObjectName
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: The {objectName} ID
        required: true
        schema:
          type: string
      - name: childObjectName
        in: path
        description: The name of the childObjectName
        required: true
        schema:
          type: string
      - name: where
        in: query
        description: The CEQL search expression.
        schema:
          type: string
      - name: pageSize
        in: query
        description: The page size. Defaults to 200 if not provided. Maximum of 5000.
        schema:
          type: integer
          format: int64
      - name: nextPage
        in: query
        description: 'The next page cursor, taken from the response header: `elements-next-page-token`'
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to return on the response. Can be a single field or
          a comma-separated list of fields
        schema:
          type: string
      responses:
        200:
          description: OK - Everything worked as expected
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Object'
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            &quot;Accept&quot; header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
          description: Provider server error - Something went wrong on the Provider
            or Endpoint's server
          content: {}
    post:
      tags:
      - objectName
      summary: Create an {objectName}
      operationId: createObjectNameByChildObjectName
      parameters:
      - name: Authorization
        in: header
        description: The authorization tokens. The format for the header value is
          'Element &lt;token&gt;, User &lt;user secret&gt;'
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: The {objectName} ID
        required: true
        schema:
          type: string
      - name: childObjectName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      requestBody:
        description: The {childObjectName}
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Object'
        required: true
      responses:
        200:
          description: OK - Everything worked as expected
          content: {}
        400:
          description: Bad Request - Often due to a missing request parameter
          content: {}
        401:
          description: Unauthorized - An invalid element token, user secret and/or
            org secret provided
          content: {}
        403:
          description: Forbidden - Access to the resource by the provider is forbidden
          content: {}
        404:
          description: Not found - The requested resource is not found
          content: {}
        405:
          description: Method not allowed - Incorrect HTTP verb used, e.g., GET used
            when POST expected
          content: {}
        406:
          description: Not acceptable - The response content type does not match the
            &quot;Accept&quot; header value
          content: {}
        409:
          description: Conflict - If a resource being created already exists
          content: {}
        415:
          description: Unsupported media type - The server cannot handle the requested
            Content-Type
          content: {}
        500:
          description: Server error - Something went wrong on the Cloud Elements server
          content: {}
        502:
[...]
