openapi: 3.0.1
info:
  title: IBM Containers API
  description: "Containers are virtual software objects that include all the elements\
    \ that an app needs to run. A container has the benefits of resource isolation\
    \ and allocation but is more portable and efficient than, for example, a virtual\
    \ machine.\n\n This documentation describes the IBM Containers API, which is based\
    \ on the Docker Remote API. The API provides endpoints that you can use to create\
    \ and manage your single containers and container groups in Bluemix. Endpoints\
    \ are summarized under the following tags: \n\n- **Authentication**: Retrieve\
    \ and refresh your TLS certificates. \n- **Private Docker images registry**: Create\
    \ your own private Docker images registry in Bluemix by setting a namespace for\
    \ your organization. \n- **Images**: View, build, and push your images to your\
    \ private Bluemix registry so you can use them with IBM Containers. You can also\
    \ scan your container images with the Vulnerability Advisor against standard policies\
    \ set by the organization manager and a database of known Ubuntu issues. \n- **Single\
    \ Containers**: Create and manage single containers in Bluemix. Use a single container\
    \ to implement short-lived processes or to run simple tests as you develop an\
    \ app or service. To make your single container available from the internet, review\
    \ the `Public IP addresses` endpoints. \n- **Container Groups**: Create and manage\
    \ your container groups in Bluemix. A container group consists of multiple single\
    \ containers that are all created from the same container image and as a consequence\
    \ are configured in the same way. Container groups offer further options at no\
    \ cost to make your app highly available. These options include in-built load\
    \ balancing, auto-recovery of unhealthy container instances, and auto-scaling\
    \ of container instances based on CPU and memory usage. Map a public route to\
    \ your container group to make your app accessible from the internet.  \n- **Public\
    \ IP addresses**: Use these endpoints to request public IP addresses for your\
    \ space. You can bind this IP address to your container to make your container\
    \ accessible from the internet. \n- **File shares**: Create, list and delete file\
    \ shares in a space. A file share is a NFS storage system that hosts Docker volumes.\
    \  \n- **Volumes**: Create and manage container volumes in your space to persist\
    \ the data of your containers.  \n\n\n Each API request requires an HTTP header\
    \ that includes the 'X-Auth-Tokenâ€™ and 'X-Auth-Project-Idâ€™ parameter. \n\n\
    - **X-Auth-Token**: The JSON web token (JWT) that you receive when logging into\
    \ the Bluemix platform. It allows you to use the IBM Containers REST API, access\
    \ services, and resources. Run `cf oauth-token` to retrieve your access token\
    \ information.\n- **X-Auth-Project-Id**: The unique ID of your organization space\
    \ where you want to create or work with your containers. Run `cf space <space_name>\
    \ --guid`, where `<space_name>` is the name of your space, to retrieve your space\
    \ ID.\n\n\n For further information about how containers work in the IBM Containers\
    \ service, review the documentation under https://new-console.ng.bluemix.net/docs/containers/container_index.html. "
  license:
    name: (C) Copyright IBM Corp. 2016 All Rights Reserved.
  version: 3.0.0
servers:
- url: https://containers-api.ng.bluemix.net/v3
paths:
  /tlskey:
    get:
      tags:
      - Authentication
      summary: Retrieve the TLS Certificate
      description: 'This endpoint returns the TLS (Transport Layer Security) certificate
        to the user (corresponding IBM Containers command: `cf ic login`). The TLS
        certificate is a SSL certificate that is used to authenticate the user''s
        CLI with the IBM Containers service and to establish a secure communication
        between the user''s local machine and the container in Bluemix.'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Ok. A list of certificates is returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /tlskey/refresh:
    put:
      tags:
      - Authentication
      summary: Refresh the TLS Certificate
      description: 'This endpoint requests to generate a new TLS (Transport Layer
        Security) certificate on the server and to update the existing user TLS certificate
        (corresponding IBM Containers command: `cf ic init`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: 'The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token. '
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      responses:
        201:
          description: Ok. A list of updated certificates is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateRefresh'
        401:
          description: Authentication failed. The Access Token is invalid or the Space
            ID that you entered could not be found. Run `cf oauth-token` to retrieve
            your access token. Run `cf space <space_name> --guid`, where `<space_name>`
            is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /containers/json:
    get:
      tags:
      - Single containers
      summary: List single containers in a space.
      description: 'This endpoint returns a list of all single containers in a space
        that are currently in a running state (corresponding IBM Containers command:
        `cf ic ps`). To list all single containers independent of their current state,
        set the `all` query parameter to true.'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: all
        in: query
        description: 'By default, the `GET /containers/json` endpoint returns a list
          of all single containers in a space that are in a running state. To request
          a list of all containers independent of their current state, set the `all`
          query parameter to true. Allowed values are: `all=true`, `all=True`, and
          `all=1`. '
        schema:
          type: string
      - name: filters
        in: query
        description: You can filter your containers by any environment variable key
          or value that is listed in the `Env` section of your CLI/ API response when
          you run the `cf ic inspect <container>` command, or call the `GET /containers/{id}/json`
          endpoint. Your search criteria does not need to be an exact match. It can
          also be a part of the key or value you are looking for. For example, to
          filter all containers with an environment variable that contains `id` in
          one of their environment variables, use `filter=id`.
        schema:
          type: string
      responses:
        200:
          description: OK. A list of single containers that match the search criteria
            is returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Container'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /containers/{id}/status:
    get:
      tags:
      - Single containers
      summary: List the current state of a container.
      description: This endpoint returns the current state of a container. This state
        can either be a transient state, such as BUILDING and NETWORKING, or a non-transient
        state, such as RUNNING, SHUTDOWN, CRASHED, or SUSPENDED.
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier that represents the container. Run `cf
          ic ps`, or call the `GET /containers/json` endpoint to retrieve the ID of
          the container.
        required: true
        schema:
          type: string
      responses:
        201:
          description: OK. The current status of a container is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContainerStatus'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not Found. The container could not be found. Run `cf ic ps`
            or call the `GET /containers/json` endpoint to review the ID of your container.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /containers/create:
    post:
      tags:
      - Single containers
      summary: Create and start a single container
      description: "This endpoint creates and starts a single container in your space\
        \ based on the Docker image that is specified in the Image field of the request\
        \ json. A single container in IBM Containers is similar to a container that\
        \ you create in your local Docker environment. Single containers are a good\
        \ way to start with IBM Containers and to learn about how containers work\
        \ in the IBM Cloud and the features that IBM Containers provides. They are\
        \ also recommended when you want to run simple app tests or during the development\
        \ process of an app. \n\n In the Docker API there are two separate APIs to\
        \ create and start a container. However in IBM Containers a container is created\
        \ and started in a single API call. Therefore, this API merges parameters\
        \ from the Docker API to create and start container. \n\n To create a container\
        \ with IBM Containers, you must at least define the image that the container\
        \ is based on.\n\n- Image: You must include the full path to the image in\
        \ your private Bluemix registry in the format: `registry.ng.bluemix.net/<namespace>/<image>`."
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: Choose a name for your container. The characters in the name
          can include uppercase letters, lowercase letters, numbers, periods (.),
          underscores (_), or hyphens (-), but the name must start with a letter.
        schema:
          type: string
      requestBody:
        description: Summary of input parameter to create a container in IBM Containers.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContainer'
        required: true
      responses:
        201:
          description: OK. The creation of a single container with the specified attributes
            has been initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerId'
        400:
          description: Bad request. The data that you entered in the request body
            are either incomplete or in the wrong format. Be sure to include at least
            the Docker image that you want to use in JSON format and re-run the API
            request.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        409:
          description: ' Conflict. A container with the same name already exists.
            Choose another name for your container and re-run the API request.'
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
      x-codegen-request-body-name: Param
  /volumes/create:
    post:
      tags:
      - Volumes
      summary: Create a volume in a space
      description: "This endpoints creates a new volume in your space (corresponding\
        \ IBM Containers command: `cf ic volume create VOLNAME`). A volume is used\
        \ to persist and access app data between container restarts. Volumes are hosted\
        \ on file shares that define the available actual storage in Bluemix and the\
        \ number of input and output transactions per second (IOPS). \n\n After you\
        \ have created a volume, you must mount it to a container by using the `--volume`\
        \ option in the `cf ic run` (single containers) or `cf ic group create` (container\
        \ groups) command. You can also define the volume as part of the HTTP body\
        \ and send a request to the `POST /containers/create` (single containers)\
        \ or `POST /containers/groups` (container groups) endpoints. \n\n Note: If\
        \ you mount multiple containers in a space to the same volume, they share\
        \ the data in the volume and can access them anytime. When a container is\
        \ deleted, the associated volume is not removed."
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: The name of the volume. The name must be unique for a space and
          can contain uppercase letters, lowercase letters, numbers, underscores (_),
          and hyphens (-).
        required: true
        schema:
          type: string
      - name: fsName
        in: query
        description: The name of the file share that the volume is hosted on. File
          shares can have different storage sizes and IOPS based on the required workload.
          If this field is left blank, the volume is hosted on the default file share.
        schema:
          type: string
      responses:
        201:
          description: Created. Your volume was successfully created in your space.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        400:
          description: Bad request. Your request could not be processed due to missing
            parameter. Make sure to enter a name for your volume as part of your query
            and re-run the request
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        409:
          description: Conflict. A volume with the same name already exists. Choose
            a new name for your volume and re-run the API call.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /volumes/json:
    get:
      tags:
      - Volumes
      summary: List all volumes for a space
      description: 'This endpoint returns a list of all volumes that are available
        in the given space (corresponding IBM Containers command: `cf ic volume list`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. A list containing all volumes of a given space is returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Volume'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /volumes/fs/flavors/json:
    get:
      tags:
      - File shares
      summary: List available file share sizes
      description: 'This endpoint returns a list of available file shares in gigabyte
        (corresponding IBM Containers command: `cf ic volume fs-flavor-list`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. A list of available file share sizes in gigabyte is returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /volumes/fs/json:
    get:
      tags:
      - File shares
      summary: List available file shares in a space
      description: 'This endpoint returns a list of all file shares that are availble
        in a space (corresponding IBM Containers command: `cf ic volume fs-list`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. A list of available file shares is returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fileshare'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /volumes/fs/{name}/json:
    get:
      tags:
      - File shares
      summary: Inspect a file share
      description: 'This endpoint returns detailed information about a file share
        (corresponding IBM Containers command: `cf ic volume fs-inspect FSNAME`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the file share that you want to inspect. Run `cf
          ic volume fs-list` or call the `GET /volumes/fs/json` endpoint to retrieve
          a list of available file shares in your space.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. Detailed information about a file share is returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetFileshareDetails'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: The specified file share name could not be found. Run `cf ic
            volume fs-list` or call the `GET /volumes/fs/json` endpoint to retrieve
            a list of available file shares in your space. Enter the name for your
            file share and re-run the API call.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /volumes/fs/create:
    post:
      tags:
      - File shares
      summary: Create a file share in a space
      description: "This endpoint creates a new file share in a space (corresponding\
        \ IBM Containers command: `cf ic volume fs-create FSNAME FSSIZE FSIOPS`).\
        \ \n\n A file share is a persistent NFS-based (Network File System) storage\
        \ system that hosts Docker volumes in a Bluemix space and allows a user to\
        \ store and access container and app-related files. To store files in a file\
        \ share, you must create a container volume and save the data into this volume.\n\
        \n As soon as you create your first volume in a space with the `cf ic volume\
        \ create VOLNAME` command or the `POST /volumes/create` API endpoint, a default\
        \ file share with 20 GB at 4 IOPS (Input Output operations Per Second) is\
        \ created at no cost. \n\nThe organization manager can create file shares\
        \ with specific storage size and IOPS to meet the storage needs of the space.\
        \ File shares can be provisioned in sizes from 20 GB to 12 TB and at IOPS\
        \ per GB of 0.25, 2 or 4. Run `cf ic volume fs-flavor-list` or call the `GET\
        \ /volumes/fs/flavors/json` API endpoint to retrieve a list of available file\
        \ share sizes. The file share size in relation to the number of IOPS impacts\
        \ the speed that data can be read and written from and to the container volume."
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      requestBody:
        description: The input parameter to create a new file share in a space.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/FileshareParam'
        required: true
      responses:
        202:
          description: 'Accepted. A new fileshare has been created. '
          content: {}
        400:
          description: Bad request. The input parameter in the request body are either
            incomplete or in the wrong format. Be sure to include the file share name,
            size and number of IOPS as part of your request in JSON format.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID. If
            your access token and space ID are correct, verify that you have been
            granted organization manager rights. Only organization managers can create
            file shares in a space.
          content: {}
        409:
          description: Conflict. A file share with the same name already exists. Run
            `cf ic volume fs-list` or call the `GET /volumes/fs/json` API endpoint
            to get a list with all available file shares in this space. Choose a new
            name for your file share and re-run the API call.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
      x-codegen-request-body-name: FileshareParam
  /volumes/fs/{name}:
    delete:
      tags:
      - File shares
      summary: Delete a file share
      description: "This endpoint deletes a file share from a space (corresponding\
        \ IBM Containers command: `cf ic volume fs-rm FSNAME`).\n\n Before you can\
        \ delete a file share, all mounted volumes must be deleted first. To delete\
        \ a volume, run `cf ic volume rm VOLNAME` or call the `DELETE /volumes/{name}`\
        \ API endpoint. \n\n **Note:** To delete a file share you must have been granted\
        \ organization developer rights."
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the file share that you want to delete. Run `cf ic
          volume fs-list` or call the `GET /volumes/fs/json` API endpoint to retrieve
          a list of available file shares in your space.
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content. The file share was successfully deleted.
          content: {}
        400:
          description: 'Bad request. The specified file share could not be deleted
            as it has mounted volumes. Run `cf ic volume rm VOLNAME` or call the `DELETE
            /volumes/{name}` API endpoint to delete the volume. After all mounted
            volumes are deleted, delete the file share. '
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: The specified file share name could not be found. Run `cf ic
            volume fs-list` or call the `GET /volumes/fs/json` endpoint to retrieve
            a list of available file shares in your space. Enter the name for your
            file share and re-run the API call.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /volumes/{name}/json:
    get:
      tags:
      - Volumes
      summary: 'Retrieve detailed information about a volume. '
      description: 'Retrieve a detailed list of information about a volume that is
        identified by the volume name (corresponding IBM Containers command: `cf ic
        volume inspect VOLNAME`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the volume, for which you want to retrieve detailed
          information. Run `cf ic volume list` or call the `GET /volumes/json` endpoint
          to retrieve a list of all volumes that are available in your space.
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'Ok. A list with detailed information about the volume is returned. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not found. The specified volume could not be found. Verify
            that the name is correct by running the `cf ic volume list` command or
            by calling the `GET /volumes/json` endpoint. Enter the correct name and
            re-run the API call.
          content: {}
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
          content: {}
  /volumes/{name}:
    post:
      tags:
      - Volumes
      summary: Share a volume with another space
      description: This endpoint provisions an existing volume that was created in
        one space to another space within the same organization. Single containers
        and container groups in each space can read and write to the shared volume.
        The volume remains owned by the original space it was created in, including
        management and billing. For example, the volume can be deleted from the original
        space only.
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the volume that you want to share with another space
          in your organization.
        required: true
        schema:
          type: string
      requestBody:
        description: Input parameter that are required to provision an existing volume
          to a new space and to unprovision it from a space.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateVolume'
        required: true
      responses:
        200:
          description: Ok. A list with detailed information about the volume is returned.
            Review the changes in the `otherSpaceVisibility` property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        400:
          description: 'Bad request. The data that you entered in the request body
            are either incomplete or in the wrong format. Be sure to include either
            the space ID where you want to provision your volume, or the space ID
            from which you want to unprovision your volume in JSON format. '
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not found. The specified volume could not be found. Verify
            that the name is correct by running the `cf ic volume list` command or
            by calling the `GET /volumes/json` endpoint. Enter the correct name and
            re-run the API call.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
      x-codegen-request-body-name: volumeParam
    delete:
      tags:
      - Volumes
      summary: Delete a volume
      description: 'Delete a volume with a given name from a space (corresponding
        IBM Containers command: `cf ic volume rm VOLNAME`). To delete a volume, all
        mounted containers must be unmounted first. After the volume is deleted, the
        data that are stored in the volume are lost. '
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the volume that you want to delete. Run `cf ic volume
          list` or call the `GET /volumes/json` endpoint to retrieve a list of all
          volumes that are available in your space.
        required: true
        schema:
          type: string
      responses:
        204:
          description: 'No Content. Your request to delete the volume has successfully
            been processed. '
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not found. The volume could not be found. Verify that the name
            is correct by running the `cf ic volume list` command or by calling the
            `GET /volumes/json` endpoint. Enter the correct name and re-run the API
            call.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}/json:
    get:
      tags:
      - Single containers
      summary: Inspect a single container
      description: 'This endpoint retrieves detailed information about a single container
        (corresponding IBM Containers command: `cf ic inspect <container>`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: The name or ID of the container that you want to inspect. Run
          the `cf ic ps` command or call the `GET /containers/json` endpoint to retrieve
          a list of containers in your space.
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'OK. A list with detailed information about the container is
            returned. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerInfo'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not Found. The container name or ID that you entered, could
            not be found. Run the `cf ic ps` command or call the `GET /containers/json`
            to review the name or ID of the container that you want to inspect.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}/start:
    post:
      tags:
      - Single containers
      summary: Start a single container
      description: 'Start a single container with a given container name or ID (corresponding
        IBM Containers command: `cf ic start <container>`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: The unique identifier or name of the container that you want
          to start. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
          endpoint to review the containers in your space that are currently not in
          a running state.
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content. The start of the container has been initiated.
          content: {}
        304:
          description: Not Modified. A request to start the container with the specified
            name or ID has already been initiated. To review the current state of
            your container, run `cf ic ps` or call the `GET /containers/json` endpoint.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}/stop:
    post:
      tags:
      - Single containers
      summary: Stop a single container
      description: 'Stop a single container with a given container name or ID (corresponding
        IBM Containers command: `cf ic stop <container>`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: The unique identifier or name of the container that you want
          to stop. Run `cf ic ps` or call the `GET /containers/json` endpoint to review
          the containers in your space that are currently in a running state.
        required: true
        schema:
          type: string
      - name: t
        in: query
        description: The number of seconds to wait before the container is stopped.
          For example, if you want a container to stop after 10 seconds, enter `t=10`.
        schema:
          type: integer
      responses:
        204:
          description: No Content. The stop of the container has been initiated.
          content: {}
        304:
          description: Not Modified. A request to stop the container with the specified
            name or ID has already been initiated. To review the current state of
            your container, run `cf ic ps` or call the `GET /containers/json` endpoint.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint
            to review the ID and name of your container.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}/restart:
    post:
      tags:
      - Single containers
      summary: Restart a single container
      description: 'Restart a container with a given container ID or name (corresponding
        IBM Containers command: `cf ic restart <container>`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: The unique identifier or name of the container that you want
          to restart. Run `cf ic ps` or call the `GET /containers/json` endpoint to
          review all containers in your space.
        required: true
        schema:
          type: string
      - name: t
        in: query
        description: The number of seconds to wait before the container is restarted.
          For example, if you want a container to restart after 10 seconds, enter
          `t=10`.
        schema:
          type: integer
      responses:
        204:
          description: No Content. The restart of the container has been initiated.
          content: {}
        304:
          description: Not Modified. A request to restart the container with the specified
            name or ID has already been initiated. To review the current state of
            your container, run `cf ic ps` or call the `GET /containers/json` endpoint.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint
            to review the ID and name of your container.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}/pause:
    post:
      tags:
      - Single containers
      summary: Pause a single container
      description: 'Pause all processes in a running single container with a given
        container ID or name (corresponding IBM Containers command: `cf ic pause <container>`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: The unique identifier or name of the container that you want
          to pause. Run `cf ic ps` or call the `GET /containers/json` endpoint to
          review all containers in your space that are currently in a running state.
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content. The pausing of all processes inside the container
            has been initiated.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint
            to review the ID and name of your container.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}/unpause:
    post:
      tags:
      - Single containers
      summary: Unpause a single container
      description: 'Unpause all processes that are currently stopped inside a single
        containers with a given container ID or name (corresponding IBM Containers
        command: `cf ic unpause <container>`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: The unique identifier or name of the container that you want
          to unpause. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
          endpoint to review all containers in your space.
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content. The unpausing of all processes inside the container
            has been initiated.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}/rename:
    post:
      tags:
      - Single containers
      summary: Rename a single container
      description: 'Change the current name of an existing single container that is
        identified by the container ID or name (corresponding IBM Containers command:
        `cf ic rename <old_name> <new_name>`). '
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: The unique identifier or name of the container that you want
          to rename. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
          endpoint to review all containers in your space.
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: The new name for the container. The characters in the name can
          include uppercase letters, lowercase letters, numbers, periods (.), underscores
          (_), or hyphens (-), but the name must start with a letter.
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content. The request to rename the container has been initiated.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container.
          content: {}
        409:
          description: 'Conflict. A container with the same name already exists. Choose
            another name for your container and re-run the API call. '
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}:
    delete:
      tags:
      - Single containers
      summary: Remove a single container
      description: 'Remove a single container that is identified by container ID or
        name from a space (corresponding IBM Containers command: `cf ic delete <container>`).
        The container must be stopped before it can be deleted, unless the `force`
        query parameter is set to true.'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: The unique identifier or name of the container that you want
          to delete. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
          endpoint to review all containers in your space.
        required: true
        schema:
          type: string
      - name: force
        in: query
        description: Use the `force` query parameter if you want to delete the container
          independent of their current state. The container does not need to be stopped
          first. To force the deletion of a container, enter `force=true`, `force=True`,
          or `force=1`. If you want to delete containers that are in a non-running
          state only, do either not set this query parameter, or enter `force=false`,
          `force=False`, or `force=0`.
        schema:
          type: boolean
      responses:
        204:
          description: No Content. The deletion of your container has been initiated.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /images/json:
    get:
      tags:
      - Images
      summary: List all Docker images that are available in your private Bluemix registry.
      description: 'This endpoint returns a list of all available Docker images in
        a private Bluemix registry (corresponding IBM Containers command: `cf ic images`.'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. A list of all available Docker images in the private Bluemix
            registry is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageInfo'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /images/{id}:
    delete:
      tags:
      - Images
      summary: Remove a Docker image.
      description: 'Remove a Docker image from the private Bluemix registry that is
        identified by the image ID (corresponding IBM Containers command: `cf ic rmi
        <image>`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier representing a Docker image. Run `cf ic
          images`, or call the `GET /images/json` endpoint to review the Docker images
          that are available in your private Bluemix registry.
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content. The image was successfully removed from your private
            Bluemix registry.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not found. The specified Docker image ID could not be found.
            Run `cf ic images` or call the `GET /images/json` endpoint to list all
            images in your private Bluemix registry. Note the ID of the image that
            you want to delete.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /build:
    post:
      tags:
      - Images
      summary: Build a Docker image from a Dockerfile
      description: |-
        This API builds a new container image from a Dockerfile that is stored on your local machine and pushes the image to the private Bluemix registry (corresponding IBM Containers command: `cf ic build`).

         To push an image to your Bluemix registry, a namespace must be set for the organization. Run `cf ic namespace get` or call the `GET /registry/namespaces` API to check if a namespace is already set. If not, run `cf ic namespace set NAMESPACE` or call the `PUT /registry/namespaces/{namespace}` API to set a namespace for your organization.
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: t
        in: query
        description: 'Tag the image with the full path to your private Bluemix registry
          in the following format: `t=registry.ng.bluemix.net/<namespace>/<image_name>:<tag>`.
          This path is used to push the image to the private Bluemix registry after
          it is built.'
        required: true
        schema:
          type: string
      - name: q
        in: query
        description: You can choose whether or not to show the verbose build output
          to review every step during the container image build. If you set the query
          parameter to `q=false`, `q=False`, or `q=0`, the verbose build output is
          suppressed. To show the verbose build output, enter `q=true`, `q=True`,
          or `q=1`.
        schema:
          type: boolean
      - name: nocache
        in: query
        description: If you set the query parameter to `nocache=true`, `nocache=True`,
          or `nocache=1`, the cache will not be used to build your image. To use the
          cache, enter `nocache=false`, `nocache=False`, or `nocache=0`.
        schema:
          type: boolean
      - name: pull
        in: query
        description: If set to pull=true, pull=True, or pull=1, then a newer version
          of the image is always attempted to be pulled even though an older version
          of the image exists locally. If set to pull=false, pull=False, or pull=0,
          then the local image will be used if one exists.
        schema:
          type: boolean
      requestBody:
        description: Must be the content of a tar archive compressed with gzip. The
          archive must include a file called 'Dockerfile' at its root. It may include
          any number of other files which will be accessible in the build context.
        content:
          application/tar: {}
        required: true
      responses:
        200:
          description: OK. The container image was built successfully and pushed to
            your private Bluemix repository. The build output stream is returned in
            JSON format.
          content: {}
        400:
          description: Bad request. Your could not be processed. Be sure to include
            the `t` query parameter to tag your image and that your Dockerfile has
            been tar archived with gzip.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
      x-codegen-request-body-name: file
  /images/{name_or_id}/json:
    get:
      tags:
      - Images
      summary: Inspect a Docker image in private Bluemix registry
      description: 'This endpoint returns detailed information about a Docker image
        that is stored in the private Bluemix registry of an organization (corresponding
        IBM Containers command: `cf ic inspect <image_name_or_id>`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: 'The full private Bluemix registry path to your image or the
          unique ID of the image that you want to inspect. Run `cf ic images` or call
          the `GET /images/json` endpoint to review the images in your private Bluemix
          registry. '
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. A list of details about the container image is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDetail'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: The specified image name or ID could not be found. Run `cf
            ic images` or call the `GET /images/json` endpoint to retrieve the name
            or ID of your image.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/floating-ips:
    get:
      tags:
      - Public IP addresses
      summary: List available public IP addresses in a space
      description: 'This endpoint returns a list of all public IP addresses that are
        allocated to a space and not bound to a container. If you want to list all
        public IP addresses that are allocated to a space, even those that are already
        bound to a container, use the `all` query parameter (corrsponding IBM Containers
        command: `cf ic ip list`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: all
        in: query
        description: If this option is set to `all=1`, `all=True`, or `all=true`,
          all public IP addresses that are allocated to a space are returned. If this
          option is set to `all=0`, `all=False`, or `all=false`, only available public
          IP addresses that are allocated but not bound to a container are returned.
          By default, only available public IP addresses are returned.
        schema:
          type: boolean
      responses:
        200:
          description: OK. A list of public IP addresses that are allocated to the
            space is returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FloatingIP'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}/floating-ips/{ip}/bind:
    post:
      tags:
      - Public IP addresses
      summary: Bind a public IP address to a single container
      description: 'This endpoint binds an available public IP address to a single
        container (corresponding IBM Containers command: `cf ic ip bind <ip_adress>
        <container>`). After a container is bound to a public IP address, it can be
        accessed at `https://<public_ip_adress>:<public_port>`.'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: The name or ID of the container that you want to bind to the
          public IP address. Run the `cf ic ps` command or call the `GET /containers/json`
          endpoint to retrieve a list of containers in your space.
        required: true
        schema:
          type: string
      - name: ip
        in: path
        description: "The public IP address that you want to bind to your container.\
          \ \n\nNote: The public IP address must be available in the space and not\
          \ bound to a container. Run `cf ic ip list` or call the `GET /containers/floating-ips`\
          \ endpoint."
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content. Your request to bind a public IP address to a container
            has successfully been processed.
          content: {}
        304:
          description: Not modified. The container is already bound to a public IP
            address. To view the details of your container, run `cf ic inspect <container>`
            or call the `GET /containers/{name_or_id}/json endpoint.
          content: {}
        400:
          description: Bad request. The IP address that you entered does not exist.
            Run `cf ic ip list` or call the `GET /containers/floating-ips` endpoint
            to retrieve a list of available public IP addresses in your space.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: 'Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container. '
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/{name_or_id}/floating-ips/{ip}/unbind:
    post:
      tags:
      - Public IP addresses
      summary: Unbind a public IP address from a container
      description: 'This endpoint unbinds a public IP address from a container (corresponding
        IBM Containers command: `cf ic ip unbind <ip_adress> <container>`). The container
        that is unbound from the IP address will not be accessible from the internet
        anymore. The public IP address will be further allocated to the space and
        can be used to be bound to other containers. '
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: name_or_id
        in: path
        description: 'The name or ID of the container that you want to bind to the
          public IP address. Run the `cf ic ps` command or call the `GET /containers/json`
          endpoint to retrieve a list of containers in your space. '
        required: true
        schema:
          type: string
      - name: ip
        in: path
        description: "The public IP address that you want to unbind from your container.\
          \ \n\n Note: After unbinding a public IP address, this IP address will still\
          \ be allocated to the space and can be used to be bound to other containers."
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content. Your request to unbind a public IP address from
            a container has successfully been processed.
          content: {}
        400:
          description: Bad request. The IP address that you entered does not exist.
            Run `cf ic ip list` or call the `GET /containers/floating-ips` endpoint
            to retrieve a list of available public IP addresses in your space.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: 'Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container. '
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/floating-ips/request:
    post:
      tags:
      - Public IP addresses
      summary: Request a public IP address for a space
      description: 'This endpoint requests a new public IP address for a space (corresponding
        IBM Containers command: `cf ic ip request`). The number of public IP addresses
        depends on the quota that is assigned to the space. If there is not enough
        quota left to request a new public IP address, you can either contact your
        organization manager to increase the quota, or unbind an existing IP address
        from a container by running `cf ic ip unbind <ip_adress> <container>` command,
        or  calling the `POST /container/{name_or_id}/floating-ips/{ip}/unbind` endpoint.'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. A new public IP address is allocated to your space.
          content:
            application/json:
              schema:
                type: string
                description: New public IP address that is allocated to your space.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        402:
          description: Payment required. This request exceeds the quota that is allocated
            to the space. You can either contact your organization manager to increase
            the quota, or unbind an existing IP address from a container by running
            `cf ic ip unbind <ip_adress> <container>`, or calling the `POST /container/{name_or_id}/floating-ips/{ip}/unbind`
            endpoint.
          content: {}
        409:
          description: Conflict. This request exceeds the quota that is allocated
            to the space. You can either contact your organization manager to increase
            the quota, or unbind an existing IP address from a container by running
            `cf ic ip unbind <ip_adress> <container>`, or calling the `POST /container/{name_or_id}/floating-ips/{ip}/unbind`
            endpoint.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/floating-ips/{ip}/release:
    post:
      tags:
      - Public IP addresses
      summary: Release public IP address
      description: 'This endpoint releases a public IP address from a space (corresponding
        IBM Containers command: `cf ic ip release <ip_adress>`). The public IP address
        is no longer allocated to the space. If a container was bound to the IP address,
        it is automatically unbound.'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      - name: ip
        in: path
        description: The public IP address that you want to release. Run `cf ic ip
          list` or call the `GET /containers/floating-ips?all=true` endpoint to review
          all public IP address that are allocated to your space. After a public IP
          address is released, it will no longer be allocated to your space.
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content. The public IP address has been released from your
            space.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        404:
          description: Not found. The public IP address that you entered, could not
            be found. Run `cf ic ip list`, or call the `GET /containers/floating-ips?all=true`
            endpoint to review your public IP addresses. Re-run the API call with
            the updated public IP address information.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
  /containers/groups:
    get:
      tags:
      - Container Groups
      summary: List all container groups in a space
      description: 'This endpoint returns a list of all container groups in a space
        independent of their current state. (corresponding IBM Containers command:
        `cf ic group list`).'
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. A list of container groups is returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContainersGroupsGetListItem'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
    post:
      tags:
      - Container Groups
      summary: Create and start a container group.
      description: "This endpoint creates and starts a new container group in your\
        \ space. A container group consists of two or more single containers that\
        \ are all created from the same container image and as a consequence are configured\
        \ in the same way. Container groups offer different options at no cost to\
        \ make your app highly available, such as in-built load balancing, auto-recovery\
        \ of unhealthy container instances, and auto-scaling of container instances\
        \ based on CPU and memory usage.\n\nTo create a container group with IBM Containers,\
        \ you must at least define a container group name and the image that the container\
        \ group is based on. Required attributes:\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\
        - Name: The container group name must start with a letter and then can include\
        \ uppercase letters, lowercase letters, numbers, periods (.), underscores\
        \ (_), or hyphens (-). \n- Image: You must include the full path to the image\
        \ in your private Bluemix registry in the format:`registry.ng.bluemix.net/<namespace>/<image>`."
      parameters:
      - name: X-Auth-Token
        in: header
        description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        required: true
        schema:
          type: string
      - name: X-Auth-Project-Id
        in: header
        description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        required: true
        schema:
          type: string
      requestBody:
        description: Attributes that are required to create a container group in your
          space.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ContainersGroupsPostRequiredAttributes'
        required: true
      responses:
        201:
          description: Created. Your container group was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainersGroupsPostCreatedInfo'
        400:
          description: Bad request. The information that you entered in the request
            body are either incomplete or in the wrong format to process your request.
            Be sure, to specify at least the name and container image for your container
            group in JSON format and re-run the REST call.
          content: {}
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
          content: {}
        409:
          description: Conflict. A container group with the same name already exists.
            Choose a new name for your container group and re-run the REST call.
          content: {}
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
          content: {}
      x-codegen-request-body-name: RequiredAttributes
  /containers/groups/{name_or_id}:
    get:
      tags:
      - Container Groups
      summary: Inspect a container group.
[...]
