openapi: 3.0.1
info:
  title: Marketcheck APIs
  description: One API serving data spanned across multiple verticals
  version: "2.01"
servers:
- url: https://marketcheck-prod.apigee.net/v2
security:
- authorizeEndpoint: []
paths:
  /predict/car/price:
    get:
      tags:
      - Cars Market API
      summary: Predict car price based on it's specifications
      description: Predict car price based on it's specifications
      operationId: predictCarPrice
      parameters:
      - name: api_key
        in: query
        description: The API Authentication Key. Mandatory with all API calls.
        schema:
          type: string
      - name: vin
        in: query
        description: Predict price for a VIN
        schema:
          type: string
      - name: car_type
        in: query
        description: Car condition
        required: true
        schema:
          type: string
          enum:
          - used
          - new
      - name: year
        in: query
        description: Car manufacturing year
        schema:
          type: integer
      - name: make
        in: query
        description: Car's make
        schema:
          type: string
      - name: model
        in: query
        description: Car's model
        schema:
          type: string
      - name: trim
        in: query
        description: Car's trim
        schema:
          type: string
      - name: is_certified
        in: query
        description: Boolean to indicate car is certified or not
        schema:
          type: boolean
      - name: carfax_1_owner
        in: query
        description: Boolean to indicate car is carfax one owner or not
        schema:
          type: boolean
      - name: carfax_clean_title
        in: query
        description: Boolean to indicate car has clean title or not
        schema:
          type: boolean
      - name: base_exterior_color
        in: query
        description: Base exterior color of the car
        schema:
          type: string
      - name: base_interior_color
        in: query
        description: Base interior color of the car
        schema:
          type: string
      - name: transmission
        in: query
        description: Transmission on the car
        schema:
          type: string
          enum:
          - Manual
          - Automatic
      - name: drivetrain
        in: query
        description: Drivetrain on the car
        schema:
          type: string
          enum:
          - 4WD
          - AWD
          - FWD
          - RWD
      - name: engine_size
        in: query
        description: Engine Size of the car
        schema:
          type: number
      - name: engine_block
        in: query
        description: Engine Block of the car
        schema:
          type: string
          enum:
          - I
          - V
          - H
      - name: cylinders
        in: query
        description: Number of cylinders in the vehicle
        schema:
          type: integer
      - name: doors
        in: query
        description: Number of doors in the vehicle
        schema:
          type: integer
      - name: highway_mpg
        in: query
        description: Highway mileage
        schema:
          type: integer
      - name: city_mpg
        in: query
        description: City mileage of the car
        schema:
          type: integer
      - name: latitude
        in: query
        description: Latitude component of the location
        schema:
          type: number
      - name: longitude
        in: query
        description: Longitude component of the location
        schema:
          type: number
      - name: miles
        in: query
        description: miles vehicle has driven in total
        schema:
          type: integer
      responses:
        200:
          description: Predicted price of the car along with it's specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePrediction'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    x-swagger-router-controller: market
  /search/car/uk/active:
    get:
      tags:
      - Car Search
      summary: Gets active car listings in UK for the given search criteria
      description: Search cars for sale in UK
      operationId: search
      parameters:
      - name: api_key
        in: query
        description: The API Authentication Key. Mandatory with all API calls.
        schema:
          type: string
      - name: latitude
        in: query
        description: Latitude component of location
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        description: Longitude component of location
        schema:
          type: number
          format: double
      - name: radius
        in: query
        description: Radius around the search location (Unit - Miles)
        schema:
          maximum: 7000
          minimum: 0
          type: integer
          format: int32
      - name: postal_code
        in: query
        description: To filter listing on postal code around which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: postal_code
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: postal_code
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: zip
        in: query
        description: To filter listing on ZIP around which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: zip
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: zip
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: car_type
        in: query
        description: Car type. Allowed values are - new / used
        schema:
          type: string
          enum:
          - new
          - used
          x-field-config:
            isConfigurable: true
            targetAlias: inventory_type
            isMultiValued: false
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: inventory_type
          isMultiValued: false
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: year
        in: query
        description: To filter listing on their year
        schema:
          minLength: 4
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: year
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: parseInt
              type: integer
              max: 2121
              min: 1800
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: year
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: parseInt
            type: integer
            max: 2121
            min: 1800
          operator: in
      - name: year_range
        in: query
        description: Year range to filter listings with the year in the range given.
          Range to be given in the format - min-max e.g. 2019-2021
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: year
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 2100
              defaultMin: 1900
        x-field-config:
          isConfigurable: true
          targetAlias: year
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 2100
            defaultMin: 1900
      - name: make
        in: query
        description: To filter listings on their make
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: make
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: make
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: model
        in: query
        description: To filter listings on their model
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: model
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: model
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: variant
        in: query
        description: To filter listing on their variant
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: variant
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: variant
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: trim
        in: query
        description: To filter listing on their trim
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: trim
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: trim
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: vin
        in: query
        description: To filter listing on their VIN
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: vin
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
              maxLength: 17
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: vin
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
            maxLength: 17
          operator: in
      - name: body_type
        in: query
        description: To filter listing on their body type
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: body_type
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: body_type
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: ymmt
        in: query
        description: Comma separated list of Year, Make, Model, Trim combinations.
          Each combination needs to have the year,make,model, trim values separated
          by a pipe '|' character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S
          6MT,|Honda|City|   You could just provide strings of the form - 'year|make||'
          or 'year|make|model' or '|make|model|' combinations. Individual year / make
          / model filters provied with the API calls will take precedence over the
          Year, Make, Model, Trim combinations. The Make, Model, Trim values must
          be valid values as per the Marketcheck Vin Decoder. If you are using a separate
          vin decoder then look at using the 'vins' or 'taxonomy_vins' parameter to
          the search api instead the year|make|model|trim combinations.
        schema:
          type: string
      - name: transmission
        in: query
        description: To filter listing on their transmission
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: transmission
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: transmission
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: doors
        in: query
        description: Doors to filter the cars on. Valid filter values are those that
          our Search facets API returns for unique doors. You can pass in multiple
          doors values comma separated
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: doors_is
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: parseInt
              type: integer
              min: 1
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: doors_is
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: parseInt
            type: integer
            min: 1
          operator: in
      - name: drivetrain
        in: query
        description: To filter listing on their drivetrain
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: drivetrain
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: drivetrain
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: exterior_color
        in: query
        description: Exterior color to match. Valid filter values are those that our
          Search facets API returns for unique exterior colors. You can pass in multiple
          exterior color values comma separated
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: exterior_color
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: exterior_color
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: interior_color
        in: query
        description: Interior color to match. Valid filter values are those that our
          Search facets API returns for unique interior colors. You can pass in multiple
          interior color values comma separated
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: interior_color
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: interior_color
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: engine
        in: query
        description: To filter listing on their engine
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: engine
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: engine
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: miles_range
        in: query
        description: Miles range to filter listings with miles in the given range.
          Range to be given in the format - min-max e.g. 1000-5000
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: miles
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 100000
              defaultMin: 1000
        x-field-config:
          isConfigurable: true
          targetAlias: miles
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 100000
            defaultMin: 1000
      - name: price_range
        in: query
        description: Price range to filter listings with the price in the range given.
          Range to be given in the format - min-max e.g. 1000-5000
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: price
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 100000
              defaultMin: 1000
        x-field-config:
          isConfigurable: true
          targetAlias: price
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 100000
            defaultMin: 1000
      - name: msrp_range
        in: query
        description: MSRP range to filter listings with the msrp in the range given.
          Range to be given in the format - min-max e.g. 1000-5000
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: msrp
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 100000
              defaultMin: 1000
        x-field-config:
          isConfigurable: true
          targetAlias: msrp
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 100000
            defaultMin: 1000
      - name: sort_by
        in: query
        description: Sort by field. Default sort field is distance from the given
          point
        schema:
          type: string
          format: string
      - name: sort_order
        in: query
        description: Sort order - asc or desc. Default sort order is asc
        schema:
          type: string
          format: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
      - name: rows
        in: query
        description: Number of results to return. Default is 10. Max is 50
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 10
      - name: start
        in: query
        description: Page number to fetch the results for the given criteria. Default
          is 0. Pagination is allowed only till first 10000 results for the search
          and sort criteria. The page value can be only between 1 to 10000/rows
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: msa_code
        in: query
        description: To filter listing on msa code in which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: msa_code
            isMultiValued: true
            separator: ','
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: msa_code
          isMultiValued: true
          separator: ','
          operator: in
      - name: facets
        in: query
        description: The comma separated list of fields for which facets are requested.
          Facets could be requested in addition to the listings for the search. Please
          note - The API calls with lots of facet fields may take longer to respond.
        schema:
          type: string
      - name: range_facets
        in: query
        description: The comma separated list of numeric fields for which range facets
          are requested. Range facets could be requested in addition to the listings
          for the search. Please note - The API calls with lots of range facet fields
          may take longer to respond.
        schema:
          type: string
      - name: facet_sort
        in: query
        description: Control sort order of facets with this parameter with default
          sort being on count, Other available sort is alphabetical sort, which can
          be obtained by using index as value for this param
        schema:
          type: string
          default: count
          enum:
          - count
          - index
      - name: stats
        in: query
        description: The list of fields for which stats need to be generated based
          on the matching listings for the search criteria. The stats consists of
          mean, max, average and count of listings based on which the stats are calculated
          for the field. Stats could be requested in addition to the listings for
          the search. Please note - The API calls with the stats fields may take longer
          to respond.
        schema:
          type: string
      - name: country
        in: query
        description: To filter listing on Country in which they are listed
        schema:
          type: string
          default: uk
          enum:
          - uk
          - england
          - scotland
          - northan ireland
          - wales
      - name: plot
        in: query
        description: If plot has value true results in around 25k coordinates with
          limited fields to plot respective graph
        schema:
          type: boolean
      - name: nodedup
        in: query
        description: If nodedup is set to true then API will give results without
          is_searchable i.e multiple listings for single vin
        schema:
          type: boolean
      - name: dedup
        in: query
        description: If dedup is set to true then will give results with is_searchable
          irrespecive of dealer_id or source
        schema:
          type: boolean
      - name: county
        in: query
        description: To filter listing on county in which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: county
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: county
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: state
        in: query
        description: To filter listing on State in which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: state
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
              maxLength: 2
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: state
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
            maxLength: 2
          operator: in
      - name: city
        in: query
        description: To filter listing on City in which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: city
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: city
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: fuel_type
        in: query
        description: To filter listing on their fuel type
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: fuel_type
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: fuel_type
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: stock_no
        in: query
        description: To filter listing on their stock number on lot
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: stock_no
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: stock_no
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: last_seen_range
        in: query
        description: Last seen date range to filter listings with the last seen in
          the range given. Range to be given in the format [YYYYMMDD] - min-max e.g.
          20190523-20190623
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: status_date
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
        x-field-config:
          isConfigurable: true
          targetAlias: status_date
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
      - name: first_seen_range
        in: query
        description: First seen date range to filter listings with the first seen
          in the range given. Range to be given in the format [YYYYMMDD] - min-max
          e.g. 20190523-20190623
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: scraped_at
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
        x-field-config:
          isConfigurable: true
          targetAlias: scraped_at
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
      - name: first_seen_at_source_range
        in: query
        description: First seen at source date range to filter listings with the first
          seen at source in the range given. Range to be given in the format [YYYYMMDD]
          - min-max e.g. 20190523-20190623
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: relisted_at_date_dts
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
        x-field-config:
          isConfigurable: true
          targetAlias: relisted_at_date_dts
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
      - name: first_seen_at_mc_range
        in: query
        description: First seen at MC date range to filter listings with the first
          seen at MC in the range given. Range to be given in the format [YYYYMMDD]
          - min-max e.g. 20190523-20190623
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: first_scraped_at_dts
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
        x-field-config:
          isConfigurable: true
          targetAlias: first_scraped_at_dts
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
      - name: last_seen_days
        in: query
        description: Last seen days range to filter listings with the last seen in
          the range given. Range to be given in the format - min-max e.g. 25-12
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: status_date
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
              nowBound: true
        x-field-config:
          isConfigurable: true
          targetAlias: status_date
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
            nowBound: true
      - name: first_seen_days
        in: query
        description: First seen days range to filter listings with the first seen
          in the range given. Range to be given in the format - min-max e.g. 25-12
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: scraped_at
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
              nowBound: true
        x-field-config:
          isConfigurable: true
          targetAlias: scraped_at
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
            nowBound: true
      - name: first_seen_at_source_days
        in: query
        description: First seen at source days range to filter listings with the first
          seen at source in the range given. Range to be given in the format - min-max
          e.g. 25-12
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: relisted_at_date_dts
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
              nowBound: true
        x-field-config:
          isConfigurable: true
          targetAlias: relisted_at_date_dts
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
            nowBound: true
      - name: first_seen_at_mc_days
        in: query
        description: First seen at MC days range to filter listings with the first
          seen at MC in the range given. Range to be given in the format - min-max
          e.g. 25-12
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: first_scraped_at_dts
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
              nowBound: true
        x-field-config:
          isConfigurable: true
          targetAlias: first_scraped_at_dts
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
            nowBound: true
      - name: co2_emissions
        in: query
        description: CO2 emissions
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: co2_emissions
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: co2_emissions
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: insurance_group
        in: query
        description: Insurance Group
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: insurance_group
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: insurance_group
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: vehicle_registration_mark
        in: query
        description: Vehicle Registration Mark
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: vehicle_registration_mark
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: vehicle_registration_mark
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: vehicle_registration_date_range
        in: query
        description: Vehicle registration date range to be given in the format [YYYYMMDD]
          - min-max e.g. 20190523-20190623
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: vehicle_registration_date_range
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
        x-field-config:
          isConfigurable: true
          targetAlias: vehicle_registration_date_range
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
      - name: num_owners
        in: query
        description: Number of owners. Range to be given in the format - min-max e.g.
          1000-5000
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: num_owners
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 5
              defaultMin: 1
        x-field-config:
          isConfigurable: true
          targetAlias: num_owners
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 5
            defaultMin: 1
      responses:
        200:
          description: List of all cars listings matching the search & filter criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    x-swagger-router-controller: search
  /search/car/active:
    get:
      tags:
      - Car Search
      summary: Gets active car listings for the given search criteria
      description: "This endpoint is the meat of the API and serves many purposes.\
        \ This API produces a list of currently active cars from the market for the\
        \ given search criteria. The API results are limited to allow pagination upto\
        \ 10000 rows. \n The search API facilitates the following use cases - \n1.\
        \ Search Cars around a given geo-point within a given radius \n2. Search cars\
        \ for a specific year / make / model or combination of these \n3. Search cars\
        \ matching multiple year, make, model combinatins in the same search request\n\
        4. Filter results by most car specification attributes\n5. Search for similar\
        \ cars by VIN or Taxonomy VIN \n6. Filter cars within a given price / miles\
        \ / days on market (dom) range\n7. Specify a sort order for the results on\
        \ price / miles / dom / listed date \n8. Search cars for a given City / State\
        \ combination \n9. Get Facets to build the search drill downs \n10. Get Market\
        \ averages for price/miles/dom for your search"
      operationId: search
      parameters:
      - name: api_key
        in: query
        description: The API Authentication Key. Mandatory with all API calls.
        schema:
          type: string
      - name: append_api_key
        in: query
        description: Flag on whether to include api_key in response API urls (if any)
        schema:
          type: boolean
          default: true
      - name: latitude
        in: query
        description: Latitude component of location
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        description: Longitude component of location
        schema:
          type: number
          format: double
      - name: radius
        in: query
        description: Radius around the search location (Unit - Miles)
        schema:
          maximum: 7000
          minimum: 0
          type: integer
          format: int32
      - name: zip
        in: query
        description: To filter listing on ZIP around which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: zip
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: zip
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: include_lease
        in: query
        description: Boolean param to search for listings that include leasing options
          in them
        schema:
          type: boolean
      - name: include_finance
        in: query
        description: Boolean param to search for listings that include finance options
          in them
        schema:
          type: boolean
      - name: lease_term
        in: query
        description: Search listings with exact lease term, or inside a range with
          min and max seperated by a dash like lease_term=30-60
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: lease_term_is
            isMultiValued: false
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 48
              defaultMin: 12
        x-field-config:
          isConfigurable: true
          targetAlias: lease_term_is
          isMultiValued: false
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 48
            defaultMin: 12
      - name: lease_down_payment
        in: query
        description: Search listings with exact down payment in lease offers, or inside
          a range with min and max seperated by a dash like lease_down_payment=30-60
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: l_down_pay_fs
            isMultiValued: false
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 5000
              defaultMin: 100
        x-field-config:
          isConfigurable: true
          targetAlias: l_down_pay_fs
          isMultiValued: false
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 5000
            defaultMin: 100
      - name: lease_emp
        in: query
        description: Search listings with lease offers exactly matching Estimated
          Monthly Payment(EMI), or inside a range with min and max seperated by a
          dash like lease_emp=30-60
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: l_emi_fs
            isMultiValued: false
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 1000
              defaultMin: 100
        x-field-config:
          isConfigurable: true
          targetAlias: l_emi_fs
          isMultiValued: false
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 1000
            defaultMin: 100
      - name: finance_loan_term
        in: query
        description: Search listings with exact finance loan term, or inside a range
          with min and max seperated by a dash like finance_loan_term=30-60
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: loan_term_is
            isMultiValued: false
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 48
              defaultMin: 12
        x-field-config:
          isConfigurable: true
          targetAlias: loan_term_is
          isMultiValued: false
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 48
            defaultMin: 12
      - name: finance_loan_apr
        in: query
        description: Search listings with finance offers exactly matching loans Annual
          Percentage Rate, or inside a range with min and max seperated by a dash
          like finance_loan_apr=30-60
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: loan_apr_fs
            isMultiValued: false
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 12
              defaultMin: 1
        x-field-config:
          isConfigurable: true
          targetAlias: loan_apr_fs
          isMultiValued: false
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 12
            defaultMin: 1
      - name: finance_emp
        in: query
        description: Search listings with finance offers exactly matching Estimated
          Monthly Payment(EMI), or inside a range with min and max seperated by a
          dash like finance_emp=30-60
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: f_emi_fs
            isMultiValued: false
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 3000
              defaultMin: 10
        x-field-config:
          isConfigurable: true
          targetAlias: f_emi_fs
          isMultiValued: false
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 3000
            defaultMin: 10
      - name: finance_down_payment
        in: query
        description: Search listings with exact down payment in finance offers, or
          inside a range with min and max seperated by a dash like finance_down_payment=30-60
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: f_down_pay_fs
            isMultiValued: false
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 10000
              defaultMin: 1000
        x-field-config:
          isConfigurable: true
          targetAlias: f_down_pay_fs
          isMultiValued: false
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 10000
            defaultMin: 1000
      - name: finance_down_payment_per
        in: query
        description: Search listings with exact down payment percentage in finance
          offers, or inside a range with min and max seperated by a dash like finance_down_payment_per=30-60
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: f_down_pay_per_fs
            isMultiValued: false
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 20
              defaultMin: 1
        x-field-config:
          isConfigurable: true
          targetAlias: f_down_pay_per_fs
          isMultiValued: false
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 20
            defaultMin: 1
      - name: car_type
        in: query
        description: Car type. Allowed values are - new / used / certified
        schema:
          type: string
          enum:
          - new
          - used
          - certified
      - name: carfax_1_owner
        in: query
        description: Indicates whether car has had only one owner or not
        schema:
          type: string
          enum:
          - "true"
          - "false"
      - name: carfax_clean_title
        in: query
        description: Indicates whether car has clean ownership records
        schema:
          type: string
          enum:
          - "true"
          - "false"
      - name: year_range
        in: query
        description: Year range to filter listings with the year in the range given.
          Range to be given in the format - min-max e.g. 2019-2021
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: year
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 2100
              defaultMin: 1900
        x-field-config:
          isConfigurable: true
          targetAlias: year
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 2100
            defaultMin: 1900
      - name: year
        in: query
        description: To filter listing on their year
        schema:
          minLength: 4
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: year
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: parseInt
              type: integer
              max: 2121
              min: 1800
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: year
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: parseInt
            type: integer
            max: 2121
            min: 1800
          operator: in
      - name: make
        in: query
        description: To filter listings on their make
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: make
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: make
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: model
        in: query
        description: To filter listings on their model
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: model
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: model
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: trim
        in: query
        description: To filter listing on their trim
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: trim
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: trim
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: vin
        in: query
        description: To filter listing on their VIN
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: vin
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
              maxLength: 17
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: vin
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
            maxLength: 17
          operator: in
      - name: body_type
        in: query
        description: To filter listing on their body type
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: body_type
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: body_type
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: body_subtype
        in: query
        description: Body subtype to filter the listings on. Valid filter values are
          those that our Search facets API returns for unique body subtypes. You can
          pass in multiple body subtype values comma separated
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: body_subtype
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: body_subtype
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: vehicle_type
        in: query
        description: To filter listing on their vehicle type
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: vehicle_type
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: vehicle_type
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: vins
        in: query
        description: Comma separated list of 17 digit vins to search the matching
          cars for. Only 10 VINs allowed per request. If the request contains more
          than 10 VINs the first 10 VINs will be considered. Could be used as a More
          Like This or Similar Vehicles search for the given VINs. Ths vins parameter
          is an alternative to taxonomy_vins or ymmt parameters available with the
          search API. vins and taxonomy_vins parameters could be used to filter our
          cars with the exact build represented by the vins or taxonomy_vins whereas
          ymmt is a top level filter that does not filter cars by the build attributes
          like doors, drivetrain, cylinders, body type, body subtype, vehicle type
          etc
        schema:
          type: string
      - name: taxonomy_vins
        in: query
        description: Comma separated list of 10 letters excert from the 17 letter
          VIN. The 10 letters to be picked up from the 17 letter VIN are - first 8
          letters and the 10th and 11th letter. E.g. For a VIN - 1FTFW1EF3EKE57182
          the taxonomy vin would be - 1FTFW1EFEK  A taxonomy VIN identified a build
          of a car and could be used to filter our cars of a particular build. This
          is an alternative to the vin or ymmt parameters to the search API.
        schema:
          type: string
      - name: mm
        in: query
        description: Make-Model concatenated string. To help passing the results of
          auto-complete API on mm field, use this parameter and pass in the selected
          value as is
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: mm
            isMultiValued: false
            operator: equals
            transformConstraints:
            - transformer: caseTransformer
              type: string
        x-field-config:
          isConfigurable: true
          targetAlias: mm
          isMultiValued: false
          operator: equals
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - name: ymm
        in: query
        description: Year-Make-Model concatenated string. To help passing the results
          of auto-complete API on ymm field, use this parameter and pass in the selected
          value as is
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: ymm
            isMultiValued: false
            operator: equals
            transformConstraints:
            - transformer: caseTransformer
              type: string
        x-field-config:
          isConfigurable: true
          targetAlias: ymm
          isMultiValued: false
          operator: equals
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - name: ymmt
        in: query
        description: Comma separated list of Year, Make, Model, Trim combinations.
          Each combination needs to have the year,make,model, trim values separated
          by a pipe '|' character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S
          6MT,|Honda|City|   You could just provide strings of the form - 'year|make||'
          or 'year|make|model' or '|make|model|' combinations. Individual year / make
          / model filters provied with the API calls will take precedence over the
          Year, Make, Model, Trim combinations. The Make, Model, Trim values must
          be valid values as per the Marketcheck Vin Decoder. If you are using a separate
          vin decoder then look at using the 'vins' or 'taxonomy_vins' parameter to
          the search api instead the year|make|model|trim combinations.
        schema:
          type: string
      - name: match
        in: query
        description: Comma separated list of Year, Make, Model, Trim fields. For example
          - year,make,model,trim fields for which user wants to do an exact match
        schema:
          type: string
      - name: cylinders
        in: query
        description: To filter listing on their cylinders
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: cylinders
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: cylinders
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: transmission
        in: query
        description: To filter listing on their transmission
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: transmission
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: transmission
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: doors
        in: query
        description: Doors to filter the cars on. Valid filter values are those that
          our Search facets API returns for unique doors. You can pass in multiple
          doors values comma separated
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: doors_is
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: parseInt
              type: integer
              min: 1
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: doors_is
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: parseInt
            type: integer
            min: 1
          operator: in
      - name: drivetrain
        in: query
        description: To filter listing on their drivetrain
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: drivetrain
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: drivetrain
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: exterior_color
        in: query
        description: Exterior color to match. Valid filter values are those that our
          Search facets API returns for unique exterior colors. You can pass in multiple
          exterior color values comma separated
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: exterior_color
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: exterior_color
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: interior_color
        in: query
        description: Interior color to match. Valid filter values are those that our
          Search facets API returns for unique interior colors. You can pass in multiple
          interior color values comma separated
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: interior_color
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: interior_color
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: base_exterior_color
        in: query
        description: Base exterior color to match. Valid filter values are those that
          our Search facets API returns for unique base exterior colors. You can pass
          in multiple base interior color values comma separated
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: base_exterior_color
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: base_exterior_color
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: base_interior_color
        in: query
        description: Base interior color to match. Valid filter values are those that
          our Search facets API returns for unique base interior colors. You can pass
          in multiple base interior color values comma separated
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: base_interior_color
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: base_interior_color
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: engine
        in: query
        description: To filter listing on their engine
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: engine
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: engine
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: engine_size
        in: query
        description: Engine Size to match. Valid filter values are those that our
          Search facets API returns for unique engine size. You can pass in multiple
          engine size values comma separated
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: engine_size
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: engine_size
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: engine_aspiration
        in: query
        description: Engine Aspiration to match. Valid filter values are those that
          our Search facets API returns for unique Engine Aspirations. You can pass
          in multiple Engine aspirations values comma separated
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: engine_aspiration
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: engine_aspiration
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: engine_block
        in: query
        description: Engine Block to match. Valid filter values are those that our
          Search facets API returns for unique Engine Block. You can pass in multiple
          Engine Block values comma separated
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: engine_block_ss
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: engine_block_ss
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: highway_mpg_range
        in: query
        description: Highway mileage range to filter listings with the mileage in
          the range given. Range to be given in the format - min-max e.g. 1000-5000
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: highway_mpg
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 1000
              defaultMin: 0
        x-field-config:
          isConfigurable: true
          targetAlias: highway_mpg
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 1000
            defaultMin: 0
      - name: city_mpg_range
        in: query
        description: City mileage range to filter listings with the mileage in the
          range given. Range to be given in the format - min-max e.g. 1000-5000
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: city_mpg
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 1000
              defaultMin: 0
        x-field-config:
          isConfigurable: true
          targetAlias: city_mpg
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 1000
            defaultMin: 0
      - name: miles_range
        in: query
        description: Miles range to filter listings with miles in the given range.
          Range to be given in the format - min-max e.g. 1000-5000
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: miles
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 100000
              defaultMin: 1000
        x-field-config:
          isConfigurable: true
          targetAlias: miles
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 100000
            defaultMin: 1000
      - name: price_range
        in: query
        description: Price range to filter listings with the price in the range given.
          Range to be given in the format - min-max e.g. 1000-5000
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: price
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 100000
              defaultMin: 1000
        x-field-config:
          isConfigurable: true
          targetAlias: price
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 100000
            defaultMin: 1000
      - name: msrp_range
        in: query
        description: MSRP range to filter listings with the msrp in the range given.
          Range to be given in the format - min-max e.g. 1000-5000
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: msrp
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 100000
              defaultMin: 1000
        x-field-config:
          isConfigurable: true
          targetAlias: msrp
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 100000
            defaultMin: 1000
      - name: dom_range
        in: query
        description: Days on Market range to filter cars with the DOM within the given
          range. Range to be given in the format - min-max e.g. 10-50
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: dom_is
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 30
              defaultMin: 0
        x-field-config:
          isConfigurable: true
          targetAlias: dom_is
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 30
            defaultMin: 0
      - name: sort_by
        in: query
        description: Sort by field. Default sort field is distance from the given
          point
        schema:
          type: string
          format: string
      - name: sort_order
        in: query
        description: Sort order - asc or desc. Default sort order is asc
        schema:
          type: string
          format: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
      - name: rows
        in: query
        description: Number of results to return. Default is 10. Max is 50
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 10
      - name: start
        in: query
        description: Page number to fetch the results for the given criteria. Default
          is 0. Pagination is allowed only till first 10000 results for the search
          and sort criteria. The page value can be only between 1 to 10000/rows
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: include_non_vin_listings
        in: query
        description: To include non vin listings. Default is false
        schema:
          type: boolean
          default: false
      - name: msa_code
        in: query
        description: To filter listing on msa code in which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: msa_code
            isMultiValued: true
            separator: ','
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: msa_code
          isMultiValued: true
          separator: ','
          operator: in
      - name: facets
        in: query
        description: The comma separated list of fields for which facets are requested.
          Facets could be requested in addition to the listings for the search. Please
          note - The API calls with lots of facet fields may take longer to respond.
        schema:
          type: string
      - name: range_facets
        in: query
        description: The comma separated list of numeric fields for which range facets
          are requested. Range facets could be requested in addition to the listings
          for the search. Please note - The API calls with lots of range facet fields
          may take longer to respond.
        schema:
          type: string
      - name: facet_sort
        in: query
        description: Control sort order of facets with this parameter with default
          sort being on count, Other available sort is alphabetical sort, which can
          be obtained by using index as value for this param
        schema:
          type: string
          default: count
          enum:
          - count
          - index
      - name: stats
        in: query
        description: The list of fields for which stats need to be generated based
          on the matching listings for the search criteria. The stats consists of
          mean, max, average and count of listings based on which the stats are calculated
          for the field. Stats could be requested in addition to the listings for
          the search. Please note - The API calls with the stats fields may take longer
          to respond.
        schema:
          type: string
      - name: country
        in: query
        description: To filter listing on Country in which they are listed
        schema:
          type: string
          default: US
          enum:
          - US
          - CA
          - us
          - ca
          - all
          - ALL
      - name: plot
        in: query
        description: If plot has value true results in around 25k coordinates with
          limited fields to plot respective graph
        schema:
          type: boolean
      - name: nodedup
        in: query
        description: If nodedup is set to true then API will give results without
          is_searchable i.e multiple listings for single vin
        schema:
          type: boolean
      - name: dedup
        in: query
        description: If dedup is set to true then will give results with is_searchable
          irrespecive of dealer_id or source
        schema:
          type: boolean
      - name: owned
        in: query
        description: Used in combination with dealer_id or source, when true returns
          the listings actually owned by dealer himself
        schema:
          type: boolean
      - name: source
        in: query
        description: To filter listing on their source only for widget requests
        schema:
          type: string
          x-field-config:
            widgetExclusive: true
            isConfigurable: true
            targetAlias: source
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: urlTransformer
              type: string
            operator: in
        x-field-config:
          widgetExclusive: true
          isConfigurable: true
          targetAlias: source
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: urlTransformer
            type: string
          operator: in
      - name: state
        in: query
        description: To filter listing on State in which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: state
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
              maxLength: 2
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: state
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
            maxLength: 2
          operator: in
      - name: city
        in: query
        description: To filter listing on City in which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: city
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: city
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: trim_o
        in: query
        description: Filter listings on web scraped trim
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: trim_orig
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: trim_orig
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: trim_r
        in: query
        description: Filter trim on custom possible matches
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: trim_r_ss
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: trim_r_ss
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: dom_active_range
        in: query
        description: Active Days on Market range to filter cars with the DOM within
          the given range. Range to be given in the format - min-max e.g. 10-50
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: dom_active_is
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 30
              defaultMin: 0
        x-field-config:
          isConfigurable: true
          targetAlias: dom_active_is
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 30
            defaultMin: 0
      - name: dom_180_range
        in: query
        description: Last 180 Days on Market range to filter cars with the DOM within
          the given range. Range to be given in the format - min-max e.g. 10-50
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: dom_180_is
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseInt
              type: integer
              defaultMax: 30
              defaultMin: 0
        x-field-config:
          isConfigurable: true
          targetAlias: dom_180_is
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseInt
            type: integer
            defaultMax: 30
            defaultMin: 0
      - name: exclude_certified
        in: query
        description: Boolean param to exclude certified cars from search results
        schema:
          type: boolean
      - name: fuel_type
        in: query
        description: To filter listing on their fuel type
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: fuel_type
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: fuel_type
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: dealer_type
        in: query
        description: Filter based on dealer type independant or franchise
        schema:
          type: string
          enum:
          - franchise
          - independent
          x-field-config:
            isConfigurable: true
            targetAlias: dealer_type
            isMultiValued: false
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: dealer_type
          isMultiValued: false
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: photo_links
        in: query
        description: A boolean indicating whether to include only those listings that
          have photo_links in search results, And discard those that don't have them
        schema:
          type: boolean
      - name: stock_no
        in: query
        description: To filter listing on their stock number on lot
        schema:
          type: string
          x-field-config:
            isConfigurable: true
            targetAlias: stock_no
            isMultiValued: true
            separator: ','
            transformConstraints:
            - transformer: caseTransformer
              type: string
            operator: in
        x-field-config:
          isConfigurable: true
          targetAlias: stock_no
          isMultiValued: true
          separator: ','
          transformConstraints:
          - transformer: caseTransformer
            type: string
          operator: in
      - name: last_seen_range
        in: query
        description: Last seen date range to filter listings with the last seen in
          the range given. Range to be given in the format [YYYYMMDD] - min-max e.g.
          20190523-20190623
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: status_date
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
        x-field-config:
          isConfigurable: true
          targetAlias: status_date
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
      - name: first_seen_range
        in: query
        description: First seen date range to filter listings with the first seen
          in the range given. Range to be given in the format [YYYYMMDD] - min-max
          e.g. 20190523-20190623
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: scraped_at
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
        x-field-config:
          isConfigurable: true
          targetAlias: scraped_at
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
      - name: first_seen_at_source_range
        in: query
        description: First seen at source date range to filter listings with the first
          seen at source in the range given. Range to be given in the format [YYYYMMDD]
          - min-max e.g. 20190523-20190623
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: relisted_at_date_dts
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
        x-field-config:
          isConfigurable: true
          targetAlias: relisted_at_date_dts
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
      - name: first_seen_at_mc_range
        in: query
        description: First seen at MC date range to filter listings with the first
          seen at MC in the range given. Range to be given in the format [YYYYMMDD]
          - min-max e.g. 20190523-20190623
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: first_scraped_at_dts
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
        x-field-config:
          isConfigurable: true
          targetAlias: first_scraped_at_dts
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
      - name: last_seen_days
        in: query
        description: Last seen days range to filter listings with the last seen in
          the range given. Range to be given in the format - min-max e.g. 25-12
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: status_date
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
              nowBound: true
        x-field-config:
          isConfigurable: true
          targetAlias: status_date
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
            nowBound: true
      - name: first_seen_days
        in: query
        description: First seen days range to filter listings with the first seen
          in the range given. Range to be given in the format - min-max e.g. 25-12
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: scraped_at
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
              nowBound: true
        x-field-config:
          isConfigurable: true
          targetAlias: scraped_at
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
            nowBound: true
      - name: first_seen_at_source_days
        in: query
        description: First seen at source days range to filter listings with the first
          seen at source in the range given. Range to be given in the format - min-max
          e.g. 25-12
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: relisted_at_date_dts
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
              nowBound: true
        x-field-config:
          isConfigurable: true
          targetAlias: relisted_at_date_dts
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
            nowBound: true
      - name: first_seen_at_mc_days
        in: query
        description: First seen at MC days range to filter listings with the first
          seen at MC in the range given. Range to be given in the format - min-max
          e.g. 25-12
        schema:
          type: string
          format: string
          x-field-config:
            isConfigurable: true
            targetAlias: first_scraped_at_dts
            isMultiValued: false
            operator: between
            separator: '-'
            transformConstraints:
            - transformer: parseDate
              type: date
              nowBound: true
        x-field-config:
          isConfigurable: true
          targetAlias: first_scraped_at_dts
          isMultiValued: false
          operator: between
          separator: '-'
          transformConstraints:
          - transformer: parseDate
            type: date
            nowBound: true
      - name: include_relevant_links
        in: query
        description: To include_relevant_links. Default is true
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: List of all cars listings matching the search & filter criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    x-swagger-router-controller: search
  /search/car/fsbo/active:
    get:
      tags:
      - Car Search
      summary: Gets active private party car listings for the given search criteria
      description: "This API produces a list of currently active FSBO cars from the\
        \ market for the given search criteria. The API results are limited to allow\
        \ pagination upto 5000 rows. \n The search API facilitates the following use\
        \ cases - \n1. Search Cars around a given geo-point within a given radius\
        \ \n2. Search cars for a specific year / make / model or combination of these\
        \ \n3. Search cars matching multiple year, make, model combinatins in the\
        \ same search request\n4. Filter results by most car specification attributes\n\
        5. Search for similar cars by VIN or Taxonomy VIN \n6. Filter cars within\
        \ a given price / miles / days on market (dom) range\n7. Specify a sort order\
        \ for the results on price / miles / dom / listed date \n8. Search cars for\
        \ a given City / State combination \n9. Get Facets to build the search drill\
        \ downs \n10. Get Market averages for price/miles/dom for your search"
      operationId: search
      parameters:
      - name: api_key
        in: query
        description: The API Authentication Key. Mandatory with all API calls.
        schema:
          type: string
      - name: append_api_key
        in: query
        description: Flag on whether to include api_key in response API urls (if any)
        schema:
          type: boolean
          default: true
      - name: latitude
        in: query
        description: Latitude component of location
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        description: Longitude component of location
        schema:
          type: number
          format: double
      - name: radius
        in: query
        description: Radius around the search location (Unit - Miles)
        schema:
          maximum: 7000
          minimum: 0
          type: integer
          format: int32
      - name: zip
        in: query
        description: To filter listing on ZIP around which they are listed
        schema:
          type: string
          x-field-config:
            isConfigurable: true
[...]
