openapi: 3.0.1
info:
  title: App Center Client
  description: Microsoft Visual Studio App Center API
  version: v0.1
servers:
- url: https://api.appcenter.ms/
tags:
- name: account
- name: alerting
- name: analytics
- name: billing
- name: build
- name: codepush
- name: crash
- name: distribute
- name: errors
- name: export
- name: gdpr
- name: test
paths:
  /v0.1/users/{user_id}/devices/register:
    post:
      tags:
      - distribute
      description: Registers a user for an existing device
      operationId: devices_registerUserForDevice
      parameters:
      - name: user_id
        in: path
        description: The ID of the user
        required: true
        schema:
          type: string
      requestBody:
        description: The device info.
        content:
          application/json:
            schema:
              required:
              - model
              - udid
              type: object
              properties:
                udid:
                  type: string
                  description: The Unique Device IDentifier of the device
                model:
                  type: string
                  description: The model identifier of the device, in the format iDeviceM,N
                os_build:
                  type: string
                  description: The build number of the last known OS version running
                    on the device
                os_version:
                  type: string
                  description: The last known OS version running on the device
                serial:
                  type: string
                  description: The device's serial number. Always empty or undefined
                    at present.
                imei:
                  type: string
                  description: The device's International Mobile Equipment Identity
                    number. Always empty or undefined at present.
                owner_id:
                  type: string
                  description: The user ID of the device owner.
              description: The information for a single iOS device
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: The information for a single iOS device
        404:
          description: |
            <b>not_found</b>: The user or the device can't be found.
          content:
            application/json:
              schema:
                type: object
      security:
      - APIToken: []
      x-codegen-request-body-name: body
  /v0.1/user/notifications/emailSettings:
    get:
      tags:
      - alerting
      description: Get Default email notification settings for the user
      operationId: notifications_getUserEmailSettings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                required:
                - request_id
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique request identifier for tracking
                description: Alerting Default Email Settings of the user
        default:
          description: Error code with reason
          content:
            application/json:
              schema:
                required:
                - request_id
                type: object
                properties:
                  request_id:
                    type: string
                    description: Unique request identifier for tracking
                description: Alerting service error
      security:
      - APIToken: []
  /v0.1/user/metadata/optimizely:
    get:
      tags:
      - account
      operationId: Users_getUserMetadata
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/user/invitations/orgs/{invitation_token}/reject:
    post:
      tags:
      - account
      description: Rejects a pending organization invitation
      operationId: orgInvitations_reject
      parameters:
      - name: invitation_token
        in: path
        description: The app invitation token that was sent to the user
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        description: allow empty body for custom http-client lib
        content:
          application/json:
            schema:
              type: object
        required: false
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: empty_body
  /v0.1/user/invitations/orgs/{invitation_token}/accept:
    post:
      tags:
      - account
      description: Accepts a pending organization invitation for the specified user
      operationId: orgInvitations_accept
      parameters:
      - name: invitation_token
        in: path
        description: The app invitation token that was sent to the user
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        description: allow empty body for custom http-client lib
        content:
          application/json:
            schema:
              type: object
        required: false
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: empty_body
  /v0.1/user/invitations/distribution_groups/accept:
    post:
      tags:
      - account
      description: Accepts all pending invitations to distribution groups for the
        specified user
      operationId: distributionGroupInvitations_acceptAll
      requestBody:
        description: allow empty body for custom http-client lib
        content:
          application/json:
            schema:
              type: object
        required: false
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: empty_body
  /v0.1/user/invitations/apps/{invitation_token}/reject:
    post:
      tags:
      - account
      description: Rejects a pending invitation for the specified user
      operationId: appInvitations_reject
      parameters:
      - name: invitation_token
        in: path
        description: The app invitation token that was sent to the user
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        description: allow empty body for custom http-client lib
        content:
          application/json:
            schema:
              type: object
        required: false
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: empty_body
  /v0.1/user/invitations/apps/{invitation_token}/accept:
    post:
      tags:
      - account
      description: Accepts a pending invitation for the specified user
      operationId: appInvitations_accept
      parameters:
      - name: invitation_token
        in: path
        description: The app invitation token that was sent to the user
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        description: allow empty body for custom http-client lib
        content:
          application/json:
            schema:
              type: object
        required: false
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: empty_body
  /v0.1/user/export/serviceConnections:
    get:
      tags:
      - account
      description: Gets all service connections of the service type for GDPR export.
      operationId: sharedconnection_Connections
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                  - credentialType
                  - id
                  - serviceType
                  type: object
                  properties:
                    id:
                      type: string
                      description: id of the shared connection
                    displayName:
                      type: string
                      description: display name of shared connection
                    serviceType:
                      type: string
                      description: service type of shared connection can be apple|gitlab|googleplay|jira
                      enum:
                      - apple
                      - jira
                      - googleplay
                      - gitlab
                    credentialType:
                      type: string
                      description: the type of the credential
                      enum:
                      - credentials
                      - certificate
                    isValid:
                      type: boolean
                      description: whether the credentials are valid or not
                    is2FA:
                      type: boolean
                      description: if the account is a 2FA account or not
                  description: SharedConnectionResponse
        default:
          description: |
            bad_request: proper details are not provided for connection in body.
          content:
            application/json:
              schema:
                type: object
      security:
      - APIToken: []
  /v0.1/user/dsr/export/{token}/cancel:
    post:
      tags:
      - gdpr
      operationId: DataSubjectRight_CancelExportRequest
      parameters:
      - name: token
        in: path
        description: Unique request ID (GUID)
        required: true
        schema:
          type: string
          format: uuid
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        202:
          description: Data subject right cancel export request has been accepted.
          headers:
            Location:
              description: Link to get details about the cancel export.
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                - createdAt
                - token
                type: object
                properties:
                  token:
                    type: string
                    description: Unique request identifier
                    format: uuid
                  createdAt:
                    type: string
                    description: ISO 8601 format timestamp of when request was created.
                    format: date-time
        503:
          description: Cancel export request cannot be processed yet.
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
        default:
          description: Error code with reason
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/user/dsr/export/{token}:
    get:
      tags:
      - gdpr
      operationId: DataSubjectRight_ExportStatusRequest
      parameters:
      - name: token
        in: path
        description: Unique request ID (GUID)
        required: true
        schema:
          type: string
          format: uuid
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Data subject right export request status successfully retrieved.
          content:
            application/json:
              schema:
                required:
                - message
                - status
                type: object
                properties:
                  sasUrl:
                    type: string
                    description: Azure Storage shared access signature (SAS) URL for
                      exported user data.
                  sasUrlExpired:
                    type: boolean
                    description: Whether Azure Storage shared access signature (SAS)
                      URL has expired or not.
                  status:
                    type: string
                    description: Status of data subject right request
                    enum:
                    - None
                    - Created
                    - Queued
                    - InProgress
                    - Completed
                    - Failed
                  message:
                    type: string
                    description: explanation message of the status
        default:
          description: Error code with reason
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/user/dsr/export:
    post:
      tags:
      - gdpr
      operationId: DataSubjectRight_ExportRequest
      responses:
        202:
          description: Data subject right export request has been accepted.
          headers:
            Location:
              description: Link to get details about the export.
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                - createdAt
                - token
                type: object
                properties:
                  token:
                    type: string
                    description: Unique request identifier
                    format: uuid
                  createdAt:
                    type: string
                    description: ISO 8601 format timestamp of when request was created.
                    format: date-time
        default:
          description: Error code with reason
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/user/dsr/delete/{token}/cancel:
    post:
      tags:
      - gdpr
      operationId: DataSubjectRight_CancelDeleteRequest
      parameters:
      - name: token
        in: path
        description: Unique request ID (GUID)
        required: true
        schema:
          type: string
          format: uuid
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              required:
              - email
              type: object
              properties:
                email:
                  type: string
                  description: Email used for cancel delete with x-authz-bypass headers
        required: false
      responses:
        202:
          description: Data subject right cancel delete request has been accepted.
          headers:
            Location:
              description: Link to get details about the cancel delete.
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                - createdAt
                - token
                type: object
                properties:
                  token:
                    type: string
                    description: Unique request identifier
                    format: uuid
                  createdAt:
                    type: string
                    description: ISO 8601 format timestamp of when request was created.
                    format: date-time
        503:
          description: Cancel delete request cannot be processed yet.
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
        default:
          description: Error code with reason
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: email
  /v0.1/user/dsr/delete/{token}:
    get:
      tags:
      - gdpr
      operationId: DataSubjectRight_DeleteStatusRequest
      parameters:
      - name: token
        in: path
        description: Unique request ID (GUID)
        required: true
        schema:
          type: string
          format: uuid
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: email
        in: query
        description: Email used for delete with x-authz-bypass headers
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Data subject right delete request status successfully retrieved.
          content:
            application/json:
              schema:
                required:
                - message
                - status
                type: object
                properties:
                  sasUrl:
                    type: string
                    description: Azure Storage shared access signature (SAS) URL for
                      exported user data.
                  sasUrlExpired:
                    type: boolean
                    description: Whether Azure Storage shared access signature (SAS)
                      URL has expired or not.
                  status:
                    type: string
                    description: Status of data subject right request
                    enum:
                    - None
                    - Created
                    - Queued
                    - InProgress
                    - Completed
                    - Failed
                  message:
                    type: string
                    description: explanation message of the status
        default:
          description: Error code with reason
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/user/dsr/delete:
    post:
      tags:
      - gdpr
      operationId: DataSubjectRight_DeleteRequest
      responses:
        202:
          description: Data subject right delete request has been accepted.
          headers:
            Location:
              description: Link to get details about the delete.
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                - createdAt
                - token
                type: object
                properties:
                  token:
                    type: string
                    description: Unique request identifier
                    format: uuid
                  createdAt:
                    type: string
                    description: ISO 8601 format timestamp of when request was created.
                    format: date-time
        default:
          description: Error code with reason
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/user/devices/{device_udid}:
    get:
      tags:
      - distribute
      description: Returns the device details.
      operationId: devices_deviceDetails
      parameters:
      - name: device_udid
        in: path
        description: The UDID of the device
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: The information for a single iOS device
        400:
          description: |
            <b>bad_request</b>: Devices information can only be requested for iOS apps.
          content:
            application/json:
              schema:
                type: object
        403:
          description: |
            <b>forbidden</b>: The user is not allowed to view someone else's device.
          content:
            application/json:
              schema:
                type: object
        404:
          description: |
            <b>not_found</b>: The user or device can't be found.
          content:
            application/json:
              schema:
                type: object
      security:
      - APIToken: []
    delete:
      tags:
      - distribute
      description: Removes an existing device from a user
      operationId: devices_removeUserDevice
      parameters:
      - name: device_udid
        in: path
        description: The UDID of the device
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
        403:
          description: |
            <b>forbidden</b>: The user is not allowed to delete someone else's device.
          content:
            application/json:
              schema:
                type: object
        404:
          description: |
            <b>not_found</b>: The user or the device can't be found.
          content:
            application/json:
              schema:
                type: object
      security:
      - APIToken: []
  /v0.1/user/devices:
    get:
      tags:
      - distribute
      description: Returns all devices associated with the given user.
      operationId: devices_userDevicesList
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                  - device_name
                  - model
                  - os_build
                  - os_version
                  - status
                  - udid
                  type: object
                  properties:
                    udid:
                      type: string
                      description: The Unique Device IDentifier of the device
                    model:
                      type: string
                      description: The model identifier of the device, in the format
                        iDeviceM,N
                    device_name:
                      type: string
                      description: The device description, in the format "iPhone 7
                        Plus (A1784)"
                    full_device_name:
                      type: string
                      description: A combination of the device model name and the
                        owner name.
                    os_build:
                      type: string
                      description: The last known OS version running on the device
                    os_version:
                      type: string
                      description: The last known OS version running on the device
                    serial:
                      type: string
                      description: The device's serial number. Always empty or undefined
                        at present.
                    imei:
                      type: string
                      description: The device's International Mobile Equipment Identity
                        number. Always empty or undefined at present.
                    owner_id:
                      type: string
                      description: The user ID of the device owner.
                    status:
                      type: string
                      description: The provisioning status of the device.
                    registered_at:
                      type: string
                      description: Timestamp of when the device was registered in
                        ISO format.
                  description: The information for a single iOS device
        400:
          description: |
            <b>bad_request</b>: Devices information can only be requested for iOS apps.
          content:
            application/json:
              schema:
                type: object
        403:
          description: |
            <b>forbidden</b>: The user is not allowed to view someone else's devices.
          content:
            application/json:
              schema:
                type: object
      security:
      - APIToken: []
  /v0.1/user:
    get:
      tags:
      - account
      description: Returns the user profile data
      operationId: users_get
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
    patch:
      tags:
      - account
      description: Updates the user profile and returns the updated user data
      operationId: users_update
      requestBody:
        description: The data for the created user
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                  description: The full name of the user. Might for example be first
                    and last name
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: user
  /v0.1/sdk/apps/{app_secret}/releases/{release_hash}:
    get:
      tags:
      - distribute
      description: If 'latest' is not specified then it will return the specified
        release if it's enabled. If 'latest' is specified, regardless of whether a
        release hash is provided, the latest enabled release is returned.
      operationId: releases_getLatestByHash
      parameters:
      - name: app_secret
        in: path
        description: The secret of the target application
        required: true
        schema:
          type: string
      - name: release_hash
        in: path
        description: The hash of the release or 'latest' to get the latest release
          from all the distribution groups assigned to the current user.
        required: true
        schema:
          type: string
      - name: udid
        in: query
        description: When passing `udid` in the query string, a provisioning check
          for the given device ID will be done. Will be ignored for non-iOS platforms.
        schema:
          type: string
      responses:
        200:
          description: If called with a specific `release_hash` return the app's 'display_name''
            and 'buildIdentifier'. If 'release_hash' is 'latest' return the full release
            details of the latest release that was distributed to the current user
            (from all the distribution groups).
          content:
            application/json:
              schema:
                type: object
                description: Details of an uploaded release
        404:
          description: |
            Error codes:
            - `not_found` - A release or an app can't be found.
            - `no_releases_for_user` - No releases available for that user (will only be returned when `release_hash` is `latest`)
          content:
            application/json:
              schema:
                type: object
      security:
      - APIToken: []
  /v0.1/sdk/apps/{app_secret}/releases/private/latest:
    get:
      tags:
      - distribute
      description: Get the latest release distributed to a private group the given
        user is a member of for the given app.
      operationId: releases_getLatestPrivateRelease
      parameters:
      - name: app_secret
        in: path
        description: The secret of the target application
        required: true
        schema:
          type: string
      - name: udid
        in: query
        description: When passing `udid` in the query string, a provisioning check
          for the given device ID will be done. Will be ignored for non-iOS platforms.
        schema:
          type: string
      responses:
        200:
          description: Return the full release details of the latest release that
            was distributed to the current user (from all the private distribution
            groups).
          content:
            application/json:
              schema:
                type: object
                description: Details of an uploaded release
        404:
          description: |
            Error codes:
            - `not_found` - A release or an app can't be found.
            - `no_releases_for_user` - No releases available for that user.
          content:
            application/json:
              schema:
                type: object
      security:
      - APIToken: []
  /v0.1/public/sparkle/apps/{app_secret}:
    get:
      tags:
      - distribute
      description: Gets the sparkle feed of the releases that are distributed to all
        the public distribution groups.
      operationId: releases_getSparkleFeed
      parameters:
      - name: app_secret
        in: path
        description: The secret of the application.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The RSS feed of releases.
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /v0.1/public/sdk/apps/{app_secret}/releases/{release_hash}/public_distribution_groups:
    get:
      tags:
      - distribute
      description: Get all public distribution groups that a given release has been
        distributed to
      operationId: releases_getPublicGroupsForReleaseByHash
      parameters:
      - name: app_secret
        in: path
        description: The secret of the target application
        required: true
        schema:
          type: string
      - name: release_hash
        in: path
        description: The hash of the release
        required: true
        schema:
          type: string
      responses:
        200:
          description: The public distribution groups that the release has been distributed
            to
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                  - id
                  type: object
                  properties:
                    id:
                      type: string
                      description: The id of the distribution group
                      format: uuid
        404:
          description: |
            Error Codes:
            - `not_found` - The app doesn't exist
          content:
            application/json:
              schema:
                type: object
  /v0.1/public/sdk/apps/{app_secret}/releases/latest:
    get:
      tags:
      - distribute
      description: Get the latest public release for the given app.
      operationId: releases_getLatestPublicRelease
      parameters:
      - name: app_secret
        in: path
        description: The secret of the target application
        required: true
        schema:
          type: string
      responses:
        200:
          description: The full release details of the latest release that was distributed
            to a public group.
          content:
            application/json:
              schema:
                type: object
                description: Details of an uploaded release
        404:
          description: |
            Error Codes:
            - `not_found` - The app doesn't exist
            - `no_releases_for_app` - The app has no public releases.
          content:
            application/json:
              schema:
                type: object
      deprecated: true
  /v0.1/public/sdk/apps/{app_secret}/distribution_groups/{distribution_group_id}/releases/latest:
    get:
      tags:
      - distribute
      description: Get a release with 'latest' for the given public group.
      operationId: releases_getLatestByPublicDistributionGroup
      parameters:
      - name: app_secret
        in: path
        description: The secret of the target application
        required: true
        schema:
          type: string
      - name: distribution_group_id
        in: path
        description: the id for destination
        required: true
        schema:
          type: string
      responses:
        200:
          description: The full release details of the latest release that was distributed
            from the given public group.
          content:
            application/json:
              schema:
                type: object
                description: Details of an uploaded release
        403:
          description: |
            Error Codes:
            - `forbidden` - Unauthorized to access private distribution group
          content:
            application/json:
              schema:
                type: object
        404:
          description: |
            Error Codes:
            - `not_found` - Distribution group or the app doesn't exist
            - `no_releases_for_app` - App has no releases.
          content:
            application/json:
              schema:
                type: object
  /v0.1/public/hooks:
    post:
      tags:
      - build
      description: Public webhook sink
      operationId: builds_webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: false
      responses:
        200:
          description: Success
          content: {}
        default:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
      x-codegen-request-body-name: payload
  /v0.1/public/codepush/update_check:
    get:
      tags:
      - codepush
      description: Check for updates
      operationId: codePushAcquisition_updateCheck
      parameters:
      - name: deployment_key
        in: query
        required: true
        schema:
          type: string
      - name: app_version
        in: query
        required: true
        schema:
          type: string
      - name: package_hash
        in: query
        schema:
          type: string
      - name: label
        in: query
        schema:
          type: string
      - name: client_unique_id
        in: query
        schema:
          type: string
      - name: is_companion
        in: query
        schema:
          type: boolean
      - name: previous_label_or_app_version
        in: query
        schema:
          type: string
      - name: previous_deployment_key
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /v0.1/public/codepush/status:
    get:
      tags:
      - codepush
      description: Returns the acquisition service status to the caller
      operationId: codePushAcquisition_getAcquisitionStatus
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /v0.1/public/codepush/report_status/download:
    post:
      tags:
      - codepush
      description: Report download of specified release
      operationId: codePushAcquisition_updateDownloadStatus
      requestBody:
        description: Deployment status metric properties
        content:
          application/json:
            schema:
              required:
              - deployment_key
              type: object
              properties:
                deployment_key:
                  type: string
                label:
                  type: string
                app_version:
                  type: string
                previous_deployment_key:
                  type: string
                previous_label_or_app_version:
                  type: string
                status:
                  type: string
                client_unique_id:
                  type: string
        required: true
      responses:
        200:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
      x-codegen-request-body-name: release_metadata
  /v0.1/public/codepush/report_status/deploy:
    post:
      tags:
      - codepush
      description: Report Deployment status metric
      operationId: codePushAcquisition_updateDeployStatus
      requestBody:
        description: Deployment status metric properties
        content:
          application/json:
            schema:
              required:
              - deployment_key
              type: object
              properties:
                deployment_key:
                  type: string
                label:
                  type: string
                app_version:
                  type: string
                previous_deployment_key:
                  type: string
                previous_label_or_app_version:
                  type: string
                status:
                  type: string
                client_unique_id:
                  type: string
        required: true
      responses:
        200:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
      x-codegen-request-body-name: release_metadata
  /v0.1/public/apps/{owner_name}/{app_name}/install_analytics:
    post:
      tags:
      - distribute
      description: Notify download(s) for the provided distribution release(s).
      operationId: distibutionReleases_installAnalytics
      parameters:
      - name: owner_name
        in: path
        description: The name of the app owner
        required: true
        schema:
          type: string
      - name: app_name
        in: path
        description: The name of the app
        required: true
        schema:
          type: string
      requestBody:
        description: The install analytics request payload
        content:
          application/json:
            schema:
              type: object
              properties:
                releases:
                  type: array
                  items:
                    required:
                    - distribution_group_id
                    - release_id
                    - user_id
                    type: object
                    properties:
                      release_id:
                        type: integer
                        description: release id
                      distribution_group_id:
                        type: string
                        description: distribution group id
                      user_id:
                        type: string
                        description: user id
                        format: uuid
        required: true
      responses:
        204:
          description: Install Analytics Notification Sent Successfully.
          content: {}
      x-codegen-request-body-name: body
  /v0.1/public/apps/{app_id}/releases/{release_id}/ios_manifest:
    get:
      tags:
      - distribute
      description: Returns the manifest.plist in XML format for installing the release
        on a device. Only available for iOS.
      operationId: releases_getIosManifest
      parameters:
      - name: app_id
        in: path
        description: The ID of the application
        required: true
        schema:
          type: string
      - name: release_id
        in: path
        description: The release_id
        required: true
        schema:
          type: integer
      - name: token
        in: query
        description: A hash that authorizes the download if it matches the release
          info.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
        400:
          description: The app's OS is not iOS.
          content:
            application/json:
              schema:
                type: object
        403:
          description: Forbidden - The token provided doesn't match the release's
            token.
          content:
            application/json:
              schema:
                type: object
        404:
          description: The app or release can't be found.
          content:
            application/json:
              schema:
                type: object
  /v0.1/orgs/{org_name}/users/{user_name}/apps:
    get:
      tags:
      - account
      description: Get a user apps information from an organization by name
      operationId: apps_getForOrgUser
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: user_name
        in: path
        description: The slug name of the user
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  allOf:
                  - required:
                    - display_name
                    - id
                    - name
                    - os
                    - owner
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique ID (UUID) of the app
                        format: uuid
                      description:
                        type: string
                        description: The description of the app
                      display_name:
                        type: string
                        description: The display name of the app
                      release_type:
                        type: string
                        description: A one-word descriptive release-type value that
                          starts with a capital letter but is otherwise lowercase
                      icon_url:
                        type: string
                        description: The string representation of the URL pointing
                          to the app's icon
                      icon_source:
                        type: string
                        description: The string representation of the source of the
                          app's icon
                      name:
                        type: string
                        description: The name of the app used in URLs
                      os:
                        type: string
                        description: The OS the app will be running on
                        enum:
                        - Android
                        - iOS
                        - macOS
                        - Tizen
                        - tvOS
                        - Windows
                        - Linux
                        - Custom
                      owner:
                        required:
                        - display_name
                        - id
                        - name
                        - type
                        type: object
                        properties:
                          id:
                            type: string
                            description: The unique id (UUID) of the owner
                            format: uuid
                          avatar_url:
                            type: string
                            description: The avatar URL of the owner
                          display_name:
                            type: string
                            description: The owner's display name
                          email:
                            type: string
                            description: The owner's email address
                          name:
                            type: string
                            description: The unique name that used to identify the
                              owner
                          type:
                            type: string
                            description: The owner type. Can either be 'org' or 'user'
                            enum:
                            - org
                            - user
                        description: The information about the app's owner
                  - type: object
                    properties:
                      app_secret:
                        type: string
                        description: A unique and secret key used to identify the
                          app in communication with the ingestion endpoint for crash
                          reporting and analytics
                      azure_subscription:
                        required:
                        - subscription_id
                        - subscription_name
                        - tenant_id
                        type: object
                        properties:
                          subscription_id:
                            type: string
                            description: The azure subscription id
                            format: uuid
                          tenant_id:
                            type: string
                            description: The tenant id of the azure subscription belongs
                              to
                            format: uuid
                          subscription_name:
                            type: string
                            description: The name of the azure subscription
                          is_billing:
                            type: boolean
                            description: If the subscription is used for billing
                          is_billable:
                            type: boolean
                            description: If the subscription can be used for billing
                          is_microsoft_internal:
                            type: boolean
                            description: If the subscription is internal Microsoft
                              subscription
                      platform:
                        type: string
                        description: The platform of the app
                        enum:
                        - Java
                        - Objective-C-Swift
                        - UWP
                        - Cordova
                        - React-Native
                        - Unity
                        - Electron
                        - Xamarin
                        - WPF
                        - WinForms
                        - Unknown
                        - Custom
                      origin:
                        type: string
                        description: The creation origin of this app
                        enum:
                        - appcenter
                        - hockeyapp
                        - codepush
                      created_at:
                        type: string
                        description: The created date of this app
                      updated_at:
                        type: string
                        description: The last updated date of this app
                      member_permissions:
                        type: array
                        description: The permissions of the calling user
                        items:
                          type: string
                          enum:
                          - manager
                          - developer
                          - viewer
                          - tester
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/orgs/{org_name}/users/{user_name}:
    get:
      tags:
      - account
      description: Get a user information from an organization by name - if there
        is explicit permission return it, if not if not return highest implicit permission
      operationId: users_getForOrg
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: user_name
        in: path
        description: The slug name of the user
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
    delete:
      tags:
      - account
      description: Removes a user from an organization.
      operationId: users_removeFromOrg
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: user_name
        in: path
        description: The slug name of the user
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
    patch:
      tags:
      - account
      description: Updates the given organization user
      operationId: users_updateOrgRole
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: user_name
        in: path
        description: The slug name of the user
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  description: The user's role in the organizatiion
                  enum:
                  - admin
                  - collaborator
                  - member
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: organization_user
  /v0.1/orgs/{org_name}/users:
    get:
      tags:
      - account
      description: Returns a list of users that belong to an organization
      operationId: users_listForOrg
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                  - display_name
                  - email
                  - joined_at
                  - name
                  - role
                  type: object
                  properties:
                    email:
                      type: string
                      description: The email address of the user
                    display_name:
                      type: string
                      description: The full name of the user. Might for example be
                        first and last name
                    joined_at:
                      type: string
                      description: The date when the user joined the organization
                    name:
                      type: string
                      description: The unique name that is used to identify the user.
                    role:
                      type: string
                      description: The role the user has within the organization
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/orgs/{org_name}/testers:
    get:
      tags:
      - account
      description: Returns a unique list of users including the whole organization
        members plus testers in any shared group of that org
      operationId: distributionGroups_listAllTestersForOrg
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                  - email
                  - name
                  type: object
                  properties:
                    display_name:
                      type: string
                      description: The full name of the tester. Might for example
                        be first and last name
                    name:
                      type: string
                      description: The unique name that is used to identify the tester.
                    email:
                      type: string
                      description: The email address of the tester
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/orgs/{org_name}/teams/{team_name}/users/{user_name}:
    delete:
      tags:
      - account
      description: Removes a user from a team that is owned by an organization
      operationId: teams_removeUser
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: user_name
        in: path
        description: The slug name of the user
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
  /v0.1/orgs/{org_name}/teams/{team_name}/users:
    get:
      tags:
      - account
      description: Returns the users of a team which is owned by an organization
      operationId: teams_getUsers
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
    post:
      tags:
      - account
      description: Adds a new user to a team that is owned by an organization
      operationId: teams_addUser
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        description: The email of the user to add to the team
        content:
          application/json:
            schema:
              required:
              - user_email
              type: object
              properties:
                user_email:
                  type: string
                  description: The user's email address
        required: true
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: user_email
  /v0.1/orgs/{org_name}/teams/{team_name}/apps/{app_name}:
    delete:
      tags:
      - account
      description: Removes an app from a team
      operationId: teams_removeApp
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: app_name
        in: path
        description: The name of the application
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
    patch:
      tags:
      - account
      description: Updates the permissions the team has to the app
      operationId: teams_updatePermissions
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: app_name
        in: path
        description: The name of the application
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              required:
              - permissions
              type: object
              properties:
                permissions:
                  type: array
                  description: The permissions all members of the team have on the
                    app
                  items:
                    type: string
                    enum:
                    - manager
                    - developer
                    - viewer
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: team
  /v0.1/orgs/{org_name}/teams/{team_name}/apps:
    get:
      tags:
      - account
      description: Returns the apps a team has access to
      operationId: teams_listApps
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  allOf:
                  - type: object
                    allOf:
                    - required:
                      - display_name
                      - id
                      - name
                      - os
                      - owner
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique ID (UUID) of the app
                          format: uuid
                        description:
                          type: string
                          description: The description of the app
                        display_name:
                          type: string
                          description: The display name of the app
                        release_type:
                          type: string
                          description: A one-word descriptive release-type value that
                            starts with a capital letter but is otherwise lowercase
                        icon_url:
                          type: string
                          description: The string representation of the URL pointing
                            to the app's icon
                        icon_source:
                          type: string
                          description: The string representation of the source of
                            the app's icon
                        name:
                          type: string
                          description: The name of the app used in URLs
                        os:
                          type: string
                          description: The OS the app will be running on
                          enum:
                          - Android
                          - iOS
                          - macOS
                          - Tizen
                          - tvOS
                          - Windows
                          - Linux
                          - Custom
                        owner:
                          required:
                          - display_name
                          - id
                          - name
                          - type
                          type: object
                          properties:
                            id:
                              type: string
                              description: The unique id (UUID) of the owner
                              format: uuid
                            avatar_url:
                              type: string
                              description: The avatar URL of the owner
                            display_name:
                              type: string
                              description: The owner's display name
                            email:
                              type: string
                              description: The owner's email address
                            name:
                              type: string
                              description: The unique name that used to identify the
                                owner
                            type:
                              type: string
                              description: The owner type. Can either be 'org' or
                                'user'
                              enum:
                              - org
                              - user
                          description: The information about the app's owner
                    - type: object
                      properties:
                        app_secret:
                          type: string
                          description: A unique and secret key used to identify the
                            app in communication with the ingestion endpoint for crash
                            reporting and analytics
                        azure_subscription:
                          required:
                          - subscription_id
                          - subscription_name
                          - tenant_id
                          type: object
                          properties:
                            subscription_id:
                              type: string
                              description: The azure subscription id
                              format: uuid
                            tenant_id:
                              type: string
                              description: The tenant id of the azure subscription
                                belongs to
                              format: uuid
                            subscription_name:
                              type: string
                              description: The name of the azure subscription
                            is_billing:
                              type: boolean
                              description: If the subscription is used for billing
                            is_billable:
                              type: boolean
                              description: If the subscription can be used for billing
                            is_microsoft_internal:
                              type: boolean
                              description: If the subscription is internal Microsoft
                                subscription
                        platform:
                          type: string
                          description: The platform of the app
                          enum:
                          - Java
                          - Objective-C-Swift
                          - UWP
                          - Cordova
                          - React-Native
                          - Unity
                          - Electron
                          - Xamarin
                          - WPF
                          - WinForms
                          - Unknown
                          - Custom
                        origin:
                          type: string
                          description: The creation origin of this app
                          enum:
                          - appcenter
                          - hockeyapp
                          - codepush
                        created_at:
                          type: string
                          description: The created date of this app
                        updated_at:
                          type: string
                          description: The last updated date of this app
                        member_permissions:
                          type: array
                          description: The permissions of the calling user
                          items:
                            type: string
                            enum:
                            - manager
                            - developer
                            - viewer
                            - tester
                  - type: object
                    properties:
                      team_permissions:
                        type: array
                        description: The permissions the team has for the app
                        items:
                          type: string
                          enum:
                          - manager
                          - developer
                          - viewer
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
    post:
      tags:
      - account
      description: Adds an app to a team
      operationId: teams_addApp
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        description: The name of the app to be added to the team. The app has to be
          owned by the organization.
        content:
          application/json:
            schema:
              required:
              - name
              type: object
              properties:
                name:
                  type: string
                  description: The name of the app to be added to the distribution
                    group
        required: true
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: app
  /v0.1/orgs/{org_name}/teams/{team_name}:
    get:
      tags:
      - account
      description: Returns the details of a single team
      operationId: teams_getTeam
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
    delete:
      tags:
      - account
      description: Deletes a single team
      operationId: teams_delete
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        204:
          description: Success
          content: {}
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
    patch:
      tags:
      - account
      description: Updates a single team
      operationId: teams_update
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: team_name
        in: path
        description: The team's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        description: The information used to update the team
        content:
          application/json:
            schema:
              required:
              - display_name
              type: object
              properties:
                display_name:
                  type: string
                  description: The new display name of the team
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                required:
                - error
                type: object
                properties:
                  error:
                    required:
                    - code
                    - message
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - BadRequest
                        - Conflict
                        - NotAcceptable
                        - NotFound
                        - InternalServerError
                        - Unauthorized
                        - TooManyRequests
                      message:
                        type: string
      security:
      - APIToken: []
      x-codegen-request-body-name: team
  /v0.1/orgs/{org_name}/teams:
    get:
      tags:
      - account
      description: Returns the list of all teams in this org
      operationId: teams_listAll
      parameters:
      - name: org_name
        in: path
        description: The organization's name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                  - display_name
                  - id
                  - name
                  type: object
                  properties:
                    id:
                      type: string
                      description: The internal unique id (UUID) of the team.
                      format: uuid
                    name:
                      type: string
                      description: The name of the team
                    display_name:
                      type: string
[...]
