openapi: 3.0.1
info:
  title: PowerTools Developer
  description: Apptigent PowerTools Developer Edition is a powerful suite of API endpoints for custom applications running on any stack. Manipulate text, modify collections, format dates and times, convert currency, perform advanced mathematical calculations, shorten URL's, encode strings, convert text to speech, translate content into multiple languages, process images, and more. PowerTools is the ultimate developer toolkit.
  contact:
    name: Customer Support
    url: https://www.apptigent.com/help/
    email: support@apptigent.com
  version: 2021.1.01
  x-ibm-name: powertools-developer
servers:
  - url: https://connect.apptigent.com/api/utilities
security:
  - apiKeyHeader: []
tags:
  - name: Collections
    description: Arrays of base values (strings and numbers).
  - name: Data
    description: Data conversion operations.
  - name: DateTime
    description: Date and time operations.
  - name: Finance
    description: Financial calculations and conversions.
  - name: Math
    description: Mathematical calculations and conversions.
  - name: Text
    description: String manipulation, parsing, conversion and related operations.
  - name: Files
    description: File operations.
paths:
  /AddToCollection:
    post:
      tags:
        - Collections
      summary: Collections - Add to collection
      description: Add an item to a collection
      operationId: AddToCollection
      requestBody:
        description: Collection modification parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionModify'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionModify
  /RemoveFromCollection:
    post:
      tags:
        - Collections
      summary: Collections - Remove from collection
      description: Remove an item from a collection
      operationId: RemoveFromCollection
      requestBody:
        description: Collection modification parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionModify'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionModify
  /FilterCollection:
    post:
      tags:
        - Collections
      summary: Collections - Filter collection
      description: Filter a collection of strings by keyword
      operationId: FilterCollection
      requestBody:
        description: Filter collection parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionFilter'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionFilter
  /SortCollection:
    post:
      tags:
        - Collections
      summary: Collections - Sort collection
      description: Sort a collection of strings
      operationId: SortCollection
      requestBody:
        description: Sort collection parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSort'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionSort
  /CountCollection:
    post:
      tags:
        - Collections
      summary: Collections - Count collection
      description: Count a collection of items
      operationId: CountCollection
      requestBody:
        description: Count collection parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionCount'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionCount
  /SplitCollection:
    post:
      tags:
        - Collections
      summary: Collections - Split collection
      description: Split a collection of items by matching value or index
      operationId: SplitCollection
      requestBody:
        description: Split collection parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSplit'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputMultiCollection'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionSplit
  /ReplaceValuesInCollection:
    post:
      tags:
        - Collections
      summary: Collections - Replace values in collection
      description: Replace whole or partial strings in a collection
      operationId: ReplaceValuesInCollection
      requestBody:
        description: Replace values in collection parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionReplace'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionResult'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionReplace
  /CollectionContainsString:
    post:
      tags:
        - Collections
      summary: Collections - Contains string
      description: Determine if any items in a collection contain a specific string
      operationId: CollectionContainsString
      requestBody:
        description: Collection search parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSearch'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionSearch
  /CollectionStartsWithString:
    post:
      tags:
        - Collections
      summary: Collections - Starts with string
      description: Determine if any items in a collection start with a specific string
      operationId: CollectionStartsWithString
      requestBody:
        description: Collection search parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSearch'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionSearch
  /CollectionEndsWithString:
    post:
      tags:
        - Collections
      summary: Collections - Ends with string
      description: Determine if any items in a collection end with a specific string
      operationId: CollectionEndsWithString
      requestBody:
        description: Collection search parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSearch'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionSearch
  /CollectionContainsNumber:
    post:
      tags:
        - Collections
      summary: Collections - Contains number
      description: Determine if a collection contains a specific number
      operationId: CollectionContainsNumber
      requestBody:
        description: Collection search parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionSearchNumeric'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputCollectionNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionSearch
  /CollectionToJSON:
    post:
      tags:
        - Collections
      summary: Collections - Collection to JSON
      description: Convert a collection to a named JSON object
      operationId: CollectionToJSON
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionConversion'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionConversion
  /CollectionToXML:
    post:
      tags:
        - Collections
      summary: Collections - Collection to XML
      description: Convert a collection to an XML string
      operationId: CollectionToXml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCollectionConversionXML'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: collectionConversionXML
  /ConvertCurrency:
    post:
      tags:
        - Finance
      summary: Currency - Convert currency
      description: Calculate monetary value in a different currency
      operationId: ConvertCurrency
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCurrencyConversion'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: currencyConversion
  /FormatCurrency:
    post:
      tags:
        - Finance
      summary: Currency - Format currency
      description: Apply currency symbol to a numeric value
      operationId: FormatCurrency
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCurrencyFormat'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: currencyFormat
  /StockPrices:
    post:
      tags:
        - Finance
      summary: Finance - Stock prices
      description: Get current and historical stock price information
      operationId: StockPrices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputStockPrices'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputStockPrice'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: stockPrices
  /MarketIndex:
    post:
      tags:
        - Finance
      summary: Finance - Market index
      description: Get current and historical market index information
      operationId: MarketIndex
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputMarketIndex'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputMarketIndex'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: marketIndex
  /DateTimeInfo:
    post:
      tags:
        - DateTime
      summary: DateTime - Get date and time information
      description: Retrieve useful date and time information, such as day of year, total seconds and ticks
      operationId: DateTimeInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDateTimeInfo'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputDateInfo'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: dateTimeInfo
  /DateTimeDifference:
    post:
      tags:
        - DateTime
      summary: DateTime - DateTime difference
      description: Calculate the difference between two dates
      operationId: DateTimeDifference
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDateTimeDifference'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputDateDifference'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: dateTimeDifference
  /FormatDateTime:
    post:
      tags:
        - DateTime
      summary: DateTime - Format date and time
      description: Create a date/time string in a specific format
      operationId: FormatDateTime
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDateTimeFormat'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: dateTimeFormat
  /WorldTime:
    post:
      tags:
        - DateTime
      summary: DateTime - Get world time
      description: Convert date and time from one time zone to another
      operationId: WorldTime
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDateTimeConversion'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: dateTimeConversion
  /CalculateAverage:
    post:
      tags:
        - Math
      summary: Math - Calculate average
      description: Calculate the average of two or more numbers
      operationId: CalculateAverage
      requestBody:
        description: Series calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateSeries
  /CalculateMedian:
    post:
      tags:
        - Math
      summary: Math - Calculate median
      description: Calculate the median of two or more numbers
      operationId: CalculateMedian
      requestBody:
        description: Series calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateSeries
  /CalculateMinMax:
    post:
      tags:
        - Math
      summary: Math - Calculate minimum or maximum
      description: Calculate the minimum or maximum value in a sequence of numbers
      operationId: CalculateMinMax
      requestBody:
        description: Series calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateMinMax'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateSeries
  /CalculateSum:
    post:
      tags:
        - Math
      summary: Math - Calculate sum
      description: Calculate the sum of two or more numbers
      operationId: CalculateSum
      requestBody:
        description: Series calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateSeries
  /CalculatePower:
    post:
      tags:
        - Math
      summary: Math - Calculate power
      description: Raise number to a specified power
      operationId: CalculatePower
      requestBody:
        description: Power calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculatePower'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculatePower
  /CalculateVariance:
    post:
      tags:
        - Math
      summary: Math - Calculate variance
      description: Calculate the statistical variance of two or more numbers
      operationId: CalculateVariance
      requestBody:
        description: Series calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateSeries
  /CalculateAddition:
    post:
      tags:
        - Math
      summary: Math - Calculate Addition
      description: Calculate the sum of two numbers
      operationId: CalculateAddition
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumbers
  /CalculateSubtraction:
    post:
      tags:
        - Math
      summary: Math - Calculate Subtraction
      description: Calculate the difference between two numbers
      operationId: CalculateSubtraction
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumbers
  /CalculateMultiplication:
    post:
      tags:
        - Math
      summary: Math - Calculate Multiplication
      description: Calculate the product of two numbers
      operationId: CalculateMultiplication
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumbers
  /CalculateDivision:
    post:
      tags:
        - Math
      summary: Math - Calculate Division
      description: Calculate the quotient of two numbers
      operationId: CalculateDivision
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumbers
  /CalculateModulo:
    post:
      tags:
        - Math
      summary: Math - Calculate Modulo
      description: Calculate the remainder of dividing two numbers
      operationId: CalculateModulo
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumbers
  /CalculateNthRoot:
    post:
      tags:
        - Math
      summary: Math - Calculate Nth Root
      description: Calculate the n-th root of a number
      operationId: CalculateNthRoot
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumbers'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumbers
  /CalculateSquareRoot:
    post:
      tags:
        - Math
      summary: Math - Calculate Square Root
      description: Calculate the square root of a number
      operationId: CalculateSquareRoot
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumber
  /CalculateLogarithm:
    post:
      tags:
        - Math
      summary: Math - Calculate Logarithm
      description: Calculate the logarithm of a number
      operationId: CalculateLogarithm
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumber
  /CalculateSine:
    post:
      tags:
        - Math
      summary: Math - Calculate Sine
      description: Calculate the sine value of an angle
      operationId: CalculateSine
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumber
  /CalculateCosine:
    post:
      tags:
        - Math
      summary: Math - Calculate Cosine
      description: Calculate the cosine value of an angle
      operationId: CalculateCosine
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumber
  /CalculateTangent:
    post:
      tags:
        - Math
      summary: Math - Calculate Tangent
      description: Calculate the tangent value of an angle
      operationId: CalculateTangent
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumber
  /CalculateAbsolute:
    post:
      tags:
        - Math
      summary: Math - Calculate Absolute
      description: Calculate the absolute value of a number
      operationId: CalculateAbsolute
      requestBody:
        description: Number calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumber
  /ConvertAngle:
    post:
      tags:
        - Math
      summary: Math - Convert angle
      description: Convert value from one angle measurement to another
      operationId: ConvertAngle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertAngle'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertAngle
  /ConvertArea:
    post:
      tags:
        - Math
      summary: Math - Convert area
      description: Convert value from one area measurement to another
      operationId: ConvertArea
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertArea'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertArea
  /ConvertDistance:
    post:
      tags:
        - Math
      summary: Math - Convert distance
      description: Convert value from one distance measurement to another
      operationId: ConvertDistance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertDistance'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertDistance
  /ConvertDuration:
    post:
      tags:
        - Math
      summary: Math - Convert duration
      description: Convert value from one duration measurement to another
      operationId: ConvertDuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertDuration'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertDuration
  /ConvertEnergy:
    post:
      tags:
        - Math
      summary: Math - Convert energy
      description: Convert value from one energy measurement to another
      operationId: ConvertEnergy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertEnergy'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertEnergy
  /ConvertPower:
    post:
      tags:
        - Math
      summary: Math - Convert power
      description: Convert value from one power measurement to another
      operationId: ConvertPower
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertPower'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertPower
  /ConvertSpeed:
    post:
      tags:
        - Math
      summary: Math - Convert speed
      description: Convert value from one speed measurement to another
      operationId: ConvertSpeed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertSpeed'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertSpeed
  /ConvertTemperature:
    post:
      tags:
        - Math
      summary: Math - Convert temperature
      description: Convert value from one temperature measurement to another
      operationId: ConvertTemperature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertTemperature'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertTemperature
  /ConvertVolume:
    post:
      tags:
        - Math
      summary: Math - Convert volume
      description: Convert value from one volume measurement to another
      operationId: ConvertVolume
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertVolume'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertVolume
  /ConvertWeight:
    post:
      tags:
        - Math
      summary: Math - Convert weight
      description: Convert value from one weight measurement to another
      operationId: ConvertWeight
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputConvertWeight'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: convertWeight
  /RandomNumber:
    post:
      tags:
        - Math
      summary: Math - Random number
      description: Generate a random number within a specified range
      operationId: RandomNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputNumberRange'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: numberRange
  /RoundNumber:
    post:
      tags:
        - Math
      summary: Math - Round number
      description: Round a numeric value up or down
      operationId: RoundNumber
      requestBody:
        description: Numeric calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateNumber'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateNumber
  /StandardDeviation:
    post:
      tags:
        - Math
      summary: Math - Calculate standard deviation
      description: Calculate the standard deviation of two or more numbers
      operationId: StandardDeviation
      requestBody:
        description: Series calculation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCalculateSeries'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputNumber'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: calculateSeries
  /CompareStrings:
    post:
      tags:
        - Text
      summary: Text - Compare strings
      description: Perform a comparison of two strings
      operationId: CompareStrings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputStringComparison'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: stringComparison
  /ContainsString:
    post:
      tags:
        - Text
      summary: Text - Contains string
      description: Determine if a string contains another string
      operationId: ContainsString
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputStringContains'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: stringContains
  /ConvertCase:
    post:
      tags:
        - Text
      summary: Text - Convert case
      description: Convert string to upper, lower or title case
      operationId: ConvertCase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCaseConversion'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: caseConversion
  /DecodeString:
    post:
      tags:
        - Text
      summary: Text - Decode string
      description: Decode a string encoded with Base64 encoding
      operationId: DecodeString
      requestBody:
        content:
          application/json:
            schema:
              required:
                - source
              type: object
              properties:
                source:
                  type: string
                  description: Encoded string variable or text value
                  x-ms-summary: Source
              example:
                source: VGhlIGJyb3duIGNvdw==
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: stringInput
  /EncodeString:
    post:
      tags:
        - Text
      summary: Text - Encode string
      description: Encode a string using Base64 encoding
      operationId: EncodeString
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputString'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: stringInput
  /GenerateGuid:
    post:
      tags:
        - Text
      summary: Text - Generate GUID
      description: Generate a globally unique identifier
      operationId: GenerateGuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputGenerateUniqueID'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: generateUniqueID
  /GenerateHash:
    post:
      tags:
        - Text
      summary: Text - Generate hash
      description: Generate a hash value from a string
      operationId: GenerateHash
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputGenerateHash'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: generateHash
  /VerifyHash:
    post:
      tags:
        - Text
      summary: Text - Verify hash
      description: Verify a hashed value against the original source string
      operationId: VerifyHash
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputVerifyHash'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputBoolean'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: verifyHash
  /JoinStrings:
    post:
      tags:
        - Text
      summary: Text - Join strings
      description: Join a collection of strings
      operationId: JoinStrings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputJoinStrings'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: joinStrings
  /RedactString:
    post:
      tags:
        - Text
      summary: Text - Redact string
      description: Redact a strng containing sensitive content
      operationId: RedactString
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputRedactString'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: redactString
  /ReplaceString:
    post:
      tags:
        - Text
      summary: Text - Replace string
      description: Replace one value with another in a string
      operationId: ReplaceString
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputReplaceString'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: replaceString
  /ShortenLink:
    post:
      tags:
        - Text
      summary: Text - Shorten hyperlink
      description: Generate a simple, short URL from a complex URL
      operationId: ShortenLink
      requestBody:
        content:
          application/json:
            schema:
              required:
                - source
              type: object
              properties:
                source:
                  type: string
                  description: String variable or text value
                  x-ms-summary: Source
              example:
                source: http://www.somewebsite.com/path1/path2?query1=value&query2=value
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: stringInput
  /SplitString:
    post:
      tags:
        - Text
      summary: Text - Split string
      description: Split a string based upon one or more characters
      operationId: SplitString
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputSplitString'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputStringArray'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: splitString
  /SpeechToText:
    post:
      tags:
        - Text
      summary: Text - Speech to Text
      description: Convert audio file to text (10MB limit)
      operationId: SpeechToText
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - language
              properties:
                language:
                  type: string
                  description: Language of audio input
                  default: English (United States)
                  enum:
                    - Arabic (Bahrain)
                    - Arabic (Egypt)
                    - Arabic (Iraq)
                    - Arabic (Jordan)
                    - Arabic (Kuwait)
                    - Arabic (Lebanon)
                    - Arabic (Oman)
                    - Arabic (Qatar)
                    - Arabic (Saudi Arabia)
                    - Arabic (Syria)
                    - Arabic (United Arab Emirates)
                    - Bulgarian (Bulgaria)
                    - Catalan (Spain)
                    - Chinese (Cantonese, Traditional)
                    - Chinese (Mandarin, Simplified)
                    - Chinese (Taiwanese Mandarin)
                    - Croatian (Croatia)
                    - Czech (Czech Republic)
                    - Danish (Denmark)
                    - Dutch (Netherlands)
                    - English (Australia)
                    - English (Canada)
                    - English (Hong Kong)
                    - English (India)
                    - English (Ireland)
                    - English (New Zealand)
                    - English (Philippines)
                    - English (Singapore)
                    - English (South Africa)
                    - English (United Kingdom)
                    - English (United States)
                    - Estonian(Estonia)
                    - Finnish (Finland)
                    - French (Canada)
                    - French (France)
                    - German (Germany)
                    - Greek (Greece)
                    - Gujarati (Indian)
                    - Hindi (India)
                    - Hungarian (Hungary)
                    - Irish(Ireland)
                    - Italian (Italy)
                    - Japanese (Japan)
                    - Korean (Korea)
                    - Latvian (Latvia)
                    - Lithuanian (Lithuania)
                    - Maltese(Malta)
                    - Marathi (India)
                    - Norwegian (Norway)
                    - Polish (Poland)
                    - Portuguese (Brazil)
                    - Portuguese (Portugal)
                    - Romanian (Romania)
                    - Russian (Russia)
                    - Slovak (Slovakia)
                    - Slovenian (Slovenia)
                    - Spanish (Argentina)
                    - Spanish (Bolivia)
                    - Spanish (Chile)
                    - Spanish (Colombia)
                    - Spanish (Costa Rica)
                    - Spanish (Cuba)
                    - Spanish (Dominican Republic)
                    - Spanish (Ecuador)
                    - Spanish (El Salvador)
                    - Spanish (Guatemala)
                    - Spanish (Honduras)
                    - Spanish (Mexico)
                    - Spanish (Nicaragua)
                    - Spanish (Panama)
                    - Spanish (Paraguay)
                    - Spanish (Peru)
                    - Spanish (Puerto Rico)
                    - Spanish (Spain)
                    - Spanish (Uruguay)
                    - Spanish (USA)
                    - Spanish (Venezuela)
                    - Swedish (Sweden)
                    - Tamil (India)
                    - Telugu (India)
                    - Thai (Thailand)
                    - Turkish (Turkey)
                  x-ms-summary: Language
                file:
                  type: string
                  description: Source audio file (WAV, MP3, AAC, M4A)
                  format: binary
                  x-ms-summary: File
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
  /TextToSpeech:
    post:
      tags:
        - Text
      summary: Text - Text to Speech
      description: Convert text to an audio file using AI-driven speech synthesis.
      operationId: TextToSpeech
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputTextToSpeech'
        required: false
      responses:
        '200':
          description: OK
          content:
            audio/mp3:
              schema:
                type: string
                format: binary
        '400':
          description: ERROR
          content:
            audio/mp3:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: textToSpeech
  /TranslateString:
    post:
      tags:
        - Text
      summary: Text - Translate string
      description: Translate a string into a different language
      operationId: TranslateString
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputTranslateString'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: translateString
  /TrimString:
    post:
      tags:
        - Text
      summary: Text - Trim string
      description: Trim leading or trailing whitespace from a string
      operationId: TrimString
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputTrimString'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: trimString
  /URLDecode:
    post:
      tags:
        - Text
      summary: Text - Decode URL
      description: Decode an encoded URL
      operationId: UrlDecode
      requestBody:
        content:
          application/json:
            schema:
              required:
                - source
              type: object
              properties:
                source:
                  type: string
                  description: Encoded string variable or text value
                  x-ms-summary: Source
              example:
                source: The%20brown%20cow
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: stringInput
  /URLEncode:
    post:
      tags:
        - Text
      summary: Text - Encode URL
      description: Generate an encoded string from a complex hyperlink
      operationId: UrlEncode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputString'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: stringInput
  /ValidateEmail:
    post:
      tags:
        - Text
      summary: Text - Validate email
      description: Determine if an email address is valid
      operationId: ValidateEmail
      requestBody:
        content:
          application/json:
            schema:
              required:
                - source
              type: object
              properties:
                source:
                  type: string
                  description: String variable or text value
                  x-ms-summary: Source
              example:
                source: some user @ bademail-com
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: stringInput
  /JSONtoHTML:
    post:
      tags:
        - Data
      summary: Data - JSON to HTML Table
      description: Convert a JSON array to an HTML table
      operationId: JsonToHtml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputJsonConversionHTML'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: jsonConversionHTML
  /JSONtoCSV:
    post:
      tags:
        - Data
      summary: Data - JSON to CSV
      description: Convert a JSON array to CSV string
      operationId: JsonToCsv
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputJsonConversionCSV'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: jsonConversionCSV
  /JSONtoXML:
    post:
      tags:
        - Data
      summary: Data - JSON to XML
      description: Convert a JSON object to an XML string
      operationId: JsonToXml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputJsonConversionXML'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: jsonConversionXML
  /CSVtoJSON:
    post:
      tags:
        - Data
      summary: Data - CSV to JSON
      description: Convert a CSV string to a JSON array
      operationId: CsvToJson
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputCsvConversionJSON'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: csvConversionJSON
  /XMLtoJSON:
    post:
      tags:
        - Data
      summary: Data - XML to JSON
      description: Convert an XML string to a JSON object
      operationId: XmlToJson
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputXmlConversionJSON'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: xmlConversionJSON
  /QueryJSON:
    post:
      tags:
        - Data
      summary: Data - Query JSON
      description: Query a JSON object using a JSONPath expression
      operationId: QueryJson
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDataQuery'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: inputDataQuery
  /QueryXML:
    post:
      tags:
        - Data
      summary: Data - Query XML
      description: Query an XML string using an XPath expression
      operationId: QueryXml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputDataQuery'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: inputDataQuery
  /ConvertImage:
    post:
      tags:
        - Files
      summary: Files - Convert Image
      description: Convert an image from one format to another
      operationId: ConvertImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - format
              properties:
                format:
                  type: string
                  description: Output file format
                  default: PNG
                  enum:
                    - PNG
                    - JPG
                    - GIF
                    - BMP
                    - TIF
                  x-ms-summary: Format
                file:
                  type: string
                  description: Source image file
                  format: binary
                  x-ms-summary: File
        required: true
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/bmp:
              schema:
                type: string
                format: binary
        '400':
          description: ERROR
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/outputString'
            image/gif:
              schema:
                $ref: '#/components/schemas/outputString'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/outputString'
            image/bmp:
              schema:
                $ref: '#/components/schemas/outputString'
  /ResizeImage:
    post:
      tags:
        - Files
      summary: Files - Resize Image
      description: Resize an image
      operationId: ResizeImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - algorithm
                - file
                - units
              properties:
                algorithm:
                  type: string
                  description: Optimize output quality of the target image
                  default: Bicubic (default)
                  enum:
                    - Bicubic (default)
                    - Bilinear
                    - Cubic (Box)
                    - Cubic (Catmull-Rom)
                    - Cubic (Hermite)
                    - Cubic (Spline)
                    - Nearest Neighbor
                    - Sinc (Lanczos2)
                    - Sinc (Lanczos3)
                    - Sinc (Lanczos5)
                    - Sinc (Lanczos8)
                    - Robidoux
                    - Robidoux Sharp
                  x-ms-summary: Resampling Algorithm
                units:
                  type: string
                  description: Image adjustment units
                  default: Pixels
                  enum:
                    - Pixels
                    - Percent
                  x-ms-summary: Units
                height:
                  type: number
                  description: Image height (pixels or percent)
                  x-ms-summary: Height
                width:
                  type: number
                  description: Image width (pixels or percent)
                  x-ms-summary: Width
                file:
                  type: string
                  description: Source image file
                  format: binary
                  x-ms-summary: File
        required: true
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/bmp:
              schema:
                type: string
                format: binary
        '400':
          description: ERROR
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/outputString'
            image/gif:
              schema:
                $ref: '#/components/schemas/outputString'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/outputString'
            image/bmp:
              schema:
                $ref: '#/components/schemas/outputString'
  /RotateImage:
    post:
      tags:
        - Files
      summary: Files - Rotate Image
      description: Rotate an image by specified number of degrees
      operationId: RotateImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - degrees
                - file
              properties:
                degrees:
                  type: string
                  description: Number of degrees
                  x-ms-summary: Degrees
                file:
                  type: string
                  description: Source image file
                  format: binary
                  x-ms-summary: File
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '400':
          description: ERROR
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/outputString'
  /FlipImage:
    post:
      tags:
        - Files
      summary: Files - Flip Image
      description: Flip an image (horizontal or vertical)
      operationId: FlipImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - orientation
              properties:
                orientation:
                  type: string
                  description: Horizontal or Vertical
                  default: Horizontal
                  enum:
                    - Horizontal
                    - Vertical
                  x-ms-summary: Orientation
                file:
                  type: string
                  description: Source image file
                  format: binary
                  x-ms-summary: File
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '400':
          description: ERROR
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/outputString'
  /WatermarkImage:
    post:
      tags:
        - Files
      summary: Files - Watermark Image
      description: Add watermark text to an image
      operationId: WatermarkImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - color
                - file
                - font
                - horizontal
                - size
                - text
                - vertical
              properties:
                text:
                  type: string
                  description: Watermark text
                  x-ms-summary: Text
                font:
                  type: string
                  description: Text font
                  default: Arial
                  enum:
                    - Arial
                    - Arial Black
                    - Arial Narrow
                    - Book Antiqua
                    - Britannic Bold
                    - Brush Script MT
                    - Calisto MT
                    - Century Gothic
                    - Century Schoolbook
                    - Colonna MT
                    - Comic Sans MS
                    - Cooper Black
                    - Copperplate Gothic Bold
                    - Copperplate Gothic Light
                    - Courier New
                    - Edwardian Script ITC
                    - Engravers MT
                    - Franklin Gothic Demi
                    - Franklin Gothic Heavy
                    - Franklin Gothic Medium
                    - Garamond
                    - Georgia
                    - Gill Sans MT
                    - Gill Sans MT Condensed
                    - Gill Sans Ultra Bold
                    - Gill Sans Ultra Bold Condensed
                    - Goudy Old Style
                    - Haettenschweiler
                    - Holidays MT
                    - Impact
                    - Lucida Calligraphy
                    - Lucida Console
                    - Lucida Handwriting
                    - Lucida Sans Typewriter
                    - Lucida Sans Unicode
                    - Marlett
                    - Microsoft Sans Serif
                    - MS Outlook
                    - Palace Script MT
                    - Palatino Linotype
                    - Papyrus
                    - Playbill
                    - Rockwell
                    - Rockwell Condensed
                    - Rockwell Extra Bold
                    - Script MT Bold
                    - Stencil
                    - Symbol
                    - Tahoma
                    - Times New Roman
                    - Trebuchet MS
                    - Verdana
                    - Vivaldi
                    - Webdings
                    - Wingdings 1
                    - Wingdings 2
                    - Wingdings 3
                  x-ms-summary: Font
                size:
                  type: number
                  description: Font size (points)
                  x-ms-summary: Font Size
                color:
                  type: string
                  description: Text color hex value
                  default: '000000'
                  x-ms-summary: Text Color
                horizontal:
                  type: string
                  description: Horizontal alignment
                  default: Center
                  enum:
                    - Left
                    - Center
                    - Right
                  x-ms-summary: Horizontal
                vertical:
                  type: string
                  description: Vertical alignment
                  default: Center
                  enum:
                    - Top
                    - Center
                    - Bottom
                  x-ms-summary: Vertical
                file:
                  type: string
                  description: Source image file
                  format: binary
                  x-ms-summary: File
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '400':
          description: ERROR
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/outputString'
  /CropImage:
    post:
      tags:
        - Files
      summary: Files - Crop Image
      description: Crop an image
      operationId: CropImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - Height
                - Width
                - file
                - position
              properties:
                position:
                  type: string
                  description: Crop start position (use negative values to reverse crop area)
                  default: TopLeft
                  enum:
                    - TopLeft
                    - TopCenter
                    - TopRight
                    - MiddleLeft
                    - MiddleCenter
                    - MiddleRight
                    - BottomLeft
                    - BottomCenter
                    - BottomRight
                  x-ms-summary: Position
                Width:
                  type: number
                  description: Width (X-axis right, negative to reverse)
                  x-ms-summary: Width
                Height:
                  type: number
                  description: Height (Y-axis down, negative to reverse)
                  x-ms-summary: Height
                file:
                  type: string
                  description: Source image file
                  format: binary
                  x-ms-summary: File
        required: true
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/bmp:
              schema:
                type: string
                format: binary
        '400':
          description: ERROR
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/outputString'
            image/gif:
              schema:
                $ref: '#/components/schemas/outputString'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/outputString'
            image/bmp:
              schema:
                $ref: '#/components/schemas/outputString'
  /GenerateQRCode:
    post:
      tags:
        - Files
      summary: Files - Generate QR code
      description: Generate a QR code image
      operationId: GenerateQRCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputQRCode'
        required: false
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: ERROR
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: inputQRCode
  /FileToString:
    post:
      tags:
        - Files
      summary: Files - File to string
      description: Convert a file to a Base64 string
      operationId: FileToString
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
              properties:
                file:
                  type: string
                  description: Source file (10MB limit)
                  format: binary
                  x-ms-summary: File
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
        '400':
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
  /StringToFile:
    post:
      tags:
        - Text
      summary: Text - String to File
      description: Convert text string to file
      operationId: StringToFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputStringToFile'
        required: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                format: binary
            text/html:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
                format: binary
            text/javascript:
              schema:
                type: string
                format: binary
            text/css:
              schema:
                type: string
                format: binary
            application/xml:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        '400':
          description: ERROR
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/outputString'
            text/html:
              schema:
                $ref: '#/components/schemas/outputString'
            text/csv:
              schema:
                $ref: '#/components/schemas/outputString'
            text/javascript:
              schema:
                $ref: '#/components/schemas/outputString'
            text/css:
              schema:
                $ref: '#/components/schemas/outputString'
            application/xml:
              schema:
                $ref: '#/components/schemas/outputString'
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: inputStringToFile
components:
  schemas:
    inputCollectionSearch:
      required:
        - input
        - match
      type: object
      properties:
        input:
          type: array
          description: Collection of strings to search
          items:
            type: string
          x-ms-summary: Values
        match:
          type: string
          description: Text to match
          x-ms-summary: Text
        trim:
          type: string
          description: Trim white space from comparison string
          enum:
            - true
            - false
          x-ms-summary: Trim
        ignorecase:
          type: string
          description: Ignore case when performing comparison
          enum:
            - true
            - false
          x-ms-summary: Ignore Case
      example:
        input:
          - the
          - brown
          - 'cow '
        match: cow
        trim: true
        ignorecase: true
    inputCollectionSearchNumeric:
      required:
        - input
        - match
      type: object
      properties:
        input:
          type: array
          description: Collection of strings to search
          items:
            type: number
          x-ms-summary: Values
        match:
          type: number
          description: Number to match
          x-ms-summary: Number
        type:
          type: string
          description: Type of number - integer or decimal
          default: Integer
          enum:
            - Integer
            - Decimal
          x-ms-summary: Number Type
      example:
        input:
          - 1.25
          - 10.5
          - 20.75
          - 51.25
          - 119.6
          - 301.25
        match: 1.25,
        type: Decimal
    inputCollectionModify:
      required:
        - input
      type: object
      properties:
        input:
          type: array
          description: Collection of values or objects to modify
          items:
            type: string
          x-ms-summary: Collection
        item:
          type: string
          description: Item (for multiple items, leave blank and use Items)
          x-ms-summary: Item
        items:
          type: array
          description: Items (Collection, for a single item leave blank and use Item)
          items:
            type: string
          x-ms-summary: Items
        index:
          type: string
          description: Index position for operation (leave blank to specify end of collection)
          x-ms-summary: Index
      example:
        input:
          - a
          - b
          - c
        item: d
        items: ''
        index: '0'
    inputCollectionFilter:
      required:
        - input
        - keywords
        - match
      type: object
      properties:
        input:
          type: array
          description: Collection of strings to filter
          items:
            type: string
          x-ms-summary: Collection
        match:
          type: string
          description: Match type
          default: Any
          enum:
            - Any
            - All
            - None
          x-ms-summary: Match
        keywords:
          type: string
          description: Keywords (separate multiple values with commas)
          x-ms-summary: Keywords
      example:
        input:
          - the cow
          - jumped over
          - the moon
        match: Any
        keywords: cow,moon
    inputCollectionSort:
      required:
        - input
        - order
      type: object
      properties:
        input:
          type: array
          description: Collection of strings to sort
          items:
            type: string
          x-ms-summary: Collection
        order:
          type: string
          description: Sort order
          default: Ascending
          enum:
            - Ascending
            - Descending
          x-ms-summary: Order
      example:
        input:
          - a
          - d
          - c
          - b
          - e
        order: Ascending
    inputCollectionCount:
      required:
        - input
      type: object
      properties:
        input:
          type: array
          description: Collection of items to count
          items:
            type: string
          x-ms-summary: Collection
      example:
        input:
          - a
          - d
          - c
          - b
          - e
    inputCollectionSplit:
      required:
        - input
      type: object
      properties:
        input:
          type: array
          description: Collection of items to split
          items:
            type: string
          x-ms-summary: Collection
        match:
          type: string
          description: String to match (explicit, case-insensitive, leave empty to use Index)
          x-ms-summary: Match Value
        index:
          type: string
          description: Index location to split (leave empty to use Match value)
          x-ms-summary: Index
      example:
        input:
          - the cow
          - jumped over
          - the moon
        match: jumped over
        index: ''
    inputCollectionReplace:
      required:
        - ignoreCase
        - input
        - match
        - replacement
      type: object
      properties:
        input:
          type: array
          description: Collection of strings
          items:
            type: string
          x-ms-summary: Collection
        match:
          type: string
          description: Match value
          x-ms-summary: Match value
        replacement:
          type: string
          description: Replacement value
          x-ms-summary: Replacement value
        ignoreCase:
          type: string
          description: Ignore case
          default: true
          enum:
            - true
            - false
          x-ms-summary: Ignore case
      example:
        input:
          - the brown cow
          - jumped over
          - the brown dog
        match: Brown
        replacement: spotted
        ignoreCase: true
    inputCalculateNumber:
      required:
        - decimals
        - input
      type: object
      properties:
        input:
          type: number
          description: Numeric value to calculate
          x-ms-summary: Value
        decimals:
          minimum: 0
          type: number
          description: Round to number of decimal places
          x-ms-summary: Decimal Places
      example:
        input: 0.195928
        decimals: 2
    inputCalculateNumbers:
      required:
        - decimals
        - input
        - value
      type: object
      properties:
        input:
          type: number
          description: Numeric value
          x-ms-summary: Primary Value
        value:
          type: number
          description: Addend, subtrahend, factor, divisor or radicand
          x-ms-summary: Secondary Value
        decimals:
          minimum: 0
          type: number
          description: Round to number of decimal places
          x-ms-summary: Decimal Places
      example:
        input: 4
        value: 2
        decimals: 2
    inputCalculateSeries:
      required:
        - decimals
        - input
      type: object
      properties:
        input:
          type: array
          description: Colllection of values to calculate
          items:
            type: number
          x-ms-summary: Values
        decimals:
          minimum: 0
          type: number
          description: Round to number of decimal places
          x-ms-summary: Decimal Places
      example:
        input:
          - 1
          - 2
          - 3
          - 4
          - 5
        decimals: 2
    inputCalculatePower:
      required:
        - decimals
        - input
        - power
      type: object
      properties:
        input:
          type: number
          description: Number to raise
          x-ms-summary: Number
        power:
          type: number
          description: Power
          x-ms-summary: Power
        decimals:
          minimum: 0
          type: number
          description: Round to number of decimal places
          x-ms-summary: Decimal Places
      example:
        input: 5.53
        power: 4
        decimals: 2
    inputCalculateMinMax:
      required:
        - input
        - type
      type: object
      properties:
        input:
          type: array
          description: Colllection of values to calculate
          items:
            type: number
          x-ms-summary: Values
        type:
          type: string
          description: Minimum or Maximum
          default: Minimum
          enum:
            - Minimum
            - Maximum
          x-ms-summary: Min or Max
      example:
        input:
          - 1
          - 2
          - 3
          - 4
          - 5
        type: Minimum
    inputCollectionConversion:
      required:
        - input
        - name
      type: object
      properties:
        input:
          type: array
          description: Collection containing strings to convert
          items:
            type: string
          x-ms-summary: Values
        name:
          type: string
          description: Collection name
          x-ms-summary: Name
      example:
        input:
          - a
          - b
          - c
          - d
          - e
        name: Items
    inputCollectionConversionXML:
      required:
        - child
        - input
        - root
      type: object
      properties:
        input:
          type: array
          description: Collection containing strings to convert
          items:
            type: string
          x-ms-summary: Values
        root:
          type: string
          description: Name of root XML node
          x-ms-summary: Root Node Name
        child:
          type: string
          description: Name of child XML node(s)
          x-ms-summary: Child Node Name
      example:
        input:
          - a
          - b
          - c
          - d
          - e
        root: Items
        child: Item
    inputCaseConversion:
      required:
        - alphacase
        - input
      type: object
      properties:
        input:
          type: string
          description: String containing the text to convert
          x-ms-summary: Value
        alphacase:
          type: string
          description: Case of conversion result
          enum:
            - Upper
            - Lower
            - Title
          x-ms-summary: Case
      example:
        input: the brown cow
        alphacase: Upper
    inputConvertAngle:
      required:
        - input
        - source
        - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
            - Arcminute
            - Arcsecond
            - Centiradian
            - Deciradian
            - Degree
            - Gradian
            - Microdegree
            - Microradian
            - Millidegree
            - Milliradian
            - Nanodegree
            - Nanoradian
            - Radian
            - Revolution
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
            - Arcminute
            - Arcsecond
            - Centiradian
            - Deciradian
            - Degree
            - Gradian
            - Microdegree
            - Microradian
            - Millidegree
            - Milliradian
            - Nanodegree
            - Nanoradian
            - Radian
            - Revolution
          x-ms-summary: Target measurement
      example:
        input: 16.036844
        source: Arcminute
        target: Arcsecond
    inputConvertDuration:
      required:
        - input
        - source
        - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
            - Day
            - Hour
            - Microsecond
            - Millisecond
            - Minute
            - Month
            - Nanosecond
            - Second
            - Week
            - Year
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
            - Day
            - Hour
            - Microsecond
            - Millisecond
            - Minute
            - Month
            - Nanosecond
            - Second
            - Week
            - Year
          x-ms-summary: Target measurement
      example:
        input: 0.66375
        source: Day
        target: Hour
    inputConvertDistance:
      required:
        - input
        - source
        - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
            - Centimeter
            - Decimeter
            - Fathom
            - Foot
            - Hectometer
            - Inch
            - Kilometer
            - LightYear
            - Meter
            - Micrometer
            - Mile
            - Millimeter
            - Nanometer
            - NauticalMile
            - Yard
          x-ms-summary: Source measurement
        target:
[...]
