openapi: 3.0.1
info:
  title: Slack Web API
  description: One way to interact with the Slack platform is its HTTP RPC-based Web
    API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace
    tokens blessed with related OAuth scopes.
  version: "1.2"
externalDocs:
  description: Learn more about the Slack Web API
  url: https://api.slack.com/web
servers:
- url: https://slack.com/api
paths:
  /api.test:
    get:
      tags:
      - api
      description: Checks API calling code.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/api.test
      operationId: api_test
      parameters:
      - name: foo
        in: query
        description: example property to return
        schema:
          type: string
      - name: error
        in: query
        description: Error response to return
        schema:
          type: string
      responses:
        200:
          description: Standard success response
          content:
            application/json:
              schema:
                title: api.test success schema
                type: object
                additionalProperties:
                  type: object
                  properties: {}
                description: Schema for successful response api.test method
              example:
                ok: true
        default:
          description: Artificial error response
          content:
            application/json:
              schema:
                title: api.test error schema
                type: object
                additionalProperties:
                  type: object
                  properties: {}
                description: Schema for error response api.test method
              example:
                args:
                  error: my_error
                error: my_error
                ok: false
      security:
      - slackAuth:
        - none
  /apps.permissions.info:
    get:
      tags:
      - apps.permissions
      - apps
      description: Returns list of permissions this app has on a team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/apps.permissions.info
      operationId: apps_permissions_info
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `none`'
        schema:
          type: string
      responses:
        200:
          description: Standard success response when used with a user token
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                info:
                  app_home:
                    resources:
                      ids:
                      - D0C0NU1Q8
                      - D0BH95DLH
                    scopes:
                    - chat:write
                    - im:history
                    - im:read
                  channel:
                    resources:
                      excluded_ids: []
                      ids:
                      - C061FA5PB
                      wildcard: false
                    scopes:
                    - channels:read
                  group:
                    resources:
                      ids: []
                    scopes: []
                  im:
                    resources:
                      ids: []
                    scopes: []
                  mpim:
                    resources:
                      ids: []
                    scopes: []
                  team:
                    resources:
                      ids: []
                    scopes: []
                ok: true
        default:
          description: Standard failure response when used with an invalid token
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - none
  /apps.permissions.request:
    get:
      tags:
      - apps.permissions
      - apps
      description: Allows an app to request additional scopes
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/apps.permissions.request
      operationId: apps_permissions_request
      parameters:
      - name: scopes
        in: query
        description: A comma separated list of scopes to request for
        schema:
          type: string
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `none`'
        schema:
          type: string
      - name: trigger_id
        in: query
        description: Token used to trigger the permissions API
        schema:
          type: string
      responses:
        200:
          description: Standard success response when used with a user token
          content:
            application/json:
              schema:
                title: apps.permissions.request schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from apps.permissions.request
                  method
              example:
                ok: true
        default:
          description: Standard failure response when trigger_id is invalid
          content:
            application/json:
              schema:
                title: apps.permissions.request error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from apps.permissions.request
                  method
              example:
                error: invalid_trigger_id
                ok: false
      security:
      - slackAuth:
        - none
  /apps.permissions.resources.list:
    get:
      tags:
      - apps.permissions.resources
      - apps
      description: Returns list of resource grants this app has on a team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/apps.permissions.resources.list
      operationId: apps_permissions_resources_list
      parameters:
      - name: cursor
        in: query
        description: Paginate through collections of data by setting the `cursor`
          parameter to a `next_cursor` attribute returned by a previous request's
          `response_metadata`. Default value fetches the first "page" of the collection.
          See [pagination](/docs/pagination) for more detail.
        schema:
          type: string
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `none`'
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return.
        schema:
          type: integer
      responses:
        200:
          description: Typical successful paginated response
          content:
            application/json:
              schema:
                title: apps.permissions.resources.list success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response apps.permissions.resources.list
                  method
              example:
                ok: true
                resources:
                - id: T0DES3UAN
                  type: team
                - id: D024BFF1M
                  type: app_home
                - id: C024BE91L
                  type: channel
                response_metadata:
                  next_cursor: dGVhbTpDMUg5UkVTR0w=
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: apps.permissions.resources.list error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from apps.permissions.resources.list
                  method
              example:
                error: invalid_cursor
                ok: false
      security:
      - slackAuth:
        - none
  /apps.permissions.scopes.list:
    get:
      tags:
      - apps.permissions.scopes
      - apps
      description: Returns list of scopes this app has on a team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/apps.permissions.scopes.list
      operationId: apps_permissions_scopes_list
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `none`'
        schema:
          type: string
      responses:
        200:
          description: Typical successful paginated response
          content:
            application/json:
              schema:
                title: api.permissions.scopes.list success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response api.permissions.scopes.list
                  method
              example:
                ok: true
                scopes:
                  app_home:
                  - chat:write
                  - im:history
                  - im:read
                  channel:
                  - channels:history
                  - chat:write
                  group:
                  - chat:write
                  im:
                  - chat:write
                  mpim:
                  - chat:write
                  team:
                  - users:read
                  user: []
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: apps.permissions.scopes.list error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from apps.permissions.scopes.list
                  method
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - none
  /auth.revoke:
    get:
      tags:
      - auth
      description: Revokes a token.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/auth.revoke
      operationId: auth_revoke
      parameters:
      - name: test
        in: query
        description: Setting this parameter to `1` triggers a _testing mode_ where
          the specified token will not actually be revoked.
        schema:
          type: boolean
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `none`'
        schema:
          type: string
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: auth.revoke schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from auth.revoke method
              example:
                ok: true
                revoked: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: auth.revoke error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from auth.revoke method
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - none
  /auth.test:
    get:
      tags:
      - auth
      description: Checks authentication & identity.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/auth.test
      operationId: auth_test
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `none`'
        schema:
          type: string
      responses:
        200:
          description: Standard success response when used with a user token
          content:
            application/json:
              schema:
                title: auth.test success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response auth.test method
              example:
                ok: true
                team: Subarachnoid Workspace
                team_id: T12345678
                url: https://subarachnoid.slack.com/
                user: grace
                user_id: W12345678
        default:
          description: Standard failure response when used with an invalid token
          content:
            application/json:
              schema:
                title: auth.test error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response auth.test method
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - none
  /bots.info:
    get:
      tags:
      - bots
      description: Gets information about a bot user.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/bots.info
      operationId: bots_info
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `users:read`'
        schema:
          type: string
      - name: bot
        in: query
        description: Bot user to get info on
        schema:
          type: string
      responses:
        200:
          description: When successful, returns bot info by bot ID.
          content:
            application/json:
              schema:
                title: bots.info schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from bots.info method
              example:
                bot:
                  app_id: A061BLERW
                  deleted: false
                  icons:
                    image_36: https://...
                    image_48: https://...
                    image_72: https://...
                  id: B061F7JQ1
                  name: commandeer
                  updated: 1449272004
                ok: true
        default:
          description: When no bot can be found, it returns an error.
          content:
            application/json:
              schema:
                title: bots.info error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from bots.info method
              example:
                error: bot_not_found
                ok: false
      security:
      - slackAuth:
        - users:read
  /channels.archive:
    post:
      tags:
      - channels
      description: Archives a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.archive
      operationId: channels_archive
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel:
                  type: string
                  description: Channel to archive
          application/json:
            schema:
              properties:
                channel:
                  type: string
                  description: Channel to archive
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: channels.archive success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from channels.archive
                  method
              example:
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: channels.archive error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response channels.archive method
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.create:
    post:
      tags:
      - channels
      description: Creates a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.create
      operationId: channels_create
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                validate:
                  type: boolean
                  description: Whether to return errors on invalid channel name instead
                    of modifying it to meet the specified criteria.
                name:
                  type: string
                  description: Name of channel to create
          application/json:
            schema:
              properties:
                validate:
                  type: boolean
                  description: Whether to return errors on invalid channel name instead
                    of modifying it to meet the specified criteria.
                name:
                  type: string
                  description: Name of channel to create
      responses:
        200:
          description: Typical success response resulting in a new channel
          content:
            application/json:
              schema:
                title: channels.create error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response channels.create method
              example:
                channel:
                  created: 1502833204
                  creator: U061F7AUR
                  id: C0DEL09A5
                  is_archived: false
                  is_channel: true
                  is_general: false
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  last_read: 0.0
                  members:
                  - U061F7AUR
                  name: endeavor
                  name_normalized: endeavor
                  previous_names: []
                  purpose:
                    creator: ""
                    last_set: 0
                    value: ""
                  topic:
                    creator: ""
                    last_set: 0
                    value: ""
                  unread_count: 0
                  unread_count_display: 0
                ok: true
        default:
          description: Example error response when an invalid name is provided
          content:
            application/json:
              schema:
                title: channels.create error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response channels.create method
              example:
                detail: Value passed for `name` contained unallowed special characters.
                error: invalid_name_specials
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.history:
    get:
      tags:
      - channels
      description: Fetches history of messages and events from a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.history
      operationId: channels_history
      parameters:
      - name: count
        in: query
        description: Number of messages to return, between 1 and 1000.
        schema:
          type: integer
      - name: unreads
        in: query
        description: Include `unread_count_display` in the output?
        schema:
          type: boolean
      - name: inclusive
        in: query
        description: Include messages with latest or oldest timestamp in results.
        schema:
          type: boolean
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `channels:history`'
        schema:
          type: string
      - name: oldest
        in: query
        description: Start of time range of messages to include in results.
        schema:
          type: number
      - name: channel
        in: query
        description: Channel to fetch history for.
        schema:
          type: string
      - name: latest
        in: query
        description: End of time range of messages to include in results.
        schema:
          type: number
      responses:
        200:
          description: Typical success response containing the channel's history
          content:
            application/json:
              schema:
                title: channels.history success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response channels.history method
              example:
                has_more: false
                latest: "1358547726.000003"
                messages:
                - text: Hello
                  ts: "1358546515.000008"
                  type: message
                  user: U2147483896
                - is_starred: true
                  reactions:
                  - count: 3
                    name: space_invader
                    users:
                    - U1
                    - U2
                    - U3
                  - count: 5
                    name: sweet_potato
                    users:
                    - U1
                    - U2
                    - U3
                    - U4
                    - U5
                  text: World
                  ts: "1358546515.000007"
                  type: message
                  user: U2147483896
                - ts: "1358546515.000007"
                  type: something_else
                - attachments:
                  - fallback: This is an attachment fallback
                    id: 1
                    text: Don't get too attached
                  bot_id: B19LU7CSY
                  subtype: bot_message
                  text: Containment unit is 98% full
                  ts: "1503435956.000247"
                  type: message
                  username: ecto1138
                ok: true
        default:
          description: Error response when the specified channel cannot be found
          content:
            application/json:
              schema:
                title: channels.history error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response channels.history method
              example:
                error: channel_not_found
                ok: false
      security:
      - slackAuth:
        - channels:history
  /channels.info:
    get:
      tags:
      - channels
      description: Gets information about a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.info
      operationId: channels_info
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `channels:read`'
        schema:
          type: string
      - name: include_locale
        in: query
        description: Set this to `true` to receive the locale for this channel. Defaults
          to `false`
        schema:
          type: boolean
      - name: channel
        in: query
        description: Channel to get info on
        schema:
          type: string
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: channels.info success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response channels.info method
              example:
                channel:
                  created: 1466025154
                  creator: U0G9QF9C6
                  id: C1H9RESGL
                  is_archived: false
                  is_channel: true
                  is_general: false
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  last_read: "1503435939.000101"
                  latest:
                    attachments:
                    - fallback: This is an attachment fallback
                      id: 1
                      text: Don't get too attached
                    bot_id: B19LU7CSY
                    subtype: bot_message
                    text: Containment unit is 98% full
                    ts: "1503435956.000247"
                    type: message
                    username: ecto1138
                  members:
                  - U0G9QF9C6
                  - U1QNSQB9U
                  name: busting
                  name_normalized: busting
                  previous_names:
                  - dusting
                  purpose:
                    creator: U0G9QF9C6
                    last_set: 1503435128
                    value: Discuss busting ghosts
                  topic:
                    creator: U0G9QF9C6
                    last_set: 1503435128
                    value: Spiritual containment strategies
                  unread_count: 1
                  unread_count_display: 1
                ok: true
        default:
          description: Error response when the specified channel cannot be found
          content:
            application/json:
              schema:
                title: channels.info error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response channels.info method
              example:
                error: channel_not_found
                ok: false
      security:
      - slackAuth:
        - channels:read
  /channels.invite:
    post:
      tags:
      - channels
      description: Invites a user to a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.invite
      operationId: channels_invite
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                user:
                  type: string
                  description: User to invite to channel.
                channel:
                  type: string
                  description: Channel to invite user to.
          application/json:
            schema:
              properties:
                user:
                  type: string
                  description: User to invite to channel.
                channel:
                  type: string
                  description: Channel to invite user to.
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: channels.invite error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response channels.invite method
              example:
                channel:
                  created: 1466025154
                  creator: U0G9QF9C6
                  id: C1H9RESGL
                  is_archived: false
                  is_channel: true
                  is_general: false
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  last_read: "1503435963.000307"
                  latest:
                    subtype: channel_leave
                    text: <@U1QNSQB9U|protobot> has left the channel
                    ts: "1503435963.000307"
                    type: message
                    user: U1QNSQB9U
                  members:
                  - U0G9QF9C6
                  - U1QNSQB9U
                  name: busting
                  name_normalized: busting
                  previous_names: []
                  purpose:
                    creator: U0G9QF9C6
                    last_set: 1503435128
                    value: My Purpose
                  topic:
                    creator: U0G9QF9C6
                    last_set: 1503435128
                    value: My Topic
                  unread_count: 0
                  unread_count_display: 0
                ok: true
        default:
          description: A somewhat typical error response
          content:
            application/json:
              schema:
                title: channels.invite error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response channels.invite method
              example:
                error: cant_invite
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.join:
    post:
      tags:
      - channels
      description: Joins a channel, creating it if needed.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.join
      operationId: channels_join
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                validate:
                  type: boolean
                  description: Whether to return errors on invalid channel name instead
                    of modifying it to meet the specified criteria.
                name:
                  type: string
                  description: Name of channel to join
          application/json:
            schema:
              properties:
                validate:
                  type: boolean
                  description: Whether to return errors on invalid channel name instead
                    of modifying it to meet the specified criteria.
                name:
                  type: string
                  description: Name of channel to join
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: channels.join schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from channels.join method
              example:
                already_in_channel: true
                channel:
                  created: 1466025154
                  creator: U0G9QF9C6
                  id: C1H9RESGL
                  is_archived: false
                  is_channel: true
                  is_general: false
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  members:
                  - U0G9QF9C6
                  - U1QNSQB9U
                  name: busting
                  name_normalized: busting
                  previous_names: []
                  purpose:
                    creator: U0G9QF9C6
                    last_set: 1503435128
                    value: My Purpose
                  topic:
                    creator: U0G9QF9C6
                    last_set: 1503435128
                    value: My Topic
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: channels.join error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from channels.join method
              example:
                error: channel_not_found
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.kick:
    post:
      tags:
      - channels
      description: Removes a user from a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.kick
      operationId: channels_kick
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                user:
                  type: string
                  description: User to remove from channel.
                channel:
                  type: string
                  description: Channel to remove user from.
          application/json:
            schema:
              properties:
                user:
                  type: string
                  description: User to remove from channel.
                channel:
                  type: string
                  description: Channel to remove user from.
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: channels.kick schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from channels.kick method
              example:
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: channels.kick error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from channels.kick method
              example:
                error: not_in_channel
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.leave:
    post:
      tags:
      - channels
      description: Leaves a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.leave
      operationId: channels_leave
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel:
                  type: string
                  description: Channel to leave
          application/json:
            schema:
              properties:
                channel:
                  type: string
                  description: Channel to leave
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.list:
    get:
      tags:
      - channels
      description: Lists all channels in a Slack team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.list
      operationId: channels_list
      parameters:
      - name: exclude_members
        in: query
        description: Exclude the `members` collection from each `channel`
        schema:
          type: boolean
      - name: cursor
        in: query
        description: Paginate through collections of data by setting the `cursor`
          parameter to a `next_cursor` attribute returned by a previous request's
          `response_metadata`. Default value fetches the first "page" of the collection.
          See [pagination](/docs/pagination) for more detail.
        schema:
          type: string
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `channels:read`'
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Fewer than the requested
          number of items may be returned, even if the end of the users list hasn't
          been reached.
        schema:
          type: integer
      - name: exclude_archived
        in: query
        description: Exclude archived channels from the list
        schema:
          type: boolean
      responses:
        200:
          description: Typical cursored success response
          content:
            application/json:
              schema:
                title: channels.list success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response channels.list method
              example:
                channels:
                - created: 1449709280
                  creator: U0G9QF9C6
                  id: C0G9QF9GW
                  is_archived: false
                  is_channel: true
                  is_general: false
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  members:
                  - U0G9QF9C6
                  - U0G9WFXNZ
                  name: random
                  name_normalized: random
                  num_members: 2
                  previous_names: []
                  purpose:
                    creator: ""
                    last_set: 0
                    value: A place for non-work-related flimflam, faffing, hodge-podge
                      or jibber-jabber you'd prefer to keep out of more focused work-related
                      channels.
                  topic:
                    creator: U0G9QF9C6
                    last_set: 1449709352
                    value: Other stuff
                - created: 1449709280
                  creator: U0G9QF9C6
                  id: C0G9QKBBL
                  is_archived: false
                  is_channel: true
                  is_general: true
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  members:
                  - U0G9QF9C6
                  - U0G9WFXNZ
                  name: general
                  name_normalized: general
                  num_members: 2
                  previous_names: []
                  purpose:
                    creator: U0G9QF9C6
                    last_set: 1449709334
                    value: To talk about anything!
                  topic:
                    creator: U0G9QF9C6
                    last_set: 1449709364
                    value: Talk about anything!
                ok: true
                response_metadata:
                  next_cursor: dGVhbTpDMUg5UkVTR0w=
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: channels.list error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response channels.list method
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - channels:read
  /channels.mark:
    post:
      tags:
      - channels
      description: Sets the read cursor in a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.mark
      operationId: channels_mark
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ts:
                  type: number
                  description: Timestamp of the most recently seen message.
                channel:
                  type: string
                  description: Channel to set reading cursor in.
          application/json:
            schema:
              properties:
                ts:
                  type: number
                  description: Timestamp of the most recently seen message.
                channel:
                  type: string
                  description: Channel to set reading cursor in.
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: channels.mark success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response channels.mark method
              example:
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: channels.mark error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response channels.mark method
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.rename:
    post:
      tags:
      - channels
      description: Renames a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.rename
      operationId: channels_rename
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                validate:
                  type: boolean
                  description: Whether to return errors on invalid channel name instead
                    of modifying it to meet the specified criteria.
                name:
                  type: string
                  description: New name for channel.
                channel:
                  type: string
                  description: Channel to rename
          application/json:
            schema:
              properties:
                validate:
                  type: boolean
                  description: Whether to return errors on invalid channel name instead
                    of modifying it to meet the specified criteria.
                name:
                  type: string
                  description: New name for channel.
                channel:
                  type: string
                  description: Channel to rename
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: channels.rename schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from channels.rename method
              example:
                channel:
                  created: 1477445146
                  creator: U2U85N1RZ
                  id: C2U875RJN
                  is_archived: false
                  is_channel: true
                  is_general: false
                  is_member: false
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  members: []
                  name: humans-and-bots
                  name_normalized: humans-and-bots
                  previous_names:
                  - humans
                  purpose:
                    creator: U2U85N1RZ
                    last_set: 1509475801
                    value: the purpose of this channel is to bring people and robots
                      together in harmony
                  topic:
                    creator: U2U85N1RZ
                    last_set: 1509475775
                    value: here be robots
                  unlinked: 0
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: channels.rename error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from channels.rename method
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.replies:
    get:
      tags:
      - channels
      description: Retrieve a thread of messages posted to a channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.replies
      operationId: channels_replies
      parameters:
      - name: thread_ts
        in: query
        description: Unique identifier of a thread's parent message
        schema:
          type: number
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `channels:history`'
        schema:
          type: string
      - name: channel
        in: query
        description: Channel to fetch thread from
        schema:
          type: string
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                has_more: false
                messages:
                - last_read: "1509484885.000082"
                  replies:
                  - ts: "1509484424.000601"
                    user: U2U85N1RZ
                  - ts: "1509484885.000082"
                    user: U2U85N1RZ
                  reply_count: 2
                  subscribed: true
                  text: This is a channel message
                  thread_ts: "1485913694.000025"
                  ts: "1485913694.000025"
                  type: message
                  unread_count: 0
                  user: U2X9P5FEL
                - parent_user_id: U2X9P5FEL
                  text: This is a thread reply
                  thread_ts: "1485913694.000025"
                  ts: "1509484424.000601"
                  type: message
                  user: U2U85N1RZ
                - parent_user_id: U2X9P5FEL
                  text: This is another thread reply
                  thread_ts: "1485913694.000025"
                  ts: "1509484885.000082"
                  type: message
                  user: U2U85N1RZ
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                error: thread_not_found
                ok: false
      security:
      - slackAuth:
        - channels:history
  /channels.setPurpose:
    post:
      tags:
      - channels
      description: Sets the purpose for a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.setPurpose
      operationId: channels_setPurpose
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                purpose:
                  type: string
                  description: The new purpose
                channel:
                  type: string
                  description: Channel to set the purpose of
          application/json:
            schema:
              properties:
                purpose:
                  type: string
                  description: The new purpose
                channel:
                  type: string
                  description: Channel to set the purpose of
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: channels.setPurpose schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from channels.setPurpose
                  method
              example:
                ok: true
                purpose: My special purpose
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: channels.setPurpose error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from channels.setPurpose method
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.setTopic:
    post:
      tags:
      - channels
      description: Sets the topic for a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.setTopic
      operationId: channels_setTopic
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                topic:
                  type: string
                  description: The new topic
                channel:
                  type: string
                  description: Channel to set the topic of
          application/json:
            schema:
              properties:
                topic:
                  type: string
                  description: The new topic
                channel:
                  type: string
                  description: Channel to set the topic of
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                ok: true
                topic: To picture topicality
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - channels:write
  /channels.unarchive:
    post:
      tags:
      - channels
      description: Unarchives a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/channels.unarchive
      operationId: channels_unarchive
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `channels:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel:
                  type: string
                  description: Channel to unarchive
          application/json:
            schema:
              properties:
                channel:
                  type: string
                  description: Channel to unarchive
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - channels:write
  /chat.delete:
    post:
      tags:
      - chat
      description: Deletes a message.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/chat.delete
      operationId: chat_delete
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `chat:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                as_user:
                  type: boolean
                  description: Pass true to delete the message as the authed user
                    with `chat:write:user` scope. [Bot users](/bot-users) in this
                    context are considered authed users. If unused or false, the message
                    will be deleted with `chat:write:bot` scope.
                ts:
                  type: number
                  description: Timestamp of the message to be deleted.
                channel:
                  type: string
                  description: Channel containing the message to be deleted.
          application/json:
            schema:
              properties:
                as_user:
                  type: boolean
                  description: Pass true to delete the message as the authed user
                    with `chat:write:user` scope. [Bot users](/bot-users) in this
                    context are considered authed users. If unused or false, the message
                    will be deleted with `chat:write:bot` scope.
                ts:
                  type: number
                  description: Timestamp of the message to be deleted.
                channel:
                  type: string
                  description: Channel containing the message to be deleted.
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: chat.delete success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of chat.delete method
              example:
                channel: C024BE91L
                ok: true
                ts: "1401383885.000061"
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: chat.delete error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from chat.delete method
              example:
                error: message_not_found
                ok: false
      security:
      - slackAuth:
        - chat:write:user
        - chat:write:bot
  /chat.getPermalink:
    get:
      tags:
      - chat
      description: Retrieve a permalink URL for a specific extant message
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/chat.getPermalink
      operationId: chat_getPermalink
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `none`'
        schema:
          type: string
      - name: message_ts
        in: query
        description: A message's `ts` value, uniquely identifying it within a channel
        schema:
          type: number
      - name: channel
        in: query
        description: The ID of the conversation or channel containing the message
        schema:
          type: string
      responses:
        200:
          description: Standard success response
          content:
            application/json:
              schema:
                title: chat.getPermalink success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response chat.getPermalink
              example:
                channel: C1H9RESGA
                ok: true
                permalink: https://ghostbusters.slack.com/archives/C1H9RESGA/p135854651500008
        default:
          description: Error response when channel cannot be found
          content:
            application/json:
              schema:
                title: chat.getPermalink error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from chat.getPermalink method
              example:
                error: channel_not_found
                ok: false
      security:
      - slackAuth:
        - none
  /chat.meMessage:
    post:
      tags:
      - chat
      description: Share a me message into a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/chat.meMessage
      operationId: chat_meMessage
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `chat:write:user`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                text:
                  type: string
                  description: Text of the message to send.
                channel:
                  type: string
                  description: Channel to send message to. Can be a public channel,
                    private group or IM channel. Can be an encoded ID, or a name.
          application/json:
            schema:
              properties:
                text:
                  type: string
                  description: Text of the message to send.
                channel:
                  type: string
                  description: Channel to send message to. Can be a public channel,
                    private group or IM channel. Can be an encoded ID, or a name.
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                channel: C024BE7LR
                ok: true
                ts: "1417671948.000006"
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: Verbose schema not yet ready for this method.
              example:
                error: invalid_auth
                ok: false
      security:
      - slackAuth:
        - chat:write:user
  /chat.postEphemeral:
    post:
      tags:
      - chat
      description: Sends an ephemeral message to a user in a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/chat.postEphemeral
      operationId: chat_postEphemeral
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `chat:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                attachments:
                  type: string
                  description: A JSON-based array of structured attachments, presented
                    as a URL-encoded string.
                text:
                  type: string
                  description: Text of the message to send. See below for an explanation
                    of [formatting](#formatting). This field is usually required,
                    unless you're providing only `attachments` instead.
                link_names:
                  type: boolean
                  description: Find and link channel names and usernames.
                parse:
                  type: string
                  description: Change how messages are treated. Defaults to `none`.
                    See [below](#formatting).
                user:
                  type: string
                  description: '`id` of the user who will receive the ephemeral message.
                    The user should be in the channel specified by the `channel` argument.'
                as_user:
                  type: boolean
                  description: Pass true to post the message as the authed bot. Defaults
                    to false.
                channel:
                  type: string
                  description: Channel, private group, or IM channel to send message
                    to. Can be an encoded ID, or a name.
          application/json:
            schema:
              properties:
                attachments:
                  type: string
                  description: A JSON-based array of structured attachments, presented
                    as a URL-encoded string.
                text:
                  type: string
                  description: Text of the message to send. See below for an explanation
                    of [formatting](#formatting). This field is usually required,
                    unless you're providing only `attachments` instead.
                link_names:
                  type: boolean
                  description: Find and link channel names and usernames.
                parse:
                  type: string
                  description: Change how messages are treated. Defaults to `none`.
                    See [below](#formatting).
                user:
                  type: string
                  description: '`id` of the user who will receive the ephemeral message.
                    The user should be in the channel specified by the `channel` argument.'
                as_user:
                  type: boolean
                  description: Pass true to post the message as the authed bot. Defaults
                    to false.
                channel:
                  type: string
                  description: Channel, private group, or IM channel to send message
                    to. Can be an encoded ID, or a name.
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: chat.postEphemeral success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from chat.postEphemeral
                  method
              example:
                message_ts: "1502210682.580145"
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: chat.postEphemeral error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from chat.postEphemeral method
              example:
                error: user_not_in_channel
                ok: false
      security:
      - slackAuth:
        - chat:write:user
        - chat:write:bot
  /chat.postMessage:
    post:
      tags:
      - chat
      description: Sends a message to a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/chat.postMessage
      operationId: chat_postMessage
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `chat:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                username:
                  type: string
                  description: Set your bot's user name. Must be used in conjunction
                    with `as_user` set to false, otherwise ignored. See [authorship](#authorship)
                    below.
                thread_ts:
                  type: number
                  description: Provide another message's `ts` value to make this message
                    a reply. Avoid using a reply's `ts` value; use its parent instead.
                attachments:
                  type: string
                  description: A JSON-based array of structured attachments, presented
                    as a URL-encoded string.
                unfurl_links:
                  type: boolean
                  description: Pass true to enable unfurling of primarily text-based
                    content.
                text:
                  type: string
                  description: Text of the message to send. See below for an explanation
                    of [formatting](#formatting). This field is usually required,
                    unless you're providing only `attachments` instead. Provide no
                    more than 40,000 characters or [risk truncation](/changelog/2018-04-truncating-really-long-messages).
                unfurl_media:
                  type: boolean
                  description: Pass false to disable unfurling of media content.
                parse:
                  type: string
                  description: Change how messages are treated. Defaults to `none`.
                    See [below](#formatting).
                as_user:
                  type: boolean
                  description: Pass true to post the message as the authed user, instead
                    of as a bot. Defaults to false. See [authorship](#authorship)
                    below.
                mrkdwn:
                  type: boolean
                  description: Disable Slack markup parsing by setting to `false`.
                    Enabled by default.
                icon_emoji:
                  type: string
                  description: Emoji to use as the icon for this message. Overrides
                    `icon_url`. Must be used in conjunction with `as_user` set to
                    `false`, otherwise ignored. See [authorship](#authorship) below.
                link_names:
                  type: boolean
                  description: Find and link channel names and usernames.
                icon_url:
                  type: string
                  description: URL to an image to use as the icon for this message.
                    Must be used in conjunction with `as_user` set to false, otherwise
                    ignored. See [authorship](#authorship) below.
                channel:
                  type: string
                  description: Channel, private group, or IM channel to send message
                    to. Can be an encoded ID, or a name. See [below](#channels) for
                    more details.
                reply_broadcast:
                  type: boolean
                  description: Used in conjunction with `thread_ts` and indicates
                    whether reply should be made visible to everyone in the channel
                    or conversation. Defaults to `false`.
          application/json:
            schema:
              properties:
                username:
                  type: string
                  description: Set your bot's user name. Must be used in conjunction
                    with `as_user` set to false, otherwise ignored. See [authorship](#authorship)
                    below.
                thread_ts:
                  type: number
                  description: Provide another message's `ts` value to make this message
                    a reply. Avoid using a reply's `ts` value; use its parent instead.
                attachments:
                  type: string
                  description: A JSON-based array of structured attachments, presented
                    as a URL-encoded string.
                unfurl_links:
                  type: boolean
                  description: Pass true to enable unfurling of primarily text-based
                    content.
                text:
                  type: string
                  description: Text of the message to send. See below for an explanation
                    of [formatting](#formatting). This field is usually required,
                    unless you're providing only `attachments` instead. Provide no
                    more than 40,000 characters or [risk truncation](/changelog/2018-04-truncating-really-long-messages).
                unfurl_media:
                  type: boolean
                  description: Pass false to disable unfurling of media content.
                parse:
                  type: string
                  description: Change how messages are treated. Defaults to `none`.
                    See [below](#formatting).
                as_user:
                  type: boolean
                  description: Pass true to post the message as the authed user, instead
                    of as a bot. Defaults to false. See [authorship](#authorship)
                    below.
                mrkdwn:
                  type: boolean
                  description: Disable Slack markup parsing by setting to `false`.
                    Enabled by default.
                icon_emoji:
                  type: string
                  description: Emoji to use as the icon for this message. Overrides
                    `icon_url`. Must be used in conjunction with `as_user` set to
                    `false`, otherwise ignored. See [authorship](#authorship) below.
                link_names:
                  type: boolean
                  description: Find and link channel names and usernames.
                icon_url:
                  type: string
                  description: URL to an image to use as the icon for this message.
                    Must be used in conjunction with `as_user` set to false, otherwise
                    ignored. See [authorship](#authorship) below.
                channel:
                  type: string
                  description: Channel, private group, or IM channel to send message
                    to. Can be an encoded ID, or a name. See [below](#channels) for
                    more details.
                reply_broadcast:
                  type: boolean
                  description: Used in conjunction with `thread_ts` and indicates
                    whether reply should be made visible to everyone in the channel
                    or conversation. Defaults to `false`.
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: chat.postMessage success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of chat.postMessage method
              example:
                channel: C1H9RESGL
                message:
                  attachments:
                  - fallback: This is an attachment's fallback
                    id: 1
                    text: This is an attachment
                  bot_id: B19LU7CSY
                  subtype: bot_message
                  text: Here's a message for you
                  ts: "1503435956.000247"
                  type: message
                  username: ecto1
                ok: true
                ts: "1503435956.000247"
        default:
          description: Typical error response if too many attachments are included
          content:
            application/json:
              schema:
                title: chat.postMessage error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response chat.postMessage method
              example:
                error: too_many_attachments
                ok: false
      security:
      - slackAuth:
        - chat:write:user
        - chat:write:bot
  /chat.unfurl:
    post:
      tags:
      - chat
      description: Provide custom unfurl behavior for user-posted URLs
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/chat.unfurl
      operationId: chat_unfurl
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `links:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                user_auth_message:
                  type: string
                  description: Provide a simply-formatted string to send as an ephemeral
                    message to the user as invitation to authenticate further and
                    enable full unfurling behavior
                user_auth_required:
                  type: boolean
                  description: Set to `true` or `1` to indicate the user must install
                    your Slack app to trigger unfurls for this domain
                unfurls:
                  type: string
                  description: URL-encoded JSON map with keys set to URLs featured
                    in the the message, pointing to their unfurl message attachments.
                ts:
                  type: string
                  description: Timestamp of the message to add unfurl behavior to.
                user_auth_url:
                  type: string
                  description: Send users to this custom URL where they will complete
                    authentication in your app to fully trigger unfurling. Value should
                    be properly URL-encoded.
                channel:
                  type: string
                  description: Channel ID of the message
          application/json:
            schema:
              properties:
                user_auth_message:
                  type: string
                  description: Provide a simply-formatted string to send as an ephemeral
                    message to the user as invitation to authenticate further and
                    enable full unfurling behavior
                user_auth_required:
                  type: boolean
                  description: Set to `true` or `1` to indicate the user must install
                    your Slack app to trigger unfurls for this domain
                unfurls:
                  type: string
                  description: URL-encoded JSON map with keys set to URLs featured
                    in the the message, pointing to their unfurl message attachments.
                ts:
                  type: string
                  description: Timestamp of the message to add unfurl behavior to.
                user_auth_url:
                  type: string
                  description: Send users to this custom URL where they will complete
                    authentication in your app to fully trigger unfurling. Value should
                    be properly URL-encoded.
                channel:
                  type: string
                  description: Channel ID of the message
      responses:
        200:
          description: Typical, minimal success response
          content:
            application/json:
              schema:
                title: chat.unfurl success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from chat.unfurl method
              example:
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: chat.unfurl error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from chat.unfurl method
              example:
                error: cannot_unfurl_url
                ok: false
      security:
      - slackAuth:
        - links:write
  /chat.update:
    post:
      tags:
      - chat
      description: Updates a message.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/chat.update
      operationId: chat_update
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `chat:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                attachments:
                  type: string
                  description: A JSON-based array of structured attachments, presented
                    as a URL-encoded string. This field is required when not presenting
                    `text`.
                text:
                  type: string
                  description: New text for the message, using the [default formatting
                    rules](/docs/formatting). It's not required when presenting `attachments`.
                ts:
                  type: number
                  description: Timestamp of the message to be updated.
                parse:
                  type: string
                  description: Change how messages are treated. Defaults to `client`,
                    unlike `chat.postMessage`. See [below](#formatting).
                as_user:
                  type: boolean
                  description: Pass true to update the message as the authed user.
                    [Bot users](/bot-users) in this context are considered authed
                    users.
                link_names:
                  type: boolean
                  description: Find and link channel names and usernames. Defaults
                    to `none`. See [below](#formatting).
                channel:
                  type: string
                  description: Channel containing the message to be updated.
          application/json:
            schema:
              properties:
                attachments:
                  type: string
                  description: A JSON-based array of structured attachments, presented
                    as a URL-encoded string. This field is required when not presenting
                    `text`.
                text:
                  type: string
                  description: New text for the message, using the [default formatting
                    rules](/docs/formatting). It's not required when presenting `attachments`.
                ts:
                  type: number
                  description: Timestamp of the message to be updated.
                parse:
                  type: string
                  description: Change how messages are treated. Defaults to `client`,
                    unlike `chat.postMessage`. See [below](#formatting).
                as_user:
                  type: boolean
                  description: Pass true to update the message as the authed user.
                    [Bot users](/bot-users) in this context are considered authed
                    users.
                link_names:
                  type: boolean
                  description: Find and link channel names and usernames. Defaults
                    to `none`. See [below](#formatting).
                channel:
                  type: string
                  description: Channel containing the message to be updated.
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: chat.update success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of chat.update method
              example:
                channel: C024BE91L
                ok: true
                text: Updated text you carefully authored
                ts: "1401383885.000061"
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: chat.update error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response chat.update method
              example:
                error: cant_update_message
                ok: false
      security:
      - slackAuth:
        - chat:write:user
        - chat:write:bot
  /conversations.archive:
    post:
      tags:
      - conversations
      description: Archives a conversation.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/conversations.archive
      operationId: conversations_archive
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `conversations:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel:
                  type: string
                  description: ID of conversation to archive
          application/json:
            schema:
              properties:
                channel:
                  type: string
                  description: ID of conversation to archive
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: conversations.archive success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response conversations.archive
                  method
              example:
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: conversations.archive error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from conversations.archive
                  method
              example:
                error: channel_not_found
                ok: false
      security:
      - slackAuth:
        - channels:write
        - groups:write
        - im:write
        - mpim:write
  /conversations.close:
    post:
      tags:
      - conversations
      description: Closes a direct message or multi-person direct message.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/conversations.close
      operationId: conversations_close
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `conversations:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel:
                  type: string
                  description: Conversation to close.
          application/json:
            schema:
              properties:
                channel:
                  type: string
                  description: Conversation to close.
      responses:
        200:
          description: Typical success response
          content:
            application/json:
              schema:
                title: conversations.close success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response conversations.close method
              example:
                ok: true
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: conversations.close error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from conversations.close method
              example:
                error: channel_not_found
                ok: false
      security:
      - slackAuth:
        - channels:write
        - groups:write
        - im:write
        - mpim:write
  /conversations.create:
    post:
      tags:
      - conversations
      description: Initiates a public or private channel-based conversation
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/conversations.create
      operationId: conversations_create
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `conversations:write`'
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Name of the public or private channel to create
                is_private:
                  type: boolean
                  description: Create a private channel instead of a public one
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Name of the public or private channel to create
                is_private:
                  type: boolean
                  description: Create a private channel instead of a public one
      responses:
        200:
          description: If successful, the command returns a rather stark [conversation
            object](/types/conversation)
          content:
            application/json:
              schema:
                title: conversations.create success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response conversations.create method
              example:
                channel:
                  created: 1504554479
                  creator: U0123456
                  id: C0EAQDV4Z
                  is_archived: false
                  is_channel: true
                  is_ext_shared: false
                  is_general: false
                  is_group: false
                  is_im: false
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_pending_ext_shared: false
                  is_private: false
                  is_shared: false
                  last_read: 0.0
                  name: endeavor
                  name_normalized: endeavor
                  pending_shared: []
                  previous_names: []
                  priority: 0
                  purpose:
                    creator: ""
                    last_set: 0
                    value: ""
                  topic:
                    creator: ""
                    last_set: 0
                    value: ""
                  unlinked: 0
                  unread_count: 0
                  unread_count_display: 0
                ok: true
        default:
          description: Typical error response when name already in use
          content:
            application/json:
              schema:
                title: conversations.create error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from conversations.create method
              example:
                error: name_taken
                ok: false
      security:
      - slackAuth:
        - channels:write
        - groups:write
        - im:write
        - mpim:write
  /conversations.history:
    get:
      tags:
      - conversations
      description: Fetches a conversation's history of messages and events.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/conversations.history
      operationId: conversations_history
      parameters:
      - name: inclusive
        in: query
        description: Include messages with latest or oldest timestamp in results only
          when either timestamp is specified.
        schema:
          type: boolean
      - name: cursor
        in: query
        description: Paginate through collections of data by setting the `cursor`
          parameter to a `next_cursor` attribute returned by a previous request's
          `response_metadata`. Default value fetches the first "page" of the collection.
          See [pagination](/docs/pagination) for more detail.
        schema:
          type: string
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `conversations:history`'
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Fewer than the requested
          number of items may be returned, even if the end of the users list hasn't
          been reached.
        schema:
          type: integer
      - name: oldest
        in: query
        description: Start of time range of messages to include in results.
        schema:
          type: number
      - name: channel
        in: query
        description: Conversation ID to fetch history for.
        schema:
          type: string
      - name: latest
        in: query
        description: End of time range of messages to include in results.
        schema:
          type: number
      responses:
        200:
          description: Typical success response containing a channel's messages
          content:
            application/json:
              schema:
                title: conversations.history success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response from conversations.history
                  method
              example:
                has_more: true
                messages:
                - text: I find you punny and would like to smell your nose letter
                  ts: "1512085950.000216"
                  type: message
                  user: U012AB3CDE
                - text: What, you want to smell my shoes better?
                  ts: "1512104434.000490"
                  type: message
                  user: U061F7AUR
                ok: true
                pin_count: 0
                response_metadata:
                  next_cursor: bmV4dF90czoxNTEyMDg1ODYxMDAwNTQz
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: conversations.history error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from conversations.history
                  method
              example:
                error: channel_not_found
                ok: false
      security:
      - slackAuth:
        - channels:history
        - groups:history
        - im:history
        - mpim:history
  /conversations.info:
    get:
      tags:
      - conversations
      description: Retrieve information about a conversation.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/conversations.info
      operationId: conversations_info
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `conversations:read`'
        schema:
          type: string
      - name: channel
        in: query
        description: Conversation ID to learn more about
        schema:
          type: string
      - name: include_locale
        in: query
        description: Set this to `true` to receive the locale for this conversation.
          Defaults to `false`
        schema:
          type: boolean
      responses:
        200:
          description: Typical success response for a public channel. (Also, a response
            from a private channel and a multi-party IM is very similar to this example.)
          content:
            application/json:
              schema:
                title: conversations.info success schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response conversations.info
              example:
                channel:
                  created: 1449252889
                  creator: W012A3BCD
                  id: C012AB3CD
                  is_archived: false
                  is_channel: true
                  is_ext_shared: false
                  is_general: true
                  is_group: false
                  is_im: false
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_pending_ext_shared: false
                  is_private: false
                  is_read_only: false
                  is_shared: false
                  last_read: "1502126650.228446"
                  locale: en-US
                  name: general
                  name_normalized: general
                  num_members: 23
                  pending_shared: []
                  previous_names:
                  - specifics
                  - abstractions
                  - etc
                  purpose:
                    creator: W012A3BCD
                    last_set: 1449709364
                    value: This part of the workspace is for fun. Make fun here.
                  topic:
                    creator: W012A3BCD
                    last_set: 1449709364
                    value: For public discussion of generalities
                  unlinked: 0
                ok: true
        default:
          description: Typical error response when a channel cannot be found
          content:
            application/json:
              schema:
                title: conversations.info error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from conversations.info method
              example:
                error: channel_not_found
                ok: false
[...]
