{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "Twitter API v2 available endpoints",
    "version" : "2.32",
    "title" : "Twitter API v2",
    "termsOfService" : "https://developer.twitter.com/en/developer-terms/agreement-and-policy.html",
    "contact" : {
      "name" : "Twitter Developers",
      "url" : "https://developer.twitter.com/"
    },
    "license" : {
      "name" : "Twitter Developer Agreement and Policy",
      "url" : "https://developer.twitter.com/en/developer-terms/agreement-and-policy.html"
    }
  },
  "servers" : [ {
    "description" : "Twitter API",
    "url" : "https://api.twitter.com"
  } ],
  "tags" : [ {
    "name" : "Compliance",
    "description" : "Endpoints related to keeping Twitter data in your systems compliant",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/compliance/batch-tweet/introduction"
    }
  }, {
    "name" : "General",
    "description" : "Miscellaneous endpoints for general API functionality",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api"
    }
  }, {
    "name" : "Lists",
    "description" : "Endpoints related to retrieving, managing Lists",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/lists"
    }
  }, {
    "name" : "Spaces",
    "description" : "Endpoints related to retrieving, managing Spaces",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/spaces"
    }
  }, {
    "name" : "Tweets",
    "description" : "Endpoints related to retrieving, searching, and modifying Tweets",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/tweets/lookup"
    }
  }, {
    "name" : "Users",
    "description" : "Endpoints related to retrieving, managing relationships of Users",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/users/lookup"
    }
  } ],
  "paths" : {
    "/2/users" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "tags" : [ "Users" ],
        "summary" : "User lookup by IDs",
        "description" : "This endpoint returns information about users. Specify users by their ID.",
        "operationId" : "findUsersById",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "description" : "Required. A list of User IDs, comma-separated. You can specify up to 100 IDs.",
          "required" : true,
          "example" : "2244994945,6253282,12",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/UserID"
            },
            "minItems" : 1,
            "maxItems" : 100
          },
          "style" : "form",
          "explode" : false
        }, {
          "$ref" : "#/components/parameters/UserExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiUserLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "tags" : [ "Users" ],
        "summary" : "User lookup by ID",
        "description" : "This endpoint returns information about a user. Specify user by ID.",
        "operationId" : "findUserById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Required. A User ID.",
          "required" : true,
          "example" : "2244994945",
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "$ref" : "#/components/parameters/UserExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleUserLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/by" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "tags" : [ "Users" ],
        "summary" : "User lookup by usernames",
        "description" : "This endpoint returns information about users. Specify users by their username.",
        "operationId" : "findUsersByUsername",
        "parameters" : [ {
          "name" : "usernames",
          "in" : "query",
          "description" : "Required . A list of usernames, comma-separated. You can specify up to 100 usernames.",
          "required" : true,
          "example" : "TwitterDev,TwitterAPI,jack",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/UserName"
            },
            "minItems" : 1,
            "maxItems" : 100
          },
          "style" : "form",
          "explode" : false
        }, {
          "$ref" : "#/components/parameters/UserExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiUserLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/me" : {
      "get" : {
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "tags" : [ "Users" ],
        "summary" : "User lookup me",
        "description" : "This endpoint returns information about the requesting user.",
        "operationId" : "findMyUser",
        "parameters" : [ {
          "$ref" : "#/components/parameters/UserExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleUserLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/by/username/{username}" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "tags" : [ "Users" ],
        "summary" : "User lookup by username",
        "description" : "This endpoint returns information about a user. Specify user by username.",
        "operationId" : "findUserByUsername",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "required" : true,
          "description" : "Required. A username.",
          "example" : "TwitterDev",
          "schema" : {
            "$ref" : "#/components/schemas/UserName"
          }
        }, {
          "$ref" : "#/components/parameters/UserExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleUserLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/blocking" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Block User by User ID",
        "description" : "Causes the user (in the path) to block the target user. The user (in the path) must match the user context authorizing the request",
        "operationId" : "usersIdBlock",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read", "block.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to block the target user",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "required" : [ "target_user_id" ],
                "properties" : {
                  "target_user_id" : {
                    "type" : "string",
                    "pattern" : "^[0-9]{1,19}$"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersBlockingMutationResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Returns user objects that are blocked by provided user ID",
        "description" : "Returns a list of users that are blocked by the provided user ID",
        "operationId" : "usersIdBlocking",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read", "block.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user for whom to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 1000
          }
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This value is populated by passing the 'next_token' or 'previous_token' returned in a request to paginate through results.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "minLength" : 16,
            "maxLength" : 16
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericMultipleUsersLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{source_user_id}/blocking/{target_user_id}" : {
      "delete" : {
        "tags" : [ "Users" ],
        "summary" : "Unblock User by User ID",
        "description" : "Causes the source user to unblock the target user. The source user must match the user context authorizing the request",
        "operationId" : "usersIdUnblock",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read", "block.write" ]
        } ],
        "parameters" : [ {
          "name" : "source_user_id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to unblock the target user",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "target_user_id",
          "in" : "path",
          "description" : "The ID of the user that the source user is requesting to unblock",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersBlockingMutationResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{source_user_id}/muting/{target_user_id}" : {
      "delete" : {
        "tags" : [ "Users" ],
        "summary" : "Unmute User by User ID",
        "description" : "Causes the source user to unmute the target user. The source user must match the user context authorizing the request",
        "operationId" : "usersIdUnmute",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read", "mute.write" ]
        } ],
        "parameters" : [ {
          "name" : "source_user_id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to unmute the target user",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "target_user_id",
          "in" : "path",
          "description" : "The ID of the user that the source user is requesting to unmute",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersMutingMutationResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/muting" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Mute User by User ID",
        "description" : "Causes the user (in the path) to mute the target user. The user (in the path) must match the user context authorizing the request",
        "operationId" : "usersIdMute",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read", "mute.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to mute the target user",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "required" : [ "target_user_id" ],
                "properties" : {
                  "target_user_id" : {
                    "type" : "string",
                    "pattern" : "^[0-9]{1,19}$"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersMutingMutationResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Returns user objects that are muted by the provided user ID",
        "description" : "Returns a list of users that are muted by the provided user ID",
        "operationId" : "usersIdMuting",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read", "mute.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user for whom to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 1000,
            "default" : 100
          }
        }, {
          "$ref" : "#/components/parameters/PaginationTokenRequestParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericMultipleUsersLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/followers" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Returns user objects that follow the provided user ID",
        "description" : "Returns a list of users that follow the provided user ID",
        "operationId" : "usersIdFollowers",
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "follows.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user for whom to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 1000
          }
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This value is populated by passing the 'next_token' or 'previous_token' returned in a request to paginate through results.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "minLength" : 16,
            "maxLength" : 16
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericMultipleUsersLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/following" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "follows.read" ]
        } ],
        "tags" : [ "Users" ],
        "summary" : "Following by User ID",
        "description" : "Returns a list of users that are being followed by the provided user ID",
        "operationId" : "usersIdFollowing",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user for whom to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 1000
          }
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This value is populated by passing the 'next_token' or 'previous_token' returned in a request to paginate through results.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "minLength" : 16,
            "maxLength" : 16
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersFollowingLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Follow User",
        "description" : "Causes the user(in the path) to follow, or “request to follow” for protected users, the target user. The user(in the path) must match the user context authorizing the request",
        "operationId" : "usersIdFollow",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "follows.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to follow the target user",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "required" : [ "target_user_id" ],
                "properties" : {
                  "target_user_id" : {
                    "type" : "string",
                    "pattern" : "^[0-9]{1,19}$"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersFollowingCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{source_user_id}/following/{target_user_id}" : {
      "delete" : {
        "tags" : [ "Users" ],
        "summary" : "Unfollow User",
        "description" : "Causes the source user to unfollow the target user. The source user must match the user context authorizing the request",
        "operationId" : "usersIdUnfollow",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "follows.write" ]
        } ],
        "parameters" : [ {
          "name" : "source_user_id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to unfollow the target user",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "target_user_id",
          "in" : "path",
          "description" : "The ID of the user that the source user is requesting to unfollow",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersFollowingDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/followed_lists" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Get User's Followed Lists",
        "description" : "Returns a user's followed Lists.",
        "operationId" : "userFollowedLists",
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user for whom to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 100,
            "default" : 100
          }
        }, {
          "$ref" : "#/components/parameters/SignedLongPaginationTokenRequestParameter"
        }, {
          "$ref" : "#/components/parameters/ListFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/ListExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiListResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Follow a List",
        "description" : "Causes a user to follow a List.",
        "operationId" : "listUserFollow",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the authenticated source user that will follow the List",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListFollowRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFollowedResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/followed_lists/{list_id}" : {
      "delete" : {
        "tags" : [ "Lists" ],
        "summary" : "Unfollow a List",
        "description" : "Causes a user to unfollow a List.",
        "operationId" : "listUserUnfollow",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the authenticated source user that will unfollow the List",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "list_id",
          "in" : "path",
          "description" : "The ID of the List to unfollow",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/ListID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFollowedResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/list_memberships" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Get a User's List Memberships",
        "description" : "Get a User's List Memberships.",
        "operationId" : "getUserListMemberships",
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user for whom to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 100,
            "default" : 100
          }
        }, {
          "$ref" : "#/components/parameters/SignedLongPaginationTokenRequestParameter"
        }, {
          "$ref" : "#/components/parameters/ListFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/ListExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiListResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/owned_lists" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Get a User's Owned Lists",
        "description" : "Get a User's Owned Lists.",
        "operationId" : "listUserOwnedLists",
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user for whom to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 100,
            "default" : 100
          }
        }, {
          "$ref" : "#/components/parameters/SignedLongPaginationTokenRequestParameter"
        }, {
          "$ref" : "#/components/parameters/ListFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/ListExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiListResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/pinned_lists" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Get a User's Pinned Lists",
        "description" : "Get a User's Pinned Lists.",
        "operationId" : "listUserPinnedLists",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user for whom to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "$ref" : "#/components/parameters/ListFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/ListExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiListNoPaginationResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Pin a List",
        "description" : "Causes a user to pin a List.",
        "operationId" : "listUserPin",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the authenticated source user that will pin the List",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListPinRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPinnedResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/pinned_lists/{list_id}" : {
      "delete" : {
        "tags" : [ "Lists" ],
        "summary" : "Unpin a List",
        "description" : "Causes a user to remove a pinned List.",
        "operationId" : "listUserUnpin",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the authenticated source user that will remove the pinned List",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "list_id",
          "in" : "path",
          "description" : "The ID of the List to unpin",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/ListID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPinnedResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Tweet lookup by Tweet IDs",
        "description" : "Returns a variety of information about the Tweet specified by the requested ID.",
        "operationId" : "findTweetsById",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "description" : "A comma separated list of Tweet IDs. Up to 100 are allowed in a single request.",
          "required" : true,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TweetID"
            },
            "minItems" : 1,
            "maxItems" : 100
          }
        }, {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiTweetLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "post" : {
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "tweet.write" ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Creation of a Tweet",
        "description" : "Causes the user to create a tweet under the authorized account.",
        "operationId" : "createTweet",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "text" : {
                    "$ref" : "#/components/schemas/TweetText"
                  },
                  "direct_message_deep_link" : {
                    "type" : "string",
                    "description" : "Link to take the conversation from the public timeline to a private Direct Message."
                  },
                  "quote_tweet_id" : {
                    "$ref" : "#/components/schemas/TweetID",
                    "description" : "Link to the Tweet being quoted. This is mutually exclusive from Poll and Media."
                  },
                  "for_super_followers_only" : {
                    "type" : "boolean",
                    "description" : "Exclusive Tweet for super followers."
                  },
                  "reply" : {
                    "type" : "object",
                    "description" : "Tweet information of the Tweet being replied to.",
                    "properties" : {
                      "in_reply_to_tweet_id" : {
                        "$ref" : "#/components/schemas/TweetID"
                      },
                      "exclude_reply_user_ids" : {
                        "type" : "array",
                        "description" : "A list of User Ids to be excluded from the reply Tweet.",
                        "items" : {
                          "$ref" : "#/components/schemas/UserID"
                        }
                      }
                    }
                  },
                  "media" : {
                    "type" : "object",
                    "description" : "Media information being attached to created Tweet. This is mutually exclusive from Quote Tweet Id and Poll.",
                    "properties" : {
                      "media_ids" : {
                        "type" : "array",
                        "description" : "A list of Media Ids to be attached to a created Tweet.",
                        "items" : {
                          "$ref" : "#/components/schemas/MediaId"
                        }
                      },
                      "tagged_user_ids" : {
                        "type" : "array",
                        "description" : "A list of User Ids to be tagged in the media for created Tweet.",
                        "items" : {
                          "$ref" : "#/components/schemas/UserID"
                        }
                      }
                    }
                  },
                  "poll" : {
                    "type" : "object",
                    "description" : "Poll options for a Tweet with a poll. This is mutually exclusive from Media and Quote Tweet Id.",
                    "properties" : {
                      "options" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/PollOptionLabel"
                        }
                      },
                      "duration_minutes" : {
                        "$ref" : "#/components/schemas/DurationMinutes"
                      }
                    }
                  },
                  "reply_settings" : {
                    "type" : "string",
                    "enum" : [ "following", "mentionedUsers" ],
                    "description" : "Settings to indicate who can reply to the Tweet."
                  },
                  "geo" : {
                    "type" : "object",
                    "description" : "Place ID being attached to the Tweet for geo location.",
                    "properties" : {
                      "place_id" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters" : [ ],
        "responses" : {
          "201" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TweetCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/{id}" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Tweet lookup by Tweet ID",
        "description" : "Returns a variety of information about the Tweet specified by the requested ID.",
        "operationId" : "findTweetById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "A single Tweet ID.",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        }, {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleTweetLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "delete" : {
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "tweet.write" ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Tweet delete by Tweet ID",
        "description" : "Delete specified Tweet (in the path) by ID.",
        "operationId" : "deleteTweetById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the Tweet to be deleted.",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TweetDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/{id}/hidden" : {
      "put" : {
        "tags" : [ "Tweets" ],
        "summary" : "Hide replies",
        "description" : "Hides or unhides a reply to an owned conversation.",
        "operationId" : "hideReplyById",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "tweet.moderate.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the reply that you want to hide or unhide.",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "hidden" : {
                    "type" : "boolean"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A successful response. The reply has been hidden or unhidden.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "hidden" : {
                          "type" : "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/search/recent" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Recent search",
        "description" : "Returns Tweets from the last 7 days that match a search query.",
        "operationId" : "tweetsRecentSearch",
        "parameters" : [ {
          "in" : "query",
          "name" : "query",
          "description" : "One query/rule/filter for matching Tweets. Up to 512 characters.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1,
            "maxLength" : 512,
            "example" : "(from:TwitterDev OR from:TwitterAPI) has:media -is:retweet"
          }
        }, {
          "in" : "query",
          "name" : "start_time",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent 7 days) from which the Tweets will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "end_time",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Tweets will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "since_id",
          "description" : "Returns results with a Tweet ID greater than (that is, more recent than) the specified ID.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        }, {
          "in" : "query",
          "name" : "until_id",
          "description" : "Returns results with a Tweet ID less than (that is, older than) the specified ID.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        }, {
          "in" : "query",
          "name" : "max_results",
          "description" : "The maximum number of search results to be returned by a request.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 10,
            "maximum" : 100,
            "default" : 10
          }
        }, {
          "in" : "query",
          "name" : "next_token",
          "description" : "This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "Tweets recent search response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TweetSearchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/search/all" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Full-archive search",
        "description" : "Returns Tweets that match a search query.",
        "operationId" : "tweetsFullarchiveSearch",
        "parameters" : [ {
          "in" : "query",
          "name" : "query",
          "description" : "One query/rule/filter for matching Tweets. Up to 1024 characters.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1,
            "maxLength" : 1024,
            "example" : "(from:TwitterDev OR from:TwitterAPI) has:media -is:retweet"
          }
        }, {
          "in" : "query",
          "name" : "start_time",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp from which the Tweets will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "end_time",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Tweets will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "since_id",
          "description" : "Returns results with a Tweet ID greater than (that is, more recent than) the specified ID.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        }, {
          "in" : "query",
          "name" : "until_id",
          "description" : "Returns results with a Tweet ID less than (that is, older than) the specified ID.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        }, {
          "in" : "query",
          "name" : "max_results",
          "description" : "The maximum number of search results to be returned by a request.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 10,
            "maximum" : 500,
            "default" : 10
          }
        }, {
          "in" : "query",
          "name" : "next_token",
          "description" : "This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "Tweets full archive search response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TweetSearchResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/search/stream" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Tweets" ],
        "x-twitter-streaming" : true,
        "summary" : "Filtered stream",
        "description" : "Streams Tweets matching the stream's active rule set.",
        "operationId" : "searchStream",
        "parameters" : [ {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/BackfillMinutesRequestParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful. Successful responses will return a stream of individual JSON Tweet payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FilteredStreamingTweet"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/search/stream/rules" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Rules lookup",
        "description" : "Returns rules from a user's active rule set. Users can fetch all of their rules or a subset, specified by the provided rule ids.",
        "operationId" : "getRules",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "description" : "A comma-separated list of Rule IDs.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RuleId"
            }
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 1000,
            "default" : 1000
          }
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This value is populated by passing the 'next_token' returned in a request to paginate through results.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "minLength" : 16,
            "maxLength" : 16
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "data", "meta" ],
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Rule"
                      }
                    },
                    "meta" : {
                      "$ref" : "#/components/schemas/RulesResponseMetadata"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "post" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Add/Delete rules",
        "description" : "Add or delete rules from a user's active rule set. Users can provide unique, optionally tagged rules to add. Users can delete their entire rule set or a subset specified by rule ids or values.",
        "operationId" : "addOrDeleteRules",
        "parameters" : [ {
          "name" : "dry_run",
          "in" : "query",
          "description" : "Dry Run can be used with both the add and delete action, with the expected result given, but without actually taking any action in the system (meaning the end state will always be as it was when the request was submitted). This is particularly useful to validate rule changes.",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddOrDeleteRulesRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddOrDeleteRulesResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/sample/stream" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Tweets" ],
        "x-twitter-streaming" : true,
        "summary" : "Sample stream",
        "description" : "Streams a deterministic 1% of public Tweets.",
        "operationId" : "sampleStream",
        "parameters" : [ {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/BackfillMinutesRequestParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful. Successful responses will return a stream of individual JSON Tweet payloads.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StreamingTweet"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/openapi.json" : {
      "get" : {
        "tags" : [ "General" ],
        "summary" : "Returns the open api spec document.",
        "description" : "Full open api spec in JSON format. (See https://github.com/OAI/OpenAPI-Specification/blob/master/README.md)",
        "operationId" : "getOpenApiSpec",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/2/users/{id}/tweets" : {
      "get" : {
        "tags" : [ "Tweets" ],
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "summary" : "User Tweets timeline by User ID",
        "description" : "Returns a list of Tweets authored by the provided User ID",
        "operationId" : "usersIdTweets",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the User to list Tweets of",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "$ref" : "#/components/parameters/SinceIdRequestParameter"
        }, {
          "$ref" : "#/components/parameters/UntilIdRequestParameter"
        }, {
          "$ref" : "#/components/parameters/MaxResultsRequestParameter"
        }, {
          "$ref" : "#/components/parameters/TweetTypeExcludesRequestParameter"
        }, {
          "$ref" : "#/components/parameters/PaginationTokenRequestParameter"
        }, {
          "$ref" : "#/components/parameters/StartTimeRequestParameter"
        }, {
          "$ref" : "#/components/parameters/EndTimeRequestParameter"
        }, {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericTweetsTimelineResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/mentions" : {
      "get" : {
        "tags" : [ "Tweets" ],
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "summary" : "User mention timeline by User ID",
        "description" : "Returns Tweet objects that mention username associated to the provided User ID",
        "operationId" : "usersIdMentions",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the User to list mentions of",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "$ref" : "#/components/parameters/SinceIdRequestParameter"
        }, {
          "$ref" : "#/components/parameters/UntilIdRequestParameter"
        }, {
          "$ref" : "#/components/parameters/MaxResultsRequestParameter"
        }, {
          "$ref" : "#/components/parameters/PaginationTokenRequestParameter"
        }, {
          "$ref" : "#/components/parameters/StartTimeRequestParameter"
        }, {
          "$ref" : "#/components/parameters/EndTimeRequestParameter"
        }, {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericTweetsTimelineResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/likes" : {
      "post" : {
        "tags" : [ "Tweets" ],
        "summary" : "Causes the user (in the path) to like the specified tweet",
        "description" : "Causes the user (in the path) to like the specified tweet. The user in the path must match the user context authorizing the request.",
        "operationId" : "usersIdLike",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "like.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to like the tweet",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UsersLikesCreateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersLikesCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/likes/{tweet_id}" : {
      "delete" : {
        "tags" : [ "Tweets" ],
        "summary" : "Causes the user (in the path) to unlike the specified tweet",
        "description" : "Causes the user (in the path) to unlike the specified tweet. The user must match the user context authorizing the request",
        "operationId" : "usersIdUnlike",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "like.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to unlike the tweet",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "tweet_id",
          "in" : "path",
          "description" : "The ID of the tweet that the user is requesting to unlike",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersLikesDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/liked_tweets" : {
      "get" : {
        "tags" : [ "Tweets" ],
        "summary" : "Returns Tweet objects liked by the provided User ID",
        "description" : "Returns a list of Tweets liked by the provided User ID",
        "operationId" : "usersIdLikedTweets",
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "like.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the User to list the liked Tweets of",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "$ref" : "#/components/parameters/MaxResultsRequestParameter"
        }, {
          "$ref" : "#/components/parameters/PaginationTokenRequestParameter"
        }, {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Tweet"
                      },
                      "minItems" : 1
                    },
                    "includes" : {
                      "$ref" : "#/components/schemas/Expansions"
                    },
                    "errors" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Problem"
                      },
                      "minItems" : 1
                    },
                    "meta" : {
                      "type" : "object",
                      "properties" : {
                        "previous_token" : {
                          "description" : "The previous token",
                          "type" : "string",
                          "pattern" : "^[a-zA-Z0-9]+$"
                        },
                        "next_token" : {
                          "description" : "The next token",
                          "type" : "string",
                          "pattern" : "^[a-zA-Z0-9]+$"
                        },
                        "result_count" : {
                          "description" : "Number of Tweets in result set",
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/{id}/liking_users" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Returns user objects that have liked the provided Tweet ID",
        "description" : "Returns a list of users that have liked the provided Tweet ID",
        "operationId" : "tweetsIdLikingUsers",
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "like.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the Tweet for which to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericMultipleUsersLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/{id}/retweeted_by" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Returns user objects that have retweeted the provided Tweet ID",
        "description" : "Returns a list of users that have retweeted the provided Tweet ID",
        "operationId" : "tweetsIdRetweetingUsers",
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the Tweet for which to return results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericMultipleUsersLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/retweets" : {
      "post" : {
        "tags" : [ "Tweets" ],
        "summary" : "Causes the user (in the path) to retweet the specified tweet",
        "description" : "Causes the user (in the path) to retweet the specified tweet. The user in the path must match the user context authorizing the request.",
        "operationId" : "usersIdRetweets",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "tweet.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to retweet the tweet",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UsersRetweetsCreateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersRetweetsCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/users/{id}/retweets/{source_tweet_id}" : {
      "delete" : {
        "tags" : [ "Tweets" ],
        "summary" : "Causes the user (in the path) to unretweet the specified tweet",
        "description" : "Causes the user (in the path) to unretweet the specified tweet. The user must match the user context authorizing the request",
        "operationId" : "usersIdUnretweets",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "tweet.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user that is requesting to unretweet the tweet",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UserID"
          }
        }, {
          "name" : "source_tweet_id",
          "in" : "path",
          "description" : "The ID of the tweet that the user is requesting to unretweet",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsersRetweetsDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/counts/recent" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Recent search counts",
        "description" : "Returns Tweet Counts from the last 7 days that match a search query.",
        "operationId" : "tweetCountsRecentSearch",
        "parameters" : [ {
          "in" : "query",
          "name" : "query",
          "description" : "One query/rule/filter for matching Tweets. Up to 2048 characters.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1,
            "maxLength" : 2048,
            "example" : "(from:TwitterDev OR from:TwitterAPI) has:media -is:retweet"
          }
        }, {
          "in" : "query",
          "name" : "start_time",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent 7 days) from which the Tweets will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "end_time",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Tweets will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "since_id",
          "description" : "Returns results with a Tweet ID greater than (that is, more recent than) the specified ID.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        }, {
          "in" : "query",
          "name" : "until_id",
          "description" : "Returns results with a Tweet ID less than (that is, older than) the specified ID.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        }, {
          "in" : "query",
          "name" : "next_token",
          "description" : "This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "query",
          "name" : "granularity",
          "description" : "The granularity for the search counts results.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Granularity"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Recent tweet counts response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TweetCountsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/tweets/counts/all" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Tweets" ],
        "summary" : "Full archive search counts",
        "description" : "Returns Tweet Counts that match a search query.",
        "operationId" : "tweetCountsFullArchiveSearch",
        "parameters" : [ {
          "in" : "query",
          "name" : "query",
          "description" : "One query/rule/filter for matching Tweets. Up to 2048 characters.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1,
            "maxLength" : 2048,
            "example" : "(from:TwitterDev OR from:TwitterAPI) has:media -is:retweet"
          }
        }, {
          "in" : "query",
          "name" : "start_time",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent 7 days) from which the Tweets will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "end_time",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Tweets will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "since_id",
          "description" : "Returns results with a Tweet ID greater than (that is, more recent than) the specified ID.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        }, {
          "in" : "query",
          "name" : "until_id",
          "description" : "Returns results with a Tweet ID less than (that is, older than) the specified ID.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TweetID"
          }
        }, {
          "in" : "query",
          "name" : "next_token",
          "description" : "This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "query",
          "name" : "granularity",
          "description" : "The granularity for the search counts results.",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Granularity"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tweet counts response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TweetCountsResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/compliance/jobs" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Compliance" ],
        "summary" : "List compliance jobs",
        "description" : "Returns recent compliance jobs for a given job type and optional job status",
        "operationId" : "listBatchComplianceJobs",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Type of compliance job to list.",
          "required" : true,
          "style" : "form",
          "schema" : {
            "$ref" : "#/components/schemas/ComplianceJobType"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status of compliance job to list.",
          "required" : false,
          "style" : "form",
          "schema" : {
            "$ref" : "#/components/schemas/ComplianceJobStatus"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List compliance jobs response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiComplianceJobResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "post" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Compliance" ],
        "summary" : "Create compliance job",
        "description" : "Creates a compliance for the given job type",
        "operationId" : "createBatchComplianceJob",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "description" : "A request to create a new batch compliance job.",
                "required" : [ "type" ],
                "properties" : {
                  "type" : {
                    "$ref" : "#/components/schemas/ComplianceJobType"
                  },
                  "resumable" : {
                    "description" : "If true, this endpoint will return a pre-signed URL with resumable uploads enabled",
                    "type" : "boolean"
                  },
                  "name" : {
                    "$ref" : "#/components/schemas/ComplianceJobName"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleComplianceJobResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/compliance/jobs/{id}" : {
      "get" : {
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "tags" : [ "Compliance" ],
        "summary" : "Get compliance job",
        "description" : "Returns a single compliance job by ID",
        "operationId" : "getBatchComplianceJob",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the compliance job to retrieve.",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/JobId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleComplianceJobResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/lists" : {
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Create List",
        "description" : "Creates a new List.",
        "operationId" : "listIdCreate",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.write", "list.read" ]
        } ],
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListCreateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCreateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/lists/{id}" : {
      "delete" : {
        "tags" : [ "Lists" ],
        "summary" : "Delete List",
        "description" : "Delete a List that you own.",
        "operationId" : "listIdDelete",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List to delete",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/ListID"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Update List",
        "description" : "Update a List that you own.",
        "operationId" : "listIdUpdate",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List to modify",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/ListID"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListUpdateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      },
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "List lookup by List ID",
        "description" : "Returns a List",
        "operationId" : "listIdGet",
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List to get",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/ListID"
          }
        }, {
          "$ref" : "#/components/parameters/ListFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/ListExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SingleListLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/lists/{id}/followers" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Returns user objects that follow a List by the provided List ID",
        "description" : "Returns a list of users that follow a List by the provided List ID",
        "operationId" : "listGetFollowers",
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.read" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List for which to return followers",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/ListID"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "maximum" : 100,
            "default" : 100
          }
        }, {
          "$ref" : "#/components/parameters/SignedLongPaginationTokenRequestParameter"
        }, {
          "$ref" : "#/components/parameters/UserExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListLookupMultipleUsersLookupResponse"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/2/lists/{id}/members" : {
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Add a List member",
        "description" : "Causes a user to become a member of a List.",
        "operationId" : "listAddMember",
        "security" : [ {
          "UserToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "users.read", "tweet.read", "list.write" ]
        } ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
[...]
