openapi: 3.0.1
info:
  title: Zoom API
  description: |-
    The Zoom API allows developers to access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, read our [Authorization Guide](https://marketplace.zoom.us/docs/guides/authorization/credentials).
    All endpoints are available via `https` and are located at `api.zoom.us/v2/`.

    For instance you can list all users on an account via `https://api.zoom.us/v2/users/`.
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: 2.0.0
servers:
- url: https://api.zoom.us/v2
security:
- OAuth: []
tags:
- name: Accounts
  description: Account operations.
- name: Archiving
  description: Archiving operations.
- name: Billing
  description: Billing operations.
- name: Chat Channels
  description: Chat channel operations.
- name: Chat Channels (Account-level)
  description: Account-level chat channel operations.
- name: Chat Messages
  description: Chat message operations.
- name: Contacts
  description: Contacts operations.
- name: Cloud Recording
  description: Cloud Recording operations.
- name: Dashboards
  description: Dashboard operations.
- name: Devices
  description: H.323/SIP device operations.
- name: Groups
  description: Group operations.
- name: IM Chat
  description: IM chat operations.
- name: IM Groups
  description: IM group operations.
- name: Meetings
  description: Meeting operations.
- name: PAC
  description: Personal Audio Conference (PAC) operations.
- name: Reports
  description: Report operations.
- name: Roles
  description: User roles operations.
- name: SIP Connected Audio
  description: Session Initiation Protocol (SIP) Connected Audio operations.
- name: SIP Phone
  description: Zoom Phone System Integration (PSI) phone operations.
- name: Tracking Field
  description: Tracking field operations.
- name: TSP
  description: Telephony Service Provider (TSP) operations.
- name: Users
  description: User operations.
- name: Webinars
  description: Webinar operations.
- name: Zoom Rooms
  description: Zoom Rooms operations.
- name: Zoom Rooms Account
  description: Zoom Rooms account operations.
- name: Zoom Rooms Location
  description: Zoom Rooms location operations.
- name: Zoom Rooms Devices
  description: Zoom Room device operations.
- name: Deprecated API Endpoints
  description: Deprecated API endpoints.
paths:
  /accounts:
    get:
      tags:
      - Accounts
      summary: List sub accounts
      description: |+
        List all the sub accounts that have been created by a master account.<br><br>Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts. Email the partner programs team at **partner-success@zoom.us** for more details.

        <br>**Prerequisites:**<br>
        * Pro or a higher paid account with master account option enabled. <br>

        **Scope**: `account:read:admin`
        <br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`<br>

      operationId: accounts
      parameters:
      - name: page_size
        in: query
        description: The number of records returned within a single API call.
        schema:
          maximum: 300
          type: integer
          default: 30
      - name: page_number
        in: query
        description: '**Deprecated.** We will no longer support this field in a future
          release. Instead, use the `next_page_token` for pagination.'
        schema:
          type: integer
          default: 1
      - name: next_page_token
        in: query
        description: The next page token is used to paginate through large result
          sets. A next page token will be returned whenever the set of available results
          exceeds the current page size. The expiration period for this token is 15
          minutes.
        schema:
          type: string
      - name: sub_reseller_id
        in: query
        description: "The sub-reseller's ID. \n\n If you use this query parameter,\
          \ the API returns all the sub accounts created by the sub-reseller account."
        schema:
          type: string
      responses:
        200:
          description: Account list returned.
          content:
            application/json:
              schema:
                title: Account List
                type: object
                properties:
                  accounts:
                    type: array
                    description: List of Account objects.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Account ID.
                        account_name:
                          type: string
                          description: Account name.
                        owner_email:
                          type: string
                          description: Account owner email.
                          example: john.doe@zoom.us
                        account_type:
                          type: string
                          description: Account type.
                        seats:
                          type: integer
                          description: Account seats.
                        subscription_start_time:
                          type: string
                          description: Account subscription start date and time.
                          format: date-time
                        subscription_end_time:
                          type: string
                          description: Account subscription end date and time.
                          format: date-time
                        created_at:
                          type: string
                          description: Account creation date and time.
                          format: date-time
                        account_number:
                          type: string
                          description: Account Number of the account.
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                  page_count:
                    type: integer
                    description: The number of pages returned for the request made.
                  page_number:
                    type: integer
                    description: '**Deprecated.** We will no longer support this field
                      in a future release. Instead, use the `next_page_token` for
                      pagination.'
                  page_size:
                    maximum: 3E+2
                    type: integer
                    description: The number of records returned with a single API
                      call.
                  total_records:
                    type: integer
                    description: The total number of all the records available across
                      pages.
                description: List of Accounts.
              example:
                page_count: integer
                page_number: integer
                page_size: integer
                total_records: integer
                accounts:
                - id: string [uuid]
                  account_name: string
                  owner_email: string
                  account_type: string
                  seats: integer
                  subscription_start_time: string [date-time]
                  subscription_end_time: string [date-time]
                  created_at: string [date-time]
            application/xml:
              schema:
                title: Account List
                type: object
                properties:
                  accounts:
                    type: array
                    description: List of Account objects.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Account ID.
                        account_name:
                          type: string
                          description: Account name.
                        owner_email:
                          type: string
                          description: Account owner email.
                          example: john.doe@zoom.us
                        account_type:
                          type: string
                          description: Account type.
                        seats:
                          type: integer
                          description: Account seats.
                        subscription_start_time:
                          type: string
                          description: Account subscription start date and time.
                          format: date-time
                        subscription_end_time:
                          type: string
                          description: Account subscription end date and time.
                          format: date-time
                        created_at:
                          type: string
                          description: Account creation date and time.
                          format: date-time
                        account_number:
                          type: string
                          description: Account Number of the account.
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                  page_count:
                    type: integer
                    description: The number of pages returned for the request made.
                  page_number:
                    type: integer
                    description: '**Deprecated.** We will no longer support this field
                      in a future release. Instead, use the `next_page_token` for
                      pagination.'
                  page_size:
                    maximum: 3E+2
                    type: integer
                    description: The number of records returned with a single API
                      call.
                  total_records:
                    type: integer
                    description: The total number of all the records available across
                      pages.
                description: List of Accounts.
    post:
      tags:
      - Accounts
      summary: Create a sub account
      description: "Create a sub account under a master account. Your account must\
        \ be a master account in order to create sub accounts. \n<br><br>Zoom allows\
        \ only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis)\
        \ to use master APIs and manage sub accounts. Email the partner programs team\
        \ at partner-success@zoom.us. for more details. Please note that the created\
        \ account user will receive a confirmation email.<br><br>\n<br>\n**Prerequisites:**<br>\n\
        * Pro or a higher paid account with master account option enabled. <br>\n\n\
        **Scope**: `account:write:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`<br>\n\n\n "
      operationId: accountCreate
      requestBody:
        description: Account.
        content:
          application/json:
            schema:
              required:
              - email
              - first_name
              - last_name
              - password
              type: object
              properties:
                first_name:
                  maxLength: 64
                  type: string
                  description: User's first name.
                last_name:
                  maxLength: 64
                  type: string
                  description: User's last name.
                email:
                  maxLength: 128
                  type: string
                  description: User's email address.
                password:
                  type: string
                  description: |-
                    User's password.

                    **Note:** If the account owner or admin has enabled [enhanced password requirements](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_fa9186e4-6818-4f7a-915c-2e25c19f0acd), the value provided in this field must meet those requirements. These requirements can be retrieved by calling the [Get Account Settings API](https://marketplace.zoom.us/docs/api-reference/zoom-api/accounts/accountsettings) and referring to the `password_requirement` field present in the `security` object.
                options:
                  type: object
                  properties:
                    share_rc:
                      type: boolean
                      description: Enable/disable the option for a sub account to
                        use shared [Virtual Room Connector(s)](https://support.zoom.us/hc/en-us/articles/202134758-Getting-Started-With-Virtual-Room-Connector)
                        that are set up by the master account. Virtual Room Connectors
                        can only be used by On-prem users.
                      default: false
                    room_connector_list:
                      type: array
                      description: |-
                        Specify the IP addresses of the Room Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Room Connectors of a master account will be shared with the sub account.


                        **Note:** This option can only be used if the value of `share_rc` is set to `true`.
                      items:
                        type: string
                    share_mc:
                      type: boolean
                      description: Enable/disable the option for a sub account to
                        use shared [Meeting Connector(s)](https://support.zoom.us/hc/en-us/articles/201363093-Getting-Started-with-the-Meeting-Connector)
                        that are set up by the master account. Meeting Connectors
                        can only be used by On-prem users.
                      default: false
                    meeting_connector_list:
                      type: array
                      description: |-
                        Specify the IP addresses of the Meeting Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Meeting Connectors of a master account will be shared with the sub account.


                        **Note:** This option can only be used if the value of `share_mc` is set to `true`.
                      items:
                        type: string
                    pay_mode:
                      type: string
                      description: Payee:<br>`master` - master account holder pays.<br>`sub`
                        - Sub account holder pays.
                      default: master
                      enum:
                      - master
                      - sub
                      x-enum-descriptions:
                      - master account holder pays
                      - Sub account holder pays
                    billing_auto_renew:
                      type: boolean
                      description: Toggle whether automatic billing renewal is on
                        or off.
                  description: Account options object.
                account_name:
                  maxLength: 64
                  type: string
                  description: 'Name of the account. If you do not provide a value
                    for this field, by default, the value will be set as a concatenation
                    of "first_name" and "last_name". '
                sub_reseller_id:
                  type: string
                  description: |-
                    The sub-reseller's ID.

                    If you do not provide this field in the payload, a new subaccount will be created for the requested account.
              description: The account object represents an account on Zoom. The account
                owner is the user who created the account or had an account created
                for them. You can read more about the Zoom account structure <a href='https://medium.com/zoom-developer-blog/a-brief-look-at-zoom-account-structures-1d19c745bf8a'
                target='_blank'>here</a>.
          multipart/form-data:
            schema:
              required:
              - email
              - first_name
              - last_name
              - password
              type: object
              properties:
                first_name:
                  maxLength: 64
                  type: string
                  description: User's first name.
                last_name:
                  maxLength: 64
                  type: string
                  description: User's last name.
                email:
                  maxLength: 128
                  type: string
                  description: User's email address.
                password:
                  type: string
                  description: |-
                    User's password.

                    **Note:** If the account owner or admin has enabled [enhanced password requirements](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_fa9186e4-6818-4f7a-915c-2e25c19f0acd), the value provided in this field must meet those requirements. These requirements can be retrieved by calling the [Get Account Settings API](https://marketplace.zoom.us/docs/api-reference/zoom-api/accounts/accountsettings) and referring to the `password_requirement` field present in the `security` object.
                options:
                  type: object
                  properties:
                    share_rc:
                      type: boolean
                      description: Enable/disable the option for a sub account to
                        use shared [Virtual Room Connector(s)](https://support.zoom.us/hc/en-us/articles/202134758-Getting-Started-With-Virtual-Room-Connector)
                        that are set up by the master account. Virtual Room Connectors
                        can only be used by On-prem users.
                      default: false
                    room_connector_list:
                      type: array
                      description: |-
                        Specify the IP addresses of the Room Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Room Connectors of a master account will be shared with the sub account.


                        **Note:** This option can only be used if the value of `share_rc` is set to `true`.
                      items:
                        type: string
                    share_mc:
                      type: boolean
                      description: Enable/disable the option for a sub account to
                        use shared [Meeting Connector(s)](https://support.zoom.us/hc/en-us/articles/201363093-Getting-Started-with-the-Meeting-Connector)
                        that are set up by the master account. Meeting Connectors
                        can only be used by On-prem users.
                      default: false
                    meeting_connector_list:
                      type: array
                      description: |-
                        Specify the IP addresses of the Meeting Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Meeting Connectors of a master account will be shared with the sub account.


                        **Note:** This option can only be used if the value of `share_mc` is set to `true`.
                      items:
                        type: string
                    pay_mode:
                      type: string
                      description: Payee:<br>`master` - master account holder pays.<br>`sub`
                        - Sub account holder pays.
                      default: master
                      enum:
                      - master
                      - sub
                      x-enum-descriptions:
                      - master account holder pays
                      - Sub account holder pays
                    billing_auto_renew:
                      type: boolean
                      description: Toggle whether automatic billing renewal is on
                        or off.
                  description: Account options object.
                account_name:
                  maxLength: 64
                  type: string
                  description: 'Name of the account. If you do not provide a value
                    for this field, by default, the value will be set as a concatenation
                    of "first_name" and "last_name". '
                sub_reseller_id:
                  type: string
                  description: |-
                    The sub-reseller's ID.

                    If you do not provide this field in the payload, a new subaccount will be created for the requested account.
              description: The account object represents an account on Zoom. The account
                owner is the user who created the account or had an account created
                for them. You can read more about the Zoom account structure <a href='https://medium.com/zoom-developer-blog/a-brief-look-at-zoom-account-structures-1d19c745bf8a'
                target='_blank'>here</a>.
        required: true
      responses:
        201:
          description: Account created.
          headers:
            Content-Location:
              description: Location of the created account.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Account ID.
                  owner_id:
                    type: string
                    description: Account owner ID.
                  owner_email:
                    type: string
                    description: Account owner email.
                  created_at:
                    type: string
                    description: Account created date time.
              example:
                id: string
                owner_id: string
                owner_email: string
                created_at: string
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Account ID.
                  owner_id:
                    type: string
                    description: Account owner ID.
                  owner_email:
                    type: string
                    description: Account owner email.
                  created_at:
                    type: string
                    description: Account created date time.
        400:
          description: |+
            **HTTP Status Code:** `400`<br>
            **Error Code:**`300`<br> Your request could not be completed because the name contains an invalid word: {name}<br> Your request was not accepted because "{field}" contains special character(s).
            **Error Code:** `1107`<br>
            Email domain is blocked.<br>
            **Error Code:** `1111`<br>
            Password should not contain repeated characters such as 'aaaaaa'. <br>
            Password should not contain consecutive characters such as 'abc','123'.

          content: {}
        409:
          description: |-
            **HTTP Status Code:** `409`<br>
            **Error Code:** `1005`<br>
            Email $email has already been used.
          content: {}
      x-codegen-request-body-name: body
  /accounts/{accountId}:
    get:
      tags:
      - Accounts
      summary: Get sub account details
      description: "Use this API to get information about Master account's sub account.\
        \ \n\n Your account must be a Master account in order to return sub account\
        \ information. Zoom allows only approved partners to use [Master account APIs](https://marketplace.zoom.us/docs/api-reference/master-account-apis)\
        \ and create sub accounts. For information about partner programs, email the\
        \ partners team at [partner-success@zoom.us](mailto:partner-success@zoom.us).\
        \ \n\n**Scopes:** `account:read:admin` <br> **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light` \n\n**Prerequisites:** \n* A Pro or a higher paid account with the\
        \ Master account option enabled."
      operationId: account
      parameters:
      - name: accountId
        in: path
        description: The account's ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: |-
            **HTTP Status Code**: `200`<br>
            Account object returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Account ID.
                  owner_id:
                    type: string
                    description: Account owner ID.
                  owner_email:
                    type: string
                    description: Account owner email.
                  created_at:
                    type: string
                    description: Account creation date and time.
                    format: date-time
                  options:
                    type: object
                    properties:
                      share_rc:
                        type: boolean
                        description: Enable/disable the option for a sub account to
                          use shared [Virtual Room Connector(s)](https://support.zoom.us/hc/en-us/articles/202134758-Getting-Started-With-Virtual-Room-Connector)
                          that are set up by the master account. Virtual Room Connectors
                          can only be used by On-prem users.
                        default: false
                      room_connector_list:
                        type: array
                        description: |-
                          Specify the IP addresses of the Room Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Room Connectors of a master account will be shared with the sub account.


                          **Note:** This option can only be used if the value of `share_rc` is set to `true`.
                        items:
                          type: string
                      share_mc:
                        type: boolean
                        description: Enable/disable the option for a sub account to
                          use shared [Meeting Connector(s)](https://support.zoom.us/hc/en-us/articles/201363093-Getting-Started-with-the-Meeting-Connector)
                          that are set up by the master account. Meeting Connectors
                          can only be used by On-prem users.
                        default: false
                      meeting_connector_list:
                        type: array
                        description: |-
                          Specify the IP addresses of the Meeting Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Meeting Connectors of a master account will be shared with the sub account.


                          **Note:** This option can only be used if the value of `share_mc` is set to `true`.
                        items:
                          type: string
                      pay_mode:
                        type: string
                        description: Payee:<br>`master` - master account holder pays.<br>`sub`
                          - Sub account holder pays.
                        default: master
                        enum:
                        - master
                        - sub
                        x-enum-descriptions:
                        - master account holder pays
                        - Sub account holder pays
                      billing_auto_renew:
                        type: boolean
                        description: Toggle whether automatic billing renewal is on
                          or off.
                    description: Account options object.
                  vanity_url:
                    type: string
                    description: Account Vanity URL
                  account_name:
                    type: string
                    description: The account's name.
                  account_type:
                    type: string
                    description: The account type.
                  seats:
                    type: integer
                    description: The account's maximum number of paid seats.
                  subscription_start_time:
                    type: string
                    description: The account's subscription start date and time.
                    format: date-time
              example:
                id: string
                owner_id: string
                owner_email: string
                created_at: string [date-time]
                options:
                  share_rc: boolean
                  room_connectors: string
                  share_mc: boolean
                  meeting_connectors: string
                  pay_mode: string
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Account ID.
                  owner_id:
                    type: string
                    description: Account owner ID.
                  owner_email:
                    type: string
                    description: Account owner email.
                  created_at:
                    type: string
                    description: Account creation date and time.
                    format: date-time
                  options:
                    type: object
                    properties:
                      share_rc:
                        type: boolean
                        description: Enable/disable the option for a sub account to
                          use shared [Virtual Room Connector(s)](https://support.zoom.us/hc/en-us/articles/202134758-Getting-Started-With-Virtual-Room-Connector)
                          that are set up by the master account. Virtual Room Connectors
                          can only be used by On-prem users.
                        default: false
                      room_connector_list:
                        type: array
                        description: |-
                          Specify the IP addresses of the Room Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Room Connectors of a master account will be shared with the sub account.


                          **Note:** This option can only be used if the value of `share_rc` is set to `true`.
                        items:
                          type: string
                      share_mc:
                        type: boolean
                        description: Enable/disable the option for a sub account to
                          use shared [Meeting Connector(s)](https://support.zoom.us/hc/en-us/articles/201363093-Getting-Started-with-the-Meeting-Connector)
                          that are set up by the master account. Meeting Connectors
                          can only be used by On-prem users.
                        default: false
                      meeting_connector_list:
                        type: array
                        description: |-
                          Specify the IP addresses of the Meeting Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Meeting Connectors of a master account will be shared with the sub account.


                          **Note:** This option can only be used if the value of `share_mc` is set to `true`.
                        items:
                          type: string
                      pay_mode:
                        type: string
                        description: Payee:<br>`master` - master account holder pays.<br>`sub`
                          - Sub account holder pays.
                        default: master
                        enum:
                        - master
                        - sub
                        x-enum-descriptions:
                        - master account holder pays
                        - Sub account holder pays
                      billing_auto_renew:
                        type: boolean
                        description: Toggle whether automatic billing renewal is on
                          or off.
                    description: Account options object.
                  vanity_url:
                    type: string
                    description: Account Vanity URL
                  account_name:
                    type: string
                    description: The account's name.
                  account_type:
                    type: string
                    description: The account type.
                  seats:
                    type: integer
                    description: The account's maximum number of paid seats.
                  subscription_start_time:
                    type: string
                    description: The account's subscription start date and time.
                    format: date-time
        404:
          description: |-
            **HTTP Status Code**: `404`<br>
            **Error Code:** `2001`<br> Account does not exist: $subAccountId.
          content: {}
    delete:
      tags:
      - Accounts
      summary: Disassociate a sub account
      description: "Disassociate a sub account from its master account. This will\
        \ leave the sub account intact but it will no longer be associated with the\
        \ master account.<br>  \n\n**Prerequisites:**\n* Pro or a higher paid account\
        \ with master account option enabled. <br>\n* The account making this API\
        \ request must be a [master account](https://marketplace.zoom.us/docs/api-reference/master-account-apis).<br><br>\n\
        \n\n**Scope**: `account:write:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`<br>\n\n\n "
      operationId: accountDisassociate
      parameters:
      - name: accountId
        in: path
        description: The account's ID.
        required: true
        schema:
          type: string
      responses:
        204:
          description: '**HTTP Status Code**: `204`<br>Account deleted.'
          content: {}
        404:
          description: "**HTTP Status Code**: `404` <br> \n**Error Code:** `2000`<br>\
            \ You cannot disassociate a paid account. <br>\n**Error Code:** `2001`<br>\
            \ Account does not exist: $subAccountId."
          content: {}
  /accounts/{accountId}/options:
    patch:
      tags:
      - Accounts
      summary: Update options
      description: "Update a sub account's options under the master account.<br> <aside>Your\
        \ account must be a master account in order to update the options for sub\
        \ accounts. Zoom only assigns this privilege to trusted partners. </aside>\n\
        \n**Prerequisites:**\n* Pro or a higher paid account with master account option\
        \ enabled.\n* The account making this API request must be a [master account](https://marketplace.zoom.us/docs/api-reference/master-account-apis).<br><br>\n\
        \n**Scope**: `account:write:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`<br>\n\n\n "
      operationId: accountOptionsUpdate
      parameters:
      - name: accountId
        in: path
        description: The account's ID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                share_rc:
                  type: boolean
                  description: Enable/disable the option for a sub account to use
                    shared [Virtual Room Connector(s)](https://support.zoom.us/hc/en-us/articles/202134758-Getting-Started-With-Virtual-Room-Connector)
                    that are set up by the master account. Virtual Room Connectors
                    can only be used by On-prem users.
                  default: false
                room_connector_list:
                  type: array
                  description: |-
                    Specify the IP addresses of the Room Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Room Connectors of a master account will be shared with the sub account.


                    **Note:** This option can only be used if the value of `share_rc` is set to `true`.
                  items:
                    type: string
                share_mc:
                  type: boolean
                  description: Enable/disable the option for a sub account to use
                    shared [Meeting Connector(s)](https://support.zoom.us/hc/en-us/articles/201363093-Getting-Started-with-the-Meeting-Connector)
                    that are set up by the master account. Meeting Connectors can
                    only be used by On-prem users.
                  default: false
                meeting_connector_list:
                  type: array
                  description: |-
                    Specify the IP addresses of the Meeting Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Meeting Connectors of a master account will be shared with the sub account.


                    **Note:** This option can only be used if the value of `share_mc` is set to `true`.
                  items:
                    type: string
                pay_mode:
                  type: string
                  description: Payee:<br>`master` - master account holder pays.<br>`sub`
                    - Sub account holder pays.
                  default: master
                  enum:
                  - master
                  - sub
                  x-enum-descriptions:
                  - master account holder pays
                  - Sub account holder pays
                billing_auto_renew:
                  type: boolean
                  description: Toggle whether automatic billing renewal is on or off.
              description: Account options object.
          multipart/form-data:
            schema:
              type: object
              properties:
                share_rc:
                  type: boolean
                  description: Enable/disable the option for a sub account to use
                    shared [Virtual Room Connector(s)](https://support.zoom.us/hc/en-us/articles/202134758-Getting-Started-With-Virtual-Room-Connector)
                    that are set up by the master account. Virtual Room Connectors
                    can only be used by On-prem users.
                  default: false
                room_connector_list:
                  type: array
                  description: |-
                    Specify the IP addresses of the Room Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Room Connectors of a master account will be shared with the sub account.


                    **Note:** This option can only be used if the value of `share_rc` is set to `true`.
                  items:
                    type: string
                share_mc:
                  type: boolean
                  description: Enable/disable the option for a sub account to use
                    shared [Meeting Connector(s)](https://support.zoom.us/hc/en-us/articles/201363093-Getting-Started-with-the-Meeting-Connector)
                    that are set up by the master account. Meeting Connectors can
                    only be used by On-prem users.
                  default: false
                meeting_connector_list:
                  type: array
                  description: |-
                    Specify the IP addresses of the Meeting Connectors that you would like to share with the sub account. Multiple values can be separated by comma. If no value is provided in this field, all the Meeting Connectors of a master account will be shared with the sub account.


                    **Note:** This option can only be used if the value of `share_mc` is set to `true`.
                  items:
                    type: string
                pay_mode:
                  type: string
                  description: Payee:<br>`master` - master account holder pays.<br>`sub`
                    - Sub account holder pays.
                  default: master
                  enum:
                  - master
                  - sub
                  x-enum-descriptions:
                  - master account holder pays
                  - Sub account holder pays
                billing_auto_renew:
                  type: boolean
                  description: Toggle whether automatic billing renewal is on or off.
              description: Account options object.
        required: true
      responses:
        200:
          description: |-
            **Error Code:** `200`<br>
            The pay mode cannot be updated for a sub account which already has an existing plan.
          content: {}
        204:
          description: |-
            **HTTP Status Code:** `204`<br>
            Account options updated.
          content:
            application/json:
              example:
                share_rc: boolean
                room_connectors: string
                share_mc: boolean
                meeting_connectors: string
                pay_mode: string
        400:
          description: |-
            **HTTP Status Code:** `400`<br>
            **Error Code:** `2100`<br> The collection method cannot be changed after the purchase is complete.
          content: {}
        404:
          description: |-
            **HTTP Status Code:** `404`<br>
            **Error Code:** `2001`<br>
            Account does not exist: $subAccountId.
          content: {}
      security:
      - OAuth: []
      x-codegen-request-body-name: body
  /accounts/{accountId}/settings:
    get:
      tags:
      - Accounts
      summary: Get settings
      description: "Use this API to get an account's settings information.\n\nTo get\
        \ the settings of a master account, use `me` as the value for the `accountId`\
        \ path parameter.\n\n**Scopes:** `account:read:admin`<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`\n\n**Prerequisites**: \n* The account must be a paid account"
      operationId: accountSettings
      parameters:
      - name: accountId
        in: path
        description: The account's ID.
        required: true
        schema:
          type: string
      - name: option
        in: query
        description: "Optional query parameters: \n* `meeting_authentication` — Use\
          \ this query parameter to view the [meeting authentication settings](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars)\
          \ applied to the user's account. \n* `recording_authentication` — Use this\
          \ query parameter to view the [recording authentication settings](https://support.zoom.us/hc/en-us/articles/360037756671-Authentication-Profiles-for-Cloud-Recordings)\
          \ applied to the user's account. \n* `security` — Use this query parameter\
          \ to view the account's security settings. For example, password requirements\
          \ for user login or two-factor authentication. \n* `meeting_security` —\
          \ Use this query parameter to view the meeting security settings applied\
          \ to the user's account."
        allowEmptyValue: true
        schema:
          type: string
          enum:
          - meeting_authentication
          - recording_authentication
          - meeting_security
          - security
      - name: custom_query_fields
        in: query
        description: "The name of the field by which to filter the response. For example,\
          \ if you provide the `host_video` value for this field, you will get a response\
          \ similar to the following:\n\n`{ \"schedule_meeting\": { \"host_video\"\
          : false    } }` \n\nTo use multiple values, comma-separate each value. For\
          \ example: `host_video,participant_video`"
        schema:
          type: string
      responses:
        200:
          description: |-
            **HTTP Status Code:** `200`<br> Account settings returned.<br>**Error Code:** `200`<br>
            Only available for Paid account.
          content:
            application/json:
              schema:
                type: object
              example:
                schedule_meeting:
                  host_video: boolean
                  participant_video: boolean
                  audio_type: string
                  join_before_host: boolean
                  use_pmi_for_scheduled_meetings: boolean
                  use_pmi_for_instant_meetings: boolean
                  enforce_login: boolean
                  enforce_login_with_domains: boolean
                  enforce_login_domains: string
                  not_store_meeting_topic: boolean
                  force_pmi_jbh_password: boolean
                  require_password_for_scheduling_new_meetings: boolean
                  require_password_for_scheduled_meetings: boolean
                  require_password_for_instant_meetings: boolean
                  require_password_for_pmi_meetings: string
                in_meeting:
                  e2e_encryption: boolean
                  chat: boolean
                  allow_participants_chat_with: 2
                  allow_users_save_chats: 2
                  private_chat: boolean
                  auto_saving_chat: boolean
                  entry_exit_chime: string
                  record_play_own_voice: boolean
                  feedback: boolean
                  post_meeting_feedback: boolean
                  co_host: boolean
                  polling: boolean
                  attendee_on_hold: boolean
                  show_meeting_control_toolbar: boolean
                  allow_show_zoom_windows: boolean
                  annotation: boolean
                  whiteboard: boolean
                  webinar_question_answer: boolean
                  anonymous_question_answer: boolean
                  breakout_room: boolean
                  breakout_room_schedule: true
                  closed_caption: boolean
                  far_end_camera_control: boolean
                  group_hd: boolean
                  virtual_background: boolean
                  watermark: boolean
                  watermark_by_default: boolean
                  audio_watermark_by_default: boolean
                  alert_guest_join: boolean
                  auto_answer: boolean
                  p2p_connetion: boolean
                  p2p_ports: boolean
                  ports_range: string
                  sending_default_email_invites: boolean
                  use_html_format_email: boolean
                  dscp_marking: boolean
                  dscp_audio: integer
                  dscp_video: integer
                  stereo_audio: boolean
                  original_audio: boolean
                  screen_sharing: boolean
                  remote_control: boolean
                  attention_mode_focus_mode: true
                  allow_host_to_enable_focus_mode: false
                  show_a_join_from_your_browser_link: true
                  join_from_mobile: true
                  join_from_desktop: true
                  allow_live_streaming: true
                  live_streaming_facebook: true
                  workplace_by_facebook: true
                  live_streaming_youtube: true
                  custom_live_streaming_service: true
                  custom_service_instructions: specific instructions
                  webinar_live_streaming:
                    enable: true
                    live_streaming_service:
                    - facebook
                    - workplace_by_facebook
                    - youtube
                    - custom_live_streaming_service
                    custom_service_instructions: specific instructions
                    live_streaming_reminder: true
                  webinar_chat:
                    enable: true
                    allow_panelists_chat_with: 1
                    allow_attendees_chat_with: 1
                    default_attendees_chat_with: 1
                    allow_panelists_send_direct_message: true
                    allow_users_save_chats: 1
                    allow_auto_save_local_chat_file: true
                  closed_captioning:
                    enable: true
                    third_party_captioning_service: false
                    auto_transcribing: true
                    view_full_transcript: true
                    save_caption: true
                  slide_control: true
                  meeting_survey: true
                  webinar_polling:
                    enable: true
                    advanced_polls: true
                  webinar_survey: true
                email_notification:
                  cloud_recording_available_reminder: boolean
                  recording_available_reminder_schedulers: true
                  recording_available_reminder_alternative_hosts: true
                  jbh_reminder: boolean
                  cancel_meeting_reminder: boolean
                  low_host_count_reminder: boolean
                  alternative_host_reminder: boolean
                  schedule_for_reminder: boolean
                zoom_rooms:
                  upcoming_meeting_alert: boolean
                  start_airplay_manually: boolean
                  weekly_system_restart: boolean
                  list_meetings_with_calendar: boolean
                  zr_post_meeting_feedback: boolean
                  ultrasonic: boolean
                  force_private_meeting: boolean
                  hide_host_information: boolean
                  cmr_for_instant_meeting: boolean
                  auto_start_stop_scheduled_meetings: boolean
                security:
                  admin_change_name_pic: boolean
                  import_photos_from_devices: boolean
                  hide_billing_info: boolean
                recording:
                  local_recording: boolean
                  cloud_recording: boolean
                  record_speaker_view: boolean
                  record_gallery_view: boolean
                  record_audio_file: boolean
                  save_chat_text: boolean
                  show_timestamp: boolean
                  recording_audio_transcript: boolean
                  auto_recording: string
                  cloud_recording_download: boolean
                  cloud_recording_download_host: boolean
                  account_user_access_recording: boolean
                  auto_delete_cmr: boolean
                  auto_delete_cmr_days: integer
                telephony:
                  third_party_audio: boolean
                  audio_conference_info: string
                tsp:
                  call_out: boolean
                  call_out_countries:
                  - string
                  show_international_numbers_link: boolean
                  display_toll_free_numbers: boolean
                integration:
                  google_calendar: boolean
                  google_drive: boolean
                  dropbox: boolean
                  box: boolean
                  microsoft_one_drive: boolean
                  kubi: boolean
                feature:
                  meeting_capacity: integer
                other_options:
                  allow_auto_active_users: true
                  blur_snapshot: true
                  display_meetings_scheduled_for_others: false
                  use_cdn: default
                  allow_users_contact_support_via_chat: true
                  meeting_qos_and_mos: 0
                  show_one_user_meeting_on_dashboard: true
                  allow_users_enter_and_share_pronouns: true
                audio_conferencing:
                  toll_free_and_fee_based_toll_call:
                    enable: true
                    numbers:
                    - code: "1"
                      country_code: US
                      country_name: United States
                      number: +1 5550100
                      display_number: +1 5550100(Atlanta)
                    - code: "1"
                      country_code: US
                      country_name: United States
                      number: +1 5550101
                      display_number: +1 5550101(SanJose)
                    allow_webinar_attendees_dial: true
            application/xml:
              schema:
                type: object
        404:
          description: |-
            **HTTP Status Code:** `404`<br>
            **Error Code:** `2001`<br>
            Account does not exist: $subAccountId.
          content: {}
    patch:
      tags:
      - Accounts
      summary: Update settings
      description: |-
        Update the settings of a sub account that is under a master account.<br> To update the settings of the master account, use `me` as the value of the `accountId` path parameter.<br><br>
        **Prerequisites**:
         * The sub account must be a paid account.<br>
        **Scopes**: `account:write:admin`
        <br>
        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: accountSettingsUpdate
      parameters:
      - name: accountId
        in: path
        description: The account's ID.
        required: true
        schema:
          type: string
      - name: option
        in: query
        description: "Optional query parameters: \n* `meeting_authentication` — [Meeting\
          \ authentication settings](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars).\
          \ \n* `recording_authentication` — [Recording authentication settings](https://support.zoom.us/hc/en-us/articles/360037756671-Authentication-Profiles-for-Cloud-Recordings).\
          \ \n* `security` — Account security settings. \n* `meeting_security` — Meeting\
          \ security settings."
        allowEmptyValue: true
        schema:
          type: string
          enum:
          - meeting_authentication
          - recording_authentication
          - security
          - meeting_security
      requestBody:
        content:
          application/json:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: true
      responses:
        200:
          description: '**Error Code:** `200`<br> Only available for Paid account.'
          content: {}
        204:
          description: '**HTTP Status Code:** `204` <br>Account settings updated.'
          content: {}
        300:
          description: '**Error Code:** `300` <br>The domains provided are invalid.
            If you are providing multiple domains, separate each domain with a comma.'
          content: {}
        404:
          description: |-
            **HTTP Status Code:** `404`<br>
            **Error Code:** `2001`<br>Account does not exist: $subAccountId.
          content: {}
      x-codegen-request-body-name: body
  /accounts/{accountId}/managed_domains:
    get:
      tags:
      - Accounts
      summary: Get managed domains
      description: |+
        Get a sub account's [managed domains](https://support.zoom.us/hc/en-us/articles/203395207-What-is-Managed-Domain-).<br><br>

        **Note:** This API can be used by Zoom Accounts that are on a Pro or a higher plan as well accounts that have master and sub accounts options enabled. <br><br>
        To get managed domains of the master account, provide `me` as the value for accountId in the path parameter. Provide the sub account's Account ID as the value of accountId path parameter to get managed domains of the sub account.<br><br>
        **Prerequisites:**<br>
        * Pro or a higher paid account with master account option enabled. <br>

        **Scope:** `account:read:admin`<br>
        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>



      operationId: accountManagedDomain
      parameters:
      - name: accountId
        in: path
        description: Unique Identifier of the account. To retrieve locked settings
          of the master account or a regular account, provide "me" as the value of
          this field. <br> To retrieve locked settings of a sub account, provide the
          Account ID of the sub account in this field.
        required: true
        schema:
          type: string
      responses:
        200:
          description: |+
            **HTTP Status Code:** `200`<br>
            Account managed domains returned.
            **Error Code:** `200`<br>
            Only available for paid account.

          content:
            application/json:
              schema:
                type: object
                properties:
                  total_records:
                    type: integer
                    description: Total records.
                  domains:
                    type: array
                    description: List of managed domain objects.
                    items:
                      type: object
                      allOf:
                      - type: object
                        properties:
                          domain:
                            type: string
                            description: Domain name.
                          status:
                            type: string
                            description: Domain status.
                description: List of managed domains.
            application/xml:
              schema:
                type: object
                properties:
                  total_records:
                    type: integer
                    description: Total records.
                  domains:
                    type: array
                    description: List of managed domain objects.
                    items:
                      type: object
                      allOf:
                      - type: object
                        properties:
                          domain:
                            type: string
                            description: Domain name.
                          status:
                            type: string
                            description: Domain status.
                description: List of managed domains.
        404:
          description: |
            **HTTP Status Code:** `404`<br>
            **Error Code**: `2001`<br>
            Account does not exist: $subAccountId.
          content: {}
      security:
      - OAuth: []
  /accounts/{accountId}/trusted_domains:
    get:
      tags:
      - Accounts
      summary: Get trusted domains
      description: |-
        Get trusted domains of a sub account. To get the trusted domains of a master account, use `me` as the value for the `accountId` path parameter.

        **Prerequisites:**<br>
        * The sub account must be a paid account.<br>
        **Scope:** `account:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      operationId: accountTrustedDomain
      parameters:
      - name: accountId
        in: path
        description: The account's ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: |-
            **HTTP Status Code:** `200`<br>
            Account trusted domains returned<br>
            **Error Code:** `2001`<br> Account does not exist: $subAccountId.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        404:
          description: |-
            **HTTP Status Code:** `404`<br>
            **Error Code:** `2001`<br> Account does not exist: $subAccountId.
          content: {}
  /accounts/{accountId}/lock_settings:
    get:
      tags:
      - Accounts
      summary: Get locked settings
      description: "[Account Locked Settings](https://support.zoom.us/hc/en-us/articles/115005269866)\
        \ allow you turn settings on or off for all users in your account. No user\
        \ except the account admin or account owner can change these settings. With\
        \ lock settings, you force the settings on for all users.\nUse this API to\
        \ retrieve an account's locked settings. \n\n**Note:** This API can be used\
        \ by Zoom Accounts that are on a Pro or a higher plan as well accounts that\
        \ have master and sub accounts options enabled. <br><br>\n**Prerequisites:**\n\
        * Pro or a higher paid account. <br>\n\n**Scope**: `account:read:admin`.\n\
        <br> **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`<br>\n\n\n\n\n\n**Scope:** account:read:admin"
      operationId: getAccountLockSettings
      parameters:
      - name: accountId
        in: path
        description: Unique Identifier of the account. To retrieve locked settings
          of the master account or a regular account, provide "me" as the value of
          this field. <br> To retrieve locked settings of a sub account, provide the
          Account ID of the sub account in this field.
        required: true
        schema:
          type: string
      - name: option
        in: query
        description: "Optional query parameters: \n* `meeting_security` — Use this\
          \ query parameter to view the meeting security settings applied to the user's\
          \ account."
        schema:
          type: string
      - name: custom_query_fields
        in: query
        description: |-
          Provide the name of the field by which you would like to filter the response. For example, if you provide "host_video" as the value of this field, you will get a response similar to the following:<br>
          {
              "schedule_meeting": {
                  "host_video": false
              }
          }
          <br>You can provide multiple values by separating them with commas(example: "host_video,participant_video”).
        schema:
          type: string
      responses:
        200:
          description: |+
            **Error Code:** `200`<br>
            Only available for paid account:$accountId.

            **HTTP Status Code:** `200`<br>
            Locked settings for the Account returned.

          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        400:
          description: |-
            **HTTP Status Code:** `400`<br>
            **Error Code:** `2001`<br>
            Account does not exist: $subAccountId.
          content: {}
    patch:
      tags:
      - Accounts
      summary: Update locked settings
      description: "[Account Locked Settings](https://support.zoom.us/hc/en-us/articles/115005269866)\
        \ allow you turn settings on or off for all users in your account. No user\
        \ except the account admin or account owner can change these settings. With\
        \ lock settings, you force the settings on for all users. Use this API to\
        \ update an account's locked settings.\n\n**Note:** This API can be used by\
        \ Zoom Accounts that are on a Pro or a higher plan as well accounts that have\
        \ master and sub accounts options enabled.<br><br>\n**Prerequisites:**<br>\n\
        * Pro or a higher paid account. <br>\n\n**Scope:** `account:write:admin`<br>\n\
        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`<br>\n\n\n "
      operationId: updateAccountLockSettings
      parameters:
      - name: accountId
        in: path
        description: Unique Identifier of the account. To retrieve locked settings
          of the master account or a regular account, provide "me" as the value of
          this field. <br> To retrieve locked settings of a sub account, provide the
          Account ID of the sub account in this field.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
          multipart/form-data:
            schema:
              type: object
        required: false
      responses:
        200:
          description: |
            **Error Code:** `200`<br>
            Only available for Paid account: $accountId.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        204:
          description: |-
            **HTTP Status Code:** `204`<br>
            Account lock settings updated.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        404:
          description: |
            **HTTP Status Code:** `404`<br>
            **Error Code:** `2001`<br>
            TAccount does not exist: $subAccountId.
          content: {}
      security:
      - OAuth: []
      x-codegen-request-body-name: body
  /accounts/{accountId}/owner:
    put:
      tags:
      - Accounts
      summary: Update the account owner
      description: "Use this API to change an account's owner.\n\nAn account's current\
        \ owner can [change the account's owner](https://support.zoom.us/hc/en-us/articles/115005686983-Change-Account-Owner)\
        \ to another user on the same account.\n\n**Scopes:** `account:write:admin`\
        \ or `account:master`<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Heavy`\n\n**Prerequisites:** \n* An account owner or admin permissions\
        \ of an account \n* The account making this API request must be on a Pro or\
        \ a higher account plan with [Master account](https://marketplace.zoom.us/docs/api-reference/master-account-apis)\
        \ privileges"
      operationId: updateAccountOwner
      parameters:
      - name: accountId
        in: path
        description: The account's account ID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - email
              type: object
              properties:
                email:
                  type: string
                  description: The email address of the account's new owner.
                  format: email
          multipart/form-data:
            schema:
              required:
              - email
              type: object
              properties:
                email:
                  type: string
                  description: The email address of the account's new owner.
                  format: email
        required: false
      responses:
        204:
          description: |-
            **HTTP Status Code:** `204`<br>
            Account owner updated.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        400:
          description: |-
            **HTTP Status Code:** `400`<br>

            **Error Code:** `200`<br>
            User is not an admin or is an API user or doesn’t belong to this account: {accountId}.<br>
            Cannot make a user outside of your account an owner.<br>
            Cannot update the role of an account owner.
          content: {}
        404:
          description: |
            **HTTP Status Code:** `404`<br>
            **Error Code:** `2001`<br>
            Account does not exist: $subAccountId.<br>
            **Error Code:** `3201`<br>
            Cannot find a billing account for this: $accountId.<br>
            **Error Code:** `3211`<br>
            Cannot find a billing contact for this: $accountId.
          content: {}
      security:
      - OAuth: []
      x-codegen-request-body-name: body
  /accounts/{accountId}/settings/virtual_backgrounds:
    post:
      tags:
      - Accounts
      summary: Upload virtual background files
      description: "Use this API to [upload virtual background files](https://support.zoom.us/hc/en-us/articles/210707503-Virtual-Background#h_01EJF3YFEWGT8YA0ZJ079JEDQE)\
        \ for all users on the account to use. \n\n\n**Prerequisites:**<br>\n* Virtual\
        \ background feature must be [enabled](https://support.zoom.us/hc/en-us/articles/210707503-Virtual-Background#h_2ef28080-fce9-4ac2-b567-dc958afab1b7)\
        \ on the account.\n<br> **Scope:** `account:write:admin`<br><br>\n**[Rate\
        \ Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`<br>\n\n"
      operationId: uploadVB
      parameters:
      - name: accountId
        in: path
        description: Unique identifier of the account.
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  description: Provide the file's path here.
      responses:
        201:
          description: |
            **HTTP Status Code:** `201` **Created** <br>
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier of the file.
                  name:
                    type: string
                    description: File name.
                  type:
                    type: string
                    description: File type.
                  is_default:
                    type: boolean
                    description: Indicates whether or not this file is the default
                      virtual background file.
                  size:
                    type: string
                    description: File size.
              example:
                id: _Tcj7354w6eHw
                name: u=mdbhhfg3y7&fm=2fdjs0.jpg
                type: image
                is_default: false
                size: 53434
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier of the file.
                  name:
                    type: string
                    description: File name.
                  type:
                    type: string
                    description: File type.
                  is_default:
                    type: boolean
                    description: Indicates whether or not this file is the default
                      virtual background file.
                  size:
                    type: string
                    description: File size.
        400:
          description: |-
            **HTTP Status Code:** `400` **Bad Request** <br>
            **Error Code:** `120`<br>
            No file uploaded. Verify that a file has been uploaded.<br>
            File size cannot exceed 15M.<br>
            A maximum of 10 files are allowed for a user.<br>
            File uploads must be in "jpg/jpeg", "gif", or "png" file format.<br>
            Failed to upload file.
          content: {}
        404:
          description: |-
            **HTTP Status Code:** `404` **Not Found** <br>
            **Error Code:** `2001`<br>
            This account does not exist or does not belong to you: {accountId}.
          content: {}
    delete:
      tags:
      - Accounts
      summary: Delete virtual background files
      description: "Delete existing virtual background file(s) from an account. \n\
        \n**Prerequisites:**<br>\n* Virtual background feature must be [enabled](https://support.zoom.us/hc/en-us/articles/210707503-Virtual-Background#h_2ef28080-fce9-4ac2-b567-dc958afab1b7)\
        \ on the account.\n<br> **Scope:** `account:write:admin`<br> <br> \n**[Rate\
        \ Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`<br>\n\n"
      operationId: delVB
      parameters:
      - name: file_ids
        in: query
        description: Provide the id of the file that is to be deleted. To delete multiple
          files, provide comma separated values for this field.
        schema:
          type: string
      responses:
        204:
          description: |
            **HTTP Status Code:** `204` **No Content** <br>
            Deleted.
          content: {}
        400:
          description: |-
            **HTTP Status Code:** `400` **Bad request** <br>
            **Error Code:** `300`<br>
            Invalid parameter: file_ids.
          content: {}
        404:
          description: |-
            **HTTP Status Code:** `404` **Not Found** <br>
            **Error Code:** `2001`<br>
            This account does not exist or does not belong to you: {accountId}.
          content: {}
  /roles:
    get:
      tags:
      - Roles
      summary: List roles
      description: "List [roles](https://support.zoom.us/hc/en-us/articles/115001078646-Role-Based-Access-Control)\
        \ on your account\n\n**Scopes:** `role:read:admin`<br>\n \n **[Rate Limit\
        \ Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`<br>\n**Prerequisites** :\n*  Pro or higher plan. \n*  For setting\
        \ the initial role, you must be the Account Owner. \n*  For subsequent role\
        \ management, you must be the Account Owner or user with role management permissions."
      operationId: roles
      responses:
        200:
          description: |-
            **HTTP Status Code:** `200`<br>
            List of roles returned.
          content:
            application/json:
              schema:
                title: Role List
                type: object
                description: List of Roles
              example:
                total_records: 3
                roles:
                - id: "0"
                  name: Owner
                  description: Account owner has full privileges to access and manage
                    a Zoom account.
                  total_members: 1
                - id: "1"
                  name: Admin
                  description: Admins have wide range privileges to access and manage
                    a Zoom account.
                  total_members: 0
                - id: "2"
                  name: Member
                  description: Members have access to basic Zoom video meeting functions
                    but no account management privileges.
                  total_members: 1
            application/xml:
              schema:
                title: Role List
                type: object
                description: List of Roles
        400:
          description: |-
            **HTTP Status Code:** `400`<br>
            Bad request<br>**Error Code:** `4700`<br>Invalid access token, does not contain role:read:admin scope.
          content: {}
      security:
      - OAuth: []
    post:
      tags:
      - Roles
      summary: Create a role
      description: "Each Zoom user automatically has a role which can either be owner,\
        \ administrator, or a member. \n\n**Pre-requisite:**<br>\n* Pro or higher\
        \ plan.\n* For setting the initial role, you must be the Account Owner.<br>\n\
        * For subsequent role management, you must be the Account Owner or user with\
        \ role management permissions.<br>\n**Scopes:** `role:write:admin`<br>\n \n\
        \ **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`"
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the role.
                description:
                  type: string
                  description: Description of the role.
                privileges:
                  type: array
                  description: Privileges assigned to the role. Can be one or a combination
                    of [these permissions](https://marketplace.zoom.us/docs/api-reference/other-references/privileges).
                  items:
                    type: string
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the role.
                description:
                  type: string
                  description: Description of the role.
                privileges:
                  type: array
                  description: Privileges assigned to the role. Can be one or a combination
                    of [these permissions](https://marketplace.zoom.us/docs/api-reference/other-references/privileges).
                  items:
                    type: string
        required: false
      responses:
        200:
          description: |-
            **Status Code:** `200`<br>
            You do not have the permission to create a role.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        201:
          description: |-
            **Status Code:** `201`<br>
            Role created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Role Id
                  name:
                    type: string
                    description: Name of the role.
                  description:
                    type: string
                    description: Description of the role.
                  total_members:
                    type: integer
                    description: Total members assigned to the role.
                  privileges:
                    type: array
                    description: '[Privileges](https://marketplace.zoom.us/docs/api-reference/other-references/privileges)
                      provided to the role.'
                    items:
                      type: string
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Role Id
                  name:
                    type: string
                    description: Name of the role.
                  description:
                    type: string
                    description: Description of the role.
                  total_members:
                    type: integer
                    description: Total members assigned to the role.
                  privileges:
                    type: array
                    description: '[Privileges](https://marketplace.zoom.us/docs/api-reference/other-references/privileges)
                      provided to the role.'
                    items:
                      type: string
        300:
          description: |-
            **Error Code:** `300`<br>
            The name field cannot be empty.
          content: {}
      security:
      - OAuth: []
      x-codegen-request-body-name: body
  /roles/{roleId}/members:
    get:
      tags:
      - Roles
      summary: List members in a role
      description: "User [roles](https://support.zoom.us/hc/en-us/articles/115001078646-Role-Based-Access-Control)\
        \ can have a set of permissions that allows access only to the pages a user\
        \ needs to view or edit. Use this API to list all the members that are assigned\
        \ a specific role.\n\n**Scope:** `role:read:admin`<br>\n \n **[Rate Limit\
        \ Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`<br>**Prerequisites:**<br>\n* A Pro or a higher plan."
      operationId: roleMembers
      parameters:
      - name: roleId
        in: path
        description: The role ID
        required: true
        schema:
          type: string
      - name: page_count
        in: query
        description: The number of pages returned for this request.
        schema:
          type: string
      - name: page_number
        in: query
        description: '**Deprecated.** We will no longer support this field in a future
          release. Instead, use the `next_page_token` for pagination.'
        schema:
          type: integer
          default: 1
      - name: next_page_token
        in: query
        description: The next page token is used to paginate through large result
          sets. A next page token will be returned whenever the set of available results
          exceeds the current page size. The expiration period for this token is 15
          minutes.
        schema:
          type: string
      - name: page_size
        in: query
        description: The number of records returned within a single API call.
        schema:
          maximum: 300
          type: integer
          default: 30
      responses:
        200:
          description: |-
            **HTTP Status Code:** `200`<br>
            Success
          content:
            application/json:
              schema:
                title: Role Members List
                type: object
                properties:
                  page_count:
                    type: integer
                    description: The number of pages returned for the request made.
                  page_number:
                    type: integer
                    description: The page number of the current results.
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                  page_size:
                    maximum: 3E+2
                    type: integer
                    description: The number of records returned within a single API
                      call.
                  total_records:
                    type: integer
                    description: The total number of all the records available across
                      pages.
                  members:
                    type: array
                    description: List of a Role Members
                    items:
                      type: object
                      allOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: Member ID
                          email:
                            type: string
                            description: Member Email
                          first_name:
                            type: string
                            description: Member First Name
                          last_name:
                            type: string
                            description: Member Last Name
                          type:
                            type: integer
                            description: Member Type
                          department:
                            type: string
                            description: Member Department
                description: List of a Role Members
              example:
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 1
                members:
                - id: zadksadjBBBBBBB8uQ
                  email: example@example.com
                  first_name: Taylor
                  last_name: Gomez
                  type: 2
                  department: Chemistry
            application/xml:
              schema:
                title: Role Members List
                type: object
                properties:
                  page_count:
                    type: integer
                    description: The number of pages returned for the request made.
                  page_number:
                    type: integer
                    description: The page number of the current results.
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                  page_size:
                    maximum: 3E+2
                    type: integer
                    description: The number of records returned within a single API
                      call.
                  total_records:
                    type: integer
                    description: The total number of all the records available across
                      pages.
                  members:
                    type: array
                    description: List of a Role Members
                    items:
                      type: object
                      allOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: Member ID
                          email:
                            type: string
                            description: Member Email
                          first_name:
                            type: string
                            description: Member First Name
                          last_name:
                            type: string
                            description: Member Last Name
                          type:
                            type: integer
                            description: Member Type
                          department:
                            type: string
                            description: Member Department
                description: List of a Role Members
        404:
          description: '**HTTP Status Code:** `404`<br>Role not found'
          content: {}
      security:
      - OAuth: []
    post:
      tags:
      - Roles
      summary: Assign a role
      description: "User [roles](https://support.zoom.us/hc/en-us/articles/115001078646-Role-Based-Access-Control)\
        \ can have a set of permissions that allows access only to the pages a user\
        \ needs to view or edit. Use this API to [assign a role](https://support.zoom.us/hc/en-us/articles/115001078646-Role-Based-Access-Control#h_748b6fd8-5057-4cf4-bbfd-787909c09db0)\
        \ to members.\n\n**Scopes:** `role:write:admin`<br>\n \n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`<br>\n**Prerequisites:**<br>\n* A Pro or a higher plan."
      operationId: AddRoleMembers
      parameters:
      - name: roleId
        in: path
        description: The role ID
        required: true
        schema:
          type: string
      requestBody:
        description: Role members
        content:
          application/json:
            schema:
              type: object
              properties:
                members:
                  maxItems: 30
                  type: array
                  description: Array of userId/user email of users to whom you would
                    like to assign this role. Upto 30 users can be assigned a role
                    at once.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 'User ID of the user to whom you would like to
                          assign the role. '
                      email:
                        type: string
                        description: Email address of the user to whom you would like
                          to assign the role. Provide either the userId in the ID
                          field or the email address in the email field. If both fields
                          are provided, only userId is used.
                        format: email
          multipart/form-data:
            schema:
              type: object
              properties:
                members:
                  maxItems: 30
                  type: array
                  description: Array of userId/user email of users to whom you would
                    like to assign this role. Upto 30 users can be assigned a role
                    at once.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 'User ID of the user to whom you would like to
                          assign the role. '
                      email:
                        type: string
                        description: Email address of the user to whom you would like
                          to assign the role. Provide either the userId in the ID
                          field or the email address in the email field. If both fields
                          are provided, only userId is used.
                        format: email
        required: true
      responses:
        201:
          description: '**HTTP Status Code:** `201`<br>Members Added'
          headers:
            Content-Location:
              description: Location of created members
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  ids:
                    type: string
                    description: User ID
                  add_at:
                    type: string
                    description: Date and time at which the members are assigned to
                      the role.
                    format: date-time
            application/xml:
              schema:
                type: object
                properties:
                  ids:
                    type: string
                    description: User ID
                  add_at:
                    type: string
                    description: Date and time at which the members are assigned to
                      the role.
                    format: date-time
        400:
          description: |-
            **HTTP Status Code:** `400`<br>

            **Error Code:** `1034`
            Role does not exist.<br><br>
            **Error Code:** `300`<br>
            RoleId required.<br>
            Can’t delete or add members for Normal/Owner roles.<br><br>
          content: {}
      security:
      - OAuth: []
      x-codegen-request-body-name: body
  /roles/{roleId}/members/{memberId}:
    delete:
      tags:
      - Roles
      summary: Unassign a role
      description: "User [roles](https://support.zoom.us/hc/en-us/articles/115001078646-Role-Based-Access-Control)\
        \ can have a set of permissions that allows access only to the pages a user\
        \ needs to view or edit. Use this API to unassign a user's role.\n\n**Scope:**\
        \ `role:write:admin`<br>\n \n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`<br>\n**Prerequisites:**<br>\n* A Pro or a higher plan."
      operationId: roleMemberDelete
      parameters:
      - name: roleId
        in: path
        description: The role ID
        required: true
        schema:
          type: string
      - name: memberId
        in: path
        description: Member's ID
        required: true
        schema:
          type: string
      responses:
        204:
          description: |-
            **HTTP Status Code:** `204`<br>
            Role withdrawn from user.
          content: {}
        404:
          description: '**HTTP Status Code:** `404`<br>Role or Member not found'
          content: {}
      security:
      - OAuth: []
  /roles/{roleId}:
    get:
      tags:
      - Roles
      summary: Get role information
      description: "Each Zoom user automatically has a role which can either be owner,\
        \ administrator, or a member. Account Owners and users with edit privileges\
        \ for Role management can add customized roles with a list of privileges.\n\
        \nUse this API to get information including specific privileges assigned to\
        \ a [role](https://support.zoom.us/hc/en-us/articles/115001078646-Role-Based-Access-Control).<br>\n\
        **Pre-requisite:**<br>\n* A Pro or higher plan.<br>\n* For role management\
        \ and updates, you must be the Account Owner or user with role management\
        \ permissions.\n\n**Scopes:** `role:read:admin`<br>\n \n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`"
      operationId: getRoleInformation
      parameters:
      - name: roleId
        in: path
        description: 'Role Id. '
        required: true
        schema:
          type: string
      responses:
        200:
          description: |
            **Status Code:** `200`<br>
            Information about a specific role returned.

            **Error Code:** `200`<br>
            You do not have the permission to retrieve role information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Role Id.
                  name:
                    type: string
                    description: Name of the role.
                  description:
                    type: string
                    description: Description of the role.
                  total_members:
                    type: integer
                    description: Total members assigned to that role.
                  privileges:
                    type: array
                    description: |
                      Privileges assigned to the role. Can be one or a combination of [these permissions](https://marketplace.zoom.us/docs/api-reference/other-references/privileges).
                    items:
                      type: string
                  sub_account_privileges:
                    type: object
                    properties:
                      second_level:
                        type: integer
                        description: |-
                          Indicates how the account can manage sub accounts. The value can be one of the following:<br>
                          `1`: Manage the sub account as an owner of the account.<br>
                          `2`: Manage the sub account with the same privileges as the current account.<br>
                          `3`: Manage the sub account with specified privileges.
                    description: This field will only be displayed to accounts that
                      are enrolled in a partner plan and follow the master accounts
                      and sub accounts structure.
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Role Id.
                  name:
                    type: string
                    description: Name of the role.
                  description:
                    type: string
                    description: Description of the role.
                  total_members:
                    type: integer
                    description: Total members assigned to that role.
                  privileges:
                    type: array
                    description: |
                      Privileges assigned to the role. Can be one or a combination of [these permissions](https://marketplace.zoom.us/docs/api-reference/other-references/privileges).
                    items:
                      type: string
                  sub_account_privileges:
                    type: object
                    properties:
                      second_level:
                        type: integer
[...]
